[2022-05-28 01:23] tjaychen commented on #1117
@GregAC , have a look at related opentitan issue.
I wonder if we should expose the fact that a synchronous exception was seen from ibex also.
I think originally we used the idea of synchronous exception + mret, as it relates to `mepc` to handle the double fault.

But looking at @jdonjdon 's test, it might be better on synchronous exception to capture the current crash dump.

[2022-05-28 06:01] shahbazdullu opened #1669 "Spike log issue"
## Spike log generation

**Spike log file generation issue:**

I am running UVM test-bench for ibex core verification. But during spike log generation, the log file generation does not end despite its size goes mounts to GBs.  Can you please guide me regarding this problem?

**Operating system:**

Ubuntu Linux 18.*

**Version of the Ibex source code:**

I am using latest version from master branch

[2022-05-28 19:53] rswarbrick commented on #1669
Thanks for your report. Please could you give us the exact SHA that you're using, together with the command that you ran to see the problem? Many thanks.

[2022-05-30 03:44] shahbazdullu commented on #1669
Thanks for your reply. I am not using any specific SHA. I have simply cloned repo using `git clone https://github.com/lowRISC/ibex.git`. Then in `/dv/uvm/core_ibex` directory, I ran the following command:

`make TEST=riscv_arithmetic_basic_test SEED=1 SIMULATOR=vcs`

![spike-log-issue](https://user-images.githubusercontent.com/71690787/170912892-ee10fb2a-7cd4-4140-89ae-9167bb9e56f2.PNG)

During sp

[2022-05-30 09:12] rswarbrick commented on #1669
@hcallahan-lowrisc: Would you mind taking a look at this? If the answer is just that this will resolve itself when we remove the non-cosim codepath, I'm happy to solve things by doing that.

[2022-05-30 10:28] hcallahan-lowrisc commented on #1669
Hi @shahbazdullu, sorry to hear you are having problems, but thank you for reporting them. Hopefully I can help you out.
I have seen this problem before, of spike running without terminating and producing a giant logfile. We have been doing some refactoring of the build system recently so that may have caused it.

I tried reproducing your issue locally but I see different results. I am using a dif

[2022-05-30 10:48] shahbazdullu commented on #1669
Thanks for your effort. But unfortunately, I am now having issues with `compile-tb.py`.
`
root@lizhen:~/Desktop/ibex_resolve/ibex3/ibex/dv/uvm/core_ibex# make clean && git clean -fdx

rm -rf out/
`
`
root@lizhen:~/Desktop/ibex_resolve/ibex3/ibex/dv/uvm/core_ibex# make TEST=riscv_arithmetic_basic_test SEED=1 ITERATIONS=1 SIMULATOR=vcs
mkdir -p out/build
Traceback (most recent call last):
  File "sc

[2022-05-30 11:00] hcallahan-lowrisc commented on #1669
Okay, I know this problem. You need to have `pkg-config` installed, and setup environment variables as per [here](https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html?highlight=PKG_CONFIG_PATH#prerequisites-environment-setup). For instance I have locally `PKG_CONFIG_PATH=<my-path-to-spike>/lib/pkgconfig`. This is required as we are moving to a cosimulation flow, and as part of

[2022-05-30 12:52] rswarbrick commented on #1669
Thanks for looking at this, Harry. Maybe we should catch this error and print out something a bit clearer for people not "in the know" :-) Are you happy to tweak `compile-tb.py` accordingly? Otherwise, I'm happy to take it.

[2022-05-31 07:34] tanvir-a opened #1671 "Fusesoc error while building"
Hi,

I got the following error while building for arty-100 using `make build-arty-100`.

[code]

I would appreciate it if someone guide me to overcome the error.

## My Environment

**EDA tool and version:**
Fusesoc 0.1
Edalize  0.3.3
Python 3.8

**Operating system:**
Ubuntu 20.04.4 LTS

**Version of the Ibex source code:**
pulpissimo-v6.1.1

[2022-05-31 15:45] ctopal commented on #1557
Hi @ftorres16! Sorry it took this much to get back to you. You were right about the solution. Simply converting `prim_buf` to a Verilog file (along with `prim_generic_buf`) would help you get rid of this error. There is an open PR for it in #1672  if you want to have a look.

[2022-05-31 21:45] rswarbrick commented on #1671
Hi there! I think this means you're using an older Edalize than is needed. If you switch to either the special `ot-v0.2` tag or the current tip of master, things should start working.

[2022-06-01 00:23] tanvir-a commented on #1671
Hi @rswarbrick, thanks for your reply. I have updated the `edalize` and it is working.

[2022-06-01 00:23] #1671 closed

[2022-06-01 06:26] lotharelvin opened #1673 "VCS issue when trying to get coverage with COV=1"
I tried to run the following command in ibex/dv/uvm/core_ibex:
` make SIMULATOR=vcs ITERATIONS=1 COV=1 VERBOSE=1 TEST=riscv_arithmetic_basic_test`

But the terminal stops at:
`Running RTL simulation at out/run/riscv_arithmetic_basic_test.1/rtl.log`

The rtl.log shows that:

Chronologic VCS simulator copyright 1991-2021
Contains Synopsys proprietary information.
Compiler version S-2021.09-SP2_Full6

[2022-06-01 10:02] rswarbrick commented on #1673
I'm sorry, I'm not sure we can help with this. My guess is that your licence server isn't set up to give out a licence to VCS when it's running with coverage enabled. We don't see this locally, so I think you'll have to sort out your EDA tool setup. Note that the RTL log includes the exact VCS command so you can probably reproduce (and tweak!) it without having to debug our Makefiles/fusesoc etc.

[2022-06-01 10:02] #1673 closed

[2022-06-01 14:11] #1601 closed

[2022-06-01 14:13] ctopal commented on #1664
Will be resolved with #1670

[2022-06-02 13:09] Furqan-Lamp opened #1674 "Mismatch between Ibex tracelog CSV file and spike log CSV file and test generation problem."
## Observed Behavior
There were mismatches between the Ibex CSV file and Spike CSV file for a single test.
The log files generated by the core and spike are same, but when the log files are converted into CSV file, some instructions are skipped which creates a mismatch when comparison is done. Also, i was able to run only 2 tests, the table below shows which ones.

## Expected Behavior
All instruc

[2022-06-07 03:16] YiKangOY opened #1676 "Verification failed in compiling tb using xlm"
## Observed Behavior

I run `make TEST=riscv_machine_mode_rand_test ITERATIONS=1 SEED=1 COV=0 SIMULATOR=xlm` in `dv/uvm/core_ibex`. The terminal outputs:
`mkdir -p out/build
make: *** [Makefile:331: out/build/tb/.compile.stamp] Error 1`

I have attached the compile.log in `dv/uvm/core_ibex`.
Thanks for your help!
[compile.log](https://github.com/lowRISC/ibex/files/8849875/compile.log)

## Expected

[2022-06-08 16:13] GregAC commented on #1676
Do you have access to Xcelium version '21.09.s006'? That is the version we use to run some internal regressions and it's possible the issues you're seeing here are some version specific bug.

[2022-06-08 16:16] GregAC commented on #1674
The log -> CSV process does do some filtering if I remember correctly (the script that does it comes from RISC-V DV). It removes instructions that don't cause register writes like branches or store instructions.

In general I'd recommend avoiding the post simulation comparison flow (for one thing is has some deficiencies, like the filtering). The plan is to support co-simulation only and support f

[2022-06-09 04:11] YiKangOY commented on #1676
Thank you, after using Xcelium 21.09, I can run the test, but when I set COV=1, errors occur in `merge-cov.py`

Here is the terminal output:

make TEST=riscv_arithmetic_basic_test SEED=1 ITERATIONS=1 COV=1 SIMULATOR=xlm
Repeating compiling TB because variable COV has changed value.
Running RTL simulation at out/run/riscv_arithmetic_basic_test.1/rtl.log
Comparing traces for riscv_arithmetic_basic_t

[2022-06-09 10:02] vogelpi commented on #1579
Update: We have now a new version of Spike with ePMP support (v.0.3, CI keeps using v.0.2 at the moment) and RISCV-DV with basic ePMP support has been vendored in. To enable ePMP checking, one needs to use Spike v.0.3 and inside `riscv_core_setting.sv` one has to set `support_epmp` to `1`.

[2022-06-10 07:24] Furqan-Lamp commented on #1674
Thank you sir for your reply.
Okay got it. The reason for using post simulation is that i get a lot of errors when i execute Cosim. And also. When i set num_sub_programs = 0, then google dv generates instructions otherwise it gives me a segmentation fault. The error is as follows.

`An unexpected termination has occurred in out/build/instr-gen/vcs_simv due to a signal: Segmentation fault`

Also, I

[2022-06-10 11:56] epsilon537 opened #1679 "Simulating Arty A7 35 example in Vivado causes error due to hack in ibex_if_stage.sv"
## Observed Behavior
When I try to simulate the Arty A7-35 example in Vivado, I get an error message in elaborate.log:

ERROR: [XSIM 43-3409] Failed to compile generated C file xsim.dir/top_artya7_behav/obj/xsim_4.c.

Examination of xsim_4.c shows the following problem:

[code]
That is not a valid function signature.
This error can be traced back to the following snippet in ibex_if_stage,sv:
[code

[2022-06-11 08:18] YiKangOY commented on #1676
Hi, I found that I did not install imc, after I installed imc I ran `make TEST=riscv_arithmetic_basic_test ITERATIONS=1 SEED=1 COV=1 SIMULATOR=xlm VERBOSE=1`.
The contents in `fcov` folder are:
asm_test  compile.history  compile.log  default  ibex_trace_log  seed.yaml  sim_riscv_instr_cov_test_0_0.log  xcelium.d

How can I get the coverage report with the scores in a .txt file?

[2022-06-11 08:43] YiKangOY commented on #1676
Hi, I have installed the imc and I ran `make TEST=riscv_arithmetic_basic_test ITERATIONS=1 SEED=1 COV=1 SIMULATOR=xlm VERBOSE=1
`
But the `cov_report_cg.txt` in the `out/run/coverage/report` folder only have 3 covergroups:
`name                                     CoverGroup Average   CoverGroup Covered
-----------------------------------------------------------------------------------
riscv_instr

[2022-06-12 08:35] epsilon537 commented on #1679
I provided the wrong commit above. This is the correct one:
efd289d

[2022-06-12 15:41] a-will commented on #1679
Note that this appears to be an xsim bug. It has added the generate block's name to the _c_identifier_, and this is incorrect. The standard says _c_identifier_ must default to _function_identifier_ for exported functions, so it must literally be `simutil_get_scramble_key` and `simutil_get_scramble_nonce` in these cases.

[2022-06-14 13:26] #1674 closed

[2022-06-16 20:48] #1117 closed

[2022-06-23 09:26] ctopal commented on #1564
This is getting traced in https://github.com/lowRISC/ibex/issues/1598

[2022-06-23 09:31] GregAC opened #1683 "[dv] Generic Code Coverage Waiver Tool"
Waiver files are specific to a particular Ibex RTL revision. We would like a way to specify more generic waivers that can continue to work as line numbers change and code is modified. Investigate a simple tool to do this.

[2022-06-23 09:45] ctopal commented on #1676
Hi,

xlm will produce `index.html` under `<your_core_ibex_dv_path>/out/run/coverage/report` for a report about merged coverage from all tests. The reason behind having another folder named `fcov` there is for gathering the coverage data about the instructions that is auto-generated by `riscv-dv` (So you could think about `fcov` as just another run, like `riscv_arithmetic_basic_test.1`).

Sorry for

[2022-06-23 10:20] johngt commented on #1683
@GregAC could you point me in the direction of the current waiver file(s) / template and I will see what I can come up with.

[2022-06-23 14:33] GregAC commented on #1683
A waiver file is attached, I believe it matches up with this commit: https://github.com/lowRISC/ibex/tree/0c38b203ddc9a72349f38e364afe1e0f898edce0

Here's an example waiver entry

[code]

It gives you 'line' and 'text' corresponding to the line that's being waived. It's the 'line' part that would need to change as the file gets modified. The 'entityName' makes things a bit tricky. This is a path i

[2022-06-29 13:03] #1664 closed

[2022-06-29 15:50] johngt commented on #1566
The dependency [#1565](https://github.com/lowRISC/ibex/issues/1565) has been closed out by Greg on 10 May.
As a tldr; for Cosim tooling:
Spike with cosim support. Main thing discussed in #1565 was to get Spike running with Cosim and then deb package it and have it run on the CI.

Main files that reference this are under:
https://github.com/lowRISC/ibex/tree/master/dv/uvm/core_ibex
Namely; Makefile

[2022-06-29 16:11] johngt commented on #1568
With reference to https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html and cosim documentation found there the point here is to create new tests that can now be covered with the cosim tool that were previously not possible.

Quick discussion with @hcallahan-lowrisc identified the following pre-cursor stages.
1. Learn about the test framework
2. Learn about the Ibex architectur

[2022-06-29 16:17] johngt opened #1684 "[ot][docs] Check OT CI for non-Cosim related tooling instructions and remove if found."
Related to https://github.com/orgs/lowRISC/projects/11/views/5 need to ensure all the references to non-Cosim tooling is removed and deprecated.

First part is to enumerate any non-cosim tooling in this issue.
Second part is to discuss / engage with documentation editors to remove non-cosim entries.

[2022-06-29 16:17] johngt opened #1685 "[test] Create a new test that increases coverage of IbexDV based off cosim"
Per #1568
Aim is to create a single test that can be used with CI system that increases coverage of IbexDV based off cosim.
Get a single test going to check all the moving parts that need changing for increasing the test-suite.

[2022-06-29 16:26] johngt opened #1686 "[test] Determining new tests for expanding test coverage"
Per #1568
Main element here is to enumerate new tests that will increase coverage.
New tests that are generated should be captured in this issue so that they are tracked.

@johngt to find terms for acceptable code coverage levels that were updated and to reference here.

[2022-06-30 08:52] johngt commented on #1567
Based on discussion with @hcallahan-lowrisc yesterday it sounds like he is best placed for working on this task. Assigning to him and changing status accordingly.

Related to #1566 and #1568

[2022-06-30 09:47] GregAC opened #1687 "[dv, cosim] Add support for exceptions on first instruction of interrupt"
When an interrupt occurs that causes an exception on it's first instruction co-sim break. This is a missing feature that needs implementing, see the TODO here

https://github.com/lowRISC/ibex/blob/5c49fad9a236351a884f55d44248e4f9a0f7c7e5/dv/cosim/spike_cosim.cc#L145

[2022-06-30 15:45] hcallahan-lowrisc opened #1690 "[dv, cosim] Spike (ISS) and Ibex under cosimulation use different Debug Mode Exception Addresses"
## Observed Behavior

Under the new cosimulation framework, the following error is commonly encountered :
`
UVM_FATAL <path>/ibex/dv/uvm/core_ibex/common/ibex_cosim_agent/ibex_cosim_scoreboard.sv(131) @ 215587: uvm_test_top.env.cosim_agent.scoreboard [ibex_cosim_agent_pkg::ibex_cosim_scoreboard.run_cosim_rvfi] Cosim mismatch Synchronous trap was expected at ISS PC: 808 but DUT didn't report one at

[2022-07-05 15:32] ctopal opened #1691 "[dv] riscv_dret_test fails privilege mode check"
## Observed Behavior

UVM fail with the error message below:

`Check failed dut_vif.dut_cb.priv_mode == mode (0 [0x0] vs 3 [0x3]) Incorrect privilege mode`

## Expected Behavior

I think this happened because `dret` actually changes our privilege level and if our privilege level is `U` before entering debug, we'll set the privilege as so after receiving `dret`. So I believe the problem comes from

[2022-07-05 15:50] ctopal opened #1692 "[dv,cosim] Scoreboard expects 0 for some register writes"
## Observed Behavior

`risv_perf_counter_test` fails with every seed. For one example see below:
[code]

For `riscv_debug_branch_jump_test` we see this error in some of the seeds, please see the error message below:
[code]
## Expected Behavior

I think either cosim misses the `wdata` for some reason or our writes to the registers happen in the hardware level (rather than in the software level so c

[2022-07-06 08:59] ctopal opened #1693 "[dv] Timeouts across several passing tests"
## Observed Behavior

List of timed out tests that are otherwise passing in the daily regression from 04/07/22:
  - riscv_debug_ebreakmu_test (seed 22641)
  - riscv_single_interrupt_test (seed 22641)
  - riscv_nested_interrupt_test (seed 22638)
  - riscv_mem_error_test (seed 22641)
  - riscv_debug_single_step_test (seed 22633)

## Expected Behavior

Since these are passing normally, we should mayb

[2022-07-06 09:31] ctopal opened #1694 "[dv] Cosim mismatches around some PMP tests"
## Observed Behavior

Across all types of PMP tests with some of the seeds we see this type of error:

[code]

Expected store addresses are all `800xxxxx`

## Expected Behavior

It seems like there are two options and I believe it's probably option b, but this definitely needs further investigating.
a. RTL is faulty and actually not doing the store that it has to do.
b. ISS is faulty and expects a

[2022-07-08 10:01] marnovandermaas commented on #1579
I've made an initial attempt at enabling ePMP tests here: https://github.com/lowRISC/ibex/pull/1695
It's not done yet because I need to make sure to hit some interesting cases especially for Machine Mode Lockdown.
I've followed the specification that I found here: https://github.com/riscv/riscv-tee/blob/main/Smepmp/Smepmp.pdf

[2022-07-08 10:12] marnovandermaas commented on #1579
Currently both the basic MML and MMWP tests are failing. From the traces, I think that Spike has the correct behavior, while ibex doesn't.
- When MML is enabled and LRWX are all 1, Spike throws and exception on the next instruction because it should be a read only region, while ibex happily continues.
- When MMWP is enabled ibex for some reason changes the `x25` destination and source register to

[2022-07-11 11:26] ctopal opened #1697 "[dv,fcov] Implement "Memory Fetch Error" coverage point"
I believe this ( [unaligned memory access](https://github.com/lowRISC/ibex/blob/master/doc/03_reference/coverage_plan.rst#exceptionsinterruptsdebug) ) is the sole remaining coverpoint to implement, rather similar to `misaligned_lsu_access_cross` but instead of PMP errors we're looking at memory fetch errors.

_Originally posted by @GregAC in https://github.com/lowRISC/ibex/pull/1696#discussion_r91

[2022-07-12 15:02] #1691 closed, assigned to ctopal

[2022-07-13 16:25] GregAC opened #1701 "[dv, fcov] Debug related coverage holes"
@hcallahan-lowrisc assigned to all of these

The following debug related coverpoints are not yet being hit:

- [ ] Some categories for single stepping over each instruction category - `cp_single_step_instr` - #1763  Orig Estimate 4. Remain 2022-07-28 2. Remain 4 2022-08-01. Remain 4 2022-08-03. Remain 1 2022-08-10. Remain 0 2022-10-06.
  - [x] `CSRAccess`
  - [ ] `EBreakDbg`
  - [x] `EBreakExc`

[2022-07-13 16:32] GregAC opened #1702 "[dv,fcov] PMP related coverage holes"
@ctopal assigned to all of these

The following PMP coverpoints are not yet being hit:

- [x] A higher priority entry allowing an access a lower priority entry denies - `cp_pmp_iside_region_override`/`cp_pmp_iside2_region_override`/`cp_pmp_dside_region_override`
- [x] NA4 and NAPOT matching modes and all privileges other than RWX for region 0 - `cp_region_mode`/`cp_region_priv_bits` Tracked in a s

[2022-07-13 16:37] GregAC opened #1703 "[dv, fcov] CSR related coverage holes"
@gregac assigned to all of these

The following CSR coverage points are not being hit:

- [x] Read and write ignored CSRs - `cp_ignored_csrs`/`cp_ignored_csrs_w`
- [x] Read only access to the following CSRs - `cp_csr_read_only`
  - [ ] `CSR_MISA`
  - [ ] `CSR_MTVEC`
  - [ ] `CSR_MSECCFG`
    - ongoing ePMP work should fix this
  - [ ] `CSF_MSECCFGH`
     - ongoing ePMP work should fix this
  - [ ]

[2022-07-13 16:41] GregAC opened #1704 "[dv, fcov] Misc coverage holes"
@ctopal assigned to all of these

The following misc coverpoints are not yet being hit:

- [x] Fence.I instruction execution `InstrCategoryFenceI` bin of `cp_id_instr_category`
- [x] WFI in UMode `cp_wfi_in_umode`
- [x] Memory RAW hazard - `cp_mem_raw_hz`
- [x] Continue sleeping on interrupt - `cp_irq_continue_sleep`
- [x] NMI taken - `cp_nmi_taken`
  - I'm pretty sure this is happening so this co

[2022-07-14 08:47] marnovandermaas commented on #1579
Most of these issues actually had to do with RISCV-DV ignoring the configuration passed through `+pmpregion_0` and `MSECCFG` being set before the PMP regions were properly configured. The pull request is now passing the basic Smepmp tests, but there are still some interesting divergences found by the PMP full random tests.

[2022-07-14 09:50] GregAC commented on #1703
Determine what, if any, CSR accesses are occurring in random instruction test, we would expect all of these accesses to get stimulated

[2022-07-15 10:27] Mousavikia opened #1707 "Changing Memory Width of Ibex"
Hi guys... I am probably asking an irrelevant question so sorry:
In [this makefile](https://github.com/lowRISC/ibex/blob/master/examples/sw/led/Makefile) you utilized these lines of code related to SRecord:
[code]
if I want to extend the memory width to 64 how can I do that here?
I tried this:
[code]
It gives error (unknown option)
Note: Suppose I have a vector coprocessor attached to ibex that ut

[2022-07-15 13:09] #1568 closed

[2022-07-15 13:09] #1685 closed

[2022-07-16 14:03] abdullahyildiz commented on #1645
Hi,

I get similar errors for commit 7ba6667.

[2022-07-18 09:46] ctopal commented on #1694
I believe this is because of us blocking `req_o` in the case of a PMP deny. That results with `ibex_mem_intf` monitor only collecting PMP allowed transactions. And since we are calling `notify_dside_access` only on collected transactions, we are missing notifying cosim with PMP denied memory accesses.

[2022-07-18 15:12] GregAC opened #1709 "[dv] Consider explicit PMP fail/pass checking"
Our currently co-simulation setup checks all memory accesses, ensuring both Spike and the RTL do the same byte accesses in the same order.

When a load or store generates a PMP failure no memory access occurs, thus nothing is checked.

It is implicitly checked because both RTL and Spike need to enter the exception handler so if the RTL fails to generate the PMP error for instance a co-simulation m

[2022-07-19 08:21] johngt commented on #1690
Moved this to a V2 issue. If we are not going to resolve it, let us tag it with V3/MS3 or state that we will not resolve it.

Assigning to @hcallahan-lowrisc as the original reporter until we know if it will be for V2 or later.

[2022-07-19 08:31] johngt opened #1710 "[doc] Documentation Improvement - catch all for documentation issues"
Catch all for all issues where users have had a misunderstanding or we have some explicit knowledge that should be shared with the community via OT documentation (e.g. knowing that specific versions work for tools).

Note: Not making this explicitly an issue for V2 but if we have spare cycles we should look at improving the documentation.

[2022-07-19 08:37] johngt commented on #1676
I believe that this issue is now best resolved with an improvement / update to the documentation. Closing the issue but referenced in our documentation improvement exercise: [[doc] Documentation Improvement - catch all for documentation issues](https://github.com/lowRISC/ibex/issues/1710)

[2022-07-19 08:37] #1676 closed

[2022-07-19 08:41] johngt commented on #1710
https://github.com/lowRISC/ibex/issues/1669 - log file might grow indefinitely if pkg_config not set up explicitly. Although the issue may be resolved, need to check that in the configuration guide that we capture common errors and highlight specific expected errors if pkg_config is not set, at least for a few issues that have been reported.

[2022-07-19 08:44] johngt commented on #1566
Adding this related issue that is touched upon by cosim changes.
https://github.com/lowRISC/ibex/issues/1669

[2022-07-19 08:52] johngt opened #1711 "[cosim,dv] riscv_mem_error_test failing under IBEX_CONFIG={small,experimental-branch-predictor} (ePMP / Cosim)"
riscv_mem_error_test failing under IBEX_CONFIG={small,experimental-branch-predictor}
see issue - https://github.com/lowRISC/ibex/issues/1656

From Rupert's last point on that issue:

Unsure if we are still observing the error. If we are not and happy that the related issue is resolved please comment on https://github.com/lowRISC/ibex/issues/1656 that it has been resolved or will not be triggered a

[2022-07-19 08:56] johngt commented on #1710
https://github.com/lowRISC/ibex/issues/1646 - I believe that the linked issue can be closed with an update to the documentation

[2022-07-19 12:55] johngt commented on #1639
No updates from original poster, so marking the issue as pending close. If there are further queries related to this please update, otherwise this issue will be closed.

[2022-07-19 12:59] johngt commented on #1638
@GregAC - not sure if there were any updates on this or if this is something that has been resolved in one-to-one communications? When you have a chance could you see if this is something that is still a live issue.

[2022-07-19 14:07] ctopal opened #1712 "Mismatches for `mret` behaviour between Spike and RTL"
Whenever we see a `mret` instruction, Spike sets `mstatus.mprv` to 0 and that affects our LSU related PMP checks. Relevant commit that adds this functionality (that comes with newer privilege spec version 20211203) can be found at https://github.com/lowRISC/riscv-isa-sim/commit/327084128246e5cf562293cfe82d2570a6d5629e. Note that in privilege spec v1.11, this `mret` behaviour is not existing and we

[2022-07-19 14:50] GregAC commented on #1712
Certainly the updated version seems more secure, if M mode is doing something using `mprv` and `mret` gets executed without clearing it U mode could end up with M mode access. It adds a new fault injection possibility (e.g. skipping to an mret or somehow inserting one when mprv is getting altered).

[2022-07-19 14:55] johngt commented on #1598
Given that the related issue #1564 is in the V2 Milestone, tagged this with V2.

[2022-07-19 16:02] andreaskurth commented on #1712
I tend to agree with updating to more recent privilege spec. I definitely agree that the changes that such a change would bring have to be understood (especially the major ones).

We could compare the sources of the specification (e.g., https://github.com/riscv/riscv-isa-manual/compare/Ratified-IMFDQC-and-Priv-v1.11...draft-20211203-cb99010) and filter for the files that form the privilege spec. T

[2022-07-19 16:21] vogelpi commented on #1712
I would target the last ratified version. Version 1.12 is currently under review, thus it would be the one Canberk referenced. The pdf lists the changes compared to 1.11 Ibex currently supports on Pages i and ii.

[2022-07-19 17:01] GregAC commented on #1712
So looks like the ratified version is 1.12 it's just pending the integration of some extensions (such an ePMP)?

So really because we have ePMP I think we have to move to 1.12 as 1.11 with ePMP isn't an 'official' architecture config. In particular the mseccfg is defined in 1.12 but not mentioned at all in 1.11

Looks like the changes are very minimal, we'd need to add `menvcfg` but it can just re

[2022-07-19 17:07] GregAC commented on #1712
Ah actually it's not so simple there's the `menvcfg` CSR which is new. Some of it relates to cache management extensions which may impact us due to the ICache. Potentially we can do a quick implementation of these (e.g. just treat any of the cache management operations that effect the icache as FENCE.I). More to investigate here.

[2022-07-19 21:36] ctopal commented on #1694
Even when we do a temporary fix regarding `mret` behaviour in Spike, we have another mismatch related with how we handle PMP exception routines in riscv-dv. I believe we are not randomising scratch registers good enough in that (we pick x2(sp) as a scratch register for example) and as a result get mismatches between Spike and RTL. However, it still needs further investigating to decide if this is

[2022-07-20 12:16] johngt commented on #1622
Going to tag this as a PendingClose Issue and then close it off as the associated work is tracked in #1569. As a note to the original poster, these efforts have moved from the near-term tracking items to mid to long term.

[2022-07-20 12:21] johngt commented on #1569
Related issue - https://github.com/lowRISC/ibex/issues/1622. Not a priority for now, have informed original poster that this issue is not on the immediate radar.

[2022-07-20 12:33] johngt commented on #1579
Per what @marnovandermaas has said in the thread, this issue is now pending on riscv-dv PR being accepted. Please see related PR at https://github.com/google/riscv-dv/pull/873

[2022-07-20 12:55] johngt commented on #1548
I believe that Spike support is fully integrated so Ibex SS method should now be correct. @luismarques - could you comment on if you believe this is still an issue or if we can close this?

[2022-07-20 13:05] johngt commented on #1499
Timeout behaviour with the test sequences has changed quite a lot since this issue was raised. Change to using cosim should also cover this, so wondering if the bug report from the original poster is something that we are likely to see again and/or should have a test for? Otherwise if resolved we can close out the issue.

[2022-07-20 13:10] johngt commented on #1496
Tagging for closure as we believe that with the new co-sim approach this should be resolved.

[2022-07-20 13:14] johngt commented on #1481
I believe that this effort is still ongoing but will likely not make it before V2, so bringing it into the Project to be tracked as a future effort.

[2022-07-20 13:18] johngt commented on #1479
Assigning to @hcallahan-lowrisc for a first-pass to see if the new testing methodology should pick this up and if not to consider whether we need to extend the coverage plan.

[2022-07-20 13:22] johngt commented on #1472
Per the comment in the related thread - https://github.com/lowRISC/opentitan/issues/11447 it seems that @GregAC did create a patch for this that may have gone in since D2 and up until now, but it is unclear if this has been merged in.
If it has successfully been merged in, please comment and we can close this issue and the related OT issue.

[2022-07-20 13:44] GregAC commented on #1481
Removed from DV project as this is not DV related

[2022-07-20 19:48] ctopal commented on #1564
@johngt I'll close this one up when #1700 is merged. That one was the last remaining task after a review of implemented coverage points from Greg. More details at #1697.

[2022-07-20 19:55] ctopal commented on #1694
It looks like the issue was coming from a off-by-one error that I made in https://github.com/lowRISC/riscv-isa-sim/pull/5. Everything actually works (with the hack that I did for `mret` behaviour of course, for more information please check #1712 )

[2022-07-20 20:56] ctopal commented on #1702
I haven't looked at the first one yet but here are my general findings:

For the second one, I am not exactly sure what region 90 means but I can also see `R/RW/X/XR` privileges and every matching modes in every region except region 0 when I run these tests: `riscv_pmp_basic_test, riscv_pmp_disable_all_regions_test, riscv_pmp_out_of_bounds_test` with iteration count of 5.

Locked privilege setting

[2022-07-20 22:02] #1697 closed

[2022-07-20 22:03] #1564 closed

[2022-07-20 22:05] ctopal commented on #1598
Closing this one as all outstanding functional coverage implementation is done and reviewed.

[2022-07-20 22:05] #1598 closed

[2022-07-20 22:56] ctopal commented on #1704
NMI taken and Interrupt taken items are fixed with #1715. We are still not seeing any interrupts related with `irq_timer` and `nmi_internal` though.

- [ ] `cp_interrupt_taken` holes regarding `nmi_internal` and `irq_timer`

[2022-07-21 11:32] GregAC commented on #1690
For V2 we can just alter the fixed address in Spike so it uses the address used by the Ibex DV environment.

Really for full testing we should be moving the boot address around, potentially something to address for V3. There's also an argument we should just use  a fixed debug exception address exactly how spike does that isn't related to the boot address.

[2022-07-21 11:33] GregAC commented on #1690
@hcallahan-lowrisc just switching the fixed spike address should be a quick fix, so let's get that done which in turn will improve our pass rates.

If you make the change, test it and make a PR against our spike fork I can deal with getting that packaged so it's available for CI and such.

[2022-07-21 11:35] GregAC commented on #1693
I'll look at updating the timeout. I can run a test regression on my workstation to quickly determine the impact of a larger timeout.

[2022-07-21 15:18] marnovandermaas commented on #1711
@johngt Can we close this issue now since we can add the other issue to the project tracker?

[2022-07-21 15:27] marnovandermaas commented on #1489
@johngt As far as I can tell the simplifications are mostly done by @GregAC in: https://github.com/lowRISC/ibex/commit/72a892d62ce820d9519825e308df45c05cfbe867
The only other thing Rupert mentions is the:

I'm not sure what scrambling means in this case. Besides that I think this issue can be closed.

[2022-07-21 21:08] ctopal commented on #1704
Oh we are actually seeing the condition happen for `cp_irq_continue_sleep` but we could not catch it because we are collecting bins on every posedge of the clock (which does not work if we are sleeping!)

[2022-07-22 14:27] ctopal commented on #1704
Second item does not happen because riscv-dv disables generating `WFI` if we are in `U` mode, claiming that combination is not supported. @GregAC Should I patch riscv-dv or create a PR in their repository?

[2022-07-22 14:38] GregAC opened #1718 "[dv] Allow generic use of ecall"
As I understand it RISC-V DV uses `ecall` to the signal the end of a test. The issue with this is we can't have arbitrary `ecall` executions within a generated test.

We should use another mechanism to trigger test end (maybe a write to a specific memory location?) allowing use of `ecall` within the test program body.

I've added this to the V2 milestone as I think we'll need to to close some of t

[2022-07-22 16:19] marnovandermaas opened #1719 "[pmp] TOR locking also locks config of previous entry"
**Update 2022-08-03:** The expected and observed behaviors actually are reversed. The lock bit of a TOR region sets the config, address and address of previous entry to read only. It should not lock the config of the previous entry though.

I'm seeing a divergence in PMP behavior compared to what I believe the spec says.

## Observed Behavior

When MMWP (machine mode whitelist policy) is enabled a

[2022-07-22 16:39] marnovandermaas commented on #1579
I updated the RISCV-DV pull request based on @vogelpi input. You can find the update here: https://github.com/google/riscv-dv/pull/873

[2022-07-22 16:53] marnovandermaas opened #1720 "[dv] Exception divergence using MML PMP mode"
I'm seeing a divergence between Spike and Ibex when in MML mode and setting region 0 to read only. Spike throws a trap and Ibex zeroes out a destination register. I'm not sure if this is an issue with Spike, Ibex or with the UVM comparison.

## Observed Behavior

Cosimulation result:
[code]

Ibex RVFI trace:
[code]

Spike RVFI trace:
[code]

## Expected Behavior

Not sure if it's a bug in Spike, I

[2022-07-22 17:04] GregAC commented on #1663
Sadly this does need a RISC-V DV change. The issue is even with @rswarbrick's suggested change the top two bits have an invalid value, namely `2'b01`. We cannot express a field that allows some but not all values with the current CSR test generator. For this reason `MSTATUS` is also commented out of the CSR file (it has a field taking a privilege mode and for Ibex you can only set it to 2 of 4 pos

[2022-07-23 20:19] hcallahan-lowrisc commented on #1690
@GregAC PR is open now
https://github.com/lowRISC/riscv-isa-sim/pull/8

[2022-07-23 20:36] hcallahan-lowrisc commented on #1718
I think the riscv-dv magic handshake address should be able to handle this. In fact, [their documentation ](https://github.com/google/riscv-dv/blame/master/docs/source/handshake.rst#L114) specifies that the riscv_csr_test does use this mechanism, and I don't really understand why the others don't too.
Our[ riscv_csr_test uvm code](https://github.com/lowRISC/ibex/blob/a6c182e7be504c20ccd38b5fe5f3a3

[2022-07-25 07:51] #1692 closed

[2022-07-25 10:47] ctopal commented on #1702
After having a more detailed look at the reports and testing out Marno's PR for ePMP this one looks like it's going to be a bigger task than I first thought.

1 - Region override: This one is only possible when we are in `NA4` mode in PMP (which is not our default mode and it's currently not possible to only randomize `mode` field of pmpcfg's.) so we need to either define a directed test to hit th

[2022-07-25 10:59] johngt commented on #1566
Per the Thursday HW Ibex DV meeting. Splitting this issue into two parts.
This issue has been re-labeled with the tools and scripts elements. New issue related to documentation to be created. This issue should then be able to be closed off by @hcallahan-lowrisc fairly soon. Believe that it is waiting on a PR that @hcallahan-lowrisc can link here.

[2022-07-25 11:02] johngt opened #1723 "Remove all non-cosim elements from Documentation"
Related to https://github.com/lowRISC/ibex/issues/1566
This issue is only concerned with the documentation updates for removing all references to non-cosim build/tool-chain elements.

Splitting as most of the scripts/tooling parts have been completed and the documentation aspect is separate.

[2022-07-25 11:06] johngt commented on #1723
Believe that this issue is a duplicate of [[ot][docs] Check OT CI for non-Cosim related tooling instructions and remove if found.](https://github.com/lowRISC/ibex/issues/1684)
Changing the referenced issue to have @hcallahan-lowrisc look into it as he is more familiar with the documentation for OT and tool/buildchain.

[2022-07-25 11:06] #1723 closed

[2022-07-25 11:08] johngt commented on #1684
Relates to https://github.com/lowRISC/ibex/issues/1566
Duplicated by [Remove all non-cosim elements from Documentation](https://github.com/lowRISC/ibex/issues/1723) (have marked it as completed as it covers the same areas)

[2022-07-25 11:19] ctopal commented on #1719
I am not fully knowledgable around this subject but as far as I understand from the spec, MMWP is strictly related with how Machine Mode behaves regarding memory accesses. Since editing a CSR (`pmpcfg0` in this case) is not technically a memory access, as long as `locked` field of that CSR is clear, we would expect that CSR to change. @GregAC, @vogelpi am I missing something?

[2022-07-25 11:31] johngt commented on #1718
@hcallahan-lowrisc is this something you or @GregAC will be looking at? Will assign to you for now. Tag @johngt if it is for discussion or @GregAC directly if you know it is something he will look at.

[2022-07-25 11:39] johngt commented on #1712
Adding estimate of 32 as there are potentially many areas that will need to be investigated for privilege spec change.

[2022-07-25 14:41] jamesrbailey commented on #1645
We have run into the IbexDataRPayloadX issue as well on our own system.

The prim_generic_ram_1p module does not initialize its `rdata_o` flops, so they are X until the first read. Therefore if you write this memory model before reading it, it will necessarily set off this assertion. As a workaround, we initialize these flops to zero.

Agreed with comments that qualifying the assertion based on it

[2022-07-25 15:52] GregAC commented on #1718
Yes I noticed this after I wrote this issue and did some work on the CSR test. Potentially that'd be a good general mechanism. However it's used for multiple things and is a fairly brittle mechanism. In particular if you wait sitting for a specific write value without understanding what else is going on you may get false triggering.

I think it'd be preferable to switch to another address that's e

[2022-07-25 15:59] GregAC commented on #1702
Why is this the case? A smaller region inside a larger region should result in an override for instance. Overlapping regions using TOR could also exhibit overrides.

`PMPGranularity` of 0 gives you the maximum possible options, allowing NA4 regions along with NAPOT regions of sizes 8 bytes and up.

I think we definitely need to improve the PMP randomization here to hit the above two cases.

From w

[2022-07-25 21:27] #1687 closed

[2022-07-26 07:51] GregAC commented on #1704
Do a PR for riscv-dv. You might want a separate config knob to enable it. It's not supported in the sense that it causes an exception, but we still need to test it. It would need a suitable exception handler available in generated tests.

[2022-07-26 08:46] ctopal commented on #1702
As I explained in the next part, I mistakenly looked at the code and spec together to decide we can't do it but it's probably a code bug. In these constraints: https://github.com/lowRISC/ibex/blob/6518cb6db63ef56f428331cf534794336a5c7af9/vendor/google_riscv-dv/src/riscv_pmp_cfg.sv#L108-L124
we are effectively disabling a possibility of override in `TOR` mode

Okay I think I made the mistake of loo

[2022-07-26 10:11] ctopal commented on #1694
Closing this as https://github.com/lowRISC/riscv-isa-sim/pull/6 solves the issue

[2022-07-26 10:11] #1694 closed

[2022-07-26 12:33] GregAC commented on #1645
My apologies for the slow response to this.

I have made a fix in https://github.com/lowRISC/ibex/pull/1725. I added some tracking logic so the assertions know which outstanding requests are read and then apply the X checks appropriately. This allows me to successfully run the hello_test binary on simple system under VCS. I've observed the first response, which is to a write, having Xs in rdata_i

[2022-07-26 12:42] GregAC opened #1727 "[dv] Drive Xs on interfaces where appropriate"
https://github.com/lowRISC/ibex/issues/1645 has highlighted in some circumstances we're not driving Xs on the data memory response where we should (for non read responses rdata_i and rdata_intg_i should be X). Fix this specific case and check for any other cases where we're not driving X where we should be.

Estimate updated as actual work was smaller than anticipated
Old estimate: 4

[2022-07-26 13:35] ctopal commented on #1704
@GregAC : Done! https://github.com/google/riscv-dv/pull/877 enables us to generate `wfi` instruction in u-mode and https://github.com/lowRISC/riscv-isa-sim/pull/9 enables us to not throw out illegal instruction wrongly in the case of encountering `wfi` while we are in u-mode

[2022-07-26 15:55] ctopal opened #1728 "[dv,core_ibex] Instantiate Scrambling Key Interface in core_ibex DV"
If we are starting to issue `FENCE.I` instructions, we definitely need to drive scrambling key ports so that ICache would have a valid key. Currently we don't have a valid key, so we are stuck at an invalidating state.

[2022-07-26 15:58] #1645 closed

[2022-07-26 16:04] ctopal commented on #1728
This also causes any `wfi` instruction to not work essentially because we are in a constant state of waiting for a scrambling key.

[2022-07-27 11:31] ctopal commented on #1704
`nmi_internal` related one probably needs its own issue since it will be mostly related with producing stimulus in which we test `BUS.INTEGRITY` security countermeasure. Potentially a V2S task? @GregAC, WDYT?

[2022-07-27 11:41] ctopal commented on #1704
Opened #1730 for `irq_timer` hole and `cp_wfi_in_umode`

[2022-07-27 15:42] ctopal commented on #1719
By the way I also see the same behaviour with ` MSECCFG: MML 0, MMWP 0, RLB 0`. Probably something to do with how spike handles locked fields of pmpcfgs. I am currently trying to figure this out.

[2022-07-27 16:48] GregAC commented on #1728
@ctopal please add an estimate for the overall work for this (including any work you've already done, this is so we get a more accurate picture of work completed and work remaining).

[2022-07-27 16:50] GregAC commented on #1663
See the RISC-V DV PR here: https://github.com/google/riscv-dv/pull/881

This enables us to flexibly specify WARL fields by using a python fragment in the CSR YAML that specifies how values get legalized. Once that is merged we use it here to allow `MCAUSE` and `MSTATUS` in the CSR test.

[2022-07-27 21:35] GregAC commented on #1703
Begun investigating this. I've worked out how CSR instruction generation is controlled within RISC-V DV. Some extra constraints and work is needed in particular to be able to choose between just generating valid CSR instructions or generating both invalid and valid CSR instructions (such as writing to a read-only CSR).

To enable this I'm refactoring how CSR instructions are generated in RISCV-DV.

[2022-07-28 08:25] hcallahan-lowrisc commented on #1687
Closed by #1716

[2022-07-28 08:58] hcallahan-lowrisc commented on #1566
@johngt Will be closed by #1705, which addresses this among other refactoring changes.

[2022-07-28 09:51] GregAC opened #1731 "[dv] Add ecc error generation to memory agent"
We need to stimulate ECC errors. The incoming bus data has integrity bits. The driver should provide incorrect versions of these at configurable random internals in a similar manner to how bus errors work.

Also update co-simulation to support internal interrupts from ECC errors.

[2022-07-28 09:58] hcallahan-lowrisc commented on #1701
Update for 2022-07-27 : In progress for `cp_single_step_instr` 2 remaining
                                       Also now 6 remaining for `cp_insn_trigger_enter_debug`

[2022-07-28 10:07] GregAC opened #1732 "[dv,cosim] Implement internal interrupts in co-sim"
Add support to cosim for internal interrupts (documented at https://ibex-core.readthedocs.io/en/latest/03_reference/exception_interrupts.html#internal-interrupts)

[2022-07-28 10:09] GregAC commented on #1731
@ctopal decided to split this into two issues after all, see cosim issue here: https://github.com/lowRISC/ibex/issues/1732

I've left that unassigned for now. Potentially it's something I can look at as I'm more familiar with what's needed. Work on the agent side of things for now. I'll let you know if I find time for the cosim stuff and if not you can get going on that when you need it.

[2022-07-28 10:18] GregAC opened #1733 "[rtl] Move to privileged spec v1.12 support"
Ibex should move to supporting v1.12 (see ratified draft here: https://github.com/riscv/riscv-isa-manual/releases/download/Priv-v1.12/riscv-privileged-20211203.pdf, document may have some fixes applied and new chapters integrated before the official v1.12 but only on the level of fixing typos and formatting errors and integrating currently stand-alone, ratified, specs, such as ePMP).

Changes requ

[2022-07-28 10:21] GregAC commented on #1712
Updated estimate to 2 to cover the work of reverting spike back to the old behaviour. New issue created to cover the move to v1.12 https://github.com/lowRISC/ibex/issues/1733

Remaining work here is packaging a new build of spike cosim so we can get the updated mprv behavior (no clearing) available for CI and regressions.

[2022-07-28 10:24] GregAC commented on #1733
Final point here is intentionally vague, going by the changes listed at the beginning of the spec there shouldn't be anything else of note, estimate liable to change as I look at v1.12 in more detail.

[2022-07-28 11:33] johngt commented on #1690
@hcallahan-lowrisc  - your PR was merged-in according to link above. Anything else remaining from this issue or safe to close out?

[2022-07-28 16:41] ctopal commented on #1719
I think this was a spike bug as I suspected, I might still be wrong. Please check https://github.com/lowRISC/riscv-isa-sim/pull/10 for more detail. Although now, the seed you provided fails with the error described in https://github.com/lowRISC/ibex/issues/1720

[2022-07-28 17:40] ctopal commented on #1702
First item is getting hit with the latest work around pmp randomization.

Second item will need further investigation.

Third item will be complete after ePMP integration is done. Already hitting every option with #1734  (- epmp related ones) in every region except region 0.

Fourth item will be complete after ePMP integration is done. It was getting hit with Marno's PR.

[2022-07-29 09:20] ctopal commented on #1702
Second item can be solved by adding a "if we are enabling `pmp_randomize`, do not owerride `pmp_cfg0`" clause to the place where we do PMP related instruction generation in riscv-dv. However, when I do that -in almost half of the seeds- I encounter issue https://github.com/lowRISC/ibex/issues/1720.

[2022-07-29 15:21] johngt commented on #1710
Not specifically an Ibex DV / documentation issue, but tracking https://github.com/lowRISC/opentitan/issues/2498 as a documentation issue so that we can close that out.

[2022-07-29 15:43] ctopal commented on #1720
Okay I think I understood what's going on. The first problem is about how we let RVFI know that there is a problem with the issued instruction. However, when I fixed that locally I also came across another problem in which we didn't let ID/EX stage know that the current instruction of it has a PMP error -we actually set the flag but it's late. However, even if I do those two fixes we will be stuck

[2022-08-01 11:18] hcallahan-lowrisc commented on #1718
@GregAC
I wonder if it's worth creating some more-flexible API functions to interact with the signature handshaking.
For instance, the task `check_next_core_status` waits for the next CORE_STATUS type handshake and then performs a DV_CHECK_EQ_FATAL if the payload does not match. Maybe some API functions that don't fail on the first incorrect payload received, but instead would fail only if the exp

[2022-08-01 11:29] ctopal opened #1736 "[rtl,bug] Ibex allows execution in no-match case while MML=1"
Header explains the issue. According to Smepmp v1.0 in a no-match case we should block execution in machine mode. However, we are not currently doing that. It's a tricky thing to recreate it in our master branch for now but if you add #1695 and #1735 to master and run: `make ITERATIONS=1 TEST=riscv_pmp_full_random_test SEED=14910` you should be able to re-create the error.

[2022-08-01 13:15] ctopal opened #1738 "Ibex does not reflect data changes to ICache"
If ICache is enabled and a write to a cached instruction memory (which we are allowed to do) occurred, Ibex does not let ICache know such a store happened. As a result, cached instruction will not change inside ICache (but it will change in the memory component) and when PC will point to that address, Ibex will use the cached instruction. That causes mismatches between ISS and RTL.

It is probably

[2022-08-01 13:25] hcallahan-lowrisc commented on #1738
This sounds like one of the [2 hard problems in computer science.](https://twitter.com/codinghorror/status/506010907021828096?lang=en)

[2022-08-01 14:21] ctopal opened #1739 "[dv,pmp] Timeouts because of infinite loops in the generated program"
@marnovandermaas and I talked about this internally so I'm assigning him because of that. Please feel free to unassign yourself if you feel like it :)

In the case of a random PMP configuration in which we don't allow execution at the address of exception handler, we end up going inside an infinite loop (which is totally legal). We need to flag those cases as passing because we want their coverage

[2022-08-01 15:52] marnovandermaas commented on #1579
This pull request was merged and I vendored this in. I also made some additional changes suggested by Canberk and did some final testing. I updated the estimate to close this pull request to 2 assuming that the changes are approved.

[2022-08-01 21:10] hcallahan-lowrisc commented on #1701
Update for 2022-08-01 : In progress for `cp_single_step_instr`, increased remaining to 4

[2022-08-02 08:30] marnovandermaas commented on #1702
As discussed yesterday, the problem is we do not want full random PMP when MML and/or MMWP are enabled. This is because it will never reach useful instructions unless the instructions before and after main are set as executable. As a solution, we discussed that in the case that PMP randomization is enabled and MML/MMWP are set, we do not hardcode region 0 (instruction before main) and region 1 (in

[2022-08-02 09:57] GregAC opened #1740 "[rtl,epmp] Prevent addition of executable regions as required by the specification"
The Smepmp specification states:

This was overlooked during the original epmp implementation and must be added.

[2022-08-02 11:07] GregAC opened #1741 "[dv] Add coverage for extra ePMP behaviours"
We need coverpoints documentating and added for the following:

* [x] Attempting to execute code that belongs to no suitable region in M mode (i.e. one that allows execution from M mode) when `mseccfg.MML` is set.

  - Cover cases where there is a region that matches but no X privilege provided and cases where no regions matches.
* [ ] Attempting to alter a `pmpcfg` CSR to add executable privilege

[2022-08-02 13:20] marnovandermaas opened #1742 "[dv,pmp] Generating large NAPOT regions"
At the moment RISCV-DV generates addresses randomly including when the PMP encoding is set to NAPOT. Since the NAPOT range is encoded in the address, it means that it is unlikely that we will generate larger regions, since these require a series of ones at the end of the address (see Table 3.11 in the [RISC-V privileged spec](https://github.com/riscv/riscv-isa-manual/releases/download/Priv-v1.12/r

[2022-08-02 13:37] marnovandermaas commented on #1739
If I remember correctly, we talked about the case when the instruction fault trap handler is set to non-executable. We can catch this case by checking whether two RVFI packets in a row are exactly the same with the trap flag set. With the trap flag not set, it could be a spinning loop, which we might want to allow in certain cases.

[2022-08-02 17:29] marnovandermaas commented on #1702
I created a PR for the second point: https://github.com/google/riscv-dv/pull/885

[2022-08-03 09:56] marnovandermaas commented on #1719
Good catch, the TOR lock bit should only apply to the address of the previous entry not the config.

[2022-08-03 09:59] #1736 closed

[2022-08-03 10:10] #1728 closed

[2022-08-03 12:59] ctopal commented on #1704
Considering `nmi_internal` hole will be tracked with #1731, I believe we are done with these!

[2022-08-03 13:28] GregAC commented on #1742
Add a sentence about adding coverage for this, shouldn't be complex given the rest of the PMP stuff is already there so didn't alter the estimate.

[2022-08-03 14:06] #1579 closed

[2022-08-03 15:59] GregAC commented on #1703
PR here for CSR work on the RISC-V DV side: https://github.com/google/riscv-dv/pull/887

Estimation (along with existing remaining) has been increased. There's some spike work here to sort out co-sim mismatches when we begin doing CSR accesses in the random instruction test.

[2022-08-04 08:26] hcallahan-lowrisc opened #1743 "Ibex DCSR.cause priority encoding does not match debug-spec 0.13.2 or 1.0.0-STABLE"
## Observed Behavior

While testing single-step behaviour, a cosimulation-mismatch was encountered when reading DCSR.cause. It was tracked down to a simultaneous assertion of DCSR.step and debug_req_i when entering debug_mode, and I believe that the spike behaviour is correct in this case.
According to both debug specifications [0.13.2](https://riscv.org/wp-content/uploads/2019/03/riscv-debug-rele

[2022-08-04 09:25] ctopal commented on #1475
Done with https://github.com/lowRISC/ibex/commit/394a0d21603494b55de38f1f52ed0ffe7032867a

[2022-08-04 09:25] #1475 closed

[2022-08-04 09:26] hcallahan-lowrisc commented on #1701
Update for 2022-08-03 : In progress for `cp_single_step_isntr`, remaining still at 4, revised estimate up +4

[2022-08-04 09:38] #1704 closed

[2022-08-04 13:58] marnovandermaas commented on #1739
We discussed this in the meeting and Greg mentioned that we could check the signal Ibex produces on a nested double trap (a trap raised within the trap handler). In UVM, we should be able to check whether Spike also sees a nested double trap. When we see a certain number (say 1,024) nested double traps in a test, we can decide to terminate the test. For the full random PMP test, we should have a f

[2022-08-05 11:03] #1743 closed

[2022-08-08 17:31] ctopal commented on #1741
@GregAC Do you mind if I take this?

[2022-08-08 19:11] hcallahan-lowrisc commented on #1718
Update 2022-08-08 : PR out, was easier than expected. Effort so far = 3. Left 1 remaining for review & feedback.

[2022-08-09 08:25] GregAC commented on #1741
@ctopal sure

[2022-08-09 10:09] #1719 closed

[2022-08-09 10:11] marnovandermaas commented on #1489
@GregAC is it ok if I close this issue?

[2022-08-09 10:57] marnovandermaas commented on #1702
I adjusted https://github.com/google/riscv-dv/pull/885 to initialize the PMP config entries as disabled in the case that MML or MMWP are enabled.

[2022-08-10 09:56] GregAC commented on #1718
Yes I think so. I had a long time ago thought we should build some monitor setup that picks up the writes that come to the signature address, determines what they represent, then writes the details to some kind of queue (using a structure that can hold all of the various types of info we can get from signature address writes). Things that currently check what's coming from the signature address wo

[2022-08-10 13:00] #1718 closed

[2022-08-10 15:48] GregAC opened #1752 "[rtl] `FENCE.I` behaviour and icache scramble key fetching"
Currently on a `FENCE.I` we request a new icache scrambling key, but we don't guarantee this will always happen. What behaviour do we actually want here? A more detailed description and discussion is available in the OT repository: https://github.com/lowRISC/opentitan/issues/14180

New behaviour (if we change anything) needs to be implemented and appropriate coverpoints added to ensure we capture

[2022-08-10 16:50] GregAC opened #1753 "[dv] Testbench memory region checker"
In https://github.com/lowRISC/ibex/pull/1745#issuecomment-1209244008 @hcallahan-lowrisc highlights that certain memory acceses generated by a particular test may be incorrect in the sense that we don't intend for the test to access that area of memory, but there's some bug in the generated code we're running.

To help catch these create a configurable access checker that connect to a memory bus mo

[2022-08-10 17:16] hcallahan-lowrisc commented on #1753
A checker in the form of a bus monitor sounds like a much better way to solve this problem. Good idea!

[2022-08-10 17:33] hcallahan-lowrisc commented on #1753
A feature like this could definitely be helpful in designing effective PMP tests, it is currently easy to randomly create tests that advance through a very large memory region one pmp access violation at a time, taking forever and providing little value in coverage.
Probably more uses that I can't think of right now too.

[2022-08-10 19:03] GregAC opened #1754 "[rtl, icache] Invalidation request can lead to incorrect ECC failure"
If a invalidation request appears the same cycle a previous invalidation is finishing a new scrambling key is requested but no new invalidation is started. This results in an incorrect ECC failure when the cache next reads from the tag rams as the new scramble key makes them appear corrupt.

A fix for this is pending in https://github.com/lowRISC/ibex/pull/1747

[2022-08-10 19:15] GregAC commented on #1690
I've done a new spike release so this is now integrated into CI

[2022-08-10 19:15] #1690 closed

[2022-08-10 19:19] GregAC commented on #1703
RISC-V DV PR is good to merge. Ibex and Spike fixes for CSRs have been made. Still need to make a PR to vendor in updated RISC-V DV and set up tests to use the new functionality. Possibly some extra work still required around CSR writes. Anything significant there will get spun out into another issue (or marked as being dealt with by the other ongoing work).

[2022-08-10 19:25] GregAC commented on #1712
New version of spike cosim has been released that includes this fix

[2022-08-10 19:25] #1712 closed

[2022-08-10 19:49] GregAC commented on #1711
Closing as tracked in #1656

[2022-08-10 19:49] #1711 closed

[2022-08-11 07:26] GregAC opened #1755 "[dv] Verify PC integrity check"
Verify the PC Integrity checking countermeasure. This will involve corrupting the PC and checking the appropriate alert occurs. Ideally we will not disable the co-simulation checking around this which should be feasible as we shouldn't be retiring any instructions that involve the corrupted PC.

Write a testbench component to corrupt the PC and employ it within a suitable test.

[2022-08-11 07:30] GregAC opened #1756 "[dv] Verify register file integrity checking and write enable glitch detection"
Create a testbench component that can corrupt bits and glitch the one hot write enable in the register file.

Write a test that uses this and checks the appropriate alert is signaled.

original estimate 8

[2022-08-11 07:52] GregAC opened #1757 "[dv] Verify Lockstep checking"
Build a testbench component to corrupt outputs from both the lockstep and main cores and corrupt inputs into the lockstep core and ensure suitable alerts are triggered.

This will be complicated by the fact that corrupted outputs from the main core could result in co-sim mismatches. It may be necessary to disable co-sim checking around the corruption.

Note that not all corruptions of inputs would

[2022-08-11 07:55] GregAC opened #1758 "[dv] Verify fetch enable"
Verify the fetch enable signal. Write a sequence that can toggle it for the new sequence library. Use this sequence to randomly toggle fetch enable in some tests. It should have no impact on architectural execution (i.e. timing of instructions will differ but co-simulation checking should not find any issues).

Add a new checker that ensures that when fetch is disabled Ibex isn't fetching and exec

[2022-08-11 08:11] GregAC opened #1759 "[dv] Verify ICache Integrity and Scrambling"
Verify the ICache integrity and scrambling features

For integrity create a testbench component to corrupt icache data and icache tags. Ensure corruptions triggered the required alert. This will require targeting to corrupt data and tags that relate to instructions that are going to get execute. Understanding of scrambling will need to be employed to determine the appropriate memory locations to c

[2022-08-11 08:13] GregAC opened #1760 "[dv] Verify double fault behaviour"
Ibex has a double fault detector. A checker should be created to ensure this functions correctly and double faults should be stimulated in some tests.

Various work has been happening in this area, as a result this issue is less effort than originally estimated.
old estimate: 4

[2022-08-11 08:17] GregAC opened #1761 "[dv] Add instructions to enable/disable random instruction generation to existing tests"
Ensure CSR writes that will enable and disable the random instruction generator are emitted for some tests. This is mostly dealt with via on-going CSR work. The task here is just to use the new functionality to stimulate the random instruction generator. Some extra work may be required to ensure the randomly generated instructions don't get fed into co-sim checking (but we do ensure they have no e

[2022-08-11 08:22] #1754 closed

[2022-08-11 08:30] GregAC opened #1762 "[dv] Security Feature Coverage"
Document and add coverage points then ensure they're getting hit for:

- [x] Data independent timing enabled  whilst executing all instruction categories - Estimate 2
- [x] Random instruction generation
  - [x] enabled whilst executing all instruction categories  - Estimate 2
  - [x] Random instruction generated, for all possible kinds of random instruction - Estimate 2
  - [x] Cross of different

[2022-08-11 09:02] ctopal commented on #1759
In OTBN, this checking of responses to integrity failures is done as this:

1. Read scrambled data from RAM using `encrypt_sram_addr` and `decrypt_sram_data` from `sram_scrambler_pkg`.
2. Apply 1 or 2 bit flips to generate an integrity error when said data gets read back.
3. Write corrupted data to scrambling memory using `encrypt_sram_addr` and `encrypt_sram_data` from `sram_scrambler_pkg`.

A ta

[2022-08-11 09:34] hcallahan-lowrisc commented on #1701
Update for 2022-08-10 : In progress for `cp_single_step_instr`, remaining 1

[2022-08-11 09:48] GregAC opened #1765 "[dv] Investigate issues in mixed interrupts/traps/debug tests"

[2022-08-11 13:51] GregAC commented on #1656
Sorted out passing through the PMP config in this PR: https://github.com/lowRISC/ibex/pull/1766

Though there's more to it.

- We need to make PMP CSRs illegal in non PMP configs: https://github.com/lowRISC/ibex/pull/1767
- RISC-V DV shouldn't generate PMP CSR accesses in the exception handler for non PMP configs (otherwise the mem_error test gets confused when it sees the illegal instruction hand

[2022-08-12 16:39] hcallahan-lowrisc opened #1769 "Ibex and Spike disagree about setting mtval on exception due to C.EBREAK"
## Observed Behavior

In this test, a single `C.EBREAK` instruction is executed at `0x80003008`, and later `mtval` is read back which causes a cosimulation mismatch.
Ibex reads mtval as 0x0, while Spike reads it as `0x80003008`.

Ibex states [in it's documentation](https://ibex-core.readthedocs.io/en/latest/03_reference/cs_registers.html#machine-trap-value-mtval) that :

The [RISCV Privileged Arch

[2022-08-12 16:52] marnovandermaas commented on #1489
Which nits do you mean? I'm not sure what still needed beyond this commit you've already made: https://github.com/lowRISC/ibex/commit/72a892d62ce820d9519825e308df45c05cfbe867

[2022-08-12 17:16] hcallahan-lowrisc opened #1770 "Ibex and Spike divergence in testcase upon executing WFI"
## Observed Behavior

Upon executing a WFI instruction in this test, Spike triggers an illegal instruction exception, while Ibex does not.
The generates a cosimulation mismatch.
In the waveform (extract shown below), the Ibex can be seen going to it's SLEEP mode.

Not exactly sure why this is the case, but it could be due to:
- Inconsistency between Spike and Ibex around MCAUSE.TW (Timeout-Wait) b

[2022-08-15 09:01] hcallahan-lowrisc opened #1772 "Cosim mismatch when reading DCSR.cause"
## Observed Behavior
Test failures with the following error :
[code]

This fails upon reading from `DCSR.cause`
In this case :

![image](https://user-images.githubusercontent.com/102029880/184605611-4f106a6b-a987-4952-b636-760647e12afe.png)
(IBEX)

![image](https://user-images.githubusercontent.com/102029880/184605563-b1bd1eb8-b8c3-47c2-b263-3c84427153f3.png)
(SPIKE)

Observing the waveform below,

[2022-08-15 10:25] hcallahan-lowrisc opened #1773 "Test failure due to incorrect privilege check"
## Observed Behavior
The [privilege check here](https://github.com/lowRISC/ibex/blob/2f8dfa9dfe2d938228118ed8ab6a543804d0c9ae/dv/uvm/core_ibex/tests/core_ibex_test_lib.sv#L479) is causing failures in `riscv_dret_test` testcases.
Eg.
[code]
I suspect that this is a bug in our checking rather than the behaviour, and that [removing the checking](https://github.com/lowRISC/ibex/pull/1699#pullrequestre

[2022-08-15 12:06] marnovandermaas opened #1774 "[dv] pmpcfgX WARL behaviour mismatch between Spike and Ibex"
## Observed Behavior

Divergence between Spike and Ibex when writing to `pmpcfg0`. With an initial value of `0x8B00_0D05` and writing `0x676F_290F`, there are two different behaviors:
- Ibex: `0x8B0F_090F`
- Spike: `0x8B00_090F`

The difference is in the value of `pmp2cfg` going being `0x0F` or `0x00`. The value that is being written there is `0x6F`, and is an illegal value because the sixth and f

[2022-08-15 15:18] hcallahan-lowrisc opened #1775 "Bug in reset behaviour for cosimulation"
## Observed Behavior
Nightly regression failures for the test `riscv_reset_test` commonly have the following error :
[code]
This appears to be something to do with the way the reset stimulus is passed onto the cosimulated ISS. The ISS appears to read 0x0 from it's memory model from the first address out of reset. Maybe the memory model needs to be reinitialized? I haven't looked too closely at it.

[2022-08-15 16:47] GregAC commented on #1703
PR here to improve CSR usage: https://github.com/lowRISC/ibex/pull/1776

Still a couple of holes, may spin them out as separate issues. Will analyze tomorrow and update estimates as needed,

[2022-08-15 17:21] marnovandermaas opened #1777 "[dv] Randomize code and stack regions for PMP tests"
When running the `riscv_pmp_full_random_test`, we want it to choose a random entry to give execution privilege to instructions and read/write privilege to the stack. This issue was initially a part of subtask 2 of this issue: https://github.com/lowRISC/ibex/issues/1702

Old estimate 2022-08-19: 16

[2022-08-15 17:28] marnovandermaas commented on #1702
I spent quite some time debugging https://github.com/google/riscv-dv/pull/885 and solved a number of problems:
- Full random test now generates random addresses instead of offsets from main.
- Stop CSR write tests being generated when full random is enabled.
- When MML mode is enabled fix the region 0 CSR permission for the PMP config write test.
- Generate a PMP region to be read/write for the ke

[2022-08-15 17:32] marnovandermaas commented on #1777
One extra issue that I ran into today is that whenever region 0 is set to TOR, this overrides the code region most of the time because the base of the TOR region is always assumed to be 0. We don't want to stop it from generating this all the time, but maybe making it less likely than 25% of the time is a good idea.

[2022-08-16 10:09] ctopal commented on #1770
I thought https://github.com/lowRISC/riscv-isa-sim/pull/9 would have fixed this problem. I'll check it further, thanks for opening this @hcallahan-lowrisc

[2022-08-16 10:17] ctopal commented on #1770
I ran the command you provided above with ibex-cosim-v0.4 tagged spike, test seems to be passing. I'll try to see the case by running more seeds.

[2022-08-16 10:38] ctopal commented on #1774
This is fixed in tag ibex-cosim-v0.4

[2022-08-16 10:39] #1770 closed

[2022-08-16 10:40] #1774 closed

[2022-08-16 12:57] hcallahan-lowrisc opened #1778 "Further core_ibex uvm build system improvements"
Further work to be done to the build system at some point in time, after merging #1705  :

- [Improve documentation](https://github.com/lowRISC/ibex/pull/1705#issuecomment-1213148649) of the build system, internal flows etc.
- Remove [ibex_log_to_trace_csv.py](https://github.com/lowRISC/ibex/pull/1705#discussion_r944484997)

[2022-08-16 14:55] marnovandermaas commented on #1777
I've updated the PR: https://github.com/google/riscv-dv/pull/885
- Fix constraints with MML
- Remove constraint on NAPOT
- Add a PMP entry to continue access to stack and signature address in case of MML and MMWP

I'm now waiting for reviews on this PR, which has grown quite big.

[2022-08-16 15:27] marnovandermaas commented on #1774
Thanks @ctopal!

[2022-08-18 07:25] johngt commented on #1566
@hcallahan-lowrisc  - believe that https://github.com/lowRISC/ibex/pull/1705 is now merged so that this can now be closed out. Not tagging is completed just yet.

[2022-08-18 07:30] GregAC commented on #1663
This is completed by #1779 which is undergoing review

[2022-08-18 08:57] GregAC commented on #1740
Will be completed when #1780 is merged

[2022-08-18 12:16] #1663 closed

[2022-08-18 14:45] #1740 closed

[2022-08-18 17:00] GregAC opened #1787 "[dv] More flexible riscv_core_setting.sv generation"
Currently the DV flow patches the `riscv_core_setting.sv` file if certain configs are used to remove CSRs those configs do not have and adjust PMP settings.

We need something more flexible that can look directly at the Ibex config and generate the file based upon settings in there.

In particular we need this to enable https://github.com/lowRISC/ibex/pull/1776. With better CSR coverage we're seei

[2022-08-18 17:09] GregAC commented on #1787
We could maybe extend the current patch setup to do more things using more patch files but it quickly becomes brittle. So I think this is something that's worth doing for V2 (may end up more time juggling patch files later on to hit V2 as we discover other things the templating setup becomes useful for).

Another option would just be to cease running CI against anything but the opentitan config, b

[2022-08-18 17:33] marnovandermaas commented on #1787
Yes, I added the patch mechanism when I enabled the PMP tests, but it was definitely meant as a short-term solution as long as that was the only check that needed to happen. I've never used this particular templating library, link for reference:
https://jinja.palletsprojects.com/en/3.1.x/
But it looks like a good option so that we only have to specify the differences between the different configur

[2022-08-19 08:50] hcallahan-lowrisc commented on #1701
Update for 2022-08-16 : In progress for `cp_insn_trigger_*` coverpoints, remaining 4 for each.
I'm working on a new directed stream for riscv_dv which inserts a short sequence of instructions which enable the trigger and set the address to a randomly-generated insn at the end of the stream. With appropriate randomization this should allow us to hit both coverpoints.

[2022-08-19 09:36] hcallahan-lowrisc commented on #1566
@johngt I've created one final small PR to remove the last few items. I've setup that PR to close this issue.

[2022-08-19 10:14] hcallahan-lowrisc commented on #1787
@marnovandermaas and I talked about templating as an option when discussing PMP stuff a few weeks back. I think it makes the most sense here. Maybe we should use Mako as that is already used within the Ibex project (it's already in the python_requirements.txt), though I wouldn't be against using Jinja2 either.

A related comment I have is that it does feel a bit confusing with options to riscv-dv

[2022-08-19 10:39] marnovandermaas commented on #1787
@hcallahan-lowrisc good idea about Mako, I'll paste the reference here for convenience: https://www.makotemplates.org/

[2022-08-19 10:54] GregAC commented on #1787
Ah yes we should. For some reason I thought we were using jinja2 within OpenTitan but we're not it's Mako everywhere.

Definitely, on both points. A complete refactor to make configuration more sane is needed but not something we want to look at now.

[2022-08-19 13:45] #1566 closed

[2022-08-19 14:08] marnovandermaas opened #1789 "[dv,riscvdv] PMP full random test stopping after first fault"
In the PMP full random test, I would like to exercise the random PMP configuration with multiple stores and load. However, the current RISCV-DV  exception handler simply exits the test if the PMP entry is locked at all, which is quite likely with MML mode. Instead I would like the trap handler to continue after seeing a load/store fault to the next instruction. Only on an instruction fault do I th

[2022-08-19 14:31] marnovandermaas commented on #1777
I updated https://github.com/google/riscv-dv/pull/885 based on @ctopal's comments, and they got merged into the main branch.

[2022-08-19 14:34] marnovandermaas commented on #1777
I created a pull request https://github.com/lowRISC/ibex/pull/1790, which should close this issue in case it gets approved.

I've adjusted the estimate of this issue downwards because I expect the effort to be minimal from here onward. Also, some of the effort that I had initially planned for this task now falls onto a new issue: https://github.com/lowRISC/ibex/issues/1789

[2022-08-22 08:55] #1777 closed

[2022-08-22 15:26] ctopal commented on #1702
I've run `riscv_pmp_full_random_test` 12 times with coverage enabled, looks like we are hitting the last point of this task which was `NA4 and NAPOT matching modes and all privileges other than RWX for region 0`. Thanks @marnovandermaas for your work regarding PMP in general!

[2022-08-22 15:26] #1702 closed

[2022-08-23 12:37] GregAC commented on #1693
Timeout increased here: https://github.com/lowRISC/ibex/pull/1771

Closing this now as specific timeout causes are being tracked seperately

[2022-08-23 12:37] #1693 closed

[2022-08-24 19:15] jamesrbailey commented on #1472
We also encountered this issue.

As an alternative to disabling icache as suggested here, we also found adding a fence.i instruction to the debug ROM was a sufficient fix to let us leave icache enabled (although we have not rigorously tested this).

[2022-08-24 20:34] GregAC commented on #1752
This was discussed at the security meeting. Simply exposing the scramble key valid via the CPUCTRL CSR is deemed sufficient (if software desires a fresh key it must spin on that bit until it becomes set then execute `FENCE.I`).

This does not alter any pipeline behaviour. We can consider appropriate verification for V2S.

[2022-08-24 21:05] GregAC opened #1795 "[dv] CSR Coverage Waiver"
### Coverpoints/bins affected
 - `cp_csr_read_only`/`cp_csr_write`
  - `CSR_SCONTEXT`
  - `CSR_MCONTEXT`
  - `CSR_MSECCFGH`
  - `CSR_TDATA3`
 - `cp_ignored_csrs` / `cp_ignored_csrs_w`
  - `CSR_SCONTEXT`, `CSR_MCONTEXT`, `CSR_TDATA3` are also the ignored CSRs, remove this coverpoint?

### Justification
None of these is particularly complex but it's all small changes to spike that add up.

`CSR_SCON

[2022-08-25 08:52] GregAC commented on #1738
It's acceptable for our icache to not be coherent so I'd wouldn't class this as an RTL bug, more a documentation issue.

Though we probably shouldn't be overwriting code in RISCV-DV generated programs.

[2022-08-25 09:07] hcallahan-lowrisc commented on #1701
Update for 2022-08-23 : In progress for `cp_insn_trigger_* coverpoints`, remaining 2 for each.

[2022-08-29 10:07] annapetrosyan26 opened #1798 "Simple system simulation not working properly"
Hello
I want to simulate simple system hello test using verilator,but after executing ./build/lowrisc_ibex_ibex_simple_system_0/sim-verilator/Vibex_simple_system [-t] --meminit=ram,./examples/sw/simple_system/hello_test/hello_test.elf I'm having some issues with simulation statistics.Here is my output:

Terminating simulation by software request.
- ../src/lowrisc_ibex_sim_shared_0/./rtl/sim/simula

[2022-08-30 07:13] hcallahan-lowrisc commented on #1701
Update for 2022-08-26 : In progress for `cp_insn_trigger_*` coverpoints, remaining 1 for each. Just need to do a little tidyup and create some PR's.

[2022-08-30 09:04] #1727 closed

[2022-08-30 10:53] #1787 closed

[2022-08-30 11:10] GregAC commented on #1798
This looks like the expected behaviour, you should find an execution trace in `trace_core_00000000.log` and the hello world output in `ibex_simple_system.log`.

The test terminates the simulation hence this message

[code]

[2022-08-30 12:56] GregAC commented on #1703
PR now merged, waiver here for the missed coverage: https://github.com/lowRISC/ibex/issues/1795

[2022-08-30 12:56] #1703 closed

[2022-08-31 12:05] GregAC commented on #1656
Further work here, riscv_mem_error_test was broken under the opentitan config. This was down to PMP. RISCV-DV sets up PMP regions by default and riscv_mem_error_test did some accesses that generated PMP access errors which then confused the test.

A fix for RISC-V DV is here: https://github.com/google/riscv-dv/pull/896

[2022-08-31 14:39] GregAC opened #1799 "[dv] Out of bounds access in dside access tracking logic"
This line: https://github.com/lowRISC/ibex/blob/056cb44ff75f797898709546ea1b0fd08d862e1a/rtl/ibex_top.sv#L1092

Uses `i - 1` and it's possible to evaluate this condition when `i == 0` giving an out of bounds access. This logic needs refactoring to more explicitly split out the `i == 0` case from the others to ensure this does not occur.

[2022-08-31 17:00] GregAC commented on #1710
Shifting this out of the V2 milestone

[2022-09-02 16:28] marnovandermaas opened #1802 "[dv,riscvdv] Stack and signature entries breaking MML and MMWP tests"
Because of the changes introduced by: https://github.com/google/riscv-dv/pull/885
The tests specified in `riscv_epmp_mml_test`, `riscv_epmp_mml_execute_only_test` and `riscv_epmp_mmwp_test` were failing due to timeouts because the instructions in the main section were not set to executable.

[2022-09-02 16:41] marnovandermaas commented on #1789
A related issue that also has to do with the PMP trap handler is that when a PMP region is set to be non-executable. The trap handler just tries to continue with the next instruction, which makes for very slow execution (the trap handler is called for every instruction). This inevitably leads to time-outs. I think in case there is an instruction access fault due to the PMP, we should just stop the

[2022-09-02 17:09] marnovandermaas commented on #1802
I have a fix for this, but will integrate this in a PR to fix: https://github.com/lowRISC/ibex/issues/1789

[2022-09-06 14:24] GregAC opened #1803 "[rtl] Issues with memory and instruction fetch errors with branch prediction enabled"
When `riscv_mem_error_test` is run with a config that includes a branch predictor failures are seen. These are around failures to take instruction faults and memory access faults.

It seems memory accesses next to branches can fail to produce the correct precise exception when a memory error response is seen.

For instruction faults it may be the branch prediction mechanism is failing to maintain

[2022-09-06 15:54] GregAC commented on #1656
This has now been fixed https://github.com/lowRISC/ibex/pull/1800 (though required the removal of the branch predictor config from CI)

[2022-09-06 20:42] #1798 closed

[2022-09-07 07:34] AshvinVaidyanathan opened #1804 "No such file or directory 'xrun' when trying to make the testbench."
I am trying to run the testbench using the make file in /dv/uvm/core_ibex using the commands in the documentation, but I get the error:

Errno 2] No such file or directory: 'xrun'
make: *** [Makefile:319: out/metadata/tb.compile.stamp] Error 1

I am unable to get anything about what this xrun file is or where it is located. I understand that it is being caused due to incorrect paths set but I can'

[2022-09-07 08:11] GregAC commented on #1804
What simulator do you want to use? `xrun` is part of xcelium (from Cadence) which is the default simulator. If you don't have access to xcelium then you cannot run the testbench with the default setup. Other simulators can be chosen with the `SIMULATOR=` option passed to the make command.

You can see the set of supported simulators in this file: https://github.com/lowRISC/ibex/blob/master/dv/uvm/

[2022-09-07 08:17] AshvinVaidyanathan commented on #1804
I am using the SIMUALTOR=verilator, which gives the above error. Though now that I look at the yaml file I don't see a verilator option. But the System and Tool Requirements section of the docs says Verilator is supported. Do I need to follow some extra steps for this?

[2022-09-07 08:27] GregAC commented on #1804
Unfortunately we do not support verilator with the UVM testbench. Verilator doesn't support the parts of the system verilog language required to run it (though such support is being developed).

Verilator can be used to run a CPU simulation (like simple system), and can be used with the co-simulation setup, but we it doesn't give you the randomised stimulus and randomly generated programs you get

[2022-09-07 08:28] GregAC commented on #1733
PR to move to the new specification is here: https://github.com/lowRISC/ibex/pull/1805

[2022-09-07 08:28] AshvinVaidyanathan commented on #1804
I see. Thanks a lot for the clarification.

[2022-09-07 08:28] #1804 closed

[2022-09-07 14:11] johngt opened #1806 "Clone task: [rv_core_ibex,dv] Integrate the Ibex "core_ibex" tests with dvsim"
For Yoda effort tracking.
Clones https://github.com/lowRISC/opentitan/issues/11794

[2022-09-07 16:32] GregAC commented on #1733
PR now merged

[2022-09-07 16:32] #1733 closed

[2022-09-09 13:00] GregAC commented on #1752
PR to implement this here: https://github.com/lowRISC/ibex/pull/1807

[2022-09-09 19:06] GregAC commented on #1654
https://github.com/lowRISC/ibex/pull/1808 implements the basis of this, namely random writes to the `CPUCTRLSTS` CSR along with the cosim changes needed to allow this to pass regressions.

That PR only enables `CPUCTRLSTS` writes in the random instruction test. We should expand this to more tests (ideally all of them but there may be some places we can't do it for whatever reason). To do so add `0

[2022-09-09 19:41] GregAC commented on #1761
#1808 gives us the basis of this (random `CPUCTRLSTS` writes will enable/disable random instruction generation).

Currently the dummy instructions are simply not fed through the RVFI interface so the cosim is unaware of their existence. We should add some extra checking to ensure they don't write to the register file (e.g. some assertion that states that if writeback writes to the RF then the firs

[2022-09-09 19:53] GregAC commented on #1760
Added an estimate to this. The cosim side of things is handled by https://github.com/lowRISC/ibex/pull/1808 what remains is

- Produce a double fault in some test (either a new dedicated one or add them to some existing test that already generates exceptions). A read of `cpuctrlsts` that will see the `double_fault_seen` bit being set should be included. The ideal test would clear this bit, recover

[2022-09-19 07:13] ivanmgribeiro opened #1809 "Question about misaligned memory requests that cause bus errors"
Hi,
I would like to ask what the intended behaviour of a system with an Ibex core is when a load/store instruction with a misaligned address leads to the first memory request causing a bus error, but the second request _not_ causing a bus error.

For example, assume the memory map of the system contains an unmapped region between `0x0000` and `0x7FFF`, followed by some RAM starting at address `0x8

[2022-09-20 09:39] WeiyanZh opened #1810 "Performance Counters doesn't work."
## My Environment

**EDA tool and version:** Verilator 4.226 and spike-cosim

**Operating system:** Ubuntu

**Version of the Ibex source code:** 2f8dfa9dfe2d938228118ed8ab6a543804d0c9ae

If I run the co-simulation, the performance counters looks like this. All counters are 0 except Cycles and Instructions Retired.

[code]
Performance Counters
====================
Cycles:                     400954

[2022-09-21 14:28] GregAC commented on #1810
The first thing to check is how did you build the simulation? You may have configured Ibex to have no performance counters, hence the results.

[2022-09-21 16:28] GregAC opened #1814 "[rtl] Ibex services interrupts when single stepping"
Ibex hard-codes `dcsr.stepie` to 0, meaning when single-stepping is enabled all interrupts should be masked. From trials with debugging on https://github.com/GregAC/ibex_super_system this is not the observed behaviour, a single step can enter an instruction handler.

In addition to fixing this we should look at our existing DV to determine if this bug could have been caught by it (single step test

[2022-09-21 16:37] GregAC commented on #1814
@hcallahan-lowrisc have come across any behaviour around single stepping and interrupts in your debug DV work?

[2022-09-22 10:10] GregAC commented on #1638
Quick update: I've had a look at an Ibex Super System build with 8 trigger points on FPGA and all looks to work fine. So whatever is happening here is specific to the OT Verilator infrastructure.

[2022-09-22 10:33] weiyan-zhang commented on #1810
I tried * *simple system* * following https://github.com/lowRISC/ibex/blob/master/examples/sw/benchmarks/README.md
and * *co-simulation system* * following https://ibex-core.readthedocs.io/en/latest/03_reference/cosim.html

[2022-09-22 15:18] GregAC commented on #1752
#1807 merged, closing this issue.

[2022-09-27 08:36] ctopal commented on #1769
We figured out this can be fixed by changing `ebreak.h` and `c_ebreak.h` in Spike to `throw trap_breakpoint(STATE.v, 0)` instead of `throw trap_breakpoint(STATE.v, pc)`.

[2022-09-27 09:12] #1472 closed

[2022-09-28 09:40] marnovandermaas commented on #1809
From the use spec (pg 19) misaglined stores and loads are not guaranteed to be atomic. In the privileged spec on PMP (pg 60): "In particular, a portion of a misaligned store that passes the PMP check may become visible, even if another portion fails the PMP check." I think the same is probably true for unmapped regions, in which case the behavior you are describing follows the spec.

@GregAC do yo

[2022-09-28 10:02] marnovandermaas commented on #1742
I made a first attempt to adding coverage points for large NAPOT regions: https://github.com/lowRISC/ibex/pull/1818
In the process I removed some impossible to reach PMP coverage: https://github.com/lowRISC/ibex/pull/1817

[2022-09-28 15:05] hcallahan-lowrisc opened #1820 "Ibex DV environment does not configure spike to have a matching number of performance counters"
@ctopal

## Observed Behavior
Cosimulation mismatch when reading from mhpmevent15 register in a randomly-generated program.
[code]

The `opentitan` ibex_config specifies 10 performance counters. Spike defaults to having all 29 possible counters. Hence, due to the one-hot style in which [our spike fork](https://github.com/lowRISC/riscv-isa-sim/blob/68edd1799d812a12ec181830cb21681e48ee1093/riscv/pro

[2022-09-29 09:28] #1769 closed

[2022-09-29 09:58] GregAC opened #1823 "[dv] Implement double fault loop detector"
Add a double fault loop detector to the testbench. It should determine when Ibex has entered a loop of double faults and terminate the simulation after some configurable number of iterations (with a default e.g. 100).

By default is should exit with a fail but a configuration option should be supplied to enable exit with a pass (for tests where a double fault loop is the intended behaviour).

[2022-09-30 17:12] GregAC opened #1825 "[dv] Implement testing and coverage for various mstatus states"
I recently discovered Ibex enabled/disabled interrupts in U mode based on the mstatus.mie bit which is a violation of the spec (mie applies only to M-mode in U mode it is ignored, only the per interrupt MIE CSR bits should be considered. This is fixed in https://github.com/lowRISC/ibex/pull/1824

I found this when adding interrupts to the debug single step test, which does execute code in U mode w

[2022-10-03 05:38] SerLippo opened #1826 "python flow error: `rtl_log` not substituted in dv/uvm/core_ibex/scripts/riscvdv_interface.py"
Thanks for help.
I am just setup my new study environment.
After I use command `make TEST=riscv_machine_mode_rand_test ITERATIONS=1 SIMULATOR=vcs`, terminal just report this:
[code]
I find that the `<rtl_log>` is not substituted by the real file name.

Thanks a lot.

## My Environment

Just setup the latest environment.
latest ibex master branch with no edit. `3943a4eca3917d0a00406abb36f4951304c0b

[2022-10-03 08:16] andreaskurth opened #1827 "`core_busy_o` not protected by lockstep"
## Observed Behavior
The `core_busy_o` output signal of the non-lockstep core is used to gate the core clock, which is used by the regular Ibex core and its lockstep counterpart.
https://github.com/lowRISC/ibex/blob/3943a4eca3917d0a00406abb36f4951304c0b394/rtl/ibex_top.sv#L211-L219
https://github.com/lowRISC/ibex/blob/3943a4eca3917d0a00406abb36f4951304c0b394/rtl/ibex_top.sv#L286-L287
https://githu

[2022-10-03 15:58] GregAC commented on #1809
There's a couple of reasons to leave things as the way they are (second half of an misaligned access allowed to send a request before we know the error status of the first):

1. Performance - If you have a few cycles latency on the error response but can send out multiple requests this allows you to get both requests out quicker
2. Reducing coupling/feedthroughs - If we did wait for the first requ

[2022-10-03 16:49] marnovandermaas commented on #1742
It took me a while to find out that the Spike version I was using didn't compile because `xrun` gave a vague error.

Besides that I updated the PR https://github.com/lowRISC/ibex/pull/1818 based on suggestions from @ctopal.

[2022-10-03 23:15] ivanmgribeiro commented on #1809
Thanks to you both for the insightful responses. I wasn't aware that the RISC-V specification specifically allowed for only part of a misaligned load or store to succeed. The points you raised make sense.

I also only saw the discussion in https://github.com/lowRISC/opentitan/issues/1868 and https://github.com/lowRISC/ibex/issues/764 recently.

[2022-10-03 23:15] #1809 closed

[2022-10-04 08:35] marnovandermaas opened #1831 "[riscv-formal] Yosys parsing fails"
When running `make -C formal/riscv-formal` the Yosys toolchain emits the following error:
[code]

[2022-10-04 08:37] marnovandermaas commented on #1831
After some internal discussion, we think it is best to remove the riscv-formal folder from the main branch.

[2022-10-04 08:39] vogelpi commented on #1827
Thanks @andreaskurth for creating this issue. I think this is a good catch!

I've now had a look at the RTL. If the clock is turned off, also the delay registers have no clock anymore. This means the outputs of the last couple of cycles of the core will be compared with the outputs of the lockstep/shadow core after resuming. Functionality-wise this seem okay to me.

From a security perspective, th

[2022-10-04 12:59] #1831 closed

[2022-10-05 10:57] marnovandermaas opened #1836 "[dv/uvm] Detect changes in Makefile arguments"
At the moment, when I change the arguments to the make command in `/dv/uvm/core_ibex` after the metadata is already generated then it ignores those arguments and runs with the old arguments.

It is hard to decide what to do when arguments change. Do you want to clean or should you merge the results? The least we should do is detect the difference and ask the developer what they want to do.

[2022-10-05 12:45] GregAC commented on #1827
I think so.

As you point out actually delaying the clock enable for the lockstep has it's own issues so hardening the signal instead makes sense. I think there's also limited scope for such a glitch attack on `core_busy_o` to achieve much as whilst you may be able to skip an alert you'll need to let the CPU start up again at some point at which point there will be an output mismatch (as the locks

[2022-10-05 12:46] GregAC commented on #1827
@msfschaffner @tjaychen @cdgori any thoughts?

[2022-10-05 14:29] marnovandermaas commented on #1789
The main issue with the proposed solution is that it is not clear whether the instruction at `mepc` is compressed or not. Both default increments of 2 and 4 bytes will have issues because Ibex supports misaligned instruction addresses.

[2022-10-05 14:38] SerLippo commented on #1826
By the way, my python is 3.10.

[2022-10-05 16:00] ctopal commented on #1826
Hey @SerLippo, thanks for reporting this! We are currently working on a fix to make VCS work again with our DV environment. We were not using it for a while and it got broken, sorry about that.

I've opened up a fix on riscv-dv repository to make it compile with VCS in here https://github.com/google/riscv-dv/pull/901. And also this branch here https://github.com/lowRISC/ibex/tree/vcs_fix for Ibex

[2022-10-05 16:15] marnovandermaas opened #1837 "[pmp] Instruction straddling two TOR regions cosim mismatch"
When running the following test:
`make -j1 --keep-going IBEX_CONFIG=opentitan ITERATIONS=1 TEST=riscv_epmp_mml_test WAVES=0 COV=0 SEED=30325`

Ibex and Spike have different behavior. Spike throws an instruction access fault exception for the address `0x80005cc4`. The TOR region ends at `0x80005cc4`, which is the expected behavior.

I think Ibex somehow does not perform the check for fetched instru

[2022-10-05 17:01] ctopal commented on #1758
@GregAC Please go ahead I'm still working on the debug side unfortunately..

[2022-10-05 17:32] marnovandermaas commented on #1837
The problem ended up being that Ibex checked bit 2 (or 3rd bit) to determine whether an instruction was 2 byte aligned instead of bit 1 (or 2nd bit).

[2022-10-05 18:24] cdgori commented on #1827
I think multi-bit hardening of `core_busy_o` is reasonable here, because as you say, when the CPU ultimately starts up again there will be an output mismatch.

Can anyone brainstorm a way for an adversary to suppress that mismatch?  I'm drawing a blank.  That would be the only reason to think about the more invasive change to combine the two `core_busy_o` signals to form the clock enable.

[2022-10-06 09:23] #1837 closed

[2022-10-06 09:30] ctopal commented on #1820
https://github.com/lowRISC/ibex/pull/1821 is open, we need to update Spike in CI to pass this I assume?

[2022-10-06 09:40] GregAC commented on #1823
Implementation here: https://github.com/lowRISC/ibex/pull/1808/commits but not yet merged

[2022-10-06 09:41] #1739 closed

[2022-10-06 16:55] hcallahan-lowrisc opened #1840 "Document behaviour for insns with UNSPECIFIED behaviour while in debug mode"
// [Debug Spec v1.0.0-STABLE, p.50]
 //  - ecall, mret, sret, uret have UNSPECIFIED behaviour while in debug mode

https://github.com/lowRISC/ibex/pull/1763#discussion_r946369060

[2022-10-07 10:50] marnovandermaas opened #1841 "[dv] Automatically generate dump file"
Whenever I run a test with DV, I end up running the following command:
[code]
It would be good to have the build environment do this automatically.

[2022-10-07 11:00] hcallahan-lowrisc commented on #1841
You should be able to run `make dump` to do this today. You can also run `make prettify` to create a column-aligned version of the ibex traces. :)

[2022-10-07 13:40] marnovandermaas commented on #1841
Ah right, thanks for pointing that out!

[2022-10-07 13:40] #1841 closed

[2022-10-07 14:12] marnovandermaas opened #1843 "[dv] Prettify invalid option to column"
## Observed Behavior

When running `make prettify` I get the following error:
[code]

## Expected Behavior

I expect that the content of `scripts/prettify.sh` contains the options that are compatible on my system or otherwise tell me which one to use.

## My Environment

**Operating system:**

Ubuntu Linux 20.04

The manual for my column command states "BSD General Commands Manual" from July 29, 2

[2022-10-10 11:46] johngt commented on #1765
@GregAC - Think that @ctopal and @hcallahan-lowrisc will need some guidance on the efforts required for this + https://github.com/lowRISC/ibex/issues/1686

[2022-10-10 15:37] johngt commented on #1570
@GregAC - checking if this is still relevant and if so, to whom we should assign this.

[2022-10-10 16:04] GregAC commented on #1570
Still relevant but something to do for V3 and it's already assigned to that milestone

[2022-10-10 16:27] marnovandermaas commented on #1789
I made the MML code entry execute and read by default to be able to continue after a store/load. In the load trap handler I check whether `mepc` was before main, as a way to check whether there was a load access fault inside the trap handler.

I have have a branch for RISCV-DV that has these changes, but I want to rope in https://github.com/lowRISC/ibex/issues/1742 before creating a PR

[2022-10-10 16:59] marnovandermaas commented on #1789
My changes need some more testing so I am going to up the estimate from 16 to 24 so that I have an extra 8 to work on this.

[2022-10-11 09:55] vogelpi commented on #1827
Thanks for the feedback @cdgori , I couldn't come up with a scenario for someone to suppress the mismatch.

I will have a look at doing the RTL modification for this.

[2022-10-11 14:52] #1820 closed

[2022-10-12 10:49] marnovandermaas commented on #1823
I am encountering these double faults (or faults that happen when handling another fault) during some PMP tests. To get an infinte loop of instruction access fault exceptions you can do the following.
Clone this repo and branch: https://github.com/marnovandermaas/ibex/tree/catch-dv-double-faults
Specifically use this commit: https://github.com/marnovandermaas/ibex/tree/10f561a4ddc8a381583fe0d63b9f

[2022-10-12 16:17] marnovandermaas opened #1846 "[dv] Tests failing when accessing uninitialized memory"
When doing a load to uninitialized memory, I get the following error:
[code]

When doing a fetch to unitialized memory, I get the following error:
[code]

Now for most tests this is fine, but for tests like random PMP tests you would like to be able to catch these errors. @hcallahan-lowrisc has seen similar issues when testing debug mode. My proposal would be to have a flag that says to pass when

[2022-10-12 17:38] marnovandermaas opened #1847 "[dv,pmp] MSCRATCH overwritten in PMP trap handler"
The default RISCV-DV trap handler uses the mscratch CSR to store the value of `a0` of the code that caused the trap. This is done in the functions named `push_gpr_to_kernel_stack` and `pop_gpr_from_kernel_stack`. The PMP exception routine overwrites this value in the function `gen_pmp_exception_routine`, but never restores it.

[2022-10-12 19:11] msfschaffner commented on #1827
The MUBI solution SGTM too!

[2022-10-12 19:18] hcallahan-lowrisc commented on #1823
Stil TODO:
- Add option to change the test result from a pass to a fail when the detector activates.

[2022-10-13 15:10] GregAC commented on #1846
We could introduce something that produces data when you read from uninitialized memory? For instance on a d-side read we return some random value (maybe writing that to the memory model though just random is probably fine), then for i-side read return 2x the compressed cannonical unimplemented RISC-V instruction (as if we fetch from a place we haven't put code we want to ensure we don't end up ex

[2022-10-13 16:42] marnovandermaas commented on #1802
There's a PR for this now: https://github.com/google/riscv-dv/pull/903

[2022-10-13 16:43] marnovandermaas commented on #1789
There is a PR for this now: https://github.com/google/riscv-dv/pull/903

[2022-10-13 16:47] marnovandermaas commented on #1742
There is a PR for RISCV-DV, which generates these large NAPOT regions now: https://github.com/google/riscv-dv/pull/903

[2022-10-13 16:58] marnovandermaas commented on #1720
Closing this because the remaining issue of infinite loops is captured in this issue: https://github.com/lowRISC/ibex/issues/1823

[2022-10-13 16:58] #1720 closed

[2022-10-13 17:13] marnovandermaas commented on #1847
This is fixed in this PR: https://github.com/google/riscv-dv/pull/903

[2022-10-14 07:21] hcallahan-lowrisc commented on #1843
For me (Ubuntu Linux 22.04), column reports its version as `util-linux 2.37.2` (2021-06-02) in both the CLI and manpage. Must be a newer version that introduced `-o` I guess.

[2022-10-14 11:24] GregAC opened #1851 "[dv] Investigate toggle coverage issues"
The Xcelium coverage report is reporting lack of toggle coverage in the following:

- `instr_err_i`
- `data_err_i`
- `data_rdata_i` (top 8 bits and bit 5)

However by inspection from the tests run these should get full toggle coverage, determine why.

[2022-10-14 11:28] GregAC opened #1852 "[dv] Randomize hart_id"
Ibex has a top-level `hart_id_i` input which provides the value for the `MHARTID` CSR. Currently it is fixed in the testbench. We should randomize it for every test to ensure the CSR is reporting the correct value from the top-level input.

Pushed to V3 as the feature is very simple and by inspection looks correct. Furthermore as OpenTitan has a single core it has no use for the `MHARTID` CSR so a

[2022-10-14 12:05] andreaskurth commented on #1761
According to @GregAC, what basically remains to be done here is adding the assertions that check dummy instructions don't cause register writes. #1853 deals with this.

[2022-10-14 15:51] andreaskurth commented on #1759
I've looked into the integrity verification, and I think the following approach should work:
- For each data and tag memory, track which memory entries have been written thus contain valid values (using the `req_i`, `write_i`, and `addr_i` signals).
- For each data and tag memory, track which memory entries are being read (using the same three signals). If an entry is being read that has been writ

[2022-10-14 16:18] GregAC commented on #1759
Thanks @andreaskurth I will update the estimate with your new one and assign you to the issue.

[2022-10-14 17:44] #1772 closed

[2022-10-14 17:49] hcallahan-lowrisc opened #1856 "Consider adding explicit enable for qualifying DBG_CAUSE"
https://github.com/lowRISC/ibex/pull/1816#pullrequestreview-1142572997
https://github.com/lowRISC/ibex/pull/1816#discussion_r995853633

The RTL change in the linked PR was to address incorrectly recording the cause when entering debug_mode.
Other regressions have indicated there are some race-conditions around multiple stimuli to enter debug_mode arriving in close proximity to each other. This cha

[2022-10-14 18:39] hcallahan-lowrisc opened #1857 "Record when a testcase fails by the double_fault detector, add indicator to summary logfile"
https://github.com/lowRISC/ibex/pull/1848#discussion_r994363405

[2022-10-17 09:37] #1823 closed

[2022-10-17 10:00] #1826 closed

[2022-10-18 10:20] marnovandermaas opened #1859 "[riscv-dv] Cannot merge coverage for thousands of tests"
When running the following command:
[code]

The Makefile in `dv/uvm/core_ibex` fails when in the `riscv-dv-fcov` rule. When running that script separately, I see the following issue:
[code]

This error is due to the bash command being too long in terms of characters. To fix this, we could rewrite the script in RISCV-DV to use xargs.

[2022-10-18 14:50] sadjadtu opened #1860 "Problem on Building Simulation with RV32E"
I am trying to build simulation, but I got this error:

ERROR: ../src/lowrisc_ibex_ibex_simple_system_core_0/ibex_simple_system.cc: In member function ‘std::__cxx11::string SimpleSystem::GetIsaString() const’:
../src/lowrisc_ibex_ibex_simple_system_core_0/ibex_simple_system.cc:40:46: error: ‘class Vibex_simple_system_ibex_simple_system’ has no member named ‘RV32E’; did you mean ‘RV32M’?
   std::st

[2022-10-18 16:41] marnovandermaas opened #1861 "[uvm] Timed out tests do not create coverage"
When a tests times out with the new UVM mechanism added in this PR: https://github.com/lowRISC/ibex/pull/1833/files

To reproduce this you can use the following version of Ibex:
https://github.com/lowRISC/ibex/commit/e317666d4805bed58b17fdf3e663cb4ecfcd21ed
And then run the following command in `out/uvm/core_ibex`:
[code]
Then look in `out/run/regr.log` to find the test cases labelled as `Failed {

[2022-10-18 16:42] marnovandermaas commented on #1861
@hcallahan-lowrisc any idea why this might be happening?

[2022-10-19 09:29] sadjadtu commented on #1860
I fixed it. The problem was about not properly cloning them.

[2022-10-19 10:24] hcallahan-lowrisc opened #1863 "insn_trigger_exception coverpoint does not work"
The test riscv_debug_triggers_test added in #1801 generates stimulus to hit [this coverpoint](https://github.com/lowRISC/ibex/blob/ce536ae47677e952de02b7421e1b78efb5761ab2/dv/uvm/core_ibex/fcov/core_ibex_fcov_if.sv#L502), but it does not trigger.

[code]

REPRO
[code]

[2022-10-19 10:25] johngt commented on #1760
Taking @marnovandermaas off this task assignment for now.

[2022-10-19 18:05] jiangnanguqi commented on #1860
Hi,
How did you fix it? I am suffering from the same problem when I build the simulation.
I have tried to change "RV32E" to "RV32M" in the ibex_simple_system.cc file.
Then it can be built without errors and produce the expected "hello_test" result.
But I don't think this is a proper solution as it ignores the E extension.

[2022-10-19 18:32] sadjadtu commented on #1860
Follow the instruction explained in this website:

https://blog.csdn.net/qq_33766313/article/details/112780529

In my case, I needed to start over again the setting up.

[2022-10-20 05:52] kal-ne commented on #1191
@rswarbrick I have started with a single file, verification.rst, and pushed up a PR. Can you take a look?

[2022-10-21 16:19] sadjadtu opened #1866 "Performance Counters doesn't work"
When I run the Simulator for the existing simple example, I get these results:

Simulation statistics
=====================
Executed cycles:  13142
Wallclock time:   0.024 s
Simulation speed: 547583 cycles/s (547.583 kHz)

Performance Counters
====================
Cycles:                     483
NONE:                       0
Instructions Retired:       266
LSU Busy:                   0
Fetch Wait:

[2022-10-21 16:22] #1861 closed

[2022-10-23 16:45] sadjadtu opened #1867 "initialization the SP and GP"
I am trying to simulate an already binary executable file. How can I initialize the stack pointer and global pointer?

[2022-10-24 06:37] enochliang commented on #1860
What files are not properly cloned?
I am suffer from it too. And I followed the instructions in the website you gave. But the error still exist.

[2022-10-24 09:34] ctopal commented on #1741
I am looking at our coverage implementation and it looks like for the first item, we already define some bins for it, although they are kind of buried deep.

Would you prefer adding some redundant crosses/coverpoints with this specific conditions or adding documentation to point out in which cross we can see this condition holding true?

For example `pmp_iside_priv_bits_cross` has a autogenerated

[2022-10-24 09:38] ctopal commented on #1741
For the second item we have a more general `cp_edit_locked_pmpcfg` for each pmpcfg register. I believe I can turn that into a cross that has two bins: writes to locked pmpcfg that changes execute access + anything else. @GregAC Would that be enough for this task?

[2022-10-24 10:36] hcallahan-lowrisc commented on #1863
[code]

Due to the hardware trigger `trigger_match_i` signal matching from the `pc_if`,  we see this match before the instruction has been decoded, and jump to DGB_TAKEN_IF, setting debug_mode = '1. Hence, decoding the instruction that creates the match in the if_stage (eg. illegal instruction) does not cause the controller to go to FLUSH, and the fcov_pipe_flush is never true in this case.

[2022-10-24 10:41] hcallahan-lowrisc commented on #1863
@GregAC Do you have any cycles to take a look at this? Thanks

[2022-10-24 15:41] ctopal opened #1869 "PMP Coverage Holes"
- MPRV Effect cross is not getting hit for the cases:
  - [ ] Privilege U->M Error 0 -> 1
  - [ ] Privilege U->M Error 1 -> 0
  - [x] Privilege M->U Error 1 -> 0

Note that `->` stands for MPRV changing LSU privilege mode.

- Sticky Bit Features for:
  - [ ] RLB
  - [x] MMWP
  - [x] MML

- Data Channel:
  - [x] No PMP region match && `mseccfg.mmwp` set.

- Instruction Channel
  - [x] No PMP region

[2022-10-24 15:46] ctopal commented on #1869
- For Instruction channel:
  Plan for now is to work on a directed instruction stream to inject to a new PMP test (possibly named pmp_directed) to have a high priority pmpcfg register set as NA4 address mode with pmpaddr pointing to a executable code region. That could also write some random `mseccfg` values while running to cover some more holes.

[2022-10-25 08:49] andreaskurth commented on #1757
Closing as complete with lowRISC/opentitan#15398 merged.

[2022-10-25 08:49] #1757 closed

[2022-10-25 08:53] andreaskurth commented on #1761
Closing as complete with #1853 merged.

[2022-10-25 08:53] #1761 closed

[2022-10-25 09:25] GregAC commented on #1846
@GregAC to triage current regression and disable integrity failures on uninitialized memory where needed.

[2022-10-25 09:28] GregAC commented on #1648
Now we've advanced DV work code coverage waivers aren't required to hit our V2 code coverage goals.

[2022-10-25 09:28] #1648 closed

[2022-10-25 09:32] GregAC commented on #1732
@GregAC to add write suppression on ECC failures on load to co-sim environment

[2022-10-25 09:35] GregAC commented on #1742
Cover points still need to be added for this.

[2022-10-25 09:36] #1742 closed

[2022-10-25 09:37] GregAC commented on #1765
This test is seeing some passes, failures are generally intricate co-sim mismatch bugs (but not RTL bugs) which take significant time to resolve so moving this to V3

[2022-10-25 09:39] GregAC commented on #1789
@hcallahan-lowrisc to merge @marnovandermaas's Ibex changes

[2022-10-25 09:39] #1802 closed

[2022-10-25 09:39] #1847 closed

[2022-10-25 09:42] GregAC commented on #1799
Moving to V3, should fix this but does not effect V2 goals.

[2022-10-25 09:42] GregAC commented on #1758
Fetch enable testing added via this PR https://github.com/lowRISC/ibex/pull/1844

[2022-10-25 09:42] #1758 closed

[2022-10-25 09:44] GregAC commented on #1760
@GregAC to provide more detailed guidance on checking here

[2022-10-25 10:52] #1827 closed

[2022-10-25 16:41] GregAC commented on #1863
Turns out this coverpoint makes no sense. When we have a trigger point set on an instruction we stop execution just before that instruction executes, so that instruction will never take an exception. Instead let's have a single step over instruction that takes an exception coverpoint.

This is dealt with in #1872

[2022-10-25 18:10] jiangnanguqi commented on #1860
Hi,

My temporary solution is
In this file ../ibex/example/simple_system/ibex_simple_system.cc:40
Modify  "std::string base = top.ibex_simple_system->RV32E ? "rv32e" : "rv32i";"
To "std::string base = "rv32i";"
which means just to skip the setting of RV32E
Then the building will be successful without errors.

But I am still looking for better solutions to reserve the setting of RV32E

[2022-10-25 18:11] jiangnanguqi commented on #1860
Hi,

My temporary solution is
In this file ../ibex/example/simple_system/ibex_simple_system.cc:40
Modify "std::string base = top.ibex_simple_system->RV32E ? "rv32e" : "rv32i";"
To "std::string base = "rv32i";"
which means just to skip the setting of RV32E
Then the building will be successful without errors.

But I am still looking for better solutions to reserve the setting of RV32E

[2022-10-26 11:13] #1863 closed

[2022-10-27 05:23] enochliang commented on #1860
I found that the problem is in the verilator installation flow.
I typed "apt-get install verilater" to install verilator before, now I follow this instructions to install it.
Maybe using apt-get to do a simple installation cannot build verilator very well.

[code]

And the rest of environment building instructions you can follow the instructions in this website.[https://blog.csdn.net/qq_33766313/a

[2022-10-27 13:38] jiangnanguqi commented on #1866
Hi,

I just found the solution from here:
https://ibex-core.readthedocs.io/en/latest/03_reference/performance_counters.html

Try to add "--MHPMCounterNum=10" when building the simple system.
For example:
~/ibex$ fusesoc --cores-root=. run --target=sim --setup --build lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MFast --MHPMCounterNum=10

As mentioned in the Reference Guide, the

[2022-10-27 13:40] jiangnanguqi commented on #1810
Hi,

I just solved this.
Please check
https://github.com/lowRISC/ibex/issues/1866#issuecomment-1293541290

[2022-10-28 12:30] andreaskurth commented on #1756
The write enable is protected by `prim_onehot_check`:
https://github.com/lowRISC/ibex/blob/ed927be38770b3478f34d4eace6edc1d74decaa8/rtl/ibex_register_file_ff.sv#L70-L81
and its error signal is wired up to the major internal alert of the core:
https://github.com/lowRISC/ibex/blob/ed927be38770b3478f34d4eace6edc1d74decaa8/rtl/ibex_top.sv#L429
https://github.com/lowRISC/ibex/blob/ed927be38770b3478f34d

[2022-10-28 16:55] hcallahan-lowrisc commented on #1775
Did some triage on this test today.
It would appear that for certain reset stimulus, the environment re-loads the binary to the memory model before it re-initializes the spike cosim model. Hence, after re-init spike has an empty mem_model and we read 0x0, causing the above behaviour.

[2022-10-29 10:47] sadjadtu commented on #1866
It works. Thank you

[2022-10-29 15:05] WeiyanZh commented on #1810
It works, thank you!

[2022-10-31 17:32] #1775 closed

[2022-11-01 08:44] #1846 closed

[2022-11-01 08:44] #1701 closed

[2022-11-01 08:44] #1654 closed

[2022-11-01 08:46] GregAC commented on #1654
https://github.com/lowRISC/ibex/pull/1882/files fixes up the CPUCTRLSTS writes so they occur in `riscv_rand_instr_test`. This enables and disables data independent timing during that test.

[2022-11-01 08:54] GregAC commented on #1731
I have a set of commits on top of Canberk's work in https://github.com/lowRISC/ibex/pull/1811 but no PR yet. Once that is merged this will be complete.

[2022-11-01 08:54] GregAC commented on #1732
I have a set of commits on top of Canberk's work in https://github.com/lowRISC/ibex/pull/1811 but no PR yet. Once that is merged this will be complete.

[2022-11-01 08:58] GregAC commented on #1789
With https://github.com/lowRISC/ibex/pull/1876 this test is now behaving reasonably

[2022-11-01 08:58] #1789 closed

[2022-11-01 09:04] GregAC commented on #1851
Toggle coverage now looking healthy (above 90%) so closing this.

[2022-11-01 09:04] #1851 closed

[2022-11-01 09:06] GregAC commented on #1760
Reassigning to @GregAC I should be able to address this rapidly freeing @hcallahan-lowrisc for other tasks

[2022-11-01 09:07] GregAC commented on #1825
Consider waiving this work for V2, postponing to V3 to discuss in V2 meeting.

[2022-11-01 12:35] johngt commented on #1762
Per discussion in internal HW meeting, Canberk going to work (with Andreas) on this. Priority on this over CSRNG V2 items as Ibex V2S scheduled for next week. If it is going to take substantial effort, then Canberk to message @GregAC given that CSRNG also needs substantial time based on initial scoping work.

[2022-11-01 12:43] sadjadtu opened #1889 "Error: Simulating with VCS"
When I try to build:

fusesoc --cores-root=. run --target=sim --tool=vcs --setup --build lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MFast --SRAMInitFile=./examples/sw/simple_system/hello_test/hello_test.vmem

I get this error:

INFO: Building
INFO: vcs -full64 -top ibex_simple_system -f lowrisc_ibex_ibex_simple_system_0.scr -o lowrisc_ibex_ibex_simple_system_0  -CFLAGS -I../..

[2022-11-01 15:34] GregAC commented on #1741
Yes I think so, just need to make sure to cross in `MML` and `RLB` settings

[2022-11-02 09:20] GregAC opened #1892 "[dv] Add force pass and terminate functionality to UVM base test"
Some of the V2S tests need to force a test terminate on pass (as they need to corrupt various bits of Ibex state the test cannot continue once successful functioning of the security feature is seen). We should add a function to the base test class to deal with this cleanly

[2022-11-02 09:31] GregAC commented on #1889
Looks like VCS isn't available in your environment. This lies outside the scope of the Ibex DV flow and how VCS access is setup is specific to your environment.

[2022-11-02 09:31] #1889 closed

[2022-11-02 09:32] GregAC commented on #1867
As in a binary you just have a .elf for and no source?

You could manually alter the register file to set specific SP and GP reset values though I suspect you'll run into other issues running a binary you don't have the source for.

If you can compile from source simply write your desired GP and SP values early in on the program init.

[2022-11-02 09:32] #1867 closed

[2022-11-02 10:34] ctopal opened #1893 "[doc] No register file write enable glitching in documentation"
It looks like we do not mention write enable glitch checking as a security countermeasure neither in register file page or in security page. It might be good to have it at least somewhere.

[2022-11-02 10:40] ctopal commented on #1893
@andreaskurth @GregAC Should I tag this as a V2S issue or like a low priority post M2 issue?

[2022-11-02 10:40] #1859 closed

[2022-11-02 17:08] andreaskurth commented on #1755
Closing as completed in #1873.

[2022-11-02 17:08] #1755 closed

[2022-11-03 08:42] andreaskurth commented on #1893
I think we should document this before declaring V2S, and it can be done quickly.

[2022-11-03 09:31] #1893 closed

[2022-11-04 15:01] #1756 closed

[2022-11-04 15:28] andreaskurth commented on #1759
Closing this as completed in #1879.

[2022-11-04 15:28] #1759 closed

[2022-11-04 15:35] GregAC opened #1901 "[dv] Ibex V2 Actions"
- [x] #1902
  - [x] Fix bitmanip coverage collection - https://github.com/google/riscv-dv/pull/910
  - [x] Look into other holes, check there's nothing vital missing - https://github.com/lowRISC/ibex/issues/1925
  - [x] https://github.com/lowRISC/ibex/pull/1929
  - [x] https://github.com/lowRISC/ibex/pull/1930
- [x] Complete internal interrupt work #1907
- [x] #1903, https://github.com/lowRISC/ibe

[2022-11-04 15:52] GregAC opened #1902 "Investigate RISC-V DV coverage holes"

[2022-11-04 15:58] GregAC commented on #1902
Many coverage holes reported in bitmanip instructions but they are clearly present in the logs, so likely bug rather than coverage hole.

Excluding bitmanip coverage is very high but remaining holes should be looked at to ensure no vital behaviour has been missed.

[2022-11-04 15:58] GregAC opened #1903 "Write up PMP coverage holes with justifications why they don't need to be closed for V2"

[2022-11-04 15:58] GregAC opened #1904 "Add V2 checklist in Ibex documentation"

[2022-11-04 15:58] GregAC opened #1905 "Add/modify existing coverage report with useful top-level metrics for matching OT coverage metrics to Ibex nightly"

[2022-11-07 18:42] #1762 closed

[2022-11-08 15:05] GregAC opened #1910 "[dv] Ibex V2S Actions"
- [x] Follow up on whether existing testing on OT side is sufficient to cover bus integrity errors for TL host. Ibex testbench covers ECC on data but integrity on control signals may be uncovered - @GregAC, https://github.com/lowRISC/opentitan/pull/16107
 - [x] lowRISC/ibex#1911, https://github.com/lowRISC/ibex/pull/1935
 - [x] lowRISC/ibex#1912, https://github.com/lowRISC/ibex/pull/1935
 - [x] Se

[2022-11-08 15:05] GregAC opened #1911 "[dv] Self-checking C test for data independent timing"

[2022-11-08 15:05] GregAC opened #1912 "[dv] Self-checking C test for dummy instructions"

[2022-11-08 15:05] GregAC opened #1913 "Write assertions to check connection between OT side alert and various errors in Ibex"

[2022-11-08 15:05] GregAC opened #1914 "Write assertion to check side loaded scramble key is correctly used"

[2022-11-08 15:31] GregAC commented on #1910
I've made issues for everything that represents new engineering tasks, the rest are just following up/reviewing so didn't bother with separate issues.

[2022-11-08 21:45] GregAC commented on #1760
PR https://github.com/lowRISC/ibex/pull/1916/files to add the double fault checker

[2022-11-09 16:37] Saad525 opened #1919 "Mismatch of dcsr.prv when interrupt followed by a debug request"
## Observed Behavior

When there is an interrupt from U-mode followed by debug request, Ibex fetches the first instruction of the handler and when the debug request comes in, it takes it and jumps to corresponding address. Privilege mode already switched to M-mode and after debug request, when dcsr is read, dcsr.prv is 'b11.

![wave](https://user-images.githubusercontent.com/55890346/200887006-145

[2022-11-09 21:54] msfschaffner opened #1920 "Documentation discrepancies around integrity errors and exceptions"
https://ibex-core.readthedocs.io/en/latest/03_reference/exception_interrupts.html#internal-interrupts claims that
[code]
Isn't it the other way round - i.e., isn't the error only generated when `SecureIbex == 1`?

[2022-11-10 09:28] GregAC commented on #1920
Correct, I'll open an PR to fix the typo

[2022-11-10 09:54] vogelpi commented on #1920
Thanks @GregAC !

[2022-11-11 00:08] msfschaffner commented on #1920
Another question: is this table [here](https://ibex-core.readthedocs.io/en/latest/03_reference/exception_interrupts.html#exceptions) missing the `InstrMisalinged` exception?

[2022-11-11 04:12] msfschaffner commented on #1910
For the first item above: https://github.com/lowRISC/opentitan/pull/16107 updates the `chip_sw_data_integrity` test so that it also injects faults into instructions of a test program residing in the SRAM, on top of data words in SRAM. This does not explicitly cover command integrity errors on the TL-UL bus, but it may be enough to cover the alert-specific glue logic in the `rv_core_ibex` wrapper,

[2022-11-11 20:48] GregAC commented on #1902
Bitmanip coverage fixed by https://github.com/google/riscv-dv/pull/910

[2022-11-11 21:17] GregAC commented on #1649
PR to add the coverage here: https://github.com/lowRISC/ibex/pull/1923

[2022-11-13 10:37] GregAC opened #1925 "[dv] Small architectural coverage issues to investigate"
Following analysis of the architectural coverage from RISC-DV there are a few small issues to investigate

- [ ] rv32i_misc_cg - Instructions in this group are getting executed but aren't appearing in coverage
- [ ] lw_cg - cp_lsu_hazard - Not seeing RAW memory hazard
- [ ] sw_cg - cp_lsu_hazard - Not seeing WAR memory hazard
- [ ] The illegal instruction space doesn't appear to be fully explored

[2022-11-13 15:28] GregAC opened #1926 "[dv] Psuedo instruction coverage for Bitmanip"
Three bitmanip instructions seem to be missing coverage, `orc.b`, `zext.h` and `rev8`. They are being executed but they can be interpreted as pseudo-instruction forms of more general instructions or instructions in their own right depending on what bitmanip implementation you are using.

We should consider reworking our coverage collection to ensure executing these samples both the pseudo instruct

[2022-11-13 15:28] GregAC commented on #1902
Further investigation complete and written up at https://github.com/lowRISC/ibex/issues/1926 and https://github.com/lowRISC/ibex/issues/1925

[2022-11-13 15:28] #1902 closed

[2022-11-13 15:51] Zhengshuhang opened #1927 "Ask a question related to Ibex"
hi，I am a beginner of lbex, I found the following error when running the routine, can you help me?

File"/home/icdesign/workspace/ibex/dv/uvm/core_ibex/scripts/compile_tb.py", line 75, in _mainraise RuntimeError(RuntimeError: Failed to find ['riscv-riscv', 'riscv-disasm', 'riscv-fdt'] pkg-config packages.
Did you set the PKG_CONFIG_PATH correctly?
make: *** [Makefile:330: out/metadata/tb.compile.s

[2022-11-13 16:08] GregAC commented on #1905
https://github.com/lowRISC/ibex/pull/1928 updates the coverage flow to use the dvsim/ot provided coverage setup which gives the format and data we need in the top-level text reports.

[2022-11-14 00:43] Zhengshuhang commented on #1927
I am try to run UVM lbex verification in Ubuntu 22.04

[2022-11-14 01:15] #1927 closed

[2022-11-14 02:16] Zhengshuhang opened #1931 "Error in ibex UVM verification"
Hi,I am a beginner at riscv validation.When I run the make in dv/uvm/core_ibex,following error:
********************
~/workspace/ibex/dv/uvm/core_ibex$ make --debug
GNU Make 4.3
Built for x86_64-pc-linux-gnu
Copyright (C) 1988-2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistrib

[2022-11-14 06:25] Zhengshuhang commented on #1931
I check the compile_tb_stdstreams.log and the error seems to be :

xmvlog: *E,IMPMOD (/home/icdesign/workspace/ibex/rtl/ibex_if_stage.sv,367|9): Export DPI function/task declaration only allowed in module/interface/package/compilation_unit_scope/program_block  declaration.
    export "DPI-C" function simutil_get_scramble_nonce;
         |
xmvlog: *E,IMPMOD (/home/icdesign/workspace/ibex/rtl/ibex_i

[2022-11-14 11:07] #1799 closed

[2022-11-14 15:07] #1931 closed

[2022-11-14 15:17] Zhengshuhang opened #1932 "there is error when I make"
Hi, I'm a beginner in risc-v DV,I made sure I set up the environment carefully,but when I run
`make --debug`
there is following error:

<img width="462" alt="image" src="https://user-images.githubusercontent.com/77762994/201695525-20660fb6-b9f5-43b3-ba83-db08b5014ea3.png">

the compile_tb.log:

[compile_tb.log](https://github.com/lowRISC/ibex/files/10004334/compile_tb.log)

can you help me?

[2022-11-15 08:42] hyperion009 opened #1933 "library riscv-riscv and riscv-fdt"
Hi
I am trying to run a test case under core_ibex "make TEST=riscv_machine_mode_rand_test ITERATIONS=1" and get an issue:
**subprocess.CalledProcessError: Command'['pkg-config', '--exists',  'riscv-riscv', 'riscv-disasm', 'risccv-fdt']' return non-zero exit status 1**
I compiled the source codes of "riscv-isa-sim-master" from https://github.com/lowRISC/riscv-isa-sim/blob/master/
and found there is

[2022-11-15 09:56] GregAC commented on #1933
You need to build the `ibex-cosim` branch: https://github.com/lowRISC/riscv-isa-sim/tree/ibex_cosim

[2022-11-15 09:59] GregAC commented on #1932
From your log, almost looks like `xmsc_run` is a shell script that's corrupt or running under the wrong shell.

I'd suggest trying a newer version of Xcelium but as this looks to be a tooling/environment issue rather than something Ibex related I'll close this now.

[2022-11-15 09:59] #1932 closed

[2022-11-15 16:11] GregAC commented on #1911
Test available in https://github.com/lowRISC/ibex/pull/1935

[2022-11-15 16:11] GregAC commented on #1912
Test available in https://github.com/lowRISC/ibex/pull/1935

[2022-11-15 16:15] GregAC opened #1936 "[dv] Build a regression system for directed simple system co-sim tests"
In CI we run a couple of tests against simple system with co-sim checking. There is no test running/regression framework for these beyond a trivial script introduced by https://github.com/lowRISC/ibex/pull/1935

We should look at introducing a simple but more complete system to run these tests. The design of this system should consider how it might handle running the RISC-V conformance test suite.

[2022-11-15 23:04] GregAC commented on #1904
PR here https://github.com/lowRISC/ibex/pull/1939

[2022-11-16 05:27] hyperion009 commented on #1933
thanks, Greg

[2022-11-16 05:47] hyperion009 opened #1940 "Missing a module tc_clk_gating"
Hi
when the flow was compiling the RTL files, the following issue popped up:
![1668577295854](https://user-images.githubusercontent.com/30075118/202093380-d97cec6b-6330-4fe5-a826-12d71ad993b2.png)
It seems that there is no module tc_clk_gating after grepping the whole tree.  my compilied version is  ibex-pulpissimo-v6.1.
![1668577645560](https://user-images.githubusercontent.com/30075118/202094198

[2022-11-16 08:07] #1933 closed

[2022-11-16 09:32] hyperion009 opened #1941 "bitmanip s"
Hi
I am using https://github.com/lowRISC/lowrisc-toolchains/releases/download/20220524-1/lowrisc-toolchain-gcc-rv32imcb-20220524-1.tar.xz as my toolchain to compile riscv code and got the errors like:
![1668590527178](https://user-images.githubusercontent.com/30075118/202140813-4cc3a184-f663-4cb9-b259-38bab98b0bd2.png)
these issues are caused by a lack of support for  bitmanip? a description in th

[2022-11-16 11:43] johngt commented on #1825
I took a quick look at both review meeting notes and couldn't see an obvious waiver discussion on this so assume that this is still live?

[2022-11-16 13:03] GregAC commented on #1825
@johngt This has been waived for V2, I've added a comment to the notes tagging you to highlight where

[2022-11-16 17:13] GregAC opened #1944 "[dv] PMP Coverage Holes"
The significant coverage holes in PMP are all related to instruction side accesses.

At the top-level `pmp_iside_nomatch_cross`\`pmp_iside2_nomatch_cross` which cover scenarios where a fetch doesn't match any PMP entry (and hence may be denied or allowed depending upon MMWP and U or M mode execution) has one missing bin involving M mode and several involving U mode.

The M mode bin requires a setu

[2022-11-16 17:14] GregAC commented on #1903
Write up is here: https://github.com/lowRISC/ibex/issues/1944

[2022-11-16 17:37] GregAC commented on #1732
Completed by https://github.com/lowRISC/ibex/pull/1907

[2022-11-16 17:37] #1732 closed

[2022-11-16 17:37] GregAC commented on #1731
Completed by https://github.com/lowRISC/ibex/pull/1907

[2022-11-16 17:37] #1731 closed

[2022-11-16 17:39] GregAC commented on #1760
Closed by https://github.com/lowRISC/ibex/pull/1916

[2022-11-16 17:41] GregAC commented on #1892
Moving to V3 as it's a cleanup/enhancement not required functionality for V2S.

[2022-11-16 17:43] #1760 closed

[2022-11-17 05:37] Zhengshuhang opened #1946 "The problem when I run the ibex DV example"
Hi,I am a new learner in risc-v DV, and I am trying to run the ibex DV example.
I use Ubuntu22.04 and Questa2021.2_1 ,Xcelium 18.03;
when I type :
`make --debug`
<img width="337" alt="image" src="https://user-images.githubusercontent.com/77762994/202364105-bc404c21-98eb-4147-a219-950d03c46925.png">

and compile_log:
[compile_tb_xrun.log](https://github.com/lowRISC/ibex/files/10028313/compile_tb_xr

[2022-11-17 07:54] quswar-abid commented on #1622
Noted, ping me @ quswar.abid@10xengineers.ai when done and I'll close the issue.

Thanks, :)

[2022-11-17 17:09] GregAC opened #1948 "[cosim] Sort out error/pmp failure behaviour on unaligned accesses"
When spike encounters an unaligned access it splits it into single byte accesses. If one of these sees a bus error or a PMP failure it immediately causes an exception. In Ibex unaligned accesses are split in two and both accesses are tried regardless of bus errors and PMP failures of the other access.

This leads to co-sim mismatches in cases where unaligned accesses cross PMP boundaries (the co-s

[2022-11-18 14:41] aroelke opened #1953 "Error Elaborating IF State with Cadence Tools"
## Observed Behavior

When simulating Ibex with Cadence Xcelium, the following elaboration error is produced:
[code]

## Steps to reproduce the issue

Compile Ibex RTL using `xrun`.

**EDA tool and version:**

Cadence Xcelium version 19.09-s003.

**Operating system:**

Red Hat 7.

**Version of the Ibex source code:**

`6dd3752183166a1070946f6d00a0211876714cfc`
Inspecting the latest master shows th

[2022-11-18 14:45] GregAC commented on #1953
I would suggest trying a new version of Xcelium, we can successfully simulate it under 21.09.s006 for instance.

[2022-11-18 17:22] #1912 closed

[2022-11-18 17:22] #1911 closed

[2022-11-18 17:23] #1903 closed

[2022-11-18 17:23] #1905 closed

[2022-11-18 17:24] GregAC commented on #1741
Implemented by https://github.com/lowRISC/ibex/pull/1947

[2022-11-18 17:24] #1741 closed

[2022-11-18 17:24] #1649 closed

[2022-11-22 08:46] #1946 closed

[2022-11-22 08:59] Zhengshuhang opened #1955 "Error when I make in ibex UVM DV"
Hi, I am a new learner in ibex DV,I tried IBEX DV in vcs2016,questa2021,xcelium2018 but failed. I guess it's because my SV simulator version,so I changed to CentOS7.9,python 3.8.10,VCS2020.03,but there are still problems as follow:
<img width="386" alt="image" src="https://user-images.githubusercontent.com/77762994/203269835-8ce8e1c1-69dd-4370-8f10-f187331459d7.png">
the corresponding compile_tb.l

[2022-11-25 05:45] Shaileshkavar commented on #1071
Hello,

When I am trying to run UVM tests, using the below command to generate **riscv_arithmetic_basic_testfor** example:

make instr_gen_run SIMULATOR=questa TEST=riscv_arithmetic_basic_test ISS=spike ISA=rv32imc SEED=1 ISA=rv32imc

**Error**:

build_dir  /users3/shailesh.kavar/riscv-ibex/ibex/dv/uvm/core_ibex/out/build/instr_gen
placeholder_dir  /tmp/tmplp2ba8li/@@PLACEHOLDER@@
build_dir  /user

[2022-11-25 06:32] Shaileshkavar opened #1956 ".S file is not generated for riscv_arithmetic_basic_test"
Hello,

When I am trying to run UVM tests, using the below command to generate riscv_arithmetic_basic_test for example:

make instr_gen_run SIMULATOR=questa TEST=riscv_arithmetic_basic_test ISS=spike ISA=rv32imc SEED=1 ISA=rv32imc

Error:

placeholder_dir /tmp/tmps1r1tvid/@@Placeholder@@
build_dir /users3/shailesh.kavar/riscv-ibex/ibex/dv/uvm/core_ibex/out/build/instr_gen
placeholder_dir /tmp/tmps

[2022-11-25 11:37] GregAC commented on #1955
This may be a genuine issue with our DV code, just one that only causes issues under VCS. So I will leave this open as a reminder for us to look into when we have time to do so.

[2022-11-25 11:38] GregAC commented on #1956
I note you're using Questa. This isn't a simulator we have access to so we're unable to reproduce it. I suspect no-one's tried to run the testbench with Questa for a while and the flow has had many changes recently. So it's likely broken.

[2022-11-25 12:21] Shaileshkavar commented on #1956
Thanks GregAC.

It would be useful if you could post the most recent testbench status for questasim since this problem is with assembly but I had to modify a few files to compile the testbench.

[2022-11-27 11:10] Zhengshuhang commented on #1955
Thank you for your kind reply. I will patiently wait for you to help me solve this problem. But I have a small question. I specifically use the VCS2020.3 mentioned in ibex, which is currently in use. Is it only my machine that has this problem？

[2022-11-29 07:21] GregAC commented on #1920
No it isn't, you cannot generate instruction misaligned exceptions when you have the 'C' extension. I've fixed the ``IbexSecure`` issue and added a clarification for the instruction misaligned exception here: https://github.com/lowRISC/ibex/pull/1957

[2022-11-29 13:15] Shaileshkavar opened #1958 "[Questasim] Simulation error: Failed to find design unit"
Hello,

With Questasim, I'm having the following simulation problem. Does anyone know how to fix this?

Error:
# vsim -c -do "run -a; quit -f" "+designfile" -f /users3/shailesh.kavar/riscv-ibex/ibex/dv/uvm/core_ibex/out/build/tb/top.list "+signature_addr=8ffffffc" "+test_timeout_s=1800" "+disable_cosim=1" -sv_seed 1 -suppress 8323 2247 "+UVM_TESTNAME=core_ibex_csr_test" "+UVM_VERBOSITY=UVM_LOW" "+

[2022-11-29 18:07] msfschaffner commented on #1920
Great, thanks for the clarification!