[2019-10-31 15:54] #114 closed

[2019-10-31 17:16] vogelpi commented on #199
The original question has been answered and the documentation contains the relevant information: all interrupts are level-sensitive and it is assumed that the interrupt handler signals completion of the handling routine to the interrupt source, e.g., through a memory-mapped register, which then deasserts the corresponding interrupt line. The RISC-V spec does not comment on how long an interrupt si

[2019-10-31 17:16] #199 closed

[2019-10-31 17:38] vogelpi commented on #220
The tracer is now Verilator compatible. This has been added starting with lowRISC/ibex#360. I am thus closing this issue now.

[2019-10-31 17:38] #220 closed

[2019-10-31 17:42] vogelpi commented on #217
The tracer is now Verilator compatible. This has been added starting with #360. Also the PR upstream riscv/riscv-compliance#69 resolving this issue has been merged. I am thus closing this issue now.

[2019-10-31 17:42] #217 closed

[2019-10-31 17:53] vogelpi commented on #429
I am closing this issue now. lowRISC/ibex#430 has been closed but lowRISC/ibex#431 got merged instead. The issue is fixed.

[2019-10-31 17:53] #429 closed

[2019-10-31 18:01] udinator commented on #205
All features of Debug-Mode currently implemented have been tested, and a main issue was found with how `dret` was treated in normal execution modes. Fixes have been pushed for this bug, so will close this issue as testing is complete.

[2019-10-31 18:01] #205 closed

[2019-10-31 18:03] udinator commented on #204
All features of the implemented interrupt interface have been tested, uncovering some bugs regarding `irq_nm_i`, interrupt ID assignment, and how `mepc` was set after trapping to a handler. Fixes have been merged for all of these bugs, so will now close this issue.

[2019-10-31 18:03] #204 closed

[2019-10-31 18:05] vogelpi commented on #434
Hi @vit82,
No, we did not consider to add a parameter for this. These stack registers are actually a non-standard extension to enable recoverable NMIs.

The RISC-V specification does not foresee recoverable NMIs. Nested interrupts are still possible without stack registers. As defined in the specification, the core disables interrupts when taking the interrupt, i.e., when entering the handler. Thi

[2019-10-31 18:06] udinator commented on #269
This feature has been tested, and `core_sleep_o` successfully indicates to the outside world that the core is sleeping and that all pending transactions have been finished and no more transactions are being fetched. This issue will be closed.

[2019-10-31 18:06] #269 closed

[2019-10-31 18:10] udinator commented on #202
This feature of the core has been tested, finding a bug regarding to a prefetcher error after an I-Mem fault, and a bug regarding faulting misaligned data memory accesses. Fixes have been merged for these bugs, so will close this tracking issue.

[2019-10-31 18:10] #202 closed

[2019-10-31 18:13] udinator commented on #348
An update: as per the discussion in the riscv-formal repo, the RVFI interface does not have a way to indicate that an instruction/data memory access has faulted, it only can indicate PMP exceptions for the time being. I think in this case, it should be okay to leave Ibex's implementation the way it is, so I will close this issue for now, feel free to reopen this issue if anyone has any more feedba

[2019-10-31 18:13] #348 closed

[2019-11-01 11:51] #432 closed

[2019-11-01 15:27] pbing commented on #117
I can confirm that 19.1 **Lite** does not compile without explicit `generate ... endgenerate` and `genvar`.

[2019-11-01 22:35] vogelpi commented on #212
I investigated this issue and found out that `mie_q` (the interrupt enable bits) via `irq_pending` directly feed into the main clock gate in `ibex_core.sv`. This one drives the clock of the register holding `mie_q`. I see the following ways to remove that, but consider none of them optimal:

1. Add another register for `irq_pending` using the un-gated clock (similar to `core_busy_q` in `ibex_core.

[2019-11-04 11:07] vit82 commented on #434
@vogelpi ,
may you share any information of differences in irq_fast_i[14:0] and irq_external_i interrupts?
The user manual contains very little information explaining how CPU treats them. Thanks!

[2019-11-04 13:16] vogelpi opened #444 "Writing unaligned addresses to `dpc` CSR"
Currently, writes to the `dpc` CSR are simply ignored if the address is unaligned. The debug spec does not specify what should happen if an unaligned address is written to `dpc`. In contrast, the privileged spec says that `xepc` can only hold aligned addresses.

I suggest to align the behavior of these two registers, i.e., to make the LSB of `dpc` to be always 0 instead of ignoring writes with non

[2019-11-04 14:36] vogelpi commented on #365
I think the original problem here is solved. There are some follow-up tasks tracked in separate issues:
- Exceptions in debug mode should not have an effect on `mstatus` and some other CSRs: lowRISC/ibex#168
- Add support for FENCE.I in Ibex: lowRISC/ibex#391
- OpenOCD should test if a hard actually has support for FENCE.I an not issue it if not: riscv/riscv-openocd#415
- OpenOCD does not like non

[2019-11-04 14:56] vogelpi commented on #434
- `irq_external_i` is used to connect a platform-level interrupt controller (PLIC) (such as https://github.com/pulp-platform/rv_plic). The documentation linked at the example PLIC also gives some details on the capabilities of such a PLIC. This usually includes switching on/off individual and a possibly very large number of interrupt sources as well as priority management. To this end, the PLIC ha

[2019-11-04 17:42] MarekPikula commented on #365
The patched version of OpenOCD does nothing more than rise maximum number of harts to 1024, so it doesn't really solve the issue. The patched version doesn't report missing `fence.i` for harts greater than 0.

[2019-11-04 17:42] #365 closed

[2019-11-06 18:50] vit82 opened #450 "Interrupt isn't taken in vicinity of a branch instruction"
Below is a screenshot where a fast interrupt handler is mistakenly skipped.
The CPU jumps to IRQ vector at address 0x1040., there a jump instruction to address is 0x1084 is located. The jump isn't performed, instead main program is executed (addresses 0x00FC -> 0x0100 -> 0x0104 etc )
![image](https://user-images.githubusercontent.com/55279763/68327159-7ccc0180-00d5-11ea-9538-506faf0a1155.png)

Her

[2019-11-06 18:56] vit82 commented on #450
The result is produced with RTL commit 275c331

[2019-11-07 09:02] tomroberts-lowrisc commented on #450
Hi @vit82 , thanks for the detailed report.
Can you tell me the value of ibex_core.instr_valid_id, or better yet, make VCD dump available somewhere for us to have a look at.

The branch_set_i signal shouldn't cause the core to jump to a new address as long as instr_valid_id isn't set (and that should have been cleared by the interrupt).

[2019-11-07 13:58] MarekPikula commented on #391
@GregAC what is your status on this? I would like to be as much upstream as possible with my Ibex and `nop` workaround is not particularly optimal.

[2019-11-08 11:48] sjgitty opened #452 "[assertions] consider functional coverpoints"
It would be nice to add some functional coverpoints to the Ibex design
to augment the verification efforts, and potentially take advantage of
some formal methods. I'm just starting the conversation here, but we
could suggest some coverpoints as follow-up in this issue.

CC @udinator

[2019-11-08 13:13] vit82 commented on #450
Here I've uploaded .trn fie since it's smaller in size vs .vcd (here no more 10MHz is allowed). Hope you can read it. If not, I'll check alternative ways how to upload 35MHz .vcd.
[issue450_bug_seen.trn.tar.gz](https://github.com/lowRISC/ibex/files/3824670/issue450_bug_seen.trn.tar.gz)

The cursor at the screenshot is placed at 10,120us.

[2019-11-08 13:18] imphil commented on #450
Unfortunately we don't have access to Cadence tools here and are unable to open TRN files. Can you convert it to VCD and upload it either here in compressed form (e.g. .bz2 or .xz), or upload it to dropbox or google drive or something along those lines?

[2019-11-08 14:23] vit82 commented on #450
Alright, here I've uploaded it at my GDrive:
https://drive.google.com/file/d/1iqV3MN7FmzLbDblzmfNRxjjRqJFDuMjy/view?usp=sharing

[2019-11-08 16:11] vit82 commented on #450
[firmware_rv32emc.lss.txt](https://github.com/lowRISC/ibex/files/3825336/firmware_rv32emc.lss.txt)
And here's the firmware listing file.

[2019-11-08 16:19] tomroberts-lowrisc commented on #450
Thanks, I'll take a look

[2019-11-08 16:48] tomroberts-lowrisc commented on #450
Hi @vit82 - it looks like you might be hitting some kind of simulator / synchronisation issue.

The controller state (ctrl_fsm_cs) makes an impossible jump to IRQ_TAKEN (on the same cycle as the irq arrives), without a lot of other state changing. The next state signal (ctrl_fsm_ns) for example is never set to IRQ_TAKEN.

How are you driving the irq lines? If they are driven from testbench/softwar

[2019-11-08 23:07] esshiu commented on #89
Hi, Philipp,

I'm a new Github user. I'd like to start a project. Can I try to take on this RTL task?

-Eric

[2019-11-09 07:57] imphil opened #454 "Simple system: Fix table at the end of the documentation"
See the rendering of https://github.com/lowRISC/ibex/tree/master/examples/simple_system

[2019-11-11 09:19] vit82 commented on #450
Ok, it doesn't work when I assert the interrupt line upon clk posedge. Like this:
	initial begin
		repeat (12) @(posedge dut_top.clk);			                   //#120ns;
		force tb.dut_top.riscv_dut.dut.rv32emc.uut.ibex_core.irq_fast_i[0] = 1'b1;
		repeat (3) @(negedge dut_top.clk);
		force tb.dut_top.riscv_dut.dut.rv32emc.uut.ibex_core.irq_fast_i[0] = 1'b0;
      end

Though it works if I do the same

[2019-11-11 10:24] tomroberts-lowrisc commented on #450
Hi @vit82, all interrupts in Ibex are level sensitive. Practically, this means that you must hold the interrupt line asserted until the interrupt is taken and handled by the CPU. Normally, the interrupt handler routine would then write to a register to acknowledge the interrupt, at which point the line can be de-asserted.

[2019-11-11 10:27] vogelpi commented on #450
Just for reference, this was also discussed in lowRISC/ibex#199.

[2019-11-11 11:31] imphil commented on #89
Hi Eric,

thanks for your interest in working on this project! This is a reasonably large project; before we can move on to implementation, we need to do a bit of planning and break it down into smaller actionable chunks. Would you be interested in driving that? (If not that's fine as well, just let us know.)

A potentially good way of moving forward would be a shared Google Doc (share the link in

[2019-11-11 18:27] taoliug commented on #89
Add one note on the DV side. Right now riscv-dv doesn't support B-extension. As far as I know, the spec is not ratified yet, so it's subject to changes. Like Philipp mentioned, we need to define the scope we want to support. In the meantime, make sure the toolchain(instruction generator, compiler, ISS) is ready.

[2019-11-11 22:03] esshiu commented on #89
Philipp,

We're interested in the following instructions. We think it's possible to make them single-cycle instructions.

clz (count leading zeros)
fls (find the largest bit set). eg 31 - clz
pcnt (population count = number of 1-bits)
bits (bit-set-by-position) and bitsi (immediate version)
bitc (bit-clear-by-position) and bitci (immediate version)
grev (generic reverse) and grevi (immediate versi

[2019-11-11 22:25] sjgitty commented on #89
IMO we should implement the whole bitmanip extension. Is that not feasible?
Also, @esshiu  please consider the option of doing this with a parameter if it turns out the area impactis large. @GregAC  is researching the area of what is worthy to parameterize (though he is OOO for this and next week)

[2019-11-11 23:29] esshiu commented on #89
The above instructions(clz, fls, pcnt, bits,bitc, grev,...etc) are high priority per Randall. If we're short on resource or time, we may prioritize these instructions first. I have not studied the complete bit manipulation spec.

-Eric

[2019-11-12 01:21] esshiu commented on #89
By the way, it seems "fls","bits, bitsi", "bitc, bitci" are not in the B-extension spec.

-Eric

[2019-11-12 10:49] vit82 commented on #450
Thank you.
The interrupts generated on clk negedge are taken correctly. Also no problem occurs if interrupts are produced upon clk posedge with a unit delay added:
@(posedge clk);
#1;

Still there's a problem if an interrupt is set immediately upon clk posedge.
Now I realize that the root cause is delta delay added to the CPU clock by ibex_core.core_clock_gate_i.
So the user should account for thi

[2019-11-12 16:03] towoe commented on #100
`I-FENCE.I` is moved in https://github.com/riscv/riscv-compliance/commit/df18fa8d95e78f2c54d7a5d59a8b94b3f19967ef from `rv32i` to `rv32Zifencei`

[2019-11-12 16:09] towoe opened #459 "Add RV32Zicsr riscv-compliance target"
Tests are moved in https://github.com/riscv/riscv-compliance/commit/df18fa8d95e78f2c54d7a5d59a8b94b3f19967ef from `rv32i` to `rv32Zicsr`.
Target needs to be added to azure.

[2019-11-12 21:59] #459 closed

[2019-11-13 01:34] udinator opened #463 "Debug-mode privilege level"
Hi all,
I'm executing some tests after booting Ibex into User-Mode, and asserting debug stimulus, and I see the following:
![Screenshot from 2019-11-12 17-28-49](https://user-images.githubusercontent.com/16736281/68725023-01090380-0572-11ea-86a8-d11f863ff425.png)
In this test, our debug ROM is located at `0x80004f88`.
We can see that the core's privilege level stays at `PRIV_LVL_U` even after the

[2019-11-13 11:09] #454 closed

[2019-11-13 11:58] MarekPikula opened #467 "Optional U-Mode"
Would it be feasible to make U-Mode enable a core parameter like PMP?

I'm sure there are some use cases where it's not really needed, yet as small logic utilization as possible is required. Is the U-Mode so tightly integrated into the core that it cannot be easily separated as a parameter?

[2019-11-13 12:11] #444 closed

[2019-11-13 13:06] tomroberts-lowrisc commented on #467
We didn't parameterize it as it has such a small overhead (just a handful of extra flops). Is there a particular part where you think area could be saved?

[2019-11-13 13:12] MarekPikula commented on #467
Not really. To be honest I thought the overhead is bigger than a handful of extra flops.

[2019-11-13 13:27] tomroberts-lowrisc commented on #467
Yeah it's surprisingly small. If you're interested, all of the changes to implement it are in this commit 2aacd2b98be61fa4c9b633d1ddba9d1d5c894faf

[2019-11-13 13:33] MarekPikula commented on #467
Looks really good :+1: Yeah, so in the end it's indeed not needed to make it a parameter. Thanks for quick response.

[2019-11-13 13:33] #467 closed

[2019-11-13 14:00] towoe opened #468 "Trace simulator control"
Using the simple system example:
[code]
produces the following trace
[code]

From `crt0.S`
[code]
we see the last store instruction (which terminates the simulation via `simulator_ctrl.sv +73`) is not part of the trace.
Probably not the highest priority to fix, but wanted to document what I saw.

[2019-11-13 14:08] #450 closed

[2019-11-13 14:13] imphil commented on #468
We might want to delay calling $finish when ending the simulation slightly delayed to allow the tracer to capture this last instruction (that's what I'm guessing is going on). Would you mind giving that a try? (The code is in simulator_ctrl.sv.)

[2019-11-13 14:16] vit82 opened #469 "Failure with 4 nested interrupts"
I'm trying to play with nested interrupts. So I made a basic simulation where 4 fast interrupts irq_fast_i[3:0] are generated in a row.
Upon exit from the 4th (last) interrupt routine, the simulation crashes since PC gets mtvec value.
Besides I noticed that MPP unexpectedly (in my opinion) gets PRIV_LVL_U value taken from mstack_q.mpp upon exit from 2nd interrupt.

![image](https://user-images.git

[2019-11-13 14:39] vit82 commented on #469
Here's link to VCD of the whole simulation:
https://drive.google.com/file/d/1_tCNmXmqjzP6HRwKA9owZvmAPoSzf3ov/view?usp=sharing

[2019-11-13 15:49] tomroberts-lowrisc commented on #469
Thanks for the detailed report @vit82 - You're right it's incorrect for the core to jump to U-mode. Looking at it, I'm not sure how nested interrupts are possible with these non-standard mstack registers since they can't be written to.
I'll look into it.

[2019-11-13 20:59] sjgitty commented on #469
@udinator can you comment on the testing to date of nested interrupts?

On Wed, Nov 13, 2019 at 7:50 AM Tom Roberts <notifications@github.com>
wrote:

[2019-11-13 21:05] udinator commented on #469
@sjgitty - I haven't tested nested traps at all as of right now, that is something that I will now be testing along with U-mode and PMP.

[2019-11-14 09:37] #463 closed

[2019-11-14 11:55] #211 closed

[2019-11-14 11:57] #468 closed

[2019-11-14 12:20] #144 closed

[2019-11-14 14:02] tomroberts-lowrisc commented on #469
Hi @vit82 I looked into the waves and your sample code.
I believe the problem will be fixed by also saving the `mstatus` register to the stack (along with `mepc`) before re-enabling interrupts. The `mstatus` register should then be restored before executing `mret`.

Ignoring the non-standard `mstack` registers for a moment, the RISCV priv spec states that on executing an `mret` instruction, `mstat

[2019-11-14 18:39] vit82 commented on #469
Thanks! Putting the register mstatus on stack solved the issue!

[2019-11-14 18:39] #469 closed

[2019-11-14 19:07] Sarafim opened #473 "Cadence Genus doesn't remove performance counters with MHPMCounterNum = 0"
It would be nice to add some ability mechanism to remove mphp registers(mhpmcounter_q) from the design via some parameter or defines. I just have synthesised the core with and without them, and can established that mhpm register occupy about 35% of the total area, but they can be optional for some tasks.

[2019-11-14 21:29] imphil commented on #473
Have you synthesized with `MHPMCounterNum = 0`? (https://github.com/lowRISC/ibex/blob/master/rtl/ibex_core.sv#L17)

[2019-11-14 21:33] imphil commented on #469
@vit82 great that it works! Would you mind sharing a bit of example code that shows the entry/exit from a interrupt when using nested interrupts? That's something we really should put into our user guide. Or even better, would you mind doing a pull request with some documentation, e.g. added to https://github.com/lowRISC/ibex/blob/master/doc/exception_interrupts.rst?

[2019-11-15 08:31] Sarafim commented on #473
yes, but it removes only flip-flops in range of
ibex_core/cs_registers_i/mhpmcounter_q_reg[\*][0] : ibex_core/cs_registers_i/mhpmcounter_q_reg[\*][31]
and doesn't influence
ibex_core/cs_registers_i/mhpmcounter_q_reg[\*][32]-ibex_core/cs_registers_i/mhpmcounter_q_reg[\*][63]

[2019-11-15 09:21] tomroberts-lowrisc commented on #473
Looks like this could be coded differently to guarantee they get synthesised out

[2019-11-15 09:23] #274 closed

[2019-11-15 11:21] vogelpi commented on #213
With #457 , the one generic and the Xilinx-specific implementation got moved to `shared/rtl`. I suggest we use the same one for DV and remove the copy in `dv/uvm/tb`.

[2019-11-15 16:38] imphil commented on #473
@Sarafim Do you have code that optimizes the flops out fully? Would you mind opening a pull request with that? Please let me know if you get stuck anywhere in the process, we're happy to help you getting started.

[2019-11-15 17:31] vit82 commented on #434
@vogelpi , may you please, comment the following quotation from RISCV privileged spec:

![image](https://user-images.githubusercontent.com/55279763/68962798-184c2900-07de-11ea-961c-242bf00440af.png)

Why do the authors claim a two level stack since there's only one instance of xPP/xMPIE present?

[2019-11-15 17:38] vit82 commented on #469
May you, please, share the status of IBEX verification activities? Is there an access to verification plan?

[2019-11-15 18:23] Sarafim commented on #473
Unfortunately, I do not have any solution for this problem.
To see the area without the MPHP registers I just commented them.

[2019-11-15 18:24] udinator commented on #469
Hi @vit82 - As our verification of Ibex core is part of the larger OpenTitan verification effort, a DV status for the core can be found [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_core_ibex/doc/checklist.md), and complies with the OpenTitan Verification milestone checklist, found [here](https://github.com/lowRISC/opentitan/blob/master/doc/project/checklist.md).
Regarding the v

[2019-11-15 23:25] #213 closed

[2019-11-15 23:55] vogelpi commented on #434
Hi @vit82 ,

I interpret this part of the specification as follows:
- For the interrupt enable bit, the two-level stack comprises xIE = the current interrupt enable bit, and xPIE = the previous interrupt enable bit. When an interrupt/exception is taken, xPIE always gets the value of xIE, and xIE is always set to 0 (to allow software to backup CSRs and other registers).
- For the privilege level, t

[2019-11-18 09:30] vogelpi commented on #473
I just checked Vivado, it optimizes away the unused counters/flops correctly. @Sarafim, could you maybe give some information on the synthesis tool you are using?

[2019-11-18 10:37] Sarafim commented on #473
it is Genus from Cadence

[2019-11-18 15:19] tomroberts-lowrisc commented on #100
This might already have been debugged and recorded somewhere, but recording here for completeness.
The MISALIGN-JMP test fails as it assumes the core will force 32-bit alignment on instruction fetches, i.e. it assumes no C extension.
Ibex always has the C extension "enabled" and therefore it fetches and executes a 16bit aligned instruction (which decodes as an illegal value in the test).

[2019-11-19 09:57] tomroberts-lowrisc commented on #100
It looks like the MISALIGN-LDST fails due to the compliance suite expecting traps on unaligned ldst whereas Ibex has hardware support.

[2019-11-19 10:02] vit82 commented on #469
Thanks, @udinator , is there a possibility to track progress of verification? In the regression list you pointed I couldn't find status of the test cases (pass/fail) or other metrics (e.g. functional coverage).

By the way, is there a viewer to display conveniently yaml files?

[2019-11-19 11:56] Sarafim commented on #473
I have discussed this issue with Cadence support. To optimize all MPHP registers correctly the syn effort should be set as "high". It is true at least for genus 17.12.
Thanks!

[2019-11-19 13:48] vit82 opened #482 "An higher prio interrupt routine is interrupted by lower prio IRQ"
When executing a higher priority interrupt routine, it can be interrupted by a lower prio interrupt if MIE is set high and high prio IRQ source cleared. Is it an intended implementation?

Below is a screenshot where fast_irq_i[0] and fast_irq_i[1] occur simultaneously. First, fast_irq_i[1] is being served. But after I clear fast_irq_i[1] source & set MIE high, the routing is preempted by fast_irq_

[2019-11-19 13:49] vit82 commented on #482
[firmware_rv32imc.lss.txt](https://github.com/lowRISC/ibex/files/3864062/firmware_rv32imc.lss.txt)
Attaches is FW listing file.

[2019-11-19 14:15] #168 closed

[2019-11-19 14:15] #307 closed

[2019-11-19 14:16] vogelpi commented on #473
Thanks @Sarafim , that's good to know!

[2019-11-19 14:19] vogelpi commented on #482
Hi @vit82 ,
yes, that is intended behavior. As far as I know, the priority only matters if multiple interrupt lines are high and the core needs to decide which one to start handling first.

[2019-11-19 14:55] vit82 commented on #482
Alright, I see it's possible to implement the above mentioned function by adding extra logic outside CPU. But it would require replication of arbitration logic etc. So isn't it more optimal to put everything inside CPU core? Or may there's a use case when higher prio routine needs to be preempted by a lower prio routine?

[2019-11-19 15:02] vogelpi commented on #482
This behavior can be implemented in software: Before re-enabling interrupts by setting `mstatus.MIE` to 1'b1, the content of `mie` has to be modified. This CSR holds the interrupt enable of the individual interrupts.

For example when handling fast interrupt no. 1 (`mfip[1]`, interrupt ID 17), all `mie[17:0]` has to be set to 0. The interrupt routine is then only interrupted by fast interrupt no.

[2019-11-20 09:04] MarekPikula commented on #473
I guess it would be the best to include this information somewhere in documentation.

[2019-11-21 16:52] vit82 commented on #482
Ok, your suggested approach works. Though it increases interrupt service overhead.

[2019-11-21 16:52] #482 closed

[2019-11-21 18:13] imphil commented on #482
Please look into an external interrupt controller, like PLIC or CLIC, if you are interested in more hardware processing for your interrupts.

[2019-11-21 18:34] TAD-dev opened #485 "Regression testing failed"
I've tried to run regression test but it has failed a few times. I debugged one of the fails and found differnce between iss_sim and rtl_sim program flows.
So, at asm program there is a jump to subroutine. Trace log of this jump looks the same for both iss and rtl simulations but return code differs.

Subrotine call code at main program looks like this [(line 54)](https://github.com/lowRISC/ibex/f

[2019-11-21 19:14] udinator commented on #485
Hi @TAD-dev - Thanks for reporting this! It would appear that in the `init_user_mode` section, there is an access to `sstatus`, which Ibex does not support. Looks like this is an issue with the instruction generator, rather than the core. I'll prepare a fix in the generator and update the vendor directory accordingly.

[2019-11-21 20:09] udinator commented on #485
@TAD-dev  - #486 and #487, once merged, should fix this issue; it was mostly fixes on the flow side. Thanks again for raising this issue!

[2019-11-22 00:34] udinator commented on #485
Can you sync to the master branch and try running this test again? Everything should be fixed now.

[2019-11-22 07:13] madhava-sahu opened #489 "Can we run Random test generator with Model sim?"
Hi all,

I installed the ibex SV/UVM instruction generator for RISCV processor verification.
I have done this:
          python3 run.py --test riscv_arithmetic_basic_test --simulator questa
It is showing an error message. please find the attachment.
![Ibex_error_1](https://user-images.githubusercontent.com/55076352/69405579-0d395180-0d26-11ea-815c-bccf12b721d6.png)

Please help me..

[2019-11-22 11:07] TAD-dev commented on #485
After update I've got an error related to randomization on gen step. Please find error message of this error attached below:
[code]

[2019-11-22 21:14] udinator commented on #485
Could you please re-sync to master and re-run the test?

[2019-11-22 22:44] udinator commented on #489
Hi @madhava-sahu, Questa is supported for the RISCV-DV instruction generation.
See https://github.com/google/riscv-dv/issues/262 for a similar issue with the Questa setup for RISCV-DV. Have you set the `QUESTA_HOME` environment variable?

[2019-11-22 22:58] udinator opened #492 "MEPC written on `mret` instructions"
Hi all,
I noticed that on an `mret` instruction, `mepc` will get overwritten with the contents of `mstack_epc` as shown below:
![Screenshot from 2019-11-22 14-49-13](https://user-images.githubusercontent.com/16736281/69465985-a9b81f80-0d37-11ea-9091-a7074272aeeb.png)
This is causing some test failures, as this update is not reflected in the logs, resulting in a register write mismatch since the Ib

[2019-11-23 04:10] madhava-sahu commented on #489
@udinator Thanks for the reply.

[2019-11-25 10:54] TAD-dev commented on #485
I still have the same error.

[2019-11-25 11:26] GregAC commented on #492
I think the issue is the csr_restore_mret_i signal. It's asserted on any mret but should only be asserted when we're in nmi mode (as per https://github.com/riscv/riscv-isa-manual/issues/261):

https://github.com/lowRISC/ibex/blob/bb7acbdb7a1c1240cf93787396ea1f4812ca3d5e/rtl/ibex_cs_registers.sv#L547-L557

https://github.com/lowRISC/ibex/blob/bb7acbdb7a1c1240cf93787396ea1f4812ca3d5e/rtl/ibex_contro

[2019-11-25 12:57] vogelpi commented on #492
Thanks @udinator for opening the issue and @GregAC for your suggestion. This makes sense.

But I think `csr_restore_mret_i` should not be changed as `priv_lvl_d`, `mstatus` need to be changed independently of `nmi_mode_q`. We should probably feed the `nmi_mode_q` to `ibex_cs_registers.sv` as we do for `debug_mode_q` and then only use this to decide what should happen with `mepc_d`. WDYT?

[2019-11-26 00:39] danghai commented on #489
@madhava-sahu You use the `modelsim_ase` not `questa`. Could you check `verilog_src/uvm-1.2` in your directory?
You should remove `modelsim.ini` when you rerun. You also use `verror <number-error>` to see more detail about error. Ex: in this situation, `verror 25`.

[2019-11-26 08:52] madhava-sahu commented on #489
Hi @danghai,
Thanks for the reply.
Yes, uvm-1.2 is in the modesim_ase, verilog_src folder. I executed the run.py after deleting the modelsim.ini.
I am getting errors like uvm headers not found.
![Error_2](https://user-images.githubusercontent.com/55076352/69613722-109b4880-1058-11ea-8b64-ef2c280acee2.png)

Please help me..

[2019-11-26 09:29] danghai commented on #489
Could you provide the `compile.log` in your output directory?

[2019-11-26 10:07] madhava-sahu commented on #489
Hi @danghai

command: Python3 run.py --test riscv_arithmetic_basic_test --simulator questa
Please find the compile.log
[compile.log](https://github.com/lowRISC/ibex/files/3891215/compile.log)

[2019-11-26 16:49] esshiu commented on #89
@imphil Friendly ping. Any comments on how to add "fls","bits, bitsi", "bitc, bitci" into the B-extension spec?

[2019-11-26 17:52] danghai commented on #489
It cannot find  find `include file "uvm_macros.svh" in directories:
Could you try run vmap command again. Ex:
[code]

[2019-11-26 18:06] imphil commented on #89
This issue is about implementing the B extension. If you'd like to implement instructions which are not part of the B extension today then there are two ways forward: one is to convince the authors of the B extension to include these instructions. Please follow up with the RISC-V bitmanip working group on that. The other option is adding a non-standard ISA extension to Ibex. That's something we ge

[2019-11-26 19:01] esshiu commented on #89
Philip,

We'll likely go with adding a non-standard ISA extension to Ibex. We feel it's a faster route. I will start a new issue for the new instructions.

Thanks.

-Eric

[2019-11-26 19:17] esshiu opened #495 "New bit manipulate instruction request"
We're interested in the following instructions. They're not currently in RISC-V ISA extension.

**fls (find the largest bit set)**. eg 31 - clz
bits (bit-set-by-position) and bitsi (immediate version)
bitc (bit-clear-by-position) and bitci (immediate version)

Use cases:
fls(Find largest bit set; fls rd, rs). This and bitc are used in the inner loop to find-and-extract bits.
Equivalent to:
clz rd,

[2019-11-27 04:40] madhava-sahu commented on #489
Hi @danghai
Thanks for the reply...
We are using Modelsim.
In this we are also using the same command from the simulator.yaml.
vmap mtiUvm $QUESTA_HOME/verilog_src/uvm-1.2
export QUESTA_HOME=/home/sevyamm/intelFPGA/16.1/modelsim_ase (bashrc)
The output is coming as mentioned in figure.
![Error_3](https://user-images.githubusercontent.com/55076352/69694206-0cc20180-10fe-11ea-9680-ad6b1e79438c.png)

[2019-11-27 07:34] danghai commented on #489
It should
[code]

[2019-11-27 08:47] #391 closed

[2019-11-27 08:53] madhava-sahu commented on #489
Hi @danghai

As i told you that I have modelsim.
In the installed directory of the modelsim has this path:
/home/sevyamm/intelFPGA/16.1/modelsim_ase/verilog_src/uvm-1.2

Can't we move further with the modelsim?

[2019-11-27 09:07] GregAC commented on #495
From the working draft here: https://github.com/riscv/riscv-bitmanip/blob/master/bitmanip-0.92.pdf

sbset, sbclr and the their immediate versions implement the instructions you've given the bits/bitc mnemonics.

I don't immediately see a FLS equivalent but from your desired use-case 'the inner loop to find-and-extract bits' does the order matter (i.e. from high bit to low bit or vice-versa) as you

[2019-11-27 11:41] imphil opened #496 "Verilator ELF loading: zero BSS segment"
Currently, the ELF loader in verilator_sim_ctrl doesn't zero the BSS segment:

https://github.com/lowRISC/ibex/blob/ce7e38351e28bf54cbc7c2856ce6b65b9d2a3fbb/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.cc#L721

More discussion here: https://github.com/lowRISC/ibex/pull/411#issuecomment-555924017

[2019-11-27 15:40] TAD-dev opened #497 "Cadence simulator plusargs command line argument parsing error"
Verification environment uses SystemVerilog line argument for getting signature address [(core_ibex_env_cfg.sv)](https://github.com/lowRISC/ibex/blob/ce7e38351e28bf54cbc7c2856ce6b65b9d2a3fbb/dv/uvm/env/core_ibex_env_cfg.sv#L30). Value is passed to environment at [(makefile)](https://github.com/lowRISC/ibex/blob/ce7e38351e28bf54cbc7c2856ce6b65b9d2a3fbb/dv/uvm/Makefile#L132) at run_sim step. The pro

[2019-11-27 15:45] imphil commented on #497
Thanks for this bug report. Would you mind doing a pull request with your suggested change?

[2019-11-27 22:33] esshiu commented on #495
Randall,

It seems only FLS is missing from the latest bit manipulation instruction.
Can you please review Greg’s comment below?

Thanks.

Eric

On Wed, Nov 27, 2019 at 1:07 AM Greg Chadwick <notifications@github.com>
wrote:

[2019-11-27 23:01] esshiu commented on #495
From the RTOS side we could use CTZ and loop over bits from low to high in
many places (enabled timers, etc.).  It would be inconvenient to have to
reorder task priorities so 0=high instead of 0=low, since we make some
assumptions that task_id=0 is the idle task.

Note that "sub t1, 31, t1" is 2 instructions, not one:

sub t1, zero, t1
addi t1, t1, 31

or requires an additional register:
(outside

[2019-11-29 17:01] imphil opened #501 "syn: Remove copy of prim_clock_gating.v and use shared version instead"
Having multiple versions of that file in the tree confuses users to pick the wrong one, so the one in `syn` should go.

[2019-11-29 17:02] imphil opened #502 "syn: Integrate with fusesoc"
Instead of having a shell script, the yosys synthesis should be called as normal fusesoc target.

[2019-11-30 06:01] eshita18 opened #503 "UVM Modelsim compile problem: Could not link 'vsim_auto_compile.so'"
I am trying to simulate testcase riscv_arithmetic_basic_test in uvm env in the path /opentitan-master/hw/vendor/lowrisc_ibex/dv/uvm in modelsim 10.5b but I am getting this fatal error : Fatal: ** Error: (vsim-3828) Could not link 'vsim_auto_compile.so': cmd = '/home/sevyamm/intelFPGA/16.1/modelsim_ase/gcc-4.7.4-linux/bin/gcc -shared -fPIC -m32 -B/usr/lib32 -o "/tmp/sevyamm@sevyamm-Lenovo-ideapad-3

[2019-12-02 10:55] TAD-dev commented on #497
Yes, I'm gonna to create one. Sorry for late response.

[2019-12-02 10:56] imphil commented on #503
@eshita18 I see you're using the same home directory as in #489. How are the two issues related?

[2019-12-02 11:18] eroom1966 opened #505 "Referring to Document revisions"
We have released a simulation model of the lowRISC processor as part of the riscvOVPsim simulation engine. We would like to refer to the documentation based upon the date at which the implementation was derived, but it seems the 'online docs' are always referring to the HEAD/Master revision

How can we refer to a copy of the docs for the specific implementation ?
Are you intending to use the relea

[2019-12-02 11:24] imphil commented on #505
Document revisions match Ibex revisions, but there is currently no tagged release of Ibex. We plan to do one in not too distant future, but no specific dates have been set yet. Up until this point, you can refer to the git commit hash, and need to build the documentation yourself from this git revision.

[2019-12-02 20:06] esshiu commented on #89
Philip,

I started the discussion https://github.com/lowRISC/ibex/issues/495#issuecomment-558996640

The conclusion is that it's okay not to support "fls". "sbset"(aka. "bits") and "sbclr"(aka "bitc") are already in https://github.com/riscv/riscv-bitmanip/blob/master/bitmanip-0.92.pdf.

I'll look into the implementation plan for the following high priority instructions.

clz (count leading zeros)

[2019-12-02 20:08] esshiu commented on #495
It's okay to close the issue per Randall's comment above.

-Eric

[2019-12-02 20:08] #495 closed

[2019-12-03 03:50] eshita18 commented on #503
We are trying to run lowRISC ibex env in Modelsim. #489 is related to run random test generator which we were trying to do in modelsim only.
Can you tell me something about the fatal I am getting now??

[2019-12-03 05:20] raulbehl commented on #503
As far as I am aware the mentioned modelsim version (modelsim 10.5b) doesn't support UVM. What I know is that Modelsim supports all SystemVerilog/Verilog features except:
- SystemVerilog assertions
- SystemVerilog coverage
- randomize method
- program blocks

The above language features are available in Questasim.
One could still compile UVM based testbenches but without the randomize method suppo

[2019-12-03 05:42] asb commented on #89
Hi Eric. I'd strongly counsel against implementing subsets of the bitmanip extension other than the proposed Zb* subsets. If you feel that the currently proposed Zb* subsets don't match your needs, now is the time to suggest alternatives to the RISC-V bitmanip working group. The huge number of possible RISC-V has advantages, but can of course also be a burden in terms of compiler support and testi

[2019-12-03 06:14] eshita18 commented on #503
Yeah, UVM is supported in modelsim except of these features.
For now, we are trying to simulate a simple adder env with DPI in questa and modelsim. In both, it is giving same fatal. Is it because of DPI??
This is my code:

#include <unistd.h>
#include <stdio.h>
#include <stdlib.h>
#include <errno.h>
//#include <netinet/in.h>
//#include <arpa/inet.h>
//#include <fcntl.h>
#include "dpi_header.h"
#in

[2019-12-03 17:05] esshiu commented on #89
Alex,

Yes, you're right. Zbb, Zbs, and Zbp cover our need.

-Eric

[2019-12-03 19:05] udinator commented on #485
Are you using IUS or Xcelium  to run the simulations?

[2019-12-04 12:04] TAD-dev commented on #485
This error happens on "gen" step where ius is used for [compilation](https://github.com/lowRISC/ibex/blob/master/vendor/google_riscv-dv/yaml/simulator.yaml#L36) and [simulation](https://github.com/lowRISC/ibex/blob/master/vendor/google_riscv-dv/yaml/simulator.yaml#L45).

[2019-12-04 13:29] tomroberts-lowrisc commented on #422
This is now done

[2019-12-04 13:29] #422 closed

[2019-12-04 13:31] towoe commented on #496
The `crt0.S`s in `examples/sw` clear the BSS section.
This is based on the linker script to provide the start and end position of BSS and of including the zero-ing to the initializing sequence.
So I assume we can require that the loaded software is responsible to set the zeros itself.
Would a readme for simutil_verilator make sense to you @imphil?
This would for now just contain the requirement an

[2019-12-04 13:59] imphil commented on #496
Yes, sounds like a plan.

[2019-12-04 14:38] danghai commented on #489
@madhava-sahu Sorry for late response. I am not sure about `modelsim_ase`. I usually use `questa`.
Mentor released the new tool named `qrun` (version 2019.4). It provides pre-built flows for coverage, debug, UVM and other flows. You should try to use it when you have the chance :)

[2019-12-04 21:11] #497 closed

[2019-12-05 00:42] #496 closed

[2019-12-05 11:18] #485 closed

[2019-12-06 05:00] madhava-sahu opened #514 "Getting Timeout Error with spike while running random test generator.."
Hi all,

I am getting timeout errors with spike while executing the random test generator.
command: python3 run.py --test riscv_csr_test --simulator questa
![spike_error_01](https://user-images.githubusercontent.com/55076352/70297248-4e942b80-1813-11ea-80f6-20a0f11ba9cd.png)
![spike_error_01_bashrc](https://user-images.githubusercontent.com/55076352/70297249-518f1c00-1813-11ea-9b40-dbbec54aee51.pn

[2019-12-06 19:09] udinator commented on #514
Hi @madhava-sahu - thanks for reporting this! I will look into it.

[2019-12-06 23:17] udinator commented on #514
I ran the command `python3 run.py --test riscv_csr_test --simulator questa` that you pasted above, and it ran fine, without spike simulator timing out. This test is configured to not run ISS simulation at all, so Spike should not even run at all, so I'm not sure why it's timing out, can you paste what the riscv_csr_test entry in the testlist looks like? There should be a field `no_iss: 1` that dis

[2019-12-07 06:07] madhava-sahu commented on #514
Hi  @udinator
Thanks for the reply.
I have checked as per your inputs. I was changed the no_iss: 0.
In the base_test_list.yaml  file, there are available settings are mentioned below
![spike_error_4](https://user-images.githubusercontent.com/55076352/70369859-85d30d00-18e5-11ea-8e6a-63c5f42ec654.png)
I executed the same command: python3 run.py --test riscv_csr_test --simulator questa

Again I am g

[2019-12-07 07:18] udinator commented on #514
Can you change no_iss to 1 and rerun the test? This test is not going to work correctly if no_iss is set to 0.

[2019-12-07 08:53] madhava-sahu commented on #514
Hi @udinator

I changed no_iss: 1 and reran it.
The output is:
![spike_error_5](https://user-images.githubusercontent.com/55076352/70371739-018c8400-18fd-11ea-99fc-5450e3a5945a.png)
In this case, iss is found but it not started to execute the binaries.
what should i do?

[2019-12-07 18:29] udinator commented on #514
That is perfectly fine because this test does not need ISS to run, as it is completely self checking and provides it's own checking mechanism unlike the other tests that utilize the full ISS flow. I can modify the run script too avoid printing out the messages relating to ISS for this csr test to prevent confusion. No ISS log should be produced for this test, there will only be a log produced by t

[2019-12-09 12:41] gouse045 commented on #514
Hi @udinator,
I am also facing this issue. actually, if run the below command:
python3 run.py --test riscv_arithmetic_basic_test --simulator questa

In the output directory, not getting asm file. because it is written for the riscv_csr_test.

Can u suggest what is the exact flow of the random instruction_generator.

[2019-12-09 17:32] udinator commented on #514
Hi @gouse045 - if I understand correctly, you are running the riscv_arithmetic_basic_test but are not getting an output assembly test file?

[2019-12-10 03:55] gouse045 commented on #514
Yes @udinator.

[2019-12-10 04:13] udinator commented on #514
I see. Can you post the compilation log and the simulation log that you are getting output? The command you are running should be correct and should result in the asm files being generated

[2019-12-10 06:11] gouse045 commented on #514
Hi @udinator
To run the below command:
python3 run.py --test riscv_arithmetic_basic_test --simulator questa

It needs assembly file to run. But the assembly file need to be generated by run.py  In the run.py, it is written for the csr_test.
Please find the compile.log
[compile.log](https://github.com/lowRISC/ibex/files/3943240/compile.log)
Please suggest me..

[2019-12-10 18:15] udinator commented on #514
It seems that compilation of the instruction generator is failing for you, which is why the riscv_arithmetic_basic_test is not getting generated; the riscv_csr_test uses a separate python script for generation, which is why you are getting the riscv_csr_test asm file output. This seems to be the main error that is killing your compilation:
`** Error: /home/ubuntu/Desktop/lowrisc/ibex/vendor/google

[2019-12-11 15:02] #382 closed

[2019-12-11 15:02] #473 closed

[2019-12-11 16:39] GregAC commented on #492
You're right can't just alter the behavior of the `csr_restore_mret_id_o` signal. I'll do a PR with what you suggest, feeding `nmi_mode_q` into `ibex_cs_registers` and ensure the mret behaviour is altered appropriately.

[2019-12-12 13:55] towoe commented on #2
The interface needs to be updated to support [CSRs](https://github.com/SymbioticEDA/riscv-formal/blob/master/docs/rvfi.md#control-and-status-registers-csrs).

[2019-12-16 14:31] vogelpi commented on #434
I am closing this issue as there has not been any activity for one month now. Feel free to re-open if you would like to re-discuss or have further questions related to that issue.

[2019-12-16 14:31] #434 closed

[2019-12-16 14:43] vogelpi commented on #89
Adding @ganoam to the discussion. He is joining us in January and as part of his Master thesis do a design space exploration on the current draft of the bit-manipulation extension. I.e., he will also look at other subsets of the spec and how to implement it in Ibex.

[2019-12-16 14:51] vogelpi opened #522 "FPGA Optimizations"
This issue for tracking different work items for optimizing Ibex for FPGA deployment. @ganoam will join us in January and as part of his Master thesis look into this. Things to investigate:
- [x] Register file: Leverage RAM32M primitives or similar instead of FFs/latches.
- [x] ALU: Add a new single-cycle multiplier that makes better use of the available DSP slices. (https://github.com/lowRISC/ibe

[2019-12-16 14:57] GregAC commented on #522
In addition to looking at Xilinx FPGAs let's investigate fitting an Ibex into the ICE40 family (http://www.latticesemi.com/iCE40). They're popular for open hardware FPGA boards and an open source tool chain exists for them.

I tried a brief experiment targeting the LP8K and it just about fit in terms of LUTs but I terminated it before it finished place & route (I suspect it will fail to fit in the

[2019-12-16 16:03] asb commented on #522
CC @wallento who I think started looking at Ibex+ice40?

This is great as a tracking issue (thanks Pirmin!), but we should move any further discussion of the more concrete steps to linked issues (at least the reg file and MUL).

[2019-12-16 16:05] wallento commented on #522
Hi,
yes, I have been starting to port it to the Fomu during the summit, but it did not fit so far. Happy to share what I have done as a patch to the Fomu workshop repository, which is a great starting point. Will do so asap.
Cheers

[2019-12-16 19:51] #492 closed

[2019-12-17 10:50] imphil opened #526 "[bitmanip] Implement Bit Counting (clz, ctz and pcnt) instructions"
Implement the CLZ instruction of the bitmanip extension (count leading zeros). This is the first instruction to implement from bitmanip, it will therefore also require a bit of infrastructure work. See the documents linked in #89 for more information.

[2019-12-17 10:52] imphil commented on #89
I went ahead and added an implementation plan and an implementation tracking sheet to the description of this bug. Please have a look at these documents for more information.

We'll use this bug for tracking the overall progress towards implementing the bitmanip extension. Please use individual issues and PRs to work on parts of the problem.

To get started, I've opened #526 to implement the first

[2019-12-17 11:04] GregAC commented on #89
Thanks for setting up the documents @imphil.

Looking through the tracking spreadsheet not all parts of the bitmanip spec are in there, Zbc, Zbr, Zbm appear to be missing.

[2019-12-17 13:11] ganoam commented on #89
Hi Guys,
Thanks @vogelpi for the introduction and thank you @imphil  for preparing the documents! I will start with a few FPGA Optimizations (Issue #522) in January and then move on to this one.
I am looking forward to working with you.
see you soon,
Noam

[2019-12-17 13:18] ganoam commented on #522
Hi everyone,
Thank you @vogelpi for the introduction. I am looking forward to working with you.
see you soon,
Noam

[2019-12-17 14:31] imphil commented on #89
Good point Greg, Zbc and Zbr were missing, Zbm is RV64-only.

[2019-12-17 14:54] imphil opened #527 "Implement single-cycle multiplier"
Currently ibex ships with two multiplier implementations, a fast one and a slow one. Both of them require multiple cycles. Implement an even faster multiplier within one cycle.

[2019-12-17 16:50] esshiu commented on #89
@imphil Can you please share the link to the implementation plan and an implementation tracking sheet?

Thanks.

-Eric

[2019-12-17 17:31] imphil commented on #89
Eric, please look at the top of this issue, they see both linked there.

[2019-12-21 02:32] paulzcgu opened #534 "Inconsistency between Spike and OVPSIM"
The post comparison results are different when ISS switched from Spike to OVPSIM for two particular cases:
* riscv_unaligned_load_store_test
* riscv_reset_test

### Environment:
[code]

### Issue:

The results of the `post_compare` step

with ISS = 'spike':
* riscv_unaligned_load_store_test:  Compare result[FAILED]: 84 matched, 18 mismatch
* riscv_reset_test:  Compare result[FAILED]: 0 matched, 22

[2019-12-21 02:41] taoliug commented on #534
Please note ibex does support unaligned load/store, ovpsim has been configured to match RTL behavior. If you want to simulate with spike, please enable unaligned load/store and build spike again
https://github.com/riscv/riscv-isa-sim/blob/master/config.h.in#L85

[2019-12-21 02:55] paulzcgu commented on #534
@taoliug , thanks for the clarification
I didn't change the ibex's testlist.yaml. https://github.com/lowRISC/ibex/blob/e9a6295e57e5ef83ba6fe4d1324a2abbb7032428/dv/uvm/riscv_dv_extension/testlist.yaml#L370
This test was enabled by default.

Am I correct that OVPSIM is the preferred ISS simulator for ibex?

[2019-12-21 03:13] taoliug commented on #534
Both spike and ovpsim are supported. ovpsim is more configurable. As I mentioned in the previous comment, in order to get spike to match ibex RTL behavior, you need to rebuild the tool with unaligned load store enabled.

[2019-12-23 20:35] #317 closed

[2020-01-02 12:20] #304 closed

[2020-01-03 08:35] vogelpi opened #540 "Check how X values end up in C decoder"
Currently, X values can end up in the C decoder when the IF stage does not have a valid instruction. This requires the assertions in the C decoder to be qualified with `instr_valid` (see #536).

We allow X values for uninitialized memories and the DV environment can drive them on the external bus. It seems that the X can come from both the uninitialized flops in the prefetch buffer (`ibex_fetch_fi

[2020-01-07 10:24] GregAC commented on #473
@Sarafim please note I've just made a fix to Ibex that should mean the unused performance counters won't be included regardless of optimisation level see commit https://github.com/lowRISC/ibex/commit/9c6ddae626ac22eb734be81509b9b7456174d8a5

[2020-01-07 19:29] #534 closed

[2020-01-07 19:30] paulzcgu commented on #534
Tested with a rebuilt spike. All works now. Thanks

[2020-01-09 22:13] udinator opened #548 "Illegal instruction assertion fire"
Hi all,
I'm seeing a potential issue where, upon decoding an illegal instruction that contains `x` within it, Ibex will display that the instruction is illegal, but assertions in the LSU will fire, causing the simulation to error out. The simulation log is shown below,
![Screenshot from 2020-01-09 14-08-58](https://user-images.githubusercontent.com/16736281/72109003-aaa61000-32e9-11ea-9794-156f8a1

[2020-01-13 10:10] GregAC commented on #548
I'll pick this up. I'm making some changes to the decoder as part of my timing optimisations for the branch target ALU so I want to get this test working to validate them.

[2020-01-14 09:45] GregAC commented on #548
Solving this is a bit of a tricky one, or rather choosing which of the obvious solutions is the way to go is tricky.

The decoder pulls Xs out of the illegal instruction and these become immediate operands/select signals for operands muxes/register addresses etc. This results in Xs being fed into the ALU so Xs in the calculated address which is where data_offset comes from and hence trigger the as

[2020-01-14 09:47] GregAC commented on #548
@imphil @udinator @vogelpi @tomroberts-lowrisc thoughts appreciated.

[2020-01-14 09:53] tomroberts-lowrisc commented on #548
I'd tend towards 3 or 4, probably 4.
I view X insertion as more of a signal protocol-level check, i.e. the rdata should be X when rvalid isn't high, but not otherwise. If rvalid is high the actual instruction word can be garbage, but not X. Most protocol checkers would enforce that on typical bus protocols.

[2020-01-14 09:56] vogelpi commented on #548
Thanks @GregAC for looking into this.

IMO Option 3 is the best but I think it is problematic that `illegal_insn` is masking assertions even if the instruction is known/has no X in it. Question: What is the desired behavior in the case of an illegal instruction with X in it? Should the simulation abort because of an SVA firing in the decoder or do we expect the simulation to continue running and t

[2020-01-14 10:11] GregAC commented on #548
Well my suggestion for the style guide was going to be along the lines of if you want to qualify the !$isunknown assertion for a case input you must have unqualified ASSERT_KNOWN on the case statement outputs (or alternatively say you have unqualified ASSERT_KNOWN on the inputs or the outputs, with input preferred). So we wouldn't end up totally disabling assertions around this case statement for

[2020-01-14 10:55] GregAC commented on #548
Opened the issue against the style guide (see github's helpfully generated auto-link). Realised that ASSERT_KNOWN on the output is probably pointless given case statements that follow our style guide cannot generate X anyway.

[2020-01-14 11:34] ganoam commented on #522
Hi everyone,
I have implemented a first version of the new reg file. See linked Pull request. This is my first PR, so if I did anything wrong, please let me know.

[2020-01-16 19:42] udinator commented on #469
Hi @vit82 , apologies for late response. As of right now, there is no progress/coverage tracker for Ibex verification, the regression list just displays the test case configuration to pass into the simulation flow.
As far as yaml files, I just open them in a text editor to display them, as it is just another formatting language similar to hjson format.

[2020-01-16 21:29] udinator opened #557 "Nested NMI interrupts"
Hi,
When debugging a test case in which I asserted two nested NMI interrupts to force the core to respond to the second NMI interrupt while executing the handler for the first NMI, resulting in this waveform:
![Screenshot from 2020-01-16 13-01-12](https://user-images.githubusercontent.com/16736281/72562455-560e1200-3860-11ea-82bc-b7b538baff8d.png)
At the location of the cursor, Ibex is in the midd

[2020-01-17 09:46] vogelpi commented on #557
Hi @udinator,
thanks for filing this issue and the detailed report.

Let me answer your last question first: No, Ibex cannot handle nested NMIs. There is only one NMI line and when Ibex is in NMI mode already (`nmi_mode_q`) any activity on the NMI line is ignored. Activity on other interrupt lines must be ignored by not setting mstatus.MIE back to 1 (this would need to happen in software, the hard

[2020-01-17 10:24] imphil commented on #557
Thanks for your answer @vogelpi. I think we had now two people being confused by that. Is there anything we can do to improve (the visibility of) the documentation, either in the source code, and/or in the rst documentation?

[2020-01-17 10:31] GregAC commented on #557
Is it actually specified anywhere in the RISC-V specs that when you're handling an NMI you ignore the NMI line?

Whilst we don't support nested NMIs I'd say the current behaviour of being in an NMI handler, setting mstatus.MIE, seeing another NMI and ending up with an mcause indicating a fast interrupt is surprising.

From my quick reading of the specs when we get an NMI we should always jump to t

[2020-01-17 13:26] ganoam commented on #527
Hi everyone,
I have drafted a single cycle multiplier implementation (PR: #559). It is largely just a simplification of the fast implementation. It results in 4 DSP48E1 primitive blocks, in the Artya7-100 example, where the 'fast' implementation used the same block just once.

[2020-01-17 13:28] ganoam commented on #522
Hi everyone,
A single cycle multiplier implementation is ready for review in Pull Request #559 . I am looking forward to your feedback!
cheers,
Noam

[2020-01-17 17:01] udinator commented on #557
@vogelpi - Thanks for the detailed answer! I am indeed setting mstatus.MIE back to 1 in the interrupt handler for these nested interrupt scenarios, just like you said. Correct me if I'm wrong, but from what you are saying, it sounds like nested interrupts should not be allowed during NMI handling. Would it be possible to either mask this off in hardware or specify this in the documentation? Like @

[2020-01-17 23:22] udinator commented on #557
A follow-on question somewhat related to this discussion: do we allow debug requests to be sent to the core during handling of NMI interrupts?

[2020-01-23 11:43] nak-tech opened #562 "failed in running make"
the hierarchy of riscv compiler is
/opt/riscv/
|--bin
|--include
|--lib
|--libexec
|--riscv32-unknown-elf
|--riscv64-unknown-linux-gnu
|--share
|--sysroot

in example/sw/led directory, run command:  make CC=/opt/riscv
log is:

/opt/riscv -march=rv32imc -mabi=ilp32 -static -mcmodel=medany -fvisibility=hidden -nostdlib -nostartfiles -Wall -g -Os -MMD -c  -o led.o led.c
make: execvp: /opt/riscv: Perm

[2020-01-23 11:49] GregAC commented on #562
The CC parameter should point to a compiler binary, not to the root of the tree containing the toolchain.

So in your case

[code]

May do the trick

[2020-01-23 11:56] nak-tech commented on #562
I do not have -gcc path in my /opt/riscv folder. tried following 2 options:

 make CC=/opt/riscv/riscv32-unkonwn-elf-gcc
/opt/riscv/riscv32-unkonwn-elf-gcc -march=rv32imc -mabi=ilp32 -static -mcmodel=medany -fvisibility=hidden -nostdlib -nostartfiles -Wall -g -Os -MMD -c  -o led.o led.c
make: /opt/riscv/riscv32-unkonwn-elf-gcc: Command not found
Makefile:50: recipe for target 'led.o' failed
make:

[2020-01-23 12:58] imphil commented on #562
GCC is in the `bin` folder, please use the path exactly as @GregAC has provided it.

[2020-01-23 13:24] nak-tech commented on #562
stuck at next step:
ghlab@build_riscv_pc:~/work/ibex/examples/fpga/artya7-100$ fusesoc --cores-root=. run --target=synth --setup --build lowrisc:ibex:top_artya7_100

ERROR: Conflicting requirements:
Requirements: 'lowrisc_ibex_top_artya7_100 == 0.1-0' <- 'lowrisc_ibex_fpga_xilinx_shared >= 0-0'
    +lowrisc_ibex_top_artya7_100-0.1-0 was ignored because it depends on missing packages
Requirements:

[2020-01-23 13:26] imphil commented on #562
Please run fusesoc in the top-level directory of the source tree, i.e. in `~/work/ibex`.

[2020-01-23 13:30] nak-tech commented on #562
many thanks. all running.

[2020-01-23 13:30] #562 closed

[2020-01-23 16:24] nmoroze commented on #540
Although I don't think I encountered the exact issue being discussed here, I did notice some uninitialized flops with X values in `ibex_fetch_fifo` (specifically `err_q` and `rdata_q`). I haven't have a chance to trace them and see if it's possible for those particular X's to propagate, but I'm curious if there's any reason not to initialize them on reset just to be safe?

[2020-01-24 19:06] pfmooney opened #567 "Reads of `mip` CSR should not depend on corresponding fields in `mie`"
Currently, the bits in `mip` are ANDed with those in `mie`:
https://github.com/lowRISC/ibex/blob/43752a6c193893d4750daceff5f284f22da52f77/rtl/ibex_cs_registers.sv#L241-L245
This is at odds with the specification, which states the mechanisms by which those bits would be cleared:
-  The MTIP bit is read-only and is cleared by writing to the memory-mapped machine-mode timer compare register
-  MEIP i

[2020-01-27 09:40] vogelpi commented on #567
Thanks @pfmooney for opening this issue. I think you are right, `mip` should not depend on `mie` but the two are combined to decide whether an interrupt is actually taken. This should be fixed. Hopefully I can do it this week.

I am also including @davideschiavone , I think RI5CY has the same issue.

[2020-01-27 09:42] vogelpi commented on #567
I am also adding @udinator and @taoliug as this needs to be accounted for in verification as well.

[2020-01-28 10:50] imphil opened #569 "Add missing casts to enums (most likely in DV code only)"
@danielmlynek discovered this in https://github.com/lowRISC/ibex/pull/566:

All line where illegal assignment are done is now marked with warning ie:
WARNING VCP2694 "Assignment to enum variable from expression of different type." "/home/danielm/gitlab/ibex/dv/uvm/tests/core_ibex_test_lib.sv" 781  1

This argument will be no longer needed when explicit cast will be used on such illegal assignment

[2020-01-28 14:37] danielmlynek commented on #569
Riviera compiler returns this warning for below lines - so all of them need to be reviewed to see if needs explicit casting
WARNING VCP2694 "Assignment to enum variable from expression of different type." "/home/danielm/gitlab/ibex/dv/uvm/tests/core_ibex_test_lib.sv" 201  1
WARNING VCP2694 "Assignment to enum variable from expression of different type." "/home/danielm/gitlab/ibex/dv/uvm/tests/core

[2020-01-28 14:45] imphil commented on #569
Thanks for the list @danielmlynek. @udinator would you mind having a look at these warnings/errors and add an explicit cast? (Probably you can get VCS to report similar warnings.)

[2020-01-28 16:37] davideschiavone commented on #567
Thanks @vogelpi  - CLINT porting on RI5CY is actually happening right now so thanks a lot for the tip!

[2020-01-28 19:19] udinator commented on #569
@danielmlynek - thank you for finding out all of these instances!
@imphil - Sure, I will go through the DV code and scrub all of these warnings.

[2020-01-28 23:47] udinator commented on #569
@danielmlynek, I've submitted a PR that hopefully address most/all of these Riviera compile warnings. Could you re-run the tool and let me know if anything else comes up?

[2020-01-29 09:14] imphil commented on #569
PR #572 is now merged, master should run without warnings. Please re-open this issue if some of the issues remain.

[2020-01-29 10:01] ganoam opened #574 "Fetch FIFO blocks instruction request when full."
Hi everyone,

I may have found an issue with the prefetch buffer. The situation: I have implemented a second memory port in the simple system example (PR #571) and run both the hello_test example and coremark on it. Since I would expect no memory contention on the instruction line, i would expect to record less IFetch waits with coremark. however the opposite was the case: Using the separated data

[2020-01-29 10:22] tomroberts-lowrisc commented on #574
Thanks for the detailed report, and all the investigation that has gone into it.
You are correct that the prefetch buffer / fetch FIFO has some inefficiencies which lead to stalls that could be avoided.
Can you elaborate further on your fix? I have a rough version of the RTL where I fixed this issue by counting free entries + outstanding requests to determine if a new fetch is permitted, but it is

[2020-01-29 11:21] ganoam commented on #574
Yes I will try - I think I attached the wrong files for the simulation waveforms of
 the 'fixed' implementations.  I attach it here again propperly.
[prefetch-buff-issue_sim-out_new.zip](https://github.com/lowRISC/ibex/files/4127653/prefetch-buff-issue_sim-out_new.zip)

So, at time 147ns in the dual-port simulation in the above screenshot, `valid_q==3'b011`. This is the condition to reset the fifo

[2020-01-29 11:45] GregAC commented on #574
I believe I also came across this issue whilst evaluating the performance of the third pipeline stage (but had yet to file an issue for it or look into it in great detail). I noted instances where we were stalled awaiting an instruction that could have been avoided as the prefetch buffer wasn't full and hadn't been trying any new requests in prior cycles.

A quick workaround was simply making the

[2020-01-29 14:34] danielmlynek commented on #569
It should be REOPEN - there is one more line in /ibex/dv/uvm/tests/core_ibex_test_lib.sv
mem_status = signature_data_q.pop_front();
should be
mem_status =  core_status_t'(signature_data_q.pop_front());

[2020-01-29 14:45] imphil commented on #569
Thanks @danielmlynek!
@udinator can you have another look? (Or if you like, you can also do a PR to fix this one @danielmlynek.)

[2020-01-29 17:13] vogelpi commented on #557
Sorry guys for my late response. I completely forgot about this issue. Let me answer your questions.

@GregAC :

No. As you noted, the spec just says that when we get an NMI we always jump to the NMI handler. But I think this does not make sense with level-sensitive interrupts (all interrupts in Ibex are level sensitive) as it would require the core to constantly jump into the handler until the NM

[2020-01-29 17:55] udinator commented on #569
@danielmlynek thanks!
I've opened PR #576 to fix this last issue.

[2020-01-29 18:09] udinator commented on #557
@vogelpi - I agree with the reasoning that all interrupts should be completely masked off while handling an NMI, I think it would best align with the mechanism that Ibex implements.

[2020-01-29 23:57] sjgitty commented on #557
masked off while handling an NMI

Would we expect the HW to do this masking? Or the NMI interrupt handler?
Seems like the
former. For this and all nested interrupt cases (how many are handled by
Ibex? What does
the core do if this number is exceeded?) let's make sure the documentation
is clear and the
DV follows what the document says (and tests it for correctness of course).

On Wed, Jan 29, 2020

[2020-01-30 08:15] vogelpi commented on #557
Yep, that is how the linked PR modifies the design: All interrupts are masked while in NMI mode.

The linked PR clarifies the doc to state that nesting is supported in software (interrupts need to be re-enabled after saving `mepc`, `mstatus` in software) but that there is not support for hardware nesting, and that the `mstack` CSRs are for recoverable NMIs only.

[2020-01-31 08:31] dawidzim opened #578 "Update Ibex Simple System readme for Riviera-PRO"
Hey!
Can you update Ibex Simple System readme for Riviera-PRO?
To build and run this example on Riviera-PRO we need to use command:

fusesoc --cores-root=. run --target=sim --tool=rivierapro lowrisc:ibex:ibex_simple_system --RV32M=1 --RV32E=0 --SRAM_INIT_FILE=../../../examples/sw/simple_system/hello_test/hello_test.vmem --vsim_options=+ibex_tracer_file_base=test_results

--SRAM_INIT_FILE - path to

[2020-01-31 11:08] imphil commented on #578
Of course. Do you feel comfortable doing a pull request with your proposed changes? Or otherwise just me know and we'll do it.

[2020-01-31 13:08] dawidzim commented on #578
I would be grateful if you did this

[2020-02-01 10:06] imphil opened #579 "[tracking] Use Verible for lint"
We want to use verible_lint (https://github.com/google/verible) as one of our lint tools. There are a couple things to be solved first.

A run of Verible today shows that most lint rules match our use of SV, with the exception of localparam naming (which verible_lint expects to be UpperCamelCase, while we go for ALL_CAPS).

- [x] Extend edalize to support verible: https://github.com/olofk/edalize/

[2020-02-04 15:15] #567 closed

[2020-02-04 19:25] udinator commented on #514
Closing this issue since it's been two months. Feel free to open a new issue should anything else come up.

[2020-02-04 19:25] #514 closed

[2020-02-05 11:23] GregAC opened #586 "Make ibex_tracer_file_base a known plusarg in .core files"
fusesoc has plusarg handling we can use to easily set ibex_trace_file_base from the command line when running a fusesoc build.

The appropriate .core files should be modified so we can utilise this.

[2020-02-05 11:40] #578 closed

[2020-02-06 10:02] ganoam commented on #522
Hi everyone,

In my premature Pull Request, implementing a single cycle multiplier implementation, there has been a discussion weather to implement a full single cycle multiplier, or implementing a version, which would execute MUL instructions in a single cycle and MULH instructions in 2 cycles. It was suggested that the former would significantly increase the critical path while not resulting in

[2020-02-06 16:38] vogelpi commented on #522
Nice work @ganoam ! Thanks for providing all the numbers.

There is no notable difference in terms of resource utilization. As you mentioned, there is also little difference in terms of max clock frequency only. I think the +2.3 MHz we get from the from the "MUL 1cc MULH 2cc" version with the 3-stage pipeline currently are not really worth the code complexity (although the code is also not super c

[2020-02-06 17:18] GregAC commented on #522
It's important to consider the impact on ASIC implementation also. From a quick look at the RTL the MUL 1cc MULH 2cc version is using 3x16-bit multipliers + a 3 way A + B + C 34-bit adder. The MUL 1cc MULH 1cc version uses a single 1x33-bit multiplier.

I'd suspect the MUL 1cc MULH 2cc version has area advantage in ASIC implementation, less certain about how much it matter to timing.

[2020-02-07 08:52] ganoam commented on #522
About the frequencies: The results I reported are not very rigid. Yesterday, I have truncated some unused signals from the `MUL 1cc MULH 1cc` design (which I am quite sure, the synthesis tool optimized away anyways) and re-run the implementation twice, once with a target period of 14ns and 14.5ns. The reported critical paths were 15.656ns and 14.708ns respectively for the two-stage core configurat

[2020-02-07 09:25] vogelpi commented on #522
Thanks @ganoam for the additional info. I think we should go for the `MUL 1cc MULH 2cc` version.

There is a slight advantage on the FPGA in terms of timing but more importantly the multiplier/DSP is not in the critical path for the 3-stage implementation. I would not go into the ASIC domain yet. You will do this once working on the B-extension. Looking at the original paper, one can also see that

[2020-02-07 09:36] GregAC commented on #522
I'm happy with the `MUL 1cc MULH 2cc version`. I'll push it through my Yosys flow when the PR is ready and see what it makes of it. Thanks @ganoam

[2020-02-07 09:46] ganoam commented on #522
Alright. I'll prepare the PR then. Do you want me to make it dependent on a parameter within the original `ibex_multdiv_fast.sv`?

[2020-02-07 09:50] GregAC commented on #522
I was thinking about that. Having three separate modules seems bad as there's code duplication. However having the multiply configuration handled by two separate parameters (choose fast or slow then single cycle or not) seems messy.

I think ideally we'd have a div module and multiple different multiplier modules, though that's out of the scope for this task.

So implementing this within multdiv_f

[2020-02-07 09:52] vogelpi commented on #522
Yes, I agree with @GregAC .

Let's include it in the `ibex_multdiv_fast.sv` for now (we are still sharing some logic with the divider, so this makes sense).

[2020-02-07 10:30] imphil commented on #522
Sounds good to me. No matter where the code ends up living, I'd like to keep a single MultiplierImplementation parameter on the toplevel.

[2020-02-07 15:18] ganoam commented on #522
Ok, the PR (#559) is finally ready for review.
Making it available to chose from the top level required a little bit of meddling with the ex block. I am not sure if this is the proper way to do things...
I have also updated the documentation.

[2020-02-10 12:17] imphil opened #595 "Docs: Use rstflattable for tables"
Tables in reStructuredText can be quite annoying to produce; a very comfortable solution is a Sphinx plugin, that converts lists to tables.

Example of it being used: https://github.com/opensocdebug/osd-doc/blob/master/src/02_spec/03_dataformats.rst#L47

Extension: https://github.com/opensocdebug/osd-doc/blob/master/sphinx/rstFlatTable.py
Config: https://github.com/opensocdebug/osd-doc/blob/master

[2020-02-10 12:19] imphil opened #596 "Docs: Enable PR builds of readthedocs"
Enable readthedocs builds per pull request.

I've emailed RTD support to get this feature enabled for our project, and will follow up once that's done.

[2020-02-10 13:31] imphil opened #597 "Fix zypp dependency on Python 3.5"
In [CI we get](https://dev.azure.com/lowrisc/ibex/_build/results?buildId=7828&view=logs&j=e92b124b-3ef9-5461-84e3-a5c4020c184a&t=c6688988-a2fe-54a8-1baf-ba20316d2af5)

[code]

The root cause is that the zipp library did a release that doesn't support Python 3.5 any more. It's not quite clear to me yet why the dependency resolution logic in pip chooses this version then, and doesn't stick with an o

[2020-02-10 13:41] imphil commented on #597
OK, explanation is here: https://github.com/jaraco/zipp/issues/40#issuecomment-583907441

As usual, Python packaging is a mess. I'll try to come up with the least ugly solution.

[2020-02-10 15:10] #597 closed

[2020-02-10 17:01] #548 closed

[2020-02-10 21:30] msfschaffner commented on #569
Thanks for cleaning this up (and sorry for being late to the party here - I was out the last two weeks). Indeed, we only run RTL through AscentLint at the moment.

[2020-02-10 21:49] msfschaffner commented on #579
The localparam discrepancy is somewhat unfortunate. Initially, the lowRISC style guide was based on the one that Verible uses, but it looks like we have diverged here. Currently, the lowRISC style makes the distinction depending on whether the parameter/localparam is to be interpreted as an immutable constant or not. The style that Verible follows makes the distinction based on whether it is a loc

[2020-02-10 22:01] imphil commented on #579
@msfschaffner You can find the full motivating discussion on the current localparam style guide at https://github.com/lowRISC/stwg-base/issues/427 (Sorry for all non-OpenTitan readers, this issue isn't public. I can copy over content if you're really interested.)

[2020-02-11 14:42] vogelpi commented on #557
I am closing this issue the corresponding PR modifying the RTL and clarifying the documentation got merged a while ago. Feel free to re-open if necessary.

[2020-02-11 14:42] #557 closed

[2020-02-11 15:11] vogelpi commented on #527
I am closing this issue as the corresponding PR has been merged.

[2020-02-11 15:11] #527 closed

[2020-02-11 15:15] vogelpi opened #601 "Optimize CSRs and performance counters for FPGA Implementation"
The CSRs and most importantly performance counters map poorly on FPGA. We should investigate the effect of the performance counter width on resource utilization and timing (64-bit counters are known to map badly to FPGA) and see if they can e.g. be implemented differently (Xilinx DSP slices can be used to implement 48-bit counters).

[2020-02-11 15:17] vogelpi commented on #522
The single-cycle multiplier for FPGA has been merged. Nice work @ganoam! I have created a new issue to discuss options and progress on the CSR/performance counter optimizations here: https://github.com/lowRISC/ibex/issues/601

[2020-02-11 17:33] imphil commented on #596
The feature got enabled on the RTD side, and PRs now have a automated docs build enabled, as seen at https://github.com/lowRISC/ibex/pull/602.

[2020-02-11 17:33] #596 closed

[2020-02-11 17:52] imphil opened #603 "Document and enforce minimum Verilator version"
We continue to use features in Verilator which require a sufficiently up-to-date version of Verilator. We need to

- Document our minimum-supported Verilator version.
- Somehow signal to users that they are running a version of Verilator which is too old. Ideally, this check happens in the fusesoc run to display this information when it is actually needed.

I'll give it a try with a fusesoc hook.

[2020-02-12 15:56] imphil commented on #117
Closing until things move on the Intel side. Summary of the discussion so far:

Quartus Lite and Standard are (apparently) not developed any further and don't have sufficient SystemVerilog support to compile Ibex. While we are willing to work around some tool deficiencies, the workarounds required for Quartus Lite/Standard contradict our style guide and we agreed that these workarounds are not acc

[2020-02-12 15:56] #117 closed

[2020-02-12 15:57] #603 closed

[2020-02-12 16:07] jrrk2 commented on #117
You can also use this free tool:
https://github.com/nbdd0121/sv-elaborator.git
written by our own Gary Guo, which was developed to overcome a similar problem.

[2020-02-13 07:29] towoe opened #605 "Track RISC-V Compliance Framework"
It looks like [RISCOF](https://riscof.readthedocs.io/en/latest/) is v2 of riscv-compliance as mentioned in https://github.com/riscv/riscv-compliance/pull/80#issuecomment-585485427.
It is still WIP, but as I was not aware of this and I am not sure how well it is known, I wanted to raise awareness for the new framework.

[2020-02-13 08:13] imphil commented on #605
Interesting find! Let's see how that one evolves.

[2020-02-14 16:53] nmoroze opened #607 "Uninitialized flops in the fetch FIFO?"
Hi,

I'm wondering if there's any particular reason why `rdata_q` and `err_q` aren't initialized on reset in `ibex_fetch_fifo.sv`?

Thanks!

[2020-02-17 08:40] tomroberts-lowrisc commented on #607
Non-reset flops are a fair bit smaller than those with an async reset. It is best practice (for most design targets) to only reset that which needs to be.

[2020-02-18 14:08] tomroberts-lowrisc opened #608 "CI failing due to riscv-compliance updates"
Just a quick note that there is currently a CI failure in the riscv-compliance build. Fix is in progress riscv/riscv-compliance#92

[2020-02-19 15:14] ganoam commented on #601
Hi everyone,

The current core design features two mandatory 64 bit counters (mtime and minstret) and up to 29 optional counters with parameterizable width. It has been observed, that the resource utilization of the design is drastically increased by implementing a growing number of counters.

I have been investigating possibilities to optimize the implementation. One way of reducing the utilizati

[2020-02-19 15:48] tomroberts-lowrisc commented on #601
Some good findings!

I would vote for adding these details to the documentation, but not adding any pragmas into the code.

It would be interesting to know what code changes are absolutely necessary. If you could re-shuffle the generate blocks but leave the counter code as-is then I think that would be fine. Otherwise I think the next_value logic in your branch is a bit less readable (as well as i

[2020-02-19 16:10] davideschiavone commented on #567
Dear all, Arjan from SiLabs actually noticed that this PR may be wrong.
@vogelpi , can you partecipated at the discussion here https://github.com/openhwgroup/cv32e40p/pull/231 ?

Thanks a lot

[2020-02-19 18:01] GregAC commented on #567
I think we are compliant with the bit of the spec Arjan highlighted.

Both the global core clock enable the wake from WFI in the controller depend upon irq_pending:

https://github.com/lowRISC/ibex/blob/f90faa6ca365e02047d456ac3ad084ecc457ada0/rtl/ibex_core.sv#L285

https://github.com/lowRISC/ibex/blob/f90faa6ca365e02047d456ac3ad084ecc457ada0/rtl/ibex_controller.sv#L310-L325

irq_pending comes fro

[2020-02-19 20:25] vogelpi commented on #567
Thanks @GregAC for extracting the relevant code bits :+1:

[2020-02-20 11:29] towoe opened #612 "CSR misa "I" bit value for "E" extension"
The "I" bit of the CSR misa is always set:
https://github.com/lowRISC/ibex/blob/f90faa6ca365e02047d456ac3ad084ecc457ada0/rtl/ibex_cs_registers.sv#L113

But I think it should no be set if RV32E is used.
The priv spec says it 3.1.1 p. 16

and

Any objections to the following change?
[code]

[2020-02-20 11:36] imphil commented on #612
Sounds about right! Please feel free to do a PR!

[2020-02-20 14:29] #612 closed

[2020-02-21 08:40] ganoam commented on #601
I have spent some more time investigating the situation. I have almost gotten rid of the increased utilization for non-DSP implementations and I may have identified the condition for vivado to infer DSP slices.

I have observed, that in every version which successfully infers DSP slices has one of the following structure:

[code]

or directly in the synchronous block:
[code]
The relevant points, a

[2020-02-21 09:38] GregAC commented on #601
Thanks for your work on this @ganoam

I think it's also worth exploring options that will break strict RISC-V spec compatibility but will be perfectly reasonable for some applications, e.g. making mcycle and minstret have a configurable width so they can be less than 64-bit (or allow removing them altogether, potentially separately, I can see a good case for a 32-bit or less mcycle and no minsret

[2020-02-21 10:43] imphil opened #619 "Tracer: Fix sensitivity warnings"
We get a lot of warnings like this in the tracer:

[code]

[2020-02-21 14:14] jrrk2 opened #621 "FPGA example for RISCV-compliant debug"
You announced that one of the first things that was done to ibex was make the debug RISCV debug compliant. However the debug block does not seem to be mentioned in the default fpga build, nor could I find a reference to an openocd config file or recommended version of riscv-dbg to be used with the recommended FPGA board. Did I get stuck in a backwater somehow ?

[2020-02-21 14:30] asb commented on #621
See [OpenTitan](https://github.com/lowRISC/opentitan) for a system that integrates Ibex with a RISC-V debug module.

[2020-02-21 14:48] jrrk2 commented on #621
Thanks for the pointer Alex,
Your blog of [here](https://www.lowrisc.org/blog/2019/10/ibex-on-fpga-get-stuff-executed/) seems to point towards pulpissimo as the preferred reference platform. However that relies on pulp-builder which has an element pulp-runtime which is not publicly accessible.

[2020-02-21 14:50] asb commented on #621
That blog post predates the public announcement of OpenTitan, so were limited in what we could say! @vogelpi has been doing some work recently with Ibex and PULPissimo so is best placed to comment on the status there.

[2020-02-21 14:54] imphil commented on #621
To answer your specific questions: the latest version of riscv-dbg works just fine, the OpenOCD config file is in the opentitan repository, together with all things necessary to run that on a Nexys Video FPGA board, or simulate in a Verilator environment.

[2020-02-21 15:55] jrrk commented on #621
I have raised an issue on the pulp-platform side.

[2020-02-21 17:06] #621 closed

[2020-02-21 17:06] imphil commented on #621
Looks like there's nothing to be done on the Ibex side then.

[2020-02-25 10:02] vogelpi commented on #601
These are very interesting findings and the overall savings in terms of LUTs and FFs are considerable (18% and 46%, respectively for 29 32-bit counters). I would like to get these code changes integrated, especially since the actual RTL changes are minimal.

We might need to rerun the Yosys flow to make sure it can still optimize the unused counter flops etc, i.e., we should make sure that these c

[2020-02-25 14:31] ganoam commented on #601
Ok, I have prepared a PR #624. I have implemented it using a preprocessor variable instead of a regular parameter, since synthesis appears to have problems with signal declarations within generate-if blocks. I have added the parameter to the FPGA example's `.core` file. The default value is irrelevant, however it seems to be necessary to assign something in order for the variable to be set. (https

[2020-02-25 15:17] ganoam opened #625 "Optimize Bit-Shift Operations for FPGA Implementation"
Hi everyone,

I have investigated the possibility to optimize the bit-shift operation on FPGA targets by using Multipliers to incorporate the logic. I have drafted two versions of this. 'NoFlatten' and 'Rebuilt' refer to the `FLATTEN_HIERARCHY` synthesis attribute used when generating the results.

* [ibex_alu_dspshift.sv](https://github.com/ganoam/ibex/blob/fpga-opt-dspbarrelshift/rtl/ibex_alu_ds

[2020-02-25 15:58] ganoam commented on #522
To keep this Issue up to date:

* A PR concerning inference of DSP counters for performance monitors is available: #624.
* I have had a quick look at using DSPs for a barrel shifter: #625

[2020-02-28 09:33] #607 closed

[2020-02-28 14:00] Evgenii666 opened #636 "Cadence Incisive 15.1 compilation problems"
Hi

I have encountered the following error while trying to compile your test environment with Cadence Incisive 15.1 simulator:

 _ncvlog: *E,UXEXID (./lowrisc_centOS/ibex/vendor/google_riscv-dv/src/riscv_privileged_common_seq.sv,191|72): Unexpected identifier 'bit_width' after completed expression.
(`include file: ./lowrisc_centOS/ibex/vendor/google_riscv-dv/src/riscv_privileged_common_seq.sv line

[2020-02-29 02:01] udinator commented on #569
@danielmlynek - are you still seeing these issues?

[2020-03-02 08:07] danielmlynek commented on #569
No.
Now all looks ok reagrding this issue.

[2020-03-02 09:30] imphil commented on #569
Great, thanks for confirming @danielmlynek. Closing this then.

[2020-03-02 09:30] #569 closed

[2020-03-02 15:07] imphil opened #644 "Try out svlint"
I just found https://github.com/dalance/svlint and would be interested how it copes with the ibex code base.

[2020-03-03 15:28] Sarafim opened #647 "Larger Prefetch buffer"
Hi,
I am just wondering if it is possible to use [prefetch buffer from riscy](https://github.com/openhwgroup/cv32e40p/blob/1f013cae7f49aca8e59ce32941924dc6b0aaec2a/rtl/riscv_if_stage.sv#L205) instead of [default one from ibex](https://github.com/lowRISC/ibex/blob/98c8cd39ea10e95fdecc8b1cea5eff1ca619a6a2/rtl/ibex_if_stage.sv#L137) ?

[2020-03-03 22:21] vogelpi commented on #647
Hi @Sarafim ,

I think it's worth trying out. The core-internal interface is very similar. The two main differences are:
1. Ibex does not support HW loops (you can probably just tie the `hwloop_*_i` signals to 0)
2. The 128-bit wide prefetch buffer does not support instruction fetch/PMP errors. I guess because the instruction cache it's usually connected to in PULP system does not either. You woul

[2020-03-03 22:33] vogelpi commented on #625
Thanks @ganoam for reporting your findings here. I also think it is not worth to explore further in this direction.

[2020-03-03 22:44] vogelpi commented on #489
There hasn't been any activity in this issue for 3 months now. I am thus closing it. Feel free to re-open it if necessary.

[2020-03-03 22:44] #489 closed

[2020-03-03 22:45] vogelpi commented on #503
There hasn't been any activity in this issue for 3 months now. I am thus closing it. Feel free to re-open it if necessary.

[2020-03-03 22:45] #503 closed

[2020-03-04 08:08] Sarafim commented on #647
What are the reasons, that you have decided to design 128bit prefetch buffer instead of 64 for riscy?  Are you planning to add larger prefetch buffer for ibex?

[2020-03-04 09:26] GregAC commented on #647
By larger do you mean wider or deeper?

You can already set the depth of the Ibex prefetch buffer, take a look at ibex_fetch_fifo. There is a parameter `NUM_REQS` that sets the number of outstanding iside requests Ibex can have set to 2 by default, but you could set this higher if desired.

https://github.com/lowRISC/ibex/blob/cb9413e38bc43117a0a5dfd7221bbf8155815478/rtl/ibex_fetch_fifo.sv#L15-L17

[2020-03-04 09:26] vogelpi commented on #647
I think that question would be best asked to the PULP team. If I remember correctly, PULP systems use shared instruction caches with a cache line size of 128-bit. The prefetch buffer is basically an L0 cache and the i guess the width of 128-bit is a trade-off between size, pressure on the shared cache as well as implementation and verification complexity.

I think there are no plans to add a wider

[2020-03-04 09:28] GregAC opened #649 "Path from data_error_i to instr_req_o"
As reported by this OpenTitan issue: https://github.com/lowRISC/opentitan/issues/1657 there may be a path from data_error_i to instr_req_o. We probably don't want this (for one thing it is a long feedthrough path that will cause timing issues).

[2020-03-04 09:47] tomroberts-lowrisc commented on #649
I would guess it is this code in the controller:
[code]
`special_req` contains the bus error signals, and `pc_set` goes to the branch signal

[2020-03-04 09:50] GregAC commented on #649
Ah yes, makes sense. We don't attempt to jump to the exception handler til the cycle following the error but it's getting factored in anyway due to the else. I'll ponder how to fix it.

[2020-03-04 10:38] Sarafim opened #650 "unexpected semicolon in ibex_id_stage.sv"
Looks, like there is small typo [here](https://github.com/lowRISC/ibex/blob/cb9413e38bc43117a0a5dfd7221bbf8155815478/rtl/ibex_id_stage.sv#L687).
Warning message:
 ncvlog: *W,UEXPSC (ibex/rtl/ibex_id_stage.sv,687|89): Ignored unexpected semicolon following SystemVerilog description keyword (endif).

[2020-03-04 11:00] GregAC opened #651 "Feedthrough path detection"
It may be worth having a CI check that looks for any feedthrough paths. We probably want some but only ones we've explicitly allowed.

We could use yosys to do this, waivers might be a little tricky, you could just name the start and end points but you may have multiple paths between those points and want to allow some but not others.

I will do some experimentation with yosys to see if I can come

[2020-03-04 11:10] imphil commented on #650
You're right! Would you mind opening a pull request with a fix?

[2020-03-04 11:58] jrrk2 opened #652 "gdb support"
By default the ibex repository does not include riscv-dbg (gdb) support. Such support is available within the opentitan repository as part of a much larger project. I have modified the basic ibex example to include gdb support for a total of 4001 LUTs, by crudely copying relevant modules from opentitan and modifying to suit the original example style. I believe this contribution would be attractiv

[2020-03-04 12:20] GregAC opened #653 "Yosys CI checks"
Related to #651 what CI checks could we do with a Yosys run?

Implementation is quick (1-2 minutes) so we could place checks on area/timing results.

[2020-03-04 14:47] Sarafim commented on #647
@GregAC  , by larger I actually mean wider.
In my project I have slow ROM, but I can configure its data width. It makes possible to read 2,3 or 4 instruction per 1 read cycle and will improve performance of the core.

@vogelpi  , what do you mean by the **private**instruction cache? Are you going to replace prefetch  buffer in master branch?

[2020-03-04 17:20] Sarafim commented on #650
Sorry, I am afraid according to my NDA I am not allowed to do it

[2020-03-05 10:51] #649 closed

[2020-03-05 16:09] rswarbrick commented on #650
Fixed by PR #658.

[2020-03-05 16:09] #650 closed

[2020-03-05 21:25] vogelpi commented on #653
Very good idea. It would be nice to get area/timing for let's say 2 or 3 core configs (small size: RV32IC (or slow multiplier), default config: 2 stages without BT ALU, max perf: 3 stages + BT ALU).

We could may check where the longest path is (to make sure it is not somewhere totally unexpected), but I don't know how good Yosys is with e.g. the mutliplier.

[2020-03-05 21:27] vogelpi commented on #647
I think the plan is that it can be enabled using a parameter. But the default will probably keep using the current prefetch buffer.

[2020-03-06 10:49] Sarafim commented on #647
Is it possible somehow to create feature request for wider prefetch_buffer?

My thoughts are that it can be very useful for embedded applications, where cache usage is not acceptable because of the area constraints, but frequency are higher than memory response time.

[2020-03-06 11:03] imphil commented on #647
Sure, you can do so by opening an issue here on the issue tracker. Please describe how you'd like the feature to look in as much detail as possible.

This feature can then be picked up by anyone looking for work. However, as long as we at lowRISC don't need this feature for our own work, we are unlikely to implement it in a timely manner.

So if you need it, you probably either need to implement i

[2020-03-06 12:32] Evgenii666 opened #661 "ERROR while compiling assembler programs"
Hello, I got the exact error that was described in Issue: https://github.com/lowRISC/ibex/pull/657.

After updating the repository, I run the make file and get the following error:

[code]

[2020-03-06 13:36] GregAC commented on #661
Thanks for raising this @Evgenii666 what's happened here is one bug (which was this issue but caused by a missing '0x') has been fixed in two different places (leading to two '0x's). I'll open a PR to fix.

[2020-03-06 13:55] #661 closed

[2020-03-06 16:28] vogelpi commented on #601
PR #624 has finally been merged. This issue can be closed. Thanks @ganoam for the great work!

[2020-03-06 16:28] #601 closed

[2020-03-09 08:53] ganoam commented on #89
Hi Guys,

I am finally starting with this issue.

@imphil could you please give me write access to the tracking sheet?

For clarity, I think it would be more suitable to open separate issues not for each individual instruction but for goups of instructions, such as {`clz` + `ctz` + `pcnt`}, {`slo` + `sro`} and so on. Much of the hardware will be shared, between those instructions so it would not m

[2020-03-09 10:33] vogelpi commented on #89
This sounds reasonable to me @ganoam . I would do the instructions as groups and everything single-cycle as long as the area/timing does not "explode". If things change, I would analyze the critical instruction in isolation (using a separate issue).

[2020-03-09 12:31] ganoam commented on #526
The instructions `clz`, `ctz` and `pcnt` can be implemented to share much of the architecture.

- `clz`: Count Leading Zeros. Counts the number of 0 bits at the MSB end of the argument.
- `ctz`: Count Trailing Zeros. Counts the number of 0 bits at the LSB end of the argument.
- `pcnt`: Counts the number of set bits of the argument.

I propose the following approach:
  - 32 one bit adders, counting

[2020-03-09 12:37] ganoam opened #663 "[bitmanip] [zbb] Implement Shifting instructions and Related"
This issue concerns the implementation of instructions`sll[i]`, `srl[i]`,`slo[i]`, `sro[i]`, `rol`, `ror[i]`, `rev`, `rev8` and `orc.b`.

The following subset of the B-extension base instruction group can be classified as general shifting instructions. It is therefore sensible to combine the discussion on their implementation.

The following instructions are slight variations of the existing base

[2020-03-09 12:42] davideschiavone commented on #526
For the operation `(bitcnt_data-1)`, it's worth to try to see if using the existing adder makes sense in terms of area utilization. Your option implies a simple adder (one operand is constant to 1), the second option requires multplexers to selected the operand "-1" (i.e. 0xFFFF_FFFE with carry in equal to 1).

[2020-03-09 13:04] tomeroberts opened #664 "Add "ready" signal to incoming data"
As part of the icache development work, it was proposed to add a ready signal from the core to stall incoming data on `instr_rdata_i`. Creating this issue to gather thoughts on whether this would be a good idea.

### Upsides
- Would allow an area reduction in the icache (and also probably in the normal prefetch buffer) by reducing the required amount of data buffering.
- Would be a good way of fix

[2020-03-09 13:10] ganoam commented on #526
Yes. Very good idea.

[2020-03-09 13:16] ganoam opened #665 "[bitmanip] [zbb] Implement Min/Max instructions"
For the B-extension's `min`/`max` instructions, we can reuse the existing comparison operations. The result is obtained by activating the comparison structure accordingly and multiplexing the operands using the comparison result.

[code]

[2020-03-09 13:46] ganoam opened #667 "[bitmanip] [zbb] Implement Logic-With-Negate Instructions (xnor, orn, andn)"
Implementation of bitwise logic-with-negate instructions `xnor`, `orn` and `andn`:

For the B-extension's logic-with-negate instructions we can share the structures of the base spec's logic structures already present for 'xnor', 'or' and 'and' instructions as well as the conditionally negated b operand generated for subtraction operations. I propose the following implementation:

[code]

[2020-03-09 14:03] ganoam opened #668 "[bitmanip] [zbb] Pack two words in one register (pack, packu, packh)"
For the `pack`, `packh` and `packu` instructions I don't see any opportunities for resource sharing. However, the architecture is quite simple:

- `pack`: pack the lower halves of rs1 and rs2 into rd, with rs1 in the lower half and rs2 in the upper half.
- `packu`: pack the upper halves of rs1 and rs2 into rd, with rs1 in the lower half and rs2 in the upper half.
- `packh`: pack the LSB bytes of r

[2020-03-09 14:09] imphil commented on #652
Thanks for your work on this @jrrk2.

I'm not convinced the Ibex repository is the right place to put such an example. Adding debug support needs much more SoC infrastructure than we have currently, including an extended "bus" implementation. I'd therefore leave the simple system as simple as it is for now, and redirect people to more fully-featured SoC implementations if they are looking for exam

[2020-03-09 14:16] ganoam commented on #89
Ok, I have opened issues for subsets of the `zbb` (base) group of the B extension:
- #526: Bit Counting: `clz`, `ctz and `pcnt`(@imphil  could you update the title to include the other two instructions?)
- #663: Shifting, Rotating, Reversing and Orcombine: Quite a large group with lots of potential to share resources: `slo[i]`, `sro[i], `rol`, `ror[i]`, `rev8`, `rev`, `orc.b`.
- #665: Comparison:

[2020-03-09 16:10] imphil opened #669 "Questa complains about newlines in ASSERT macros"
(Spin-off from #622 by @danghai)

Compiling Ibex with Questa gives the following warning:

[code]

The code in question is

[code]

Given this code, I'm assuming the error message actually comes from the fact that `prop` (the second argument to `ASSERT`) is converted to a string before being used in `ASSERT_RPT`, and this use of `prop` with newlines isn't liked by Questa.

According to SV2017, the

[2020-03-09 16:28] imphil opened #670 "Questa: Defaulting port to var rather than wire"
(Spin-off from #622 by @danghai)

Questa reports:

(We get a similar message for other ports where we have a `struct` as input port.)

The code in question is:

[code]

I don't see anything wrong with this code, it looks like the warning is not helping here.

@danghai can you run `verror 13314` in Questa to learn more about the error? It can probably be silenced unless the output shows something t

[2020-03-09 16:30] imphil opened #671 "[tracking] Questa issues"
Questa issues reported in #622 by @danghai

- [x] #669 (Questa complains about newlines in ASSERT macros)
- [x] #670 (Questa: Defaulting port to var rather than wire)
- [x] https://github.com/lowRISC/ibex/issues/696:

[2020-03-09 17:58] sriyerg commented on #669
Looks like its between having the convenience of having the whole failing property showing up in the logs v/s striving for a cleaner code that is supported on all the tools.

I personally like the convenience of being able to look at the failing property at a quick glance. It shows up in our reports as well:
https://reports.opentitan.org/hw/ip/usbdev/dv/latest/results.html

Although, the error mes

[2020-03-09 22:34] udinator opened #674 "[dv] minor Makefile issues"
Hi @rswarbrick, this issue is just meant as a tracker of sorts for some minor issues I may encounter with the updated Makefile flow. Admittedly, many of these potential issues will just be my relative unfamiliarity with the new simulation output format or other minor questions, so this thread will just act as a place to consolidate all of these questions.

[2020-03-09 22:38] udinator commented on #674
Currently, I'm seeing something interesting happen where if I run, for example, `make SEED=123 ITERATIONS=1 TEST=riscv_rand_instr_test`, followed by `make SEED=123 ITERATIONS=1 TEST=riscv_illegal_instr_test`, ensuring that the second test is different from the first one, both tests will output into `out/seed-123/rtl_sim`, but the second test will overwrite the results of the first test, so that th

[2020-03-09 23:59] udinator commented on #674
One other small thing is, if I run some test, say with `make SEED=123 ITERATIONS=1 TEST=riscv_rand_instr_test`, and then modify the corresponding yaml test entry in `riscv_dv_extension/testlist.yaml` and try rerunning the test with the same command to keep the seed the same, the flow will immediately exit out, since no changes would have been detected with the metadata files.

[2020-03-10 09:23] rswarbrick commented on #674
Hmm. The problem is that the Makefile doesn't understand the relationship between the value of the `TEST` variable and the files that `run.py` and `sim.py` create. I think we could probably make this a little less annoying by getting rid of the clean-up that runs at the start of the `gen` and `rtl_sim.compile.stamp` targets. That way,

    make SEED=123 TEST=foo
    make SEED=123 TEST=bar

would l

[2020-03-10 09:33] rswarbrick commented on #674
Ah, that's easy. I've just pushed up PR #678, which should fix it.

[2020-03-10 09:36] jrrk2 commented on #652
Closing this issue because the solution is discussed in https://github.com/lowRISC/ibex/pull/654

[2020-03-10 09:36] #652 closed

[2020-03-10 13:28] Evgenii666 opened #679 "Error in tests riscv_debug_basic_test"
Hello, I am running your tests and have encountered a set of errors. The **riscv_debug_basic_test.0.o** test fails, giving the following message:

_UVM_FATAL /var/home/korsakov-ea/designs/lowrisc_centOS/ibex/dv/uvm/core_ibex/tests/core_ibex_base_test.sv(196) @ 27330: uvm_test_top [uvm_test_top] Did not receive core_status INITIALIZED within 500 cycle timeout period_

I looked into the code of the

[2020-03-10 14:06] udinator commented on #679
Hi @Evgenii666, thanks for bringing this issue up. If you sync to the latest upstream branch, you will find that this issue has been fixed.

[2020-03-11 00:43] udinator commented on #674
As far as the relationship between the `TEST` variable and the metadata files, would there be some way of keeping track of the names of the tests that have been run in one of the metadata files, appending a new directory under `out/seed-123/rtl_sim` if the testname is not present in the metadata, and overwriting the corresponding directory if the testname is present in the relevant stamp file?

As

[2020-03-11 00:46] udinator commented on #674
One issue I'm now seeing is that I'm unable to generate waves or coverage data from my simulations,  I believe the issue lies in the `cov-arg, wave-arg, lsf-arg` variables that are defined on lines 313-315 of the Makefile as the `if` conditional expressions seem to always be evaluating to False, producing empty results.

[2020-03-11 08:40] Evgenii666 commented on #679
Thanks, I updated the repository and restarted the tests.

Over the past two weeks, I have updated your repository and related external projects about 5 times. During all this time, two times the tests were not compiled due to errors generated by the gcc compiler, three times the tests ran, but always with errors. The number of tests with errors varies from several tens to two hundred (partly the

[2020-03-11 08:43] rswarbrick commented on #669
Thinking about this, there's one other option I can see: use an "ifdef Questa" to remove the property from the error message, but just for Questa builds.

[2020-03-11 09:27] rswarbrick commented on #674
I'll have a think about the regeneration question above and get back about that later in the day. For now, I'll have a look at the coverage/trace/LSF options and try to figure out what I miswired there.

[2020-03-11 09:34] rswarbrick commented on #674
That turned out to be easy - I'd just missed an 'S'. I think that the coverage arguments are getting passed correctly, though. Can you have another look: if it doesn't look right, could you give the command you're running? I've found that a good way to debug things like this is to run `make -n`: this means you see the commands that get run, and not the messages from the rather chatty scripts.

[2020-03-11 09:43] imphil commented on #669
Well, it's invalid SV syntax, so I'd rather not hope that tools other than Questa silently continue to accept it.

@danghai please let us know the answers to the two questions above if you have time!

[2020-03-11 09:52] rswarbrick commented on #679
Hi Evgenii,

You are right that this test-suite is currently rather unstable, but you should find that the RTL itself is not. If you want to use Ibex to run your own binaries, you might find the `simple_system` flow (in `examples/simple_system` more useful. Eventually, the randomised tests in `dv/uvm/core_ibex` should stabilize, but that hasn't happened yet.

[2020-03-11 10:13] Evgenii666 commented on #679
Well, thanks for the advice.

[2020-03-11 10:13] #679 closed

[2020-03-11 10:51] ganoam commented on #89
A PR is available for implementing the zbb extension #683. It contains all the changes discussed in the above mentioned issues.

I have made this PR in order to have a central place to discuss the code. If you prefer, I can also split it up and do one for each group of instructions.

[2020-03-11 18:08] danghai commented on #669
Hi @imphil
1) I do not see `ASSERT_RPT()` in rtl source code. I only see `ASSERT`.
2) I got the error when I try to do:
[code]

The error is:
[code]

[2020-03-11 18:28] imphil commented on #669
Thanks for testing the backslashes! So they don't work (as expected).

For the other test, can you apply this patch, which removes the use of `ASSERT_RPT` from the `ASSERT` macro.

[code]

[2020-03-11 18:40] imphil opened #687 "[tracking] Use Verible's verilog_format for code formatting"
Verible's verilog_format is a automatic code formatter. We want to be able to run it on our code base, ultimately in "enforcing" mode, requiring all submissions to be formatted with this tool. This is the same approach we take with clang-format and C/C++ files. This issue is to track the progress towards that.

Ibex TODO:
- [ ] Add Verible format support to edalize
- [ ] Add a fusesoc target to ou

[2020-03-11 18:52] danghai commented on #669
I got a lot of errors: (sample)
[code]

[2020-03-11 19:13] imphil commented on #669
Let's try this instead:

[code]

[2020-03-11 19:24] danghai commented on #669
I see the warning `vlog-2643` is removed when I apply this patch. However it still has other warnings (it does not relate to this patch)

[code]

[2020-03-11 19:32] danghai commented on #671
I try to run the full flow in `Makefile`. I got the result so far:
[regr.log](https://github.com/lowRISC/ibex/files/4313779/regr.log)
Compile and Optimize log:
[qrun_compile_optimize.log](https://github.com/lowRISC/ibex/files/4313790/qrun_compile_optimize.log)
1 sample Sim log (all are the same, 2 warning messages)
[sim.log](https://github.com/lowRISC/ibex/files/4313794/sim.log)

[2020-03-12 00:22] udinator commented on #674
After your change to fix the typo, the --en_wave and --en_cov arguments are getting passed correctly into the sim.py script.
There is still an issue with the waveform generation, namely that the waveform information is getting dumped into the core_ibex/ directory, instead of into the out/seed-###/rtl_sim directory. My guess is some issue with the directory paths that are being passed into the vcs

[2020-03-12 10:27] rswarbrick opened #689 "Possible optimisations in UVM Makefile"
This issue separately tracks a specific part of issue #674.

The Makefile in `dv/uvm/core_ibex/Makefile` tries to be careful to regenerate targets if you change an option. This way, we ensure that if you run make twice with the same test (say) but change options, the test will actually be rebuilt and re-run.

One unfortunate side-effect is that the second command in

    make SEED=123 TEST=foo

[2020-03-12 10:28] rswarbrick commented on #674
@udinator I've moved discussion of avoiding some rebuilds to issue #689, so that this issue can stay focused on actual bugs (and can hopefully be closed one day!).

[2020-03-12 10:31] rswarbrick commented on #674
The remaining issue being tracked here (so far) is that dumped waves end up in `core_ibex` directory rather than somewhere inside `out`.

[2020-03-12 11:44] rswarbrick commented on #674
Pull #691 should fix the wave file paths.

[2020-03-12 14:02] jrrk2 commented on #96
What if the boot_addr_i is non-zero ? It seems a bit strange to force the address to be something other than what you asked for.

[2020-03-12 21:18] imphil commented on #669
Thanks for your tests @danghai. So we are back to the options @sriyerg outlined in https://github.com/lowRISC/ibex/issues/669#issuecomment-596685769: Remove the property from the message, or restrict all properties in `ASSERT` calls to a single line.

I looked through the uses of `ASSERT` in Ibex and in OpenTitan (we want to keep the two aligned), and I've seen a fair number of asserts which are s

[2020-03-12 21:24] imphil opened #696 "Questa: [SVCHK] - Extra checking for conflicts with always_comb and always_latch variables is done at vopt time."
In Questa we get the following warning:

[code]

_Originally posted by @danghai in https://github.com/lowRISC/ibex/issues/669#issuecomment-597823073_

My gut feeling is that this warning can be safely ignored. @danghai can you give us the output of `verror 2583` to see if Questa suggests anything that can be done here on the RTL side? Otherwise I'd propose we find a way to silence this warning.

[2020-03-12 21:25] imphil commented on #669
@danghai I've filed #696 to look into the last remaining warning in https://github.com/lowRISC/ibex/issues/669#issuecomment-597823073 more closely.

[2020-03-12 21:34] danghai commented on #696
The verror message:

[code]

[2020-03-12 22:09] #696 closed

[2020-03-12 22:13] imphil opened #698 "Command for sanity regression in CI"
We'd like to run a sanity regression in CI, with a runtime of 5-15 min.

@udinator what command should we use for this run?

[2020-03-12 22:48] udinator commented on #698
Hi @imphil , for a basic sanity regression that runs one iteration of every test in the testlist, the command is `make ITERATIONS=1`.

[2020-03-13 10:42] imphil commented on #664
Sounds reasonable to me. How does that relate to the concerns others had about our bus interface?
@davideschiavone for the wider picture on the other implementations using this style of bus
@eunchan for TL-UL

[2020-03-13 10:43] GregAC commented on #664
I would note there's a credit based flow control discussion on the OT repo: https://github.com/lowRISC/opentitan/issues/1644

Credit based could be nicer but again makes the interface more complex.

[2020-03-13 10:47] #669 closed

[2020-03-13 10:58] #670 closed

[2020-03-13 10:59] imphil commented on #671
The current master should have all outstanding issues resolved, can you double-check if the Questa runs are now warning-free @danghai?

[2020-03-13 11:25] imphil commented on #698
`make -C dv/uvm/core_ibex ITERATIONS=1 ISS=spike SEED=1` gives me a runtime of ~ 20 min on my machine. Probably good enough for a start, but we should try to not increase that time much more.

[2020-03-13 11:52] danghai commented on #671
Hi @imphil . It is now warning-free. I believe that you can close the issue. Thank you

[2020-03-13 12:38] danghai opened #700 "Cannot get seed value by default from Makefile"
I got error when I run the Makefile with default seed value. It seems it does not generate random seed value. Reproduce:

[code]

[2020-03-13 13:01] rswarbrick commented on #700
Hmm, this is strange. I can't reproduce it here. Please can you give the SHA of your checkout and run make with the '--trace' argument (which gets it to print the commands it runs)?

[2020-03-13 13:01] imphil commented on #671
Great, thanks!

[2020-03-13 13:01] #671 closed

[2020-03-13 13:02] dawidzim commented on #700
hey!
change in `Makefile` line number `15` to this:
`SEED                := $(shell bash -c 'echo $$RANDOM')`

this works for me

[2020-03-13 13:08] rswarbrick commented on #700
Ok, now I understand (Ubuntu machines link /bin/sh to dash, but my Debian box pointed at /bin/bash). I've just pushed up PR #701, which should fix things.

[2020-03-13 13:36] rswarbrick commented on #700
@danghai : This should be fixed now. Could you check? If so, I'll close this.

[2020-03-13 15:49] imphil opened #703 "[DV] Prerequisites for bitmanip DV"
We are making progress on implementing the bitmanip (B) extension in Ibex in #89. This issue tracks things we need to have before we can start DV work on it.

- [x] A compiler toolchain with bitmanip support in its assembler (at least). Tracking in https://github.com/lowRISC/lowrisc-toolchains/issues/8, https://github.com/lowRISC/ibex/pull/724
- [x] Bitmanip support in spike and ovpsim (that exist

[2020-03-13 15:50] imphil commented on #703
@taoliug @udinator what are the plans for bitmanip in riscv-dv?

[2020-03-13 15:55] udinator commented on #703
In riscv-dv, we've had a PR (https://github.com/google/riscv-dv/pull/498) opened by an external contributor to add most of the support for B-extension instructions. @weicaiyang is going to help with merging this PR into the codebase soon, and then I will take over B-extension verification for Ibex from there.

[2020-03-13 16:59] udinator commented on #674
Another issue has popped up, this one a bit more more severe: because the Makefile chooses a single seed that it then assigns to every single RTL simulation and riscv-dv simulation, the generated coverage database for every simulation is then assigned the same name, as the database name is assigned based off of the seed, and needs to be unique for every test that is run. This then results in every

[2020-03-13 17:05] rswarbrick commented on #674
Well, (2) works with probability 1-1/2^32! :-)

More seriously, it seems like you'd probably like to be able to generate coverage if you set the seed on the Makefile command line too, right?

Option (1) is easy to implement, and we don't need to split stuff between `sim.py` and `rtl_simulation.yaml`: can't we do the same trick as I just implemented for PR #691? I'm not quite sure how the coverage

[2020-03-13 17:15] udinator commented on #674
Yep, it would still be nice to set the seed from the command line as well.
Essentially, a coverage database is generated for every test generated by the instruction generator, and for every RTL simulation, and which all need unique names.
Something I'm thinking as well is similar to your idea, tagging the coverage directories with <testname>_<iteration> with the trick you used in #691.

[2020-03-14 06:34] danghai commented on #700
Thanks. I believe it is resolved.

[2020-03-14 06:34] #700 closed

[2020-03-16 08:59] rswarbrick commented on #674
Am I right in thinking that the coverage question has been resolved by PR #704? (And, in which case, is there anything else left on this tracker?). If we see new bugs, maybe it would be better to open a new issue for each: trawling through a long list of comments is hard work and slightly defeats the point of using an issue tracker! :-)

[2020-03-16 11:27] ganoam opened #708 "[bitmanip] Ternary Bit-Manipulation Instructions cmix, cmov, fsl, fsr[i]"
Hi Guys,

For the bitmanip ternary instructions, three registers have to be read. Since our register file only has two read ports, I will implement those instructions in two cycles.

I will take inspiration from the existing structures which require pipeline stalls. As soon as I have a verified implementation I will again open a draft PR.

[2020-03-16 12:17] vogelpi commented on #708
Sounds like a plan @ganoam .

[2020-03-16 15:31] udinator commented on #674
Yep, #704 should resolve the coverage issue. I will close this issue as well.

[2020-03-16 15:31] #674 closed

[2020-03-16 16:55] tomroberts-lowrisc opened #709 "Wrong mtval recorded for instruction access fault"
The RISCV Privileged ISA specification specifies:
"For instruction-fetch access or page-fault exceptions on systems with variable-length instructions, `mtval` will contain the virtual address of the portion of the instruction that caused the fault while `mepc` will point to the beginning of the instruction."

In Ibex currently, both `mepc` and `mtval` will point to the beginning of the instruction

[2020-03-17 08:37] vogelpi commented on #709
Hi @tomroberts-lowrisc ,

If I understand this correctly, the problem can only occur for misaligned uncompressed instructions as these are split up into two aligned 32-bit instruction fetches, both of which can cause e.g. a PMP, memory, or ECC error.

I think the case that only the second instruction fetch causes an error is quite a special case but we probably still want to have that. It helps re

[2020-03-17 11:16] tomroberts-lowrisc commented on #709
Yeah I think you're right, it would be best to have this info.
I'll have a think if there's a way of doing it without adding a load of extra logic

[2020-03-17 11:17] GregAC commented on #709
I agree, best to follow the spec, doesn't look like there's an option not to provide it?

[2020-03-18 10:15] vogelpi commented on #709
I think it would be fine to set it to 0 and signal that we don't support it for that particular case as @tomroberts-lowrisc pointed out. The spec says (Sec. 3.1.17, p. 38): "The hardware platform will specify which exceptions must set mtval informatively and which may unconditionally set it to zero."

But I think it's valuable to provide this information to the programmer/fault handler here.

[2020-03-18 12:53] #709 closed

[2020-03-19 03:38] Fzl1029 commented on #91
Hello! I encountered Error as "System functions calls are not yet implemented in constraints." when compiling google_riscv-dv/riscv_vector_cfg.sv. Is this error caused by software version? I use vcs-mx2015. Thank you!

[2020-03-20 08:05] GregAC opened #719 "[fpv] Write properties for top-level Ibex interface"
It would be worth writing properties for the top-level Ibex interfaces and then trying them out on Yosys. @rswarbrick has been working on properties around the icache using Yosys so has already done some of the work here.

From prior experience simple properties around protocol checking can find a surprising number of bugs (e.g. properties on correct behaviour on the data interface could unearth t

[2020-03-23 22:09] imphil commented on #703
An updated compiler toolchain is available in CI after https://github.com/lowRISC/ibex/pull/724 is merged. If you want to manually get one, download a release 20200323-1 or newer from https://github.com/lowRISC/lowrisc-toolchains/releases.

[2020-03-25 00:13] udinator opened #726 "Makefile error when using different TESTLIST"
Hi Rupert,
If I run `make SEED=123 ITERATIONS=1 TESTLIST=riscv_dv_extension/ml_testlist.yaml TEST=riscv_rand_test COV=1 ISS=spike all`, it results in this error:
`make: *** [Makefile:379: ml_out/seed-123/regr.log] Error 1`.
The test itself does not pass, which is a separate issue, but I'm more interested in seeing what is happening in the Makefile, specifically the `$(OUT-SEED)/regr.log:` target t

[2020-03-25 09:26] rswarbrick commented on #726
@udinator I'm afraid I can't reproduce this. I've attached what I see with head of master (`dbfe8de`). If there's not something silly going on, please could you reproduce the error and attach a terminal log?

[issue-726-log.txt](https://github.com/lowRISC/ibex/files/4379996/issue-726-log.txt)

[2020-03-25 13:14] udinator commented on #726
@rswarbrick you actually are reproducing the error, if you look in the terminal log you attached, right above your call of "git rev-parse" at the very bottom of the file, you'll see the make error that I mentioned.

[2020-03-25 13:41] rswarbrick commented on #726
Oh, I see. Well that's not a "make error": it's Make telling you that the command that's supposed to create `regr.log` exited with a nonzero status code, which makes sense: the tests failed. You'll see that the regression log exists (with a failing test).

Which part of this behaviour is not as you'd expect?

[2020-03-25 14:08] udinator commented on #726
Ah that's a silly mistake on my end then, I guess I got confused between make telling me that the command failed and thinking that something in the makefile itself failed. I'll figure out a workaround and close this issue then.

[2020-03-25 14:11] #726 closed

[2020-03-25 15:36] GregAC opened #730 "[DV] UVM environment should obey/understand mtvec alignment constraints"
I am seeing a failure in the riscv_illegal_instr_test. The root of the issue is Ibex jumps to a different PC upon seeing an illegal instruction compare to spike. There are further tests with similar looking failures that I suspect have the same root cause.

The reason for this is in the particular test I'm looking at mtvec is set to 0x80001229 at the beginning of the test.

The privileged spec all

[2020-03-25 20:22] udinator commented on #730
Hi @GregAC , I think this is a result of my changes to the instruction generator to enable PMP support inadvertently destroying the 256-byte boundary of the exception  handler and instead causing traps into the middle of the NMI interrupt handler. I'm currently working on a fix for this.

[2020-03-26 11:24] imphil commented on #91
It's hard to say, but please give it a try with the latest VCS version.

[2020-03-26 11:28] imphil opened #735 "Verible lint: Allow string parameters without type definition"
https://github.com/google/verible/commit/9cf082583293deab7b32bca3d244e908717d30d4 has landed with the ability to allow string parameters without the type definition.

Update Verible to the latest version in CI, and add the required option to our config.

[2020-03-26 11:30] imphil opened #736 "Verible lint: Use config file"
Currently we specify the Verible configuration in the `.core` files. Now that Verible has support for config files, we should read the config from a config file instead.

https://github.com/google/verible/pull/229

[2020-03-26 21:17] udinator commented on #730
Update: This issue has been fixed with #733 , the test should be okay now

[2020-03-27 13:44] GregAC opened #740 "[doc] Document support Ibex configurations"
Document what it means to be an 'supported' configuration along with the current supported configurations and how the ibex_config.py utility works.

Part of the configuration documentation can be autogenerated from the ibex_configs.yaml file. This will require adding a description field to each configuration.

[2020-03-27 13:46] GregAC opened #741 "[doc] Document basic commands for running/checking Ibex"
We should add some documentation around how to run lint, run RISC-V verification etc. The current top-level Makefile does help here but it'd be useful for this information to be included in the main Ibex documentation set as part of the getting started information.

[2020-03-27 16:00] imphil opened #745 "Add a CI configuration for the B extension"
With work on the B extension landing we should add a CI configuration that tests this config. It can use the new framework added by @GregAC in #714.

[2020-03-27 16:01] imphil commented on #745
Maybe we can have a config with all of the experimental features.

[2020-03-27 16:16] GregAC commented on #745
Could even write a few basic self-checking tests for it? A good excuse to add a new piece of CI which runs a given set of binaries and reports pass/fail based on some success criteria?

[2020-03-27 17:38] #668 closed

[2020-03-27 17:39] #667 closed

[2020-03-27 17:39] #665 closed

[2020-03-27 17:39] #663 closed

[2020-03-27 17:39] ganoam commented on #526
I think this Issue could be closed now.

[2020-03-27 17:40] ganoam commented on #708
A PR is available: #746

[2020-03-27 18:41] imphil commented on #526
Implemented as part of #683

[2020-03-27 18:41] #526 closed

[2020-03-27 19:08] imphil commented on #745
There are some tests in the bitmanip repository, including tests that look like they could work with the riscv-compliance framework at https://github.com/riscv/riscv-bitmanip/tree/master/compliance/rv32b. Maybe we can try dumping this folder into the compliance test suite and give it a try?

[2020-03-27 19:10] imphil commented on #745
But a first step is to at least synthesize code with RV32B enabled to ensure that we don't regress in lint or produce code that doesn't even synthesize any more :-)

[2020-03-27 23:07] udinator commented on #741
I think the `verification.rst` document provides some simple commands to get started running DV simulations with Ibex, if this is something that you are referring to?

[2020-03-29 19:18] vogelpi commented on #89
Update: Support for Zbb is now there and can be enabled with a new parameter RV32B (still experimental). A second PR adding support for Zbt got published by @ganoam recently: #746

[2020-03-30 06:59] vogelpi commented on #745
I think @ganoam has already a couple of such self-checking tests as he started the implementation before RISCV-DV had support for Bitmanip.

[2020-03-30 07:42] ganoam commented on #745
Yes, I do have a set of tests, but they are not really self-checking.

What I do is I synthesize a 'simple system' and let it run a set of bitmanip instructions. I write out the operands and the result to a log file, and check the result by reading the log and running the same commands on the host pc.

You can have a look at it [here](https://github.com/ganoam/ibex/tree/bitmanip-zbt-devel/examples

[2020-03-31 13:45] GregAC opened #753 "Deal with the replications of Ibex parameter sets across .core files"
We have multiple .core files that each have the same set of Ibex parameters (RV32E/RV32M/RV32B/MultiplierImplementation etc).

Ideally these would all get defined in one place that can then be reused. Uncertain if fusesoc has existing functionality to deal with this or is this something to request/add ourselves?

[2020-03-31 13:56] imphil commented on #753
There is no fusesoc functionality for that at this point. The problem is similar to https://github.com/olofk/fusesoc/issues/275 and could probably be solved with a "include a yaml fragment" feature. I don't think that's part of standard YAML, but I haven't looked too closely at this point. Another piece of related work could be the [templating mechanism of Azure Pipelines](https://docs.microsoft.c

[2020-03-31 15:49] #745 closed

[2020-04-01 10:28] GregAC opened #757 "Ease of adapting Ibex memory protocol to tilelink for non 32-bit access"
Tilelink has a `size` field it its message payload, that the native Ibex protocol does not have.

When accessing 'standard' memory this is not a big problem. An Ibex -> Tilelink adapater could just always use 32-bit sizes and set all byte-enables for read (`Get` in Tilelink terms) and for writes take the byte-enables from the `data_be_o` from Ibex.

However this could give some difficulties around

[2020-04-01 10:29] GregAC commented on #757
@davideschiavone @imphil @tomroberts-lowrisc @vogelpi @rswarbrick any thoughts?

[2020-04-01 10:32] rswarbrick commented on #757
Possibly a silly question, but is it possible to have reads with "sparse" byte enables? (The top and bottom bytes, but not the ones in the middle). It seems like this would require two TileLink transactions, each of size 1. Is that correct?

[2020-04-01 10:37] imphil commented on #757
"Sparse" reads are not possible in TL-UL, and are currently not emitted by Ibex. I thought we had an assert for that in the adapter code somewhere but I can't find it any more, maybe it got removed or it was never there ...

[2020-04-01 10:39] rswarbrick commented on #757
In which case, I guess another option would be to get rid of the byte enables entirely, changing Ibex's LSU to generate size and address requests instead. Then it's not possible to encode the thing we don't support.

[2020-04-01 10:43] imphil commented on #757
If at all possible, it would be great to have a memory interface that matches the one used in other PULP-derived IP, e.g. CV32E40P (RISCY), Ariane, and the debug module.

@GregAC can we have a look at a potential AXI adapter as well to see if such an adapter has the same problem?

[2020-04-01 10:56] Silabs-ArjanB commented on #757
FYI: For CV32E40P I wrote a document describing its bus interface in a bit more detail. Just to give it a name the protocol is now called OBI (Open Bus Interface). The pinout will stay identical to what it was on RI5CY, but certain combinatorial paths inside the core will (still need to) be fixed. The specification for OBI can now be found at https://github.com/openhwgroup/core-v-docs/blob/master/

[2020-04-01 10:59] rswarbrick commented on #757
In which case, maybe Greg's original suggestion of adding `data_size_o` to the LSU makes the most sense. Then synthesis will throw away the generated byte enable registers if we're connecting it to a TileLink target.

[2020-04-01 11:01] imphil commented on #664
@Silabs-ArjanB just posted a doc to a better specified/revised version of the bus standard we use at https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/OBI-v1.0.pdf, and it contains a rready signal. That's what you're looking for here as well, @tomroberts-lowrisc?

[2020-04-01 11:05] GregAC commented on #757
Opened OT related issue here https://github.com/lowRISC/opentitan/issues/1867

[2020-04-01 11:08] Silabs-ArjanB commented on #664
To me rready seems a logical addition (and can indeed be used to safe buffering space). If not implemented (as on RI5CY/CV32E40P) then its value is assumed 1'b1 always.

[2020-04-01 11:15] GregAC commented on #757
Adding `data_size_o` is just a matter of wiring out the internal signal. Though probably re-encoding it too as it uses the reverse of tilelink (2'b00 == word where 2'b00 == byte in tilelink). Need to understand if there's an internal advantage in Ibex to that encoding, matches RISC-V instruction encoding maybe?

[2020-04-01 13:25] imphil opened #758 "Check alignment of Ibex bus interface with "OBI" bus standard"
The OpenHW group, which continues the development of the ETH/PULP RISCY core as CV32E40P, has published a more complete description of the bus interface that also Ibex uses at https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/OBI-v1.0.pdf (no source code or HTML version is available AFAIK). We should check if our interface matches their description, and document compatibility o

[2020-04-01 13:55] Silabs-ArjanB commented on #758
We are developing assertions for the OBI protocol. It is my intention that these will be open-sourced (I will come back about this to get it confirmed). I don't think we need to be concerned about the exact naming if the only difference is prefixing or postfixing  (see introduction of section 3.1)

[2020-04-01 17:21] eunchan commented on #664
I always prefer sending request only when the requester (TL master) has enough space to accept the request to sending predictably. It needs more space in case of DMA engine But it prevents any deadlock issue. I'd rather have bigger core area to be safe.

[2020-04-05 16:53] zzyhotmail opened #763 "What's wrong with the IRQ ISR return?"
It seems that the program can NOT be continued correctly after the interrupt return, where the interrupt is happened during the normal function return.

My project is from Opentitan system on chip. In my program, the timer interrupt is used.

The following ASM code  is a normal function calling and return progress. This function was called by main. I dump it from the core tracing. The first line “

[2020-04-06 09:04] rswarbrick commented on #763
Hi there! It's going to be quite hard for us to help you figure out what's going on from just this information. We think that our interrupt handling works correctly (and even have some tests for this), so it would be rather difficult for us to dig down further without more help.

Please can you give us enough information to reproduce the problem you are seeing? If that's impossible (if you have an

[2020-04-06 09:13] GregAC opened #764 "Introduce PMA handling to Ibex"
In the OT repo we have been discussing whether we should trigger an alignment fault on any non-aligned access to device memory: https://github.com/lowRISC/opentitan/issues/1868

The best way to accomplish this would be a check in Ibex to see if something is attempting to perform an unaligned access to a device region and trigger an exception if so.

The RISC-V privileged spec allows use of PMA (ph

[2020-04-06 09:19] GregAC commented on #763
If it's not jumping back where you think it should one possibility is the `mepc` CSR has been written by software altering the point at which it should jump back.

If you are running this in simulation run it with tracing turned out and identify the point at which the jump to the exception handler happens, check the value of `mepc` in the CSR module and see if it's getting set as you expect. From

[2020-04-06 09:19] rswarbrick commented on #764
How would this work from a timing point of view? Would using a complicated PMA imply another cycle of delay on memory accesses? Presumably we wouldn't want to add extra delay for the simple Ibex configuration. Would allowing both timing behaviours behind a parameter be difficult? (It sounds like it to me, but maybe I'm missing something!)

[2020-04-06 09:29] GregAC commented on #764
For the OT case I don't anticipate timing issues.

Certainly arbitrarily complex PMA could cause timing issues but this would be the implementers problem. For example they could choose to add a set of flops to the memory interface, though this has a bad impact on memory access latency. Or they could do something more complex, e.g. allow all transactions out onto the bus but flop anything headed fo

[2020-04-06 09:41] GregAC commented on #764
There's also the question of whether this is implemented only the data interface or both the instruction and data interface. There's certainly a case for data side only as the instruction side already has its specific limitations (just reads, 32-bit always, may be 32-bit misaligned but always 16-bit aligned) and PMP can be used to prevent execution out of particular memory regions already.

[2020-04-06 13:49] tomroberts-lowrisc commented on #763
Can you share the ISR code? It looks like you might be returning from the interrupt handler with a regular function return, rather than using the ``mret`` instruction. If you are compiling with gcc, adding the interrupt attribute (``__attribute__((interrupt))``) to the ISR function will take care of this for you.

There is a simple example of this here:
https://github.com/lowRISC/ibex/blob/4f39160

[2020-04-06 14:58] tomroberts-lowrisc commented on #764
I think this would be a good idea. Should be much less pressure on timing than PMPs since everything will be pretty coarse-grained, and I would anticipate the configuration being synthesis-time rather than run-time.

[2020-04-06 15:01] asb commented on #764
The run-time vs synthesis time point is definitely worth clarifying. I agree that there seems to be no need for run-time configuration of PMAs - I can't imagine a case where that would be useful on an Ibex-class core outside of maybe enabling/disabling exceptions on misaligned access (which I belive the M3/M4 allow via a config register).

[2020-04-06 15:04] GregAC commented on #764
One way to implement this would be a function based rather than a module based approach. The function based approach would underscore the intention this is meant to be a synthesis time setup to hard-bake a memory map into the core rather than something that should be used for run-time configurable things.

[2020-04-06 15:09] rswarbrick commented on #764
That's a good point, but it might be a bit unpleasant from the repository organization point of view. Plugging in different modules into a Verilog design is reasonably standard; I'm not so sure about different functions... ?

In particular, you'd presumably want the function in a different file for each SoC layout. And you probably don't want the function in the global namespace. So I guess you pu

[2020-04-06 15:11] GregAC commented on #764
I think I'd favour the module approach, we can just have appropriate configuration/documentation that states we intended for this to implement a static layout rather than something dynamic and that a dynamic setup could lead to timing issues (i.e. Say to users: if you really want to, go for it, but on your head be it!).

[2020-04-08 03:23] zzyhotmail commented on #763
I'm tring to make a simple example to reproduce the issue.
Looks like it's going to take more time.

[2020-04-08 03:35] #763 closed

[2020-04-08 03:36] zzyhotmail commented on #763
Yes, it is a ISR return near a regular function return.
I tried the __attribute__((interrupt)). It's seems that this method  solved the problem.
Thanks a lot.

[2020-04-08 16:54] Fzl1029 opened #769 "[DV] Run a full regression with failed cases returned"
Hi

When I ran a full regression simulation with **ISS: spike** and **SIMULATOR: ius**. There are some failed cases as the following log. We can see that after full simulation, there are 295 Passed and **76 FAILED**.

![image](https://user-images.githubusercontent.com/24366632/78809873-2e28d900-798d-11ea-8da0-6c0943a746b1.png)
From the first snippet of log, there exist some timeout errors as follo

[2020-04-08 16:56] imphil commented on #769
IUS isn't a supported simulator (any more), as it doesn't support all necessary SystemVerilog language features. Can you retry with Xcelium or VCS?

[2020-04-08 17:23] GregAC commented on #769
I'd note even with a supported simulator the current regression isn't entirely clean @udinator I think you have recently run a full regression, any comments?

[2020-04-08 17:51] udinator commented on #769
Hi @Fzl1029 - Like @imphil says, we do not support IUS anymore for running simulations, and several of the tests do not pass with IUS.
Currently there are only a few tests that are failing, I'm looking into what is going on.

[2020-04-08 20:17] Fzl1029 commented on #769
Thank you for all your help. I have noticed that you had removed all the ius option of your repository. So now I want to try with Xcelium. Which simulator option should I use?

[2020-04-09 00:41] Fzl1029 commented on #769
Would you please also tell me you any specific information/details as to what feature should work with Xcelium that doesn't work with Incisive. Thank you.

[2020-04-09 00:53] udinator commented on #769
Hi, we do not currently support Xcelium for running simulations with ibex or running the random instruction generator (which is the first step of running a DV sim).
To add support for Xcelium, we would need to add another simulator target inside dv/uvm/core_ibex/yaml/rtl_simulation.yaml for Xcelium with any appropriate compile and runtime options, as well as adding a similar target in the google/r

[2020-04-09 16:25] udinator commented on #636
We no longer support Incisive/IUS due to various language incompatibility issues, so I will close this issue.

[2020-04-09 16:25] #636 closed

[2020-04-14 13:58] saurabhsingh-pvips opened #776 "RTL Simulation timeout in full regression"
Hi,

While running full regression using command `make WAVES=1 VERBOSE=1 ISS=spike COV=1` , RTL simulation gets multiple time outs of the following nature:

[code]

One thing I figured out is that there is no file present at path specified here: `+ibex_tracer_file_base=out/seed-26187/rtl_sim/riscv_pmp_test.0/trace_core` .

Trace log is generated only at following places:
[code]

[2020-04-15 07:45] ganoam opened #777 "[bitmanip] Single-bit Instructions (sbset, sbclr, sbinv, sbext)"
The single bit instructons set, clear, invert or extract the bit at postition rs2[4:0] of register rs1.

All of the single-bit instructions can bee implemented by combining a shift with a bitwise logic operation. By reusing existing structures this could be implemented by adding an additional multiplexer at the input of the shifter and the bitwise logic structures.

[2020-04-15 09:07] rswarbrick opened #778 "[dv] Add clocking blocks to icache UVM code"
See discussion on PR #761, in particular [these comments](https://github.com/lowRISC/ibex/pull/761#discussion_r405777417).

Sri and Udi have suggested that the code would be better if the interface included clocking blocks. Suggested code:
[code]

[2020-04-15 09:11] rswarbrick commented on #778
For example, some code in the driver currently looks like this:
[code]
This reads from `valid` (driven by the DUT, so in `monitor_cb` above) and writes to `ready`. They share a clock. Is two clocking blocks the right way to structure this? I'd appreciate some guidance!

[2020-04-15 09:12] rswarbrick commented on #778
@udinator, @sriyerg: Could you give me some advice about how this should look?

[2020-04-15 09:58] vogelpi opened #780 "Long path through multdiv into IF stage"
During his Zbt work #746 @ganoam noted that there is a long path from the register_file -> *multdiv* -> alu -> ex_block/branch_decision_o -> controller -> IF stage.

The strange thing is that while the path through multdiv and alu is expected (we use the adder for divisions), the combined path should never end up in the controller, branch decision, IF (these ops only depends on the alu). So my sug

[2020-04-15 10:24] vogelpi opened #781 "ID/EX: Use `multdiv_sel` instead of `multdiv_en` and variants where possible"
While reviewing #746 I noted two things in ID/EX:
- In `ibex_ex_stage.sv` we are generating `multdiv_en` based on `mult_en_*` and `div_en_*` signals to control the result mux.
- Inside `ibex_multdiv_fast/slow.sv` we are using the same `mult_en_*` and `div_en_*` to control both FSMs and muxes. The `multdiv_sel` signal is not available (only inside the ALU).

The main difference between these signal

[2020-04-15 10:38] tomroberts-lowrisc commented on #780
I guess the branch decision always depends on the output of the adder. The inputs to the adder are always muxed between various sources including the multdiv operands. The multdiv operand b is always muxed between the raw input sources (including the register file).

I think there's not much that can be done about that other than re-arranging and combining the operand muxes in multdiv and the id s

[2020-04-15 10:39] GregAC commented on #780
(Tom posted this just before I hit the comment button so more or less repeating what he said)

The issue here is the worst path going into the ALU comes via the multdiv. Qualifying the signal coming out of the ALU that it doesn't matter if the operands have come from the multidiv doesn't effect the timing path (in terms of worst case propagation time through the physical gates, your qualification

[2020-04-15 10:47] GregAC commented on #781
I introduce the `multdiv_sel` to improve timing into mux selects in the first place (specifically the ALU operands muxes) but didn't take the time to fully survey uses of `multidiv_en` to see where they could be replaced. So yes makes perfect sense to me.

[2020-04-15 11:00] rswarbrick commented on #778
Reading [Cummings's paper](http://www.sunburst-design.com/papers/CummingsSNUG2006Boston_SystemVerilog_Events.pdf) more carefully, I think I have an idea of how this would work.

Use a single clocking block, specifying `default output negedge` to make it more obvious what's going on in dumped waves. The code above would be:

[code]

Suppose that there's a clock with a posedge every 100ns and let's

[2020-04-15 11:04] GregAC commented on #776
The log extract you give indicates a timeout in the PMP test. Are all of the timeouts in a PMP test?

What simulator logs are present? `trace_core_00000000.log` will only be generated if the Ibex core successfully starts running. The simulator log gives simulator output that may give clues as to why the test is timing out. They are named `sim.log` an example path from your log output is `out/seed-

[2020-04-15 12:52] saurabhsingh-pvips commented on #776
The simulator log for `riscv_pmp_test` looks fine to me
[code]

Strange observation I made is that `riscv_pmp_test` doesn't cause issue when run alone. The timeout is only observed when regression is run. Does it still make sense to increase the timeout and try again?

[2020-04-15 13:46] GregAC commented on #776
Trying again with an increased timeout would be the next logical step, though if it's not producing a trace file that does indicate some issue that's stopping the test from running (rather than a test that's just taking longer than normal to run).

[2020-04-15 14:27] rswarbrick commented on #778
Also, should this be one clocking block with `inout` items, or two clocking blocks, one for the driver and one for the monitor? The latter means you need fewer `inout`s, but it feels a bit icky because the interface class then gets some monitor-specific and driver-specific code. Or is there another trick possible?

[2020-04-16 02:21] udinator commented on #778
I'll defer to Sri on the usage of `default output negedge`, I'm not quite sure how necessary this would be here.
After looking at this a bit more, I think that using a single clocking block would be fine as well, I don't think we would need any `inout` signals here. If you want to enforce different timing requirements on signals in the "monitor" and "driver" set, then it's probably better to use t

[2020-04-16 06:58] sriyerg commented on #778
- There is any need to add extra skews to the clocking block, unless the DUT is timing sensitive.
- Prefer N+1 clocking blocks (at least), where N is the number of flavors of drivers the agent has, and 1 for the monitor. So just 2 in your case.
- Refrain from `inouts` - the purpose is to also make the port list view clear (see TileLink interface example below with 2 flavors of drivers, to mimic ho

[2020-04-16 07:50] vogelpi opened #783 "Check possibility of input silencing for critical blocks"
@gautschimi noted in https://github.com/lowRISC/ibex/pull/746#discussion_r408876872 that in order to reduce power consumption, we should silence the inputs of large blocks or blocks with high fanout. Examples include multdiv, ALU and LSU.

Since blindly silencing all inputs of these blocks might add new muxes on the critical path, we should carefully check how to best reuse existing muxing resourc

[2020-04-16 08:07] vogelpi commented on #780
Thanks for outlining the options guys. I think re-arranging and combining the operand muxes to make the operands earlier and improve the paths outside of the ALU is the most reasonable, but it will require a lot of work. I think we should leave it for the moment. Maybe that's something to do once the design is super stable.

[2020-04-16 08:15] GregAC commented on #783
You do need to be careful with such logic, the extra gates you add consume more static power and will use dynamic power themselves. The logic you're silencing still consumes static power so the static + dynamic of the new logic needs to be less than the dynamic of the old logic.

In this case it probably is a good plan as the multiplier is a large chunk of logic.

Though there's plenty more to be

[2020-04-16 08:19] rswarbrick commented on #778
Right, understood. I'll write something for the core agent today and push it up.

[2020-04-16 09:16] saurabhsingh-pvips commented on #776
Tried with 1200s timeout. Same error.

[2020-04-16 09:35] udinator commented on #776
Hi Saurabh, thanks for bringing this up.
I suspect that this timeout has something to do with the active-development status of PMP verification work for the time being; I have a rather large PR in the works on the riscv-dv side that when ready should hopefully fix these timeout errors.
I'll look more into what is going on tomorrow.
Are you running these simulations on LSF (or some equivalent)?

[2020-04-16 10:30] imphil opened #784 "Add AscentLint lint target to Ibex"
Currently we have a verible and a Verilator lint target in Ibex, and an AscentLint lint target in OpenTitan. Each target has an associated waiver file. For consistency, we should think about adding the AscentLint target to Ibex as well, together with the waiver file that currently lives at https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_core_ibex/lint/rv_core_ibex.waiver

We cannot run A

[2020-04-16 10:30] imphil opened #785 "Get Ibex AscentLint-clean"
Go through https://reports.opentitan.org/hw/ip/rv_core_ibex/lint/ascentlint/latest/results.html and try to understand/fix all lint errors. Talk to @msfschaffner to waive the ones we don't care about (the waiver lives in OpenTitan at https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_core_ibex/lint/rv_core_ibex.waiver).

(We could think about moving the AscentLint waiver into the Ibex repo a

[2020-04-16 10:31] imphil commented on #784
@msfschaffner sounds like a plan?

[2020-04-16 10:32] rswarbrick commented on #785
Looking at these warnings, lots of them are also reported by our existing Verible lint flow already. Maybe we should get that clean first, since that will probably fix a good proportion (without needing to go via someone with an AscentLint licence).

[2020-04-16 12:41] saurabhsingh-pvips commented on #776
Alright. Thanks.

No, I am not running on LSF.

[2020-04-16 14:59] Sarafim opened #788 "number of breakpoints"
Hi,
As far as I understood from the doc, it is possible to have only 1 hw breakpoint via tdata2 register.
Is it true? and is it any possibility to have more then 1 hw breakpoint?

Thanks in advance!

[2020-04-16 15:04] tomroberts-lowrisc commented on #788
Yes that's correct, only one is currently supported by the hardware. It wouldn't be too much more work to add support for more, but it's not something we have planned at the moment.

[2020-04-17 02:50] msfschaffner commented on #785
Sounds good. If you need more timely feedback than what the dashboard provides, just make a draft PR and PM me, and I'll run it for you.

[2020-04-17 02:53] msfschaffner commented on #784
Sounds good! Are you going to move that waiver as part of #785? If so, just send me a draft PR on either OT or the Ibex repo and I'll double check whether it works correctly.

[2020-04-17 07:09] Sarafim commented on #788
got it, thank you!

[2020-04-17 07:09] #788 closed

[2020-04-17 08:13] imphil opened #790 "Verilator memutil: Support 64 bit wide memories"
Currently memutil expects the input file (ELF/BIN) to be 32 bit words, and the memory also to be 32 bit words. We need to support the case where the input file stays 32 bit wide, but the memory is a multiple of that, e.g. 64 bit.

https://github.com/lowRISC/ibex/blob/master/dv/verilator/memutil/cpp/verilator_memutil.cc#L426

https://github.com/lowRISC/ibex/blob/master/shared/rtl/prim_generic_ram_1

[2020-04-17 10:01] tomroberts-lowrisc commented on #790
I was initially going to error out if Width wasn't a multiple of 32, but actually we probably want to support that case for ECC/parity. Would need to load the data in 32bit chunks but leave any upper bits untouched (assuming zeros are ok for whatever scheme is being used). Any thoughts on that @imphil ?

[2020-04-17 10:04] imphil commented on #790
I'd go for error out at the moment (on the memutil side) until we have a clear picture of how we want to pre-process or pad data which doesn't fit in nicely. I think Tim has some ideas/requirements for a future iteration, but I don't know them yet.

[2020-04-18 00:11] udinator commented on #776
Hi @saurabhsingh-pvips, I have opened #797 to hopefully solve this issue of hanging PMP tests, I'll update this thread again to let you know once it gets merged.

[2020-04-18 12:02] Tott12 opened #798 "About I2C master code for MCU zero MCU"
Dear Experts,

I have a hobby project while MCU zero is connected to an amplifier via I2C and want to send and receive bunch of data over I2C.
The issue is I cannot find reference code to do so, with TI /STM or NXP MCU a wrapper is always provided but here found my self stuck.
So MCU zero should be in master mode controlling the I2C device connected.

Can you please guide me on where to find a ref

[2020-04-18 18:13] imphil commented on #798
Thanks for your interest in Ibex. Probably Ibex is not the right starting point for you: Ibex is only a CPU core, what you're looking for is a full microcontroller, which extends the CPU with peripherals like I2C, a memory, and many things more. There are multiple System-on-Chip designs which use Ibex internally, for example pulpissimo or OpenTitan. I'd recommend having a look at https://github.co

[2020-04-20 15:04] #790 closed

[2020-04-20 16:14] udinator commented on #776
@saurabhsingh-pvips - could you try running the pmp test again? Several changes have been merged that should hopefully allow this test to run to completion.

[2020-04-21 11:06] saurabhsingh-pvips commented on #776
This still fails in regression but passes as individual test. Nothing fishy appears in sim.log

[2020-04-21 14:12] saurabhsingh-pvips opened #802 "How to run risc_instr_cov_test for coverage generation during rtl_simulation?"
As per my understanding, the coverage generation is done by script `cov.py` the following way:

![image](https://user-images.githubusercontent.com/57518239/79875596-80dfa780-8407-11ea-830e-214ba9f4c520.png)

This is zero time coverage simulation generated from trace.

I wish to have coverage generated during rtl simulation. But I am unable to run the `riscv_instr_cov_test` in `riscv_dv_extension/c

[2020-04-21 17:54] udinator commented on #776
I've identified the cause of this issue, and have opened #804 to fix it, will update once it gets merged.

[2020-04-21 18:42] udinator commented on #802
Hi @saurabhsingh-pvips - good question, I think there are actually two things being mixed here:

1) To generate code coverage during the RTL simulation itself, add the `COV=1` argument to your Makefile command, and this will generate a `test.vdb` coverage database into `<output_dir>/rtl_sim/` that you can then access. The `cov` target in the Makefile is in charge of simulation-time code coverage g

[2020-04-22 04:40] saurabhsingh-pvips commented on #802
Yes. So this `fcov` is what I've been missing. I'm able to generate Functional Coverage.

But this `fcov` is still zero time simulation right? Things like transition bins are not going to be covered. Any inputs or hints on how to achieve transition coverage?

[2020-04-22 07:21] udinator commented on #802
I think if I am understanding your question about transition coverage correctly, you are referring to coverage of small sequences of instructions that share source/destination registers? This is something that is still a WIP on riscv-dv side, as being able to cover longer and longer sequences of
instructions will create a huge number of coverage bins to create.

The directory structure is actually

[2020-04-22 10:53] saurabhsingh-pvips commented on #802
Yes. That is exactly I wished to asked. Let's say I wish to cover a scenario in which register say x20 is accessed by an ALU instruction and immediately followed by Load-Store instruction or such. Is it possible to achieve this by analyzing the trace cores or there is need for some other approach? What way would you suggest if I wish to implement such coverage model on my own?

[2020-04-23 01:21] udinator opened #808 "SpecialReqAllGivesSpecialReqBranchIfBranchInst assertion failure"
Hi all,
When running the `riscv_mmu_stress_test` with PMP regions enabled, I noticed that the `SpecialReqAllGivesSpecialReqBranchIfBranchInst` assertion was failing, shown below:
![Screenshot from 2020-04-22 17-58-58](https://user-images.githubusercontent.com/16736281/80048119-20627000-84c4-11ea-8781-ff35e9498e63.png)
A snippet of the OVPsim log of the relevant instruction execution is shown below

[2020-04-23 01:24] udinator commented on #802
Yep, we do actually already provide coverage for this sort of scenario: we support all sorts of data hazards that result from a sequence of two instructions, sequences of 3+ instructions is still an action item and has not been implemented yet.
For context, you can see here: https://github.com/google/riscv-dv/blob/master/src/riscv_instr_cov_item.sv#L231, which parses for data hazards.

[2020-04-23 07:50] tomroberts-lowrisc commented on #808
Looks like the pmp error isn't being cleared correctly in the lsu - I'll take a look

[2020-04-23 08:28] vogelpi commented on #703
FYI: I have tested the Bitmanip support in Spike and RISCV-DV. The linked PR enables it and adds a tests for Ibex.

What is missing is support for functional coverage for the B instructions. But people are working on that upstream (RISCV-DV).

[2020-04-24 08:13] tomroberts-lowrisc commented on #808
@udinator - hopefully now fixed but leaving the issue open until you've had a chance to rerun the test.

[2020-04-24 08:19] udinator commented on #808
This seems to be fixed now with your change - thanks!
I'll go ahead and close this issue.

[2020-04-24 08:19] #808 closed

[2020-04-28 07:01] ganoam commented on #777
The implementation has been merged in PR #799.

[2020-04-28 07:01] #777 closed

[2020-04-28 07:02] ganoam commented on #708
Ternary bitmanipulation instructions have been merged.

[2020-04-28 07:02] #708 closed

[2020-04-28 07:04] ganoam commented on #89
Update: Zbt (#746) and Zbs (#799) extensions have been merged. A PR adding Zbp is ready for review: #821

[2020-04-29 07:57] ganoam opened #826 "[bitmanip] [zbe] bit deposit and bit extract (bdep/bext) instructions"
The zbe instruction group implements the generic bit extract and bit deposit functions. `bext` collects LSB justified bits to rd from rs1 using extract mask in rs2. `bdep` writes LSB justifie dbits from rs1 to rd using deposit mask in rs2.

The implementation is planned to base upon the butterfly network as described in [Hilewitz et al.](http://palms.ee.princeton.edu/system/files/Hilewitz_JSPS_08.

[2020-04-29 09:13] vogelpi commented on #826
This plan makes sense to me @ganoam . It will be very interesting to see how much can be shared with other instructions.

[2020-04-30 23:59] udinator opened #832 "PMP load error qualifies register writeback"
Hi,
I encountered this situation when running some pmp tests on Ibex:
![Screenshot from 2020-04-30 16-52-47](https://user-images.githubusercontent.com/16736281/80769870-68584700-8b03-11ea-8f60-089f23606a27.png)
The instruction at `PC=0x80002250` is an `lb` instruction that tries to access the address `0x800148e4`. One cycle after this instruction reaches the decode stage, it causes a PMP fault and

[2020-05-01 07:23] Sarafim opened #833 "Trigger cause"
Hi,
I just noticed that the "2 - Trigger cause" is absent in the doc
![image](https://user-images.githubusercontent.com/17382041/80789775-b3229f00-8b95-11ea-88ab-d10091ad1a24.png)

[2020-05-01 07:39] vogelpi commented on #833
Hi @Sarafim ,
thanks for filing this issue. Indeed, the trigger cause should be listed here as it is supported in the RTL if the `DbgTriggerEn` parameter is set.

I will prepare a PR to fix this. Or in case you have something ready, you can also open a PR.

Best,
Pirmin

[2020-05-01 09:32] tomroberts-lowrisc commented on #832
Hi Udi
I can see the issue here, but it looks like all memory errors are a bit broken. When I run an instance of riscv_mem_error_test, I see every load that gets an error (data error not PMP error) is writing back data to the register file, but the tests are passing? I guess it only fails here because the data is X rather than garbage.

I'll get a PR ready with the fix, but it would be useful to i

[2020-05-01 15:30] #781 closed

[2020-05-01 17:43] udinator commented on #832
Yep, I just checked and you're right that register writes on load errors are still being performed as well -  looks like this slipped through because of how ISS log comparison is done for this test. On the mem_error_test , only the final set of register values are cross-checked against the ISS log for correctness as this test involves external stimulus (which it is currently impossible to get the

[2020-05-01 18:10] #833 closed

[2020-05-01 19:53] udinator commented on #776
@saurabhsingh-pvips could you try this again? Some fixes have been submitted relating to how LSF commands are passed in that might fix this hanging error.

[2020-05-04 10:58] saurabhsingh-pvips commented on #776
Running on SPIKE gets the following error:
`error: bad --isa option rv32imcb`

Tried with OVPsim, test runs but time out before completion:
`ERROR    Timeout[10s] `
How do I increase the timeout for OVPsim? Added `--finishtime 1200` to `iss.yaml` but that doesn't work.

[2020-05-04 11:18] rswarbrick commented on #776
This is because we've recently added support for the bitmanip extension in Ibex. The master branch of Spike doesn't support that at the moment (probably because the extension hasn't yet been ratified). See the [Verification page](https://ibex-core.readthedocs.io/en/latest/verification.html) of the docs for instructions of how to install the version of Spike that you need.

[2020-05-04 15:18] saurabhsingh-pvips commented on #776
Tried with this version of spike: https://github.com/riscv/riscv-isa-sim/tree/riscv-bitmanip
Doesn't help.
`error: bad --isa option 'rv32imcb'. unsupported extension 'b'`

[2020-05-04 15:45] vogelpi commented on #776
Hi @saurabhsingh-pvips ,
did you compile the `riscv-bitmanip`branch of Spilke with a compiler that actually has support for the bitmanip extension?

[2020-05-04 15:47] vogelpi commented on #776
+ when you call Spike, does it actually try to use the compiler with bitmanip support? I suspect that the error you see is because Spike tries to call the compiler that does not support bitmanip and thus does not recognize the flag.

[2020-05-04 16:00] saurabhsingh-pvips commented on #776
I'm using the lowrisc-toolchain via [here](https://github.com/lowRISC/lowrisc-toolchains/releases/tag/20200323-1).

I guess I am missing on applying bitmanip patch ([here](https://github.com/lowRISC/lowrisc-toolchains#how-to-generate-the-bitmanip-patches)). Can you confirm this?

[2020-05-04 16:07] imphil commented on #776
No, the toolchain you're referring to already contains all necessary patches to GCC and binutils to work with bitmanip. Spike is not part of the toolchain, you need to/did build it separately.

[2020-05-04 16:14] vogelpi commented on #776
I had a similar problem and it turned out that even though I had the new compiler installed, Spike was still using the old one because I did not change the `RISCV_TOOLCHAIN` environment variable.

[2020-05-04 16:38] rswarbrick opened #840 "The contents of dv/uvm/data are not vendored properly from OpenTitan"
These were copied from OpenTitan as part of the mega-commit at PR #711. Since they are copied into the main Ibex repo, rather than vendored in, they don't stay in-sync with changes there.

Recently (30th March), some of the keys for coverage generation changed (see OpenTitan commit 39ffebd). These don't now match and you can't run `dvsim.py` to generate coverage without hacking `dv/uvm/data/vcs/vc

[2020-05-04 16:53] udinator commented on #840
The files in `dv/uvm/data` are needed for dvsim, to specify project-wide variables and default values; same with the contents of `dv/uvm/data/vcs` as well.
It is definitely possible to vendor these into the Ibex repository - this will result in 3 additional vendor rules:
1) The `dv/uvm/data/common_project_cfg.hjson` in the Ibex repo lives at `hw/data/common_project_cfg.hjson` in OpenTitan.
2) The

[2020-05-04 17:03] imphil commented on #840
Vendoring is probably only half of a solution here.

Ideally, the dvsim tool would work with less repeated config -- all default config should be part of the tool itself (which we vendor in), and only deviations from that should be in our config files. That's especially true for all files @udinator mentioned in (2) above (e.g. `sim.mk`).

I'd take that as a medium-term goal, and for now simply kee

[2020-05-05 00:18] udinator commented on #840
@imphil - I definitely agree, this warrants a look at the organization of dvsim default config files to try and consolidate them.
For the time being, I'll get a PR open to update the existing files in `dv/uvm/data`.

[2020-05-05 05:17] saurabhsingh-pvips commented on #776
@imphil Yes, I did that. This response was to @vogelpi's query

[2020-05-05 06:06] saurabhsingh-pvips commented on #776
@vogelpi I don't have new installation of RISCV_TOOLCHAIN. I simply removed previous SPIKE with the one supporting bitmanip which is at the same previous location. This doesn't work.

[2020-05-05 07:27] vogelpi commented on #776
Hm, this seems to be a tough one. I am looking into this. It would be helpful if you could again:
- Post the exact command you are running from your shell (e.g. `make TEST=riscv_bitmanip_test ISS=spike ITERATIONS=1 VERBOSE=1`)
- Post the output you get.
You already did that when opening the issue, but I think the problem we now see is slightly different.
Thanks.

[2020-05-05 07:38] saurabhsingh-pvips commented on #776
Command: `make WAVES=1 VERBOSE=1 ISS=spike COV=1 SEED=26187` . Stuck to this seed since beginning of the issue I filed.

Output log: [full_regression.log](https://github.com/lowRISC/ibex/files/4579399/full_regression.log)
[riscv_arithmetic_basic_test.0.log](https://github.com/lowRISC/ibex/files/4579404/riscv_arithmetic_basic_test.0.log)

[2020-05-05 07:42] udinator commented on #776
Ah, it looks like the B extension is still being enabled, even though your version of Spike does not support it.
Inside the Makefile there is a variable named ISA which is set to 'rv32imcb', can you modify this to have value 'rv32imc'?

[2020-05-05 07:59] vogelpi commented on #776
Thanks @saurabhsingh-pvips for posting the command and logs. That is useful. Indeed it seems that your version of Spike does simply not recognize the ISA set to `rv32imcb`.
[code]
Could you please go to the directory (`riscv-isa-sim`) where you have downloaded the spike sources and do a `git show --summary` and then post the commit ID you get here?
Also, did you completely remove the `build` direc

[2020-05-05 08:26] #832 closed

[2020-05-05 08:51] saurabhsingh-pvips commented on #776
@udinator
Did what you suggested. Error with riscv_bitmanip_test.
``unrecognized opcode `sloi sp,zero,27'``

Find the log file here
[full_regression.log](https://github.com/lowRISC/ibex/files/4579744/full_regression.log)

[2020-05-05 10:37] vogelpi commented on #776
This is supposed to fail as you now try to run a bitmanip test without specifying this to Spike. The specified architecture `rv32imc` does not have this instruction. To make it work, you have to exclude this `riscv_bitmanip_test` in the testlist: `ibex/dv/uvm/core_ibex/riscv_dv_extension/testlist.yaml` (at the very bottom). This should do the trick for now.

But I think the cleaner solution would

[2020-05-05 11:12] saurabhsingh-pvips commented on #776
@vogelpi My bad. I was working with incorrect commit. That's the issue. Checkout the right commit, performed the steps you suggested and it's working fine now. Made no changes to the `Makefile `or `ibex/dv/uvm/core_ibex/riscv_dv_extension/testlist.yaml`

Will update on the issue originally filed.

[2020-05-05 11:59] vogelpi commented on #776
Excellent, I am glad it's working now. Thanks for your feedback!

[2020-05-05 15:31] saurabhsingh-pvips commented on #776
@udinator The timeout issue previously with PMP test is now coming for all the tests. Bumped timeout to 1200s but no success.
[code]
Timeout for all the first 5 `riscv_arithmetic_basic_test`.

[2020-05-05 17:59] udinator commented on #776
@saurabhsingh-pvips - are you synced to the current top of tree? I'm unfortunately unable to reproduce this hanging issue from my end.

[2020-05-05 18:00] udinator commented on #802
@saurabhsingh-pvips - the `uvm_fatal` issue you brought up has been fixed.

[2020-05-06 02:58] gxflying opened #843 "it's confused about the user_extension.svh, there should be a better way"
hi, when I try to use the extension facility of the riscv_dv_extension, I find there is a sv header file named "user_extension.svh" , which already exists under the origin ./google_riscv-dv/user_extension/.

actually it gets the right result when ”make gen” and from the compile log , we can see that the file "user_extension.svh " under ./riscv_dv_extension/ is the file really included and is used.

[2020-05-06 06:15] saurabhsingh-pvips commented on #776
I ran this on commit `fd01562ff7d46ceb6d368dc472c9305825ebcef5`.
Bumped to latest` b72d263eac25589fa1688f98d45deb2e3b147645` but same issue.

[2020-05-06 08:45] rswarbrick commented on #776
@saurabhsingh-pvips: I think Udi is most likely to be able to help with this, but I don't believe the current messages have enough information for him to reproduce what you're seeing. Since it seems you and I are on European time and Udi is in California, let's get a bit more information to avoid another day's delay.

Could you send a message with something like this:

If you're using bash, I've f

[2020-05-06 11:24] saurabhsingh-pvips commented on #776
@rswarbrick Thanks for inputs.

@udinator
Working on the commit `b72d263eac25589fa1688f98d45deb2e3b147645` and a clean tree.
Command: `make WAVES=1 VERBOSE=1 ISS=spike COV=1 SEED=26187 > & full_regression.log`
Error: `ERROR    Timeout[300s]`
Find the log here:  [full_regression.log](https://github.com/lowRISC/ibex/files/4586181/full_regression.log)

Tried with timeout `1200s`. Same issue.

[2020-05-06 13:29] rswarbrick commented on #776
Right, I've just tried and failed to reproduce what you're seeing on the head of master (`7dafdf64`). I ran the following command (like you, but restricting the number of tests to make it a bit quicker to see what's going on):

     make WAVES=1 VERBOSE=1 ISS=spike COV=1 SEED=26187 TEST=riscv_arithmetic_basic_test 2>&1 | tee full_regression.log

I've attached the log file, which shows the tests ru

[2020-05-06 13:33] rswarbrick opened #845 "Unique case isn't unique in ibex_alu.sv"
On the head of master (`7dafdf64`), run the following command:

[code]

Once this has finished, have a look at one of the simulation logs. For example, [`out/seed-26187/rtl_sim/riscv_arithmetic_basic_test.0/sim.log`](https://github.com/lowRISC/ibex/files/4587033/sim.log) (attached). You'll see VCS warning about incorrect unique case:

[code]

Rather upsettingly, this doesn't actually cause the tes

[2020-05-06 13:36] tomroberts-lowrisc commented on #845
I think I also saw this a while ago, looked in the waves and it wasn't true (the cases were unique). It is one of those ``unique case (1'b1)`` constructs though, which we probably should move towards removing.

[2020-05-06 13:45] rswarbrick commented on #845
I've just pulled up the waves (which turned out to have been generated) and I don't think the two signals are true at the same time:

![ss](https://user-images.githubusercontent.com/104845/81184001-c673a700-8fa7-11ea-8ba6-d551c574185c.png)

I notice that this time stamp is the first time that they are true on adjacent clock cycles. Is it possible that this is something to do with simulation orderi

[2020-05-06 13:46] vogelpi commented on #845
I did not check the waves, but looking at the source it is obvious that this should not happen. Whenever `multdiv_sel_i` is set, the ALU operator is set to `ALU_ADD` thus `adder_op_be_negate` is `1'b0`. This goes ultimately back to the decoder:
https://github.com/lowRISC/ibex/blob/b72d263eac25589fa1688f98d45deb2e3b147645/rtl/ibex_decoder.sv#L925-L928

[2020-05-06 13:47] vogelpi commented on #845
Ah, thanks for posting the waves @rswarbrick ;-)

[2020-05-06 13:50] vogelpi commented on #845
Your explanation sounds reasonable. Thinking about removing those `unique case(1'b1)` statements as suggested by @tomroberts-lowrisc , what should we replace it with ideally? Ternary statements lead to priority encoders which is not always good.

[2020-05-06 13:50] GregAC commented on #845
If we get rid of `unique case(1'b1)` style constructs what's a good construct to replace the `unique case(1'b1)` with? You don't want to use ternary statements, i.e.

[code]

is no good as there's no need for the priority selection (can never see `multdiv_sel_i` and `addr_op_b_negate` asserted at the same time).

You could use `casez` with wildcards and flip the case around so the constant bit is

[2020-05-06 13:52] tomroberts-lowrisc commented on #845
Great minds think alike?
Yep agreed, ternary is not the right thing. I've used the concatenated pattern thing in the past but agree it's pretty ugly. Maybe a onehot mux module, or just manually writing the AND/OR logic if it's simple as in this case.

[2020-05-06 13:54] rswarbrick commented on #845
Searching for the error message found [this workaround](https://www.intel.com/content/www/us/en/programmable/support/support-resources/knowledge-base/ip/2018/why-does-vcs-simulation-of-intel--stratix--10-pcie--hard-ip-retu.html): add `-xlrm uniq_prior_final` to VCS's option list. It seems this defers unique case checks until signals have stabilised.

I have no idea why this wouldn't be the default

[2020-05-06 14:00] rswarbrick commented on #845
Reading a bit further, the 2012 VCS user manual contains the following:

[2020-05-06 14:01] rswarbrick commented on #845
Shall I just prepare a patch to tell VCS to be less enthusiastic? :-)

[2020-05-06 14:07] GregAC commented on #845
I think that'll solve this issue, at some point we should ponder whether we like the `unique case(1'b1)` style construct or not. I'll open a style-guide issue.

[2020-05-06 14:09] vogelpi commented on #845
Sounds good to me, especially since there is no quick/easy solution to avoid the `unique case(1'b1)`
.

I would prefer not to write manual AND/OR logic as I consider this more error prone to extensions. Having a generic onehot mux module sounds like a good idea. This would allow us also to replace all other muxes that are currently using ternaries without the need for priority encoding.

[2020-05-06 14:33] saurabhsingh-pvips commented on #776
There is no `sim.log` generated for the command I ran.

I have run into some VCS related issue at my end. Will try out running individual test instead of regression once that's fixed. Will update accordingly.

@rswarbrick Can you please run a full regression as well? This happened with pmp_tests, it finished when run individually but timed-out in regression.
See below:

[2020-05-06 14:42] rswarbrick commented on #776
@saurabhsingh-pvips As far as I understand the conversation above, Udi thinks everything is fixed. I assume that he came back to you to check that you don't have anything weird in your environment differing from his. There's not much point in me spending time trying to reproduce a bug that you may or may not have.

Please try to reproduce the problem you are seeing. If you can reproduce it, please

[2020-05-06 16:12] rswarbrick commented on #840
I've just pushed up https://github.com/lowRISC/opentitan/pull/2141, which tidies up the various filenames enough that we can vendor in the `hw/dv/data` and `hw/dv/tools` directories with minimal patching. (I tried it locally and it works!)

[2020-05-06 18:41] #802 closed

[2020-05-07 09:22] #845 closed

[2020-05-07 19:44] udinator commented on #840
Sounds good! Let's wait until that PR gets merged, and then we can vendor in those directories.

[2020-05-07 23:11] udinator opened #849 "PMP store fault does not jump to exception handler"
Hi Tom,
I ran into this situation when debugging a PMP test (with icache disabled):
![Screenshot from 2020-05-07 15-46-15](https://user-images.githubusercontent.com/16736281/81351754-e4a9d780-9079-11ea-87de-f571cd0a8829.png)
The instruction at `PC=0x8001fb0a` (under the cursor) is a store instruction to address `0x80031034`, which the PMP detection logic correctly flags as an error for not matchin

[2020-05-08 09:59] rswarbrick opened #850 "ICache <-> core valid signal depends on ready"
As it currently stands, the documentation (that I wrote) suggests this shouldn't be the case. We either need to fix the documentation or change the code.

[2020-05-09 12:54] tudortimi opened #852 "'VERBOSE' mode doesn't give any extra information when running a single test"
I was having an issue running a simulation using OVPSim. It wasn't dumping anything in the log file and the comparison was failing. I tried running with `make ... VERBOSE=1`, hoping that it will give me some more log output to figure out what the issue was. The output was the same.

In the end, I solved my issue using good old fashioned print debugging (https://github.com/google/riscv-dv/issues/56

[2020-05-11 09:06] tomroberts-lowrisc commented on #849
Thanks for the report Udi - I'll push a fix shortly.
The instr_valid_i signal drops because the store instruction has moved to the Writeback stage, and in this case there is no other instruction behind it (due to IF stage stalls). The icache probably manages to get another instruction in behind the faulting store here, but we should still be able to hit the same bug eventually.
I'm not sure this i

[2020-05-11 10:00] gxflying opened #853 "test "riscv_dret_test" format error in testlist.yaml terminats the command line"
Hi, i find a typo in the testlist.yaml. details below:
there is a **unexpected space line** in the **sim_opts** node, which will terminate the command line.
and the cmd fails to generate a .S file
![testlist---](https://user-images.githubusercontent.com/16956976/81549373-37083280-93b1-11ea-87ef-82e17d38d743.jpg)

[2020-05-11 10:24] rswarbrick commented on #853
Hi @gxflying. Can you give the exact SHA of the tree where you see this? Looking at `863fb56e`, I see an empty line 225, which is what I would expect.

[2020-05-11 10:39] rswarbrick commented on #852
Hi @tudortimi. Thanks for the message. The VERBOSE argument here (in `dv/uvm/core_ibex/Makefile`) turns into a `--verbose` argument to `dv/uvm/core_ibex/sim.py` or the vendored riscv-dv `run.py`.

Looking at the linked issue, I guess you were expecting more information when running OVPSim, which is done by `run.py`, which is vendored from riscv-dv. Please could you open an issue there, explaining

[2020-05-11 11:46] GregAC opened #857 "How to classify and deal with multiple configurations"
The current multi-config setup for Ibex is simple. We have a number of named configs and they all supply settings for the same parameters, this is one example:

https://github.com/lowRISC/ibex/blob/863fb56eb166dc8d6e25f4e98b7319f0c7088564/ibex_configs.yaml#L10-L16

Are we happy with this setup or do want something more complex? In particular for PMP this isn't really something that pairs nicely wi

[2020-05-11 11:48] rswarbrick commented on #857
I like the config add-ons approach. It would probably be good if we could also "name" some collections of add-ons, so there would be a "for-opentitan" config etc.

[2020-05-11 11:53] GregAC commented on #857
Perhaps I should lean more heavily on the add-ons approach and everything becomes an 'add-on' then a 'config' becomes a collection of add-ons and individual parameter settings.

[code]

Or just drop the whole seperation between 'add-ons' and 'configs', everything is a config and configs can include other configs?

[2020-05-11 11:55] rswarbrick commented on #857
Maybe the "allow inclusions" approach is the best. And allow a list of configurations on the command line, where `./util/ibex_config.py A B C` is equivalent to `./util/ibex_config.py fake_cfg` with

[code]

[2020-05-11 12:07] gxflying commented on #853
I use the lastest verson of the master branch.
it seems good that there is a space line between two test node.
but when the difference between the two syntax below, the space line may not behavior as you think. the
1.  sim_opts: >
2.  sim_opts:
in my situation, 1->error 2->ok
or you may have a try by executing "make TEST=riscv_dret_test gen" command line and see if the assembly file generated.

[2020-05-11 12:25] tudortimi commented on #852
You mean open a case on `riscv-dv` for what I would like their script to print when called with `--verbose`, right? I can do that.

[2020-05-11 12:26] tudortimi commented on #852
Additionally, I think it would be very helpful if VERBOSE mode (maybe with different selectable levels) would print more information about the steps it takes to execute, for example what external scripts are called and with what arguments, to assist in debugging.

In this concrete case, with the OVPSim issue, if `VERBOSE=1` would have echoed the commands being called in the Makefile, it would have

[2020-05-11 12:32] rswarbrick commented on #853
I'm sorry, I think you'll have to send more details. I just ran:
[code]
from the top of the Ibex tree and 5 assembly files are generated in `dv/uvm/core_ibex/out/seed-24833/instr_gen/asm_tests`.

As I asked above, please can you give the exact SHA of the tree where you see this? Please also check that you haven't got any uncommitted changes in your tree (run `git status`). If the test is still fai

[2020-05-11 12:44] tomroberts-lowrisc commented on #857
Configs that can include configs sounds good to me

[2020-05-11 12:52] gxflying commented on #853
ok, I'll check it and do some more test tomorrow,  any results I'll inform you. thanks

[2020-05-11 14:02] rswarbrick commented on #852
Yes, I agree. I think this was a design decision made by the original authors. For what it's worth, `make --trace` disables the '@' symbols, which can help with this sort of thing.

[2020-05-11 15:29] rswarbrick commented on #850
When this is fixed, please revert commit `ff5c0c5`.

[2020-05-11 17:10] GregAC commented on #857
@imphil @vogelpi any further input?

[2020-05-11 18:21] udinator commented on #849
Hi Tom, I agree, I was also not completely sure this applied only to PMP errors, but (so far) I haven't been able to recreate this error with the memory error test.
I'll give your pull request a try and see if it fixes this issue, thanks!

[2020-05-11 18:36] udinator commented on #853
Hi @gxflying - this is an interesting issue.
The `sim_opts` node you mentioned is actually unnecessary for instruction generation, as this only impacts the RTL simulation step of the Ibex flow, only the `gen_opts` node has any effect on instruction generation.
Something else I noticed was that in the snippet you posted containing the command, the `+require_signature_addr=1` parameter appears twice

[2020-05-11 19:05] udinator opened #859 "[dv/makefile] Same seed used for each iteration of Ibex regressions"
Hi,
I've been seeing an issue with Ibex regressions where if I run a test (say riscv_debug_basic_test) 10 times, each of the ten iterations of this test all use the exact same seed since it is now generated in the top level makefile and passed down to every simulation iteration.
This is totally fine for sanity regressions where each test is run exactly once, but for large regressions (nightly, etc

[2020-05-12 01:46] gxflying commented on #853
yes ， it's really interesting. I Just had some more tests, and find something more.
I use the latest version of master branch with some modifications. of mine
@udinator.
1. **the "appears twice" problem** is because of my modification. I add the "sim_opts" into the sim command line. and why this modification ? explains below:
from the file configuration.rst (vendor\google_riscv-dv\docs\source line

[2020-05-12 02:29] udinator commented on #853
Ahh, I think I understand the confusion here - basically there are two separate `sim_opts` variables that you are referring to interchangeably.

The first instance of `sim_opts` is, as you point out, in the instruction generator as a command line parameter to the `vendor/google_riscv-dv/run.py` script; this one allows you to pass in instruction generation options.

The second instance of `sim_opts

[2020-05-12 02:29] #853 closed

[2020-05-12 03:18] gxflying commented on #853
@udinator thanks for your reply.
as you said,  the key confusing point is all about "sim_opts",
1. I think, it 's may be better to modify the description in configuration.rst (vendor\google_riscv-dv\docs\source line 93). because it says the "sim_opts" in yaml files **NOT** command line is for generating instructions

Test list in **`YAML format`_**
    .....
    # sim_opts        : Simulation opti

[2020-05-12 06:16] tudortimi commented on #852
It's slightly awkward that there are two ways to configure the verbosity. Would you be open to a PR with a Python script that wraps the Makefile? I find such scripts to be better also because it's possible to get a good overview using the `--help` switch.

[2020-05-12 08:34] vogelpi commented on #857
I would try to make this as simple as possible without duplicating stuff. Thus, I don't like the idea of having multiple configurations like `small-3cmult-pmp-off` and `small-3cmult-pmp-on`. If we are going to add a new parameter, we might need to double the configs and things will get messy over time.

Having configs including other configs (not add-ons) seems the way to go.

[2020-05-12 08:39] imphil commented on #857
I wouldn't to beyond what we have today: a list of configurations.

The config tooling was motivated by the reduction of the test matrix to a simple list. As soon as you add dimensions in the form of includes, sub-configs, etc., you loose that benefit.

I know that this will require us to think hard about configurations. Maybe the thinking could be driven by the question "What do we see as an exce

[2020-05-12 10:32] rswarbrick commented on #859
Hmm. You're right this doesn't quite make sense. I've pushed a fix at instruction generation time here: https://github.com/google/riscv-dv/pull/570. The sim-time fix is in PR #861.

[2020-05-12 10:37] GregAC commented on #857
From our discussion we will be leaving the config setup as is. A straight-forward list of named configs along with the parameter settings for each.

As part of enabling the multi-config DV I'll turn PMP on in at least one of the configs. We'll need to come up with some names as I think adding features with `-feature` to the config name starts to get unwieldy, e.g. we'll have `experimental-maxperf-

[2020-05-12 10:52] rswarbrick commented on #852
I don't think that's a good idea, personally. I would, however, be keen on a PR that makes all the '@' signs in the Makefile conditional on the VERBOSE variable. This could work the same way as, say, Automake handles the V=0/V=1 parameter.

[2020-05-12 11:14] #857 closed

[2020-05-12 11:21] rswarbrick commented on #852
@tudortimi: Actually, I realised this was going to be really easy, and something I wanted too, so I've just done it. If the PR gets merged, do you think there's anything else that needs tracking on this issue?

[2020-05-12 11:24] rswarbrick commented on #778
Oops, this got done with #786.

[2020-05-12 11:24] #778 closed

[2020-05-12 13:14] tudortimi commented on #852
I think this is enough for now. If there is anything else, I can always open a new issue.

[2020-05-12 15:36] #852 closed

[2020-05-12 22:54] ganoam commented on #826
PR #863 is ready.

[2020-05-12 22:55] ganoam commented on #89
A PR for Zbe is ready for review: #863.

[2020-05-13 02:59] udinator opened #864 "PMP fetch exception causing `X` propagation through IF stage"
Hi Tom,
I ran into 2 related (at least in this situation) issues when running some PMP tests, the waves and a code snippet are shown below:
![Screenshot from 2020-05-12 17-29-07](https://user-images.githubusercontent.com/16736281/81758278-2241a280-9476-11ea-9fe0-e66195aed79a.png)
![Screenshot from 2020-05-12 15-54-53](https://user-images.githubusercontent.com/16736281/81758072-a9424b00-9475-11ea-8

[2020-05-13 10:12] vogelpi opened #866 "Deal with new `sext.b/h` Zbb instructions"
As mentioned in #863 , we recently vendored in a riscv-dv version from upstream that features two new instructions added in the [latest working draft version of the bitmanip extension](https://github.com/riscv/riscv-bitmanip/blob/master/bitmanip-draft.pdf) (no version number yet).

These two instructions are not part of the version 0.92 draft implemented in Ibex. As a consequence, the Zbb tests st

[2020-05-13 11:02] ganoam commented on #866
The spec version 0.92 does include the sext instructions. They are even explicitly mentioned in the change history. But they are not categorized in the table on page 3. I think this is an oversight, and they should really have been part of zbb already.

I think, if riscv-dv chose to include it already, it would make more sense for us to do it too. They are pretty simple to implement.

Sidenote: it

[2020-05-13 12:42] tomeroberts opened #867 "[synth] Feedthrough paths on data bus interface"
With the Writeback stage enabled, there is a feedthrough path from ``data_rvalid_i`` and ``data_err_i`` back to ``data_req_o``

``lsu_resp_valid_o`` --> ``outstanding_memory_access`` --> ``data_req_allowed`` --> ``lsu_req``
``data_err_i`` --> ``wb_exception`` --> ``instr_kill`` --> ``instr_executing`` --> ``lsu_req``

[2020-05-13 13:41] vogelpi commented on #866
Ah, I see thanks for clarifying that. In this case, it indeed makes sense to implement them at some point.

I will get in touch with DV folks to move them to Zbb. I don't see why they should be part of Zbe.

[2020-05-13 16:49] GregAC commented on #867
This may be a tricky one. If we've got back to back loads then the second load shouldn't execute (i.e. send its request) until it knows the first one has succeeded, it can't do this until it knows the response to the first load (to see if it was an error response and hence whether or not the first load will take an exception). We could always prevent the second load from sending its request until

[2020-05-13 16:55] GregAC commented on #867
I could also try a quick RTL hack to stall between back to back memory accesses and run coremark/embench and see what the impact of that is.

[2020-05-14 20:11] vogelpi commented on #866
Update: this will be solved upstream by creating a new Zb_tmp instruction group for the two instructions, see google/riscv-dv#573.

[2020-05-15 09:03] hyf6661669 opened #871 "How to use (openocd + verilator + gdb) to do debug simulation for ibex?"
In https://github.com/PrincetonUniversity/openpiton, they only introduce how to use openpiton with ariane. Is there any guidance? Thanks!

[2020-05-15 09:13] GregAC commented on #871
We don't provide debug infrastructure in the Ibex repository, however the OpenTitan project that uses Ibex includes debug infrastructure https://github.com/lowRISC/opentitan

We use the debug module from the PULP platform https://github.com/pulp-platform/riscv-dbg

You may also be interested in this PR (which ultimately didn't get merged) https://github.com/lowRISC/ibex/pull/654 which extracts jus

[2020-05-15 09:14] GregAC commented on #871
There is also some brief info on what's required for debug support in Ibex in the documentation here: https://ibex-core.readthedocs.io/en/latest/debug.html

[2020-05-15 09:37] rswarbrick commented on #859
Tao wasn't keen on defining the combination of `--seed` and `--iterations` > 0 in riscv-dv, so I've amended that patch to use a new flag, `--seed_start`. This will work for us, but needs a minor tweak to how we call riscv-dv when the new code is vendored in. Assuming that https://github.com/google/riscv-dv/pull/570 gets merged in something like it's present form, we'll want a patch like the attach

[2020-05-15 09:42] rswarbrick commented on #859
Oh, and looking again at what you originally wrote, @udinator, my idea is that we'll pick a starting seed (either at random, or given by the SEED argument to Make). We then run tests with seeds `{SEED, SEED+1, ..., SEED+num_iters}`. Assuming the PRNG isn't completely terrible, this has the same "randomness" as running `num_iters` arbitrary tests, but it lets us make sure the seeds we use in riscv-

[2020-05-15 10:13] #849 closed

[2020-05-15 14:48] Silabs-ArjanB commented on #258
FYI: I just filed a pull request for CV32E40P for the addition of a sleep pin (see https://github.com/openhwgroup/cv32e40p/pull/341). I believe that the way that core_sleep_o has been added inside Ibex will lead to core_sleep_o being 1 during (and just out of reset), which I don't think is what you would really want (it should onyl possibly get set in response to executing a WFI instruction).

[2020-05-15 14:50] udinator commented on #859
SGTM. Could you also amend the Ibex PR to use a `--start_seed` flag as well? The `--seed` flag in sim.py has the same motivation as it's counterpart in run.py, so it would be good to reflect the new method in both scripts.

Re Makefile changes: you're correct in that we'll just have to change the name of the flag used for generation and simulation from `--seed` to `--start_seed`.

[2020-05-15 14:53] rswarbrick commented on #859
Ok (I still don't think adding another flag is a good idea, but I agree that we may as well be consistent). I'll wait until the riscv-dv PR has been merged (to make sure Tao is ok with the argument name), because then I can update #861 and vendor in the updated riscv-dv at the same time, which avoids a complicated patch in uvm/core_ibex/Makefile.

[2020-05-17 08:05] #871 closed

[2020-05-18 18:10] sriyerg opened #879 "[RTL] Overlapping case statements in ibex_alu.sv"
Ran into this warning in OpenTitan chip level sim:

[code]

Steps to reproduce:
- Clone OpenTitan repo, cd to repo top
- Checkout PR 2052 if it is not already merged
- Run chip DV sim:
[code]

PTAL, thanks!

[2020-05-19 08:40] #859 closed

[2020-05-19 08:42] rswarbrick commented on #879
I think this is probably a duplicate of #845, which was fixed in the Ibex repository by commit `4f349a`. Can you try again, passing the `-xlrm uniq_prior_final` arguments to VCS? If that silences the message, you'll need to add the equivalent arguments for OpenTitan.

[2020-05-19 12:35] elchanan18 opened #880 "Beginner question: C.JR not branching"
I'm trying to understand why the branch isn't happening.
On cycle 9/10, we excecute a C.LI which loads value 0 into reg 0F.
On cycle 11/12, we execute a C.JR with reg 0F (which contains 0),
so we'd expect rvfi_pc_rdata to be 0 on cycle 13/14, not to just increment to DDFFFF84.

Is there something obvious I'm missing?
Thank you

![cjr](https://user-images.githubusercontent.com/52534675/82326670-dcd

[2020-05-19 12:49] tomroberts-lowrisc commented on #880
Hi there
Tricky to tell what's happening from just the picture. If you dump the CEX trace as a vcd and attach it here I can help you debug it.

[2020-05-19 12:55] elchanan18 commented on #880
Wow.  Thanks for the quick response!
But it won't let me post a .vcd

![dontsupport](https://user-images.githubusercontent.com/52534675/82328830-08a9d900-99e9-11ea-97c4-c19b5e001174.JPG)

[2020-05-19 12:57] tomroberts-lowrisc commented on #880
you can zip it then attach it

[2020-05-19 13:00] elchanan18 commented on #880
[cjr.zip](https://github.com/lowRISC/ibex/files/4650589/cjr.zip)

[2020-05-19 13:32] tomroberts-lowrisc commented on #880
Thanks - how are you decoding/determining those opcodes?
I decode these as:
``0x4781 = li x15, 0``
``0x87CE = mv x15, x19``
``0xDFEAD9E3 = bge x21, x30, 0xFFFFFDF2``

[2020-05-19 13:42] elchanan18 commented on #880
Oh.  Reading the ISA for C.JR (page 105) doesn't mention that rs2 has to be x0.  Now, looking at the ISA for C.MV (page 108), I see where it adds that rs2=x0 points to C.JR
My bad.
I should have checked first with the table on page 113.
Thank you for the lesson.

[2020-05-19 14:01] tomroberts-lowrisc commented on #880
No problem - glad you figured it out
I'll close this issue now, feel free to reopen if you have further questions.

[2020-05-19 14:01] #880 closed

[2020-05-19 14:25] GregAC commented on #867
The performance impact of stalling to stop back to back memory accesses is significant:

* Coremark without stall: 3.09, with stall: 2.92, 5.8% change
* 8.3% slowdown in Embench

So I don't think the simple fix is a good idea, I do note the cv32e40p (previously RI5CY) contains a very similar path:

https://github.com/openhwgroup/cv32e40p/blob/dde01442d11123763dccdf030b4bd3fbf4d9b4fe/rtl/riscv_load

[2020-05-19 14:48] tomroberts-lowrisc commented on #867
Agreed that seems like too much of a performance hit.
It's not an issue in the FPGA at the moment. It starts to show up if we remove the pipelining on the d-side, but I think it's still meeting the target frequency.

[2020-05-19 15:04] GregAC commented on #867
Ultimately we do need to remove pipelining, for the SRAM data access at least, to ensure good performance (i.e. data/response return cycle after request). I think we may end up with a split setup where the data SRAM is like a tightly coupled memory with as little logic between it and the Ibex IO as possible with everything else accessible via the memory system sitting behind some pipeline logic.

[2020-05-19 15:39] GregAC commented on #845
I'd note the issue of `unique case (1'b1)` has already been discussed https://github.com/lowRISC/style-guides/issues/8 where it was concluded this is a construct we are happy to allow.

[2020-05-19 16:14] GregAC commented on #867
I've taken a look with a yosys run, this path is 9 levels of logic, which doesn't seem too bad. I think we're going to have to allow some feedthroughs in Ibex, we should come up some guidance around how long they can be and ensuring they are documented.

[2020-05-19 16:37] sriyerg commented on #879
Okay, thanks!

[2020-05-19 19:21] sriyerg commented on #879
Duplicate of #845, closing.

[2020-05-19 19:21] #879 closed

[2020-05-21 08:30] tomroberts-lowrisc opened #885 "[rtl] Dummy instruction enhancements"
- Wider control of insertion frequency, all the way down every other instruction
- Add dummy instructions when IF stage stalls to hide I$ timing side-channel
- Add some scrambling to LFSR output
- Replace NOPs with dummy instructions (idea from CG since algorithm writers sometimes add NOPs for obfuscation, but their power signature can be a bit obvious)
- More software control over the types of in

[2020-05-21 10:45] GregAC opened #886 "[rtl] Qualify data_rvalid_i with whether a valid load is present before register write"
Currently the top-level IO `data_rvalid_i` fairly directly factors into `rf_we_wb_o`, so if Ibex sees a valid read response that isn't an error it triggers a register file write, it simply assumes a valid load is present in the writeback stage that data needs to be written for. Provided there is no protocol violation on the memory interface (e.g. a read response generated that doesn't match any re

[2020-05-22 12:20] ganoam commented on #826
This has been merged.

[2020-05-22 12:20] #826 closed

[2020-05-22 12:21] ganoam commented on #866
This has been merged in #870

[2020-05-22 12:23] #866 closed

[2020-05-22 12:44] ganoam commented on #89
Update: We are done implementing all the instructions, once #892 has been merged.

The next steps will be:
Do a final round of optimization:
- It has been observed, that there is a large discrepancy between the area consumption when the design is synthesized with relaxed timing constraints vs. tight timing constraints: The Implementation of the whole RVB extension grows the design by 6.0 kGE (25 /

[2020-05-22 14:02] imphil opened #893 "DV: Use FuseSoC instead of hardcoding file list in ibex_dv.f"
Similar to what we do in OpenTitan, we must move away from a hard-coded file list to make full use of our primitives system and other functionality enabled by FuseSoC and its `.core` files.