[2017-08-21 10:01] abdallah93as opened #1 "migrating to micro-riscy configuration problem"
Hello I am having a bit of trouble configuring the processor to work as "micro-riscy"

I changed all the:
parameter RV32M = 0  instead of 1
and
parameter RV32E = 1 instead of 0

But I still see mult_div signals in the modelsim waveform.

Is there anything else that I need to do in order to configure to that version.

Thankyou

[2017-08-21 10:08] FrancescoConti commented on #1
Do you see any activity on them? I don't think it is a problem that the signals are there at all, however if all parameters are set correctly they will be unused.

--
Postdoctoral Researcher
Integrated Systems Laboratory - ETH Zurich
Energy-Efficient Embedded Systems Laboratory - University of Bologna
f.conti@unibo.it<mailto:f.conti@unibo.it> - fconti@iis.ee.ethz.ch<mailto:fconti@iis.ee.ethz.ch>

[2017-08-21 11:40] abdallah93as commented on #1
IT WORKED!!!

I assumed that if I set these parameters correctly, than I would no longer see there respective signals.

I did a vivado implementation to see if I'm really in micro-riscy mode, and when the implementation was done, I saw that the number of flip-flops have gone down more than half of what they were in zero-riscy.

GREAT JOB GUYS, I really like the two new implantations. Keep up the g

[2017-08-21 11:40] #1 closed

[2018-01-02 09:03] chaosbastler opened #2 "Support for riscv-formal"
Is it possible to support the [RISC-V Formal Verification Framework](https://github.com/cliffordwolf/riscv-formal)? If yes, are there plans to do this?

[2018-01-03 16:11] davideschiavone commented on #2
not yet, but we would be very glad if someone wants to implement it

[2018-02-09 03:13] timdudu opened #3 "ra register not update when single step debug"
When core execute JAL instruction, return address should be written to ra register. But in single step execution, the ra register is not updated.
Here is an example waveform.
code is:  730000ef                jal     ra,102073c

1. the core is free run.
![capture](https://user-images.githubusercontent.com/29726453/36009162-f024b004-0d85-11e8-9dff-ab42104060bc.PNG)
You can see the return address 0x

[2018-02-09 03:16] timdudu commented on #3
Sorry, it's ra register not la.

[2018-02-09 15:41] davideschiavone commented on #3
Thanks a lot Tim,

I'll fix it asap and let you know soon.

Thanks a lot for reporting it ,
Davide

2018-02-09 4:16 GMT+01:00 timdudu <notifications@github.com>:

[2018-02-16 16:24] davideschiavone commented on #3
Dear Tim,

I fixed the bug, you can find the fix here: d4d46971ebd5e0a637d2d182af675e7c43078885

The solution is similar to the one you proposed but I simply removed the check of dbg request as it will be check in the second cycle of the instruction.

Thanks a lot,
Davide

[2018-02-16 16:25] #3 closed

[2018-04-13 15:29] pearson78 opened #4 "If instr[14:12]=3’b111”, rd=M[rs1+rs2]. This instruction code is not defined in the RISC-V spec."
Please refer the line 289-307 in the RTL file “zeroriscy_decoder.sv”. If instr[14:12]=3’b111”, rd=M[rs1+rs2]. This instruction code is not defined in the RISC-V spec.

[2018-04-24 19:21] adich0 opened #5 "clock_en_i no longer connected"
Hello,

It seems that the top level signal 'clock_en_i' no longer drives anything. Is this intentional?

[2018-04-25 10:34] pearson78 opened #6 "why mstatus accessed by CSR instruction will flush prefetch fifo"
Please refer the line 306 in “zeroriscy_controller.sv”, what purpose is for the csr_status_i (mstatus accessed  by CSR instruction) will enter the FLUSH state?

              else if (~branch_set_i & ~jump_set_i & (mret_insn_i | ecall_insn_i | pipe_flush_i | ebrk_insn_i | illegal_insn_i | csr_status_i))
              begin
                ctrl_fsm_ns = FLUSH;
                halt_if_o   = 1'b1;

[2018-04-25 11:32] davideschiavone commented on #5
Hello,

yes in the master branch, zero-riscy has been adapted to work with the more recent platforms PULP and PULPissimo which have a different event unit than PULPino, and the core now handles its clock gate by itself without relying on external units. In the PULPino branch the clock enable is still driving logic.

[2018-04-25 11:32] #5 closed

[2018-10-12 15:37] wallento commented on #2
Hi, we have started working on this. We hope to have it ready by end of October.

[2018-10-12 15:38] wallento commented on #2
Feel free to assign to me

[2018-10-12 15:40] wallento opened #8 "Support for PMP"
Implement Physical Memory Protection (PMP) as per privspec 1.10. My team is planning to work on that.

[2018-11-09 12:57] davideschiavone commented on #8
It's currently under development for Riscy in the branch MPU_branch.
once it is stable and well tested it will be merged into the master.
Then we can try to port it to zero-riscy.
Any help is welcome of course.

Best
Davide

[2019-01-09 03:09] supersnackbros opened #13 "Issues using Zero-Riscy in Vivado"
I apologize in advance if this is the wrong place to post this, but I could not think of anywhere else. I intend to use the Zero-Riscy core as part of a Xilinx Vivado project, but I have encountered two issues that I was hoping someone might be able to answer.

1. When running behavioral simulation and synthesis, several errors occur: "illegal context for assignment pattern" for lines 172 - 174, 1

[2019-01-10 12:42] Liyang131313 opened #14 "ASIC synthesis"
Hello，How many MHz can the zero-riscy ASIC synthesis achieve? @zarubaf @Razer6 @wallento @fabianschuiki

[2019-01-11 08:49] daviderossi1982 commented on #14
Up to 450 MHz in TSMC CMOS 40nm LP technology when integrated in a PULPissimo system (the SoC part of Mr. Wolf as described in this paper: https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8494247) Actually most of the critical path is on the memory in this chip, hence you can get even higher frequency if you couple the core with simple data and instruction memories. Maybe @davideschiavone

[2019-01-11 14:02] davideschiavone commented on #14
It can reach more than 560MHz in UMCL65 technology.

If you need more details about the physical implementation I suggest you to read the following paper:
https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8106976

If you have further questions do not hesitate to ask them!

Best
Davide

[2019-01-19 16:50] brabect1 commented on #13
Hi there,

As for 1. I believe the tracer code is purely for simulation, but is not really needed even for that. For synthesis you shall define the SYNTHESIS macro (either in one of the include files or in Vivado synthesis and simulation settings); then it should synthesize and simulate fine.

If you wanted some Vivado kick start, you may check my Digilent Arty A7-35 demo https://github.com/brabec

[2019-01-19 17:10] brabect1 opened #15 "PCMR bits swapped in documentation"
Looking at the RTL code, the function of Global Enable and Saturation is swapped in the documentation. Saturation is really controlled by bit 1 and enable by bit 0.

Please indicate which one is correct. RTL or doc?

https://github.com/pulp-platform/zero-riscy/blob/c6eeb34f57ff1cec354a74e025b889c26138146b/doc/performance_counters.rst#L16-L26

https://github.com/pulp-platform/zero-riscy/blob/b1b89f

[2019-01-19 17:19] brabect1 opened #16 "Bit clear operation (`csrrc` and `csrrci` ops) wrong for performance counter registers"
Looking at RTL, clear operations are implemented bad. Applies to all CSRs related to performance counters (PCMR, PCER, PCCRx).

Below is the sample code for PCMR, but the same pattern applies to the other CSRs. Rather than inverting the register value, do invert the mask (i.e. `csr_wdata_i`).

https://github.com/pulp-platform/zero-riscy/blob/b1b89f55fb1dbbf6f35ac5f92c5c1d12b2f41d45/zeroriscy_cs_re

[2019-01-20 22:58] supersnackbros commented on #13
Thank you for the advice on the first part. Synthesis works fine now. However, I'm still having issues getting the CPU to work in the Vivado simulation. What I've done is packaged the ZR core as an IP and placed it into a block diagram. I created block diagram ports for each input/output and created an HDL wrapper for the design. I am trying to use a testbench file to perform behavioral and post-s

[2019-01-22 14:00] Liyang131313 opened #17 "Why performance counters don’t start counting right away"
Hello, I would like to ask, why the program has been executed for a while during the simulation process, and the performance counters will start working. Instead of starting work immediately during system startup.
Is it because the firmware code is being executed? Does the performance counter work require firmware? If the firmware code is not executing, what is the operation, causing the performan

[2019-03-07 16:16] darbaria opened #18 "dbg_req_i & irq_req_ctrl_i both are high"
Following assertion in zeroriscy_controller (Line 515) is failing in 12 cycles after reset in formal. I've turned on the PULP_FPGA_EMUL to not use clock gating for now to check this. Can send the VCD but not allowed to attach here.

assert property (
    @(posedge clk) (~(dbg_req_i & irq_req_ctrl_i)) ) else $warning("Both dbg_req_i and irq_req_ctrl_i are active");

[2019-03-07 17:06] darbaria commented on #18
stall_cs is in HALT_REQ mode causing dbg_o to become high (line 375 in zeroriscy_debug_unit module), while at the same time, exec_ctrl_cs is in RQ_PENDING state, causing irq_req_ctrl_o (line 52 in zeroriscy_int_controller module ) to go high in the same clock cycle. Looks like an RTL bug to me!

[2019-03-08 13:52] davideschiavone commented on #18
Thanks for underlining this situation.

I don't think it is a bug but rather an deprecated assertion statement. If both are high, the interrupts have priorities. In single step the debugger would see the first instruction of the ISR as next instruction.

best regards
Davide

[2019-03-08 14:01] darbaria commented on #18
Hi Davide
Thank you for getting back, so I’ll disable this assertion for now and will look at checking priority for this. I do have other assertion failures in the LSU (other than the last one all three fail towards the very end of the lsu module). Could these be obsolete assertions as well? As I said I’m happy to share screen and show the waves. 
Thanks Ashish

    	Get Outlook for iOS

  From: P

[2019-03-08 14:04] davideschiavone commented on #18
Hello Ashish,
Thank a lot, yes they may be bugs even though they are more or less or related to inputs signals no?

Thanks for sharing :) very kind of you

Best
Davide

[2019-03-11 09:28] darbaria commented on #18
Hi Davide

So yes not sure why the following is an assertion, as it does need to be a constraint as data_rvalid_i is a top-level input.
 assert property (
    @(posedge clk) (CS == IDLE) |-> (data_rvalid_i == 1'b0) );
However, the following assertion doesn't seem to reflect what the intent (in the comment) is. The comment says that it should not be possible to get a grant without an rvalid for the

[2019-03-11 10:13] darbaria opened #19 "N_EXT_PERF_COUNTERS"
Wonder what the correct value of parameter N_EXT_PERF_COUNTERS should be?

The current instance of it being set to 0
parameter N_EXT_PERF_COUNTERS = 0

followed by

input  logic [N_EXT_PERF_COUNTERS-1:0] ext_perf_counters_i

doesn't make much sense.

[2019-03-11 10:21] davideschiavone commented on #18
Hello Ashish,

I see your point indeed. In practice once you send a request, you can receive the grant from that cycle on, no matters how many cycles later. But the valid signal must come at least 1 cycle after the grant. So if you receive the grant, you can send the next request but the next grant must come together or after the valid related to the previous transaction.

I think this was the int

[2019-03-11 10:23] davideschiavone commented on #19
Yes 0 does not make so much sense, there should be an if statement that checks whether it is 0 or not.

[2019-03-11 14:32] darbaria commented on #19
Okay I'll leave this to you to fix.

[2019-03-11 14:32] #19 closed

[2019-03-11 14:36] darbaria opened #20 "Prefetcher busy_o"
Two asserts that check that busy_o in the prefetch_buffer can change its state are failing. The assert that checks that once busy_o is low it can go high in future is failing in two clock cycles; this one I'm more inclined to say it can be a setup issue, as I'm still not fully familiar with the design; the interfaces are not fully specified either so difficult to say. However, the assert that says

[2019-05-02 06:35] raulbehl commented on #2
Hi @wallento,

I know it's been a long time but just wanted to know if you were able to get the formal framework done?

[2019-05-02 06:45] raulbehl opened #21 "Testbench for running simulations"
Hi,

I was going through the source directory but couldn't find an existing Testbench which could be used to run sims. Is there a chance that the TB would also made open-source?

[2019-05-02 08:48] FrancescoConti commented on #21
Hi, we don’t have exactly an open source standalone testbench for Zero-Riscy, but you can
- use PULPissimo as a simulation platform
- use PULPino as a simulation platform (but beware, the SW environment is legacy)
- slightly modify other testbenches. Here (https://github.com/pulp-platform/hwpe-tb) you find a testbench for accelerators which also includes a Zero-Riscy core and dummy memories

[2019-05-02 09:04] raulbehl commented on #21
Thank you for the comment. I'll take a look at them.

Closing!

[2019-05-02 09:04] #21 closed

[2019-05-03 12:56] imphil opened #24 "Fix PDF documentation build"
[code]

The SVG image in question actually is generated through wavedrom, as this part of the stacktrace shows:

[code]

The SVG (which is then converted to PDF and causes the error) contains a couple of tags with `xlink:href="#vvv-2-2"` statements, but no tag with the `id="vvv-2-2"` attribute. So the error message of cairosvg is correct, and something is wrong in the generation of the wavedrom SV

[2019-05-06 14:07] imphil opened #25 "Remove reg-reg loads"
reg-reg load (i.e., offset taken from a register and not from an immediate) should not be part of the Ibex ISA.

The code at line 261 here:
https://github.com/lowRISC/ibex/blob/master/rtl/ibex_decoder.sv

is a piece of code coming from RISCY and it should be removed.

[2019-05-07 12:38] #14 closed

[2019-05-07 12:58] imphil opened #27 "Standard-compliant performance counters"
We need to look into performance counters and see how we can implement them in a standard-compliant way (or ensure that we document where we have good reasons to deviate).

While at it, check #17, #16 and  #15 to see if they are valid and fix/close as needed.

[2019-05-07 14:33] oholimoli commented on #13
Hello, is it working now? Do you have your Zero-Riscy/Ibex Vivado-Project on GitHub?

[2019-05-07 14:53] imphil commented on #13
You can use pulpissimo with zero-riscy, which should be synthesizable using Vivado (https://github.com/pulp-platform/pulpissimo). In general, the code in this repository works with Vivado, but it's of course only a core and not a full SoC -- you need to either do this yourself, or use an existing one like pulpissimo.

[2019-05-07 17:21] asb opened #29 "Replace core_id and cluster_id parameters in favour of a single hartid parameter"
Ibex should allow system integrators to directly specify the hartid using whatever scheme makes most sense for their design. Currently core_id and cluster_id must be specified - this makes sense for the PULP use case, but will require some gymnastics for users who have a different hartid generation scheme.

[EDIT: "gymnastics" is hyperbolic given they're just concatenated - but you get my point. A

[2019-05-07 17:39] imphil commented on #29
I think your use of gymnastics is very much in line with my physical exercise routine :smile:

[2019-05-08 14:42] imphil opened #30 "Cleanup: Remove REG_* defines from ibex_id_stage"
Can we get rid of those defines and replace them by parameters or structs?

[2019-05-10 10:58] towoe opened #33 "Enum assignment cast"
In the following lines the enum types are assigned with a value without an explicit cast
https://github.com/lowRISC/ibex/blob/93b0b77f2717a69f87608929f7cde9d5268ca2e8/rtl/ibex_controller.sv#L159

https://github.com/lowRISC/ibex/blob/93b0b77f2717a69f87608929f7cde9d5268ca2e8/rtl/ibex_controller.sv#L162

[2019-05-10 12:19] vogelpi commented on #33
Hi @towoe ,
thanks for reporting the issue. I am currently fixing and testing it.

[2019-05-10 12:57] vogelpi commented on #33
Allright, I fixed it and Vivado does not complain anymore. The patch ended up in pull request #32 . To get it working locally before the pull request is merged, you can just replace the RHS of the two assignments by `exc_cause_e'('0);` See here: https://github.com/lowRISC/ibex/pull/32/commits/6554d6726b3ab2561a5e4692af40c4a421225d75

[2019-05-10 13:03] towoe commented on #33
Thanks @vogelpi for the fix!

[2019-05-11 00:20] ikarageo commented on #33
Hi. The same issue is true for the following line:  https://github.com/lowRISC/ibex/blob/93b0b77f2717a69f87608929f7cde9d5268ca2e8/rtl/ibex_cs_registers.sv#L376

[2019-05-11 00:35] ikarageo opened #34 "Illegal assignment of logic variable to enum type port"
Hi there,
The following illegal assignment is found:
https://github.com/lowRISC/ibex/blob/93b0b77f2717a69f87608929f7cde9d5268ca2e8/rtl/ibex_core.sv#L482

Changing the csr_op to enum type should be combined with a change in csr_op_ex as well as the relevant signals in "ibex_id_stage.sv".

Best,
Ioannis

[2019-05-13 11:28] vogelpi commented on #33
Hi @ikarageo ,
thanks for reporting this issue. The corresponding statement should be:

      dcsr_q     <= '{
        xdebugver: x_debug_ver_e'('0),
        cause:     exc_cause_e'('0),
        prv:       PRIV_LVL_M,
        default:   '0
      };

[2019-05-13 14:06] vogelpi commented on #34
Hi @ikarageo
thanks for pointing this out. I have implemented the suggested changes and created a PR. The fix should soon be upstream.
Best regards,
Pirmin

[2019-05-13 14:23] vogelpi commented on #33
I created a seperate PR #35 to merge the fixes into upstream soon.

[2019-05-13 16:37] #34 closed

[2019-05-13 18:28] wallento commented on #24
Hi,

the problem is related to a recent partial rewrite of the pre-rendering. Seems there is an issue with value-to-value transitions. Will get to it soon.

Cheers

[2019-05-14 08:25] #33 closed

[2019-05-14 11:09] wallento commented on #24
https://github.com/sphinx-doc/sphinx/pull/6364

[2019-05-14 11:15] wallento commented on #24
#36 and #37 make the documentation build. The LaTeX still looks ugly as the tables need to be set properly.

[2019-05-16 12:27] #24 closed

[2019-05-16 12:28] imphil opened #41 "Switch back to upstream Sphinx package"
Once a Sphinx release with sphinx-doc/sphinx#6364 is out we need to switch back to it, we're currently using a fork to fix a bug.

https://github.com/lowRISC/ibex/blob/62185d054ef937d5ceb74c85797245f481016fb3/doc/requirements.txt#L2

[2019-05-16 12:37] imphil commented on #2
@towoe that's something you worked on, right? Do you plan to get the necessary changes included upstream (at least the interface, we need to think a bit more about the Verilog parser workarounds)?

[2019-05-16 12:54] towoe commented on #2
Yes I worked on this and plan to upstream it. I guess I will need to do some work as the code changed a bit.

[2019-05-16 13:57] raulbehl commented on #2
@towoe Is it available on a branch which I could use?

[2019-05-16 14:55] wallento commented on #41
That's good, important to switch back to an actual pip release (sphinx>=2.0.2)

[2019-05-16 16:37] imphil commented on #4
This is referring to reg-reg loads as shown in this older snippet of the file:

https://github.com/lowRISC/ibex/blob/f7c2b6427045701706308f3a07b4848d3dc4e5b4/zeroriscy_decoder.sv#L289-L307

Duplicate of #25

[2019-05-16 16:37] #4 closed

[2019-05-16 16:43] #13 closed

[2019-05-17 05:24] wallento commented on #30
I was wondering about the same topic when I looked at the muldiv_fast yesterday.

`ibex_defines` is supposedly the best way to store them.

All occurrences of defines in the RTL code:

[code]

[2019-05-17 08:52] imphil commented on #30
Good catch @wallento. Yes, those MSTATUS_* defines should go as well and be replaced by an mstatus enum most likely, making these bit defines obsolete.

[2019-05-17 09:14] towoe commented on #2
@raulbehl not yet sorry. But will try to push it soon!

[2019-05-17 12:12] vogelpi opened #43 "Replace non-unique `case` constructs by `unique case`"
There are still many non-unique `case` constructs in the ibex code base that should be replaced by `unique case` constructs with a proper `default` as required by our coding guidelines.

[2019-05-20 19:10] ikarageo opened #44 "Missing description of input signal from documentation."
Hi,
Description of input "data_err_i" of the data memory interface is missing from documentation. This signal is currently used only for an assertion. Since it is a top level input, I believe it would be better for the user to read about it in the documentation instead of figuring it out from the RTL.

Best,
Ioannis

[2019-05-21 09:25] imphil commented on #44
Absolutely. Would you mind opening a PR adding documentation for that signal?

[2019-05-21 09:26] vogelpi commented on #44
Actually, I could do that as I am about to create a new PR for letting the core evaluating that signal and trigger exceptions.

[2019-05-21 14:09] imphil opened #46 "Decode HINT as NOP"
The core fetched an compressed instruction like below.

From a downstream bug report:

core   0: 0xffffffff8000f2ec (0x00009056) add     zero, zero, s5

0x9056 is correctly decoded as HINT instruction by spike, but ibex decode it as illegal C.EBREAK instruction:

https://github.com/lowRISC/stwg-base/blob/master/hw/vendor/lowrisc_ibex/rtl/ibex_compressed_decoder.sv#L215

[code]

This code first che

[2019-05-21 14:22] #43 closed

[2019-05-21 14:22] #44 closed

[2019-05-22 11:51] MACVTi commented on #46
If rs1/rd is equal to zero, then the processor should call an EBREAK instruction. I think it is spike that is decoding incorrectly here as it is bits [11:7] that take priority over bits [6:2]. I think the decoder is working correctly here.

![image](https://user-images.githubusercontent.com/15450756/58172259-f68b4280-7c8f-11e9-9b4d-449b084b814b.png)

[2019-05-22 18:12] imphil commented on #46
I had a closer look at the spec and I'm pretty confident that bits [6:2] must be handled with priority. I've opened PR #48 with an implementation.

[2019-05-22 19:52] MACVTi commented on #46
![image](https://user-images.githubusercontent.com/15450756/58203932-21e35100-7cd3-11e9-8960-33dd1a2d58ae.png)

![image](https://user-images.githubusercontent.com/15450756/58204074-74247200-7cd3-11e9-9cc6-8e2e2f4ead4d.png)

Yeah, looking at it again you're right. Your PR seems like it would correct the issue properly.

[2019-05-23 09:05] #46 closed

[2019-05-24 15:52] wallento commented on #41
It is merged and scheduled for 2.0.2

[2019-05-27 16:54] vogelpi commented on #17
Hi @Liyang131313 ,
the behavior of the performance counters `PCCR_q[0]` - `PCCR_q[10]` are controlled by the two registers:

- `PCER`: the performance counter enable register has one bit per counter to decide if that particular counter is enabled (1) or disabled (0). This register is mapped to TSELECT @ CSR 0x7a0.

- `PCMR`: the performance counter mode select register has two bits

  - Bit 0 glob

[2019-05-27 16:58] vogelpi commented on #15
Hi @brabect1 ,
thanks for creating this issue. You are right. Bit 0 is the global enable, and Bit 1 is the saturation control bit. I changed the documentation. The fix will be upstream in my next PR.
Best regards,
Pirmin

[2019-05-27 17:08] #17 closed

[2019-05-27 17:20] vogelpi commented on #16
Thanks @brabect1 for creating this issue. You are of course right. The fix will be in my next PR.

[2019-05-29 02:54] taoliug opened #51 "HINT instruction decoding issue - 0x7065"
Based on the spec, it should be decoded as HINT instruction (C.LUI, rd == 0), but it's decoded as illegal instruction by design incorrectly.
https://github.com/lowRISC/ibex/blob/master/rtl/ibex_compressed_decoder.sv#L105

[code]

[2019-05-31 16:26] #51 closed

[2019-06-03 14:49] #16 closed

[2019-06-03 14:49] #27 closed

[2019-06-03 14:49] #15 closed

[2019-06-05 10:23] towoe commented on #2
I pushed to https://github.com/towoe/ibex/tree/rvfi
But this will not yet work with the framework if yosys is used, as ibex makes use of systemverilog features which are not supported by yosys. I have a fork of yosys where I incorporate some work which is already available as a PR, but this not enough to get all issues resolved. One can manually modify ibex to get it working though. This will incl

[2019-06-05 11:57] #41 closed

[2019-06-05 12:03] imphil commented on #2
My preferred way forward would be:
1. Merge the RVFI
2. Switch ibex_tracer.sv to use it
3. PR and merge the riscv-formal things as soon as we know it at least works with the Verific frontend. (And I can't test this.)

@towoe could you do a PR based on your changes for the RVFI (only), and if you have time switch the ibex_tracer.sv to use it?

[2019-06-05 12:38] imphil opened #60 "[tracking] Synthesize Ibex with Yosys"
*This is a tracking bug. This description will be updated to reflect the current state of affairs. Comment if you have suggestions or updates.*

[Yosys](http://www.clifford.at/yosys/) currently supports only a limited subset of SystemVerilog, which isn't sufficient to parse Ibex. This issue tracks the outstanding issues. We are generally open to find a common ground between tools, but only as long

[2019-06-05 12:42] imphil commented on #60
Looking at this list, we can most likely work around all Yosys problems **except for** the package parameters and the enum/typedefs. These need to be fixed upstream.

The package parameter problem doesn't seem to have an upstream bug report yet. @towoe since you've worked on this, would you mind filing one upstream?

[2019-06-05 12:47] towoe commented on #2
@imphil I created the PR https://github.com/lowRISC/ibex/pull/61
Is this what you meant by including "(only)" RVFI?

[2019-06-05 12:57] towoe commented on #60
@imphil regarding the package parameter I just did a very simple addition in https://github.com/towoe/yosys-sv/commit/88b1e84167f44ea6e375d162026ba06a424af319
I am however not sure if this is correct or breaks anything else, but it seemed to work at my end.
As this is so small, maybe a PR to yosys can quickly answer that?

[2019-06-05 13:02] imphil commented on #2
Yes, thanks!

[2019-06-05 13:02] imphil commented on #60
Let's give it a try!

[2019-06-05 13:07] imphil opened #62 "Switch ibex_tracer to use RVFI"
Currently ibex_tracer is instantiated within the ibex_core.sv file depending on a define. It would be cleaner if we do the following:

- Modify ibex_tracer.sv take the RVFI signals as input. Requires #61 to be merged first.
- Remove the instantiation of ibex_tracer from ibex_core.sv
- Show people how to instantiate ibex_core and ibex_tracer in their top-level design; either in documentation, or by

[2019-06-05 13:33] imphil opened #63 "Replace block diagram with updated version"
The block diagram at https://ibex-core.readthedocs.io/en/latest/introduction.html is outdated and should be replaced. Unfortunately we need to redraw it as the SVG cannot be opened in Inkscape for unknown reasons, and the original file seems to be lost.

[2019-06-05 13:45] towoe commented on #60
As I wanted to split out the commit I just realized that this has dependencies to the other commits, I have to check what effects this has.

[2019-06-06 12:07] asb opened #64 "Evaluate the feasibility of parameterising ibex by XLEN"
It could be interesting to support RV64I as well as RV32I (imagine small helper cores, with access to the same address space as a larger 64-bit application cores). Before leaping into doing this, someone needs to do the ground work to see how disruptive it might be, so we can evaluate the potential maintenance / readability costs vs the benefits of supporting an RV64I configuration.

[2019-06-06 18:49] darbaria opened #68 "Missing prim_clock_gating module"
I can't seem to find this module anywhere. Can someone point me to where this might be?

[2019-06-06 18:52] tjaychen commented on #68
You can find it in hw/ip/prim/abstract.  It then picks either the RTL or
xilinx version underneath.

On Thu, Jun 6, 2019 at 11:49 AM Ashish Darbari <notifications@github.com>
wrote:

[2019-06-06 19:20] darbaria commented on #68
where exactly is hw/ip/prim/ folder?

[2019-06-06 19:36] ikarageo commented on #68
You can create it yourself as:

[code]

[2019-06-06 19:41] darbaria commented on #68
Thanks, @ikarageo.  Oh! I didn't realize that. I do have a legacy cluster_clock_gating module from 0riscy.  BTW is it worth leaving a template .v inside the rtl folder so at least that checkout compiles with at least formal tools. I recall from 0riscy checkout I'd the same problem back then.

@tjaychen  I'd still be interested to know where is the hw/ip folder?

[2019-06-06 20:27] tjaychen commented on #68
Oops sorry, I'm pretty new to this, it seems like I may have been talking
about the wrong thing.
Sorry about that.

On Thu, Jun 6, 2019 at 12:41 PM Ashish Darbari <notifications@github.com>
wrote:

[2019-06-06 20:39] towoe commented on #68
But there should be one in `dv/uvm/tb/prim_clock_gating.sv` right?

[2019-06-06 21:14] darbaria commented on #68
There is one there indeed! Should it be there?

[2019-06-07 06:56] davideschiavone opened #70 "Implement trap handling according to latest RISC-V spec"
Hi guys (@vogelpi , @imphil )

according to the Priv ISA Spec of RISC-V 1.10, you should handle the exceptions by always jumping to mtvec rather than vectoring them as it was in the past

Look at the section
3.1.12 Machine Trap-Vector Base-Address Register (mtvec)
of this document please: https://riscv.org/specifications/privileged-isa/

I have already done it in RISCY.
So now in the controller ev

[2019-06-07 06:59] asb commented on #70
Thanks for the note Davide - I believe @vogelpi is already working on this. We should have set up a tracking issue in this repo for that work. This issue can now fulfill that role!

[2019-06-07 07:23] taoliug commented on #68
I added "dv/uvm/tb/prim_clock_gating.sv" just to get the TB compile and running.  I agree we should have some default implementation like this so that user can check out the repo and get it up and running without adding an additional module.

[2019-06-07 07:30] taoliug commented on #70
Does this apply to interrupt handling as well?

[2019-06-07 07:39] vogelpi commented on #70
Thanks @davideschiavone , I am working on this as mentioned by @asb . Thanks for the pointers to RI5CY. This will be helpful.

@taoliug : For interrupts we have two options. Either we do it as for the exceptions (direct mode). Or we use vectored mode (similar to what we do today). The plan is to discuss this also next week in Zurich.

[2019-06-07 07:47] davideschiavone commented on #70
For what concerns interrupts, RI5CY is vectorized by default, so there is one field in the mtvec hardwired at VECTORIZED interrupt FYI.

[2019-06-07 08:26] imphil commented on #68
prim_clock_gating should be supplied by the user from his/her technology library, as documented here: https://ibex-core.readthedocs.io/en/latest/register_file.html#latch-based-register-file

I'll keep this bug around to explore what we can do to support a sample/default implementation.

[2019-06-07 12:48] imphil opened #72 "Reference integration for FPGA"
Goal: Provide a minimal, but fully working example of how to use Ibex on a well-known FPGA board.

Target board: One of the well-known Xilinx 7-series boards, Nexys or Arty*.

This will require:
- A toplevel
- Additional hardware blocks
  - A RAM
  - A prim_clock_gating implementation
  - A trivial GPIO IP would be nice which maps some bus reads/writes to LEDs/Switches.
- A board-dependent constra

[2019-06-07 12:49] imphil commented on #72
Talk to me when you're getting started on this issue, I have some existing code to share that we can reuse.

[2019-06-07 17:42] taoliug commented on #70
The base address of the vectorized interrupt should come from MTVEC, right now it's hardwired to 0? Here's what's said in the spec:

[2019-06-11 19:56] AntonBabushkin opened #75 "Unaligned instruction fetch and data addresses"
Hi,
I've got an issue while trying to execute a code compiled by *riscv64-unknown-elf-gcc-8.2.0-2019.02.0-x86_64-linux-centos6* (from https://www.sifive.com/boards/) on the *ibex* core.

Listing:

Message:

Could you please suggest what might be wrong here.
Thanks.

[2019-06-11 22:19] imphil commented on #75
Ibex is a 32 bit core, you need to use a RV32IMC toolchain to compile software for it. (riscv32-unknown-elf-gcc)

[2019-06-12 10:20] AntonBabushkin commented on #75
Hi Phillip,
Sure, the binary was compiled in 32-bit mode (32-bit ABI: option -mabi=ilp32 used).
I'll attach here a test case for issue reproducing.
Thanks.

[2019-06-12 11:45] AntonBabushkin commented on #75
Hi Phillip,
Please find a test case [here](https://www.dropbox.com/s/uaqw21t6mkh1plt/ibex_issue_75.zip?dl=0) which reproduces the issue.
The message from *ibex* core is:

[2019-06-12 12:14] vogelpi commented on #75
Hi @AntonBabushkin ,
as pointed out by Philipp, you need to use a proper 32-bit compiler for Ibex. Using a 64-bit compiler with the `-mabi=ilp32` does not help. If I am not misunderstood, this argument just makes sure that the program will use 32-bit data types (meaning an unsigned long will have a size of 4 Bytes as in 32bit systems and not 8 Bytes as in 64-bit systems). But the generated instruc

[2019-06-12 12:37] luismarques commented on #75
If you use a multlib GCC toolchain you can set both the -march and -mabi
option to the correct values, and then it should work.
For instance, try: -march=rv32imc -mabi=ilp32

On Wed, Jun 12, 2019 at 12:20 PM Anton Babushkin <notifications@github.com>
wrote:

[2019-06-12 12:42] AntonBabushkin commented on #75
Hi Pirmin,
Thanks for your the comment.
Yes, in my test I've set both *-march=rv32imc* and *-mabi=ilp32*, sorry for not mentioning that from the very beginning.
As a side note: produced binary perfectly works with [picorv32](
https://github.com/cliffordwolf/picorv32) and [ri5cy](
https://github.com/pulp-platform/riscv) core, which makes me think there might be something wrong in my setup with *ibe

[2019-06-12 12:46] vogelpi commented on #75
Thanks @AntonBabushkin for the update and the useful information!
We have to investigate this and will get back to you.
Best,
Pirmin

[2019-06-12 12:56] AntonBabushkin commented on #75
Hi guys,
I've tried using *gnu-mcu-eclipse* toolchain which if used with options *-march=rv32imc* and *-mabi=ilp32*  will produce 32-bit binary [acc to this page](https://gnu-mcu-eclipse.github.io/toolchain/riscv/install/#riscv64-unknown-elf-gcc).
The outcome remains the same:
Listing file:

Simulation message:

Thanks.

[2019-06-12 13:38] ikarageo commented on #75
Hi. Is there a chance that you use the core with `.RV32E (1),` ? This is the embedded ISA (RV32E) variant which has only 16 registers. In this sense, s6 register from `lw	a5,40(s6)` does not exist.

Best,
Ioannis

[2019-06-12 14:02] AntonBabushkin commented on #75
Hi Ioannis,
The *ibex* core is configured to *RV32IMC* ISA, please see */ibex_issue_75/simulation/ibex_cores.sv* L36-37 from previously attached test case.
![image](https://user-images.githubusercontent.com/25725453/59357532-adc92580-8d33-11e9-80e1-f4c151e94e00.png)
Thanks.

[2019-06-12 23:13] vogelpi commented on #75
@AntonBabushkin , I would like to look at the wave forms you have provided. But we don't have ncsim at hand (is this the tool that you used?). Would you mind to generate and share a `.vcd`. I think there should be a tool in ncsim called shm2vcd for this purpose.

[2019-06-13 01:51] AntonBabushkin commented on #75
Hi Pirmin,
Sure, please find an extracted first 200ns of sim time converted to VCD [here](https://www.dropbox.com/s/umsv33mjqw5v02q/waves_extract.vcd.tar.gz?dl=0).
Yes, the [simulation/sim.sh](https://www.dropbox.com/s/uaqw21t6mkh1plt/ibex_issue_75.zip?dl=0&file_subpath=%2Fsimulation%2Fsim.sh) control script should be used together with ncsim simulator. Which simulator are you using, is it vcs? I

[2019-06-14 22:20] vogelpi commented on #75
Hi Anton,
thanks for providing the VCD. We are using Verilator at the moment.

I am pretty sure I was able to track down the bug: The illegal instruction exception is triggered because the decoder gets indeed an illegal instruction from the IF stage. The actual problem is in the instruction fetch FIFO `ibex_fetch_fifo.sv`. In the particular case, the core wants to fetch from address `0x262` which

[2019-06-15 08:43] AntonBabushkin commented on #75
Hi Pirmin,
Thank you so much for issue analysis and fitting suggestions.
I understand that acc to your investigation due to presence of a bug in the `ibex_fetch_fifo.sv` the core is not able to properly fetch *half-word (16-bit)* aligned instructions.

I've tried to implement a workaround on my end by:
1. Aligning all sections in linker script to 4 bytes
2. Compiling for *RC32IM* instead of IM**C*

[2019-06-15 20:09] AntonBabushkin commented on #75
Hi Pirmin,
I've create a setup using *Verilator* for your convenience. It can be found [here](https://www.dropbox.com/s/9hijua1k6dvxcj8/ibex_issue_75_w_verilator.zip?dl=0).
You can run the simulation bu launching *sim.sh* script in the *verilator_sim* directory.
After simulation launching the *sim.log* and *trace.vcd* files will be created for debugging.

Surprisingly *Verilator* exhibits differen

[2019-06-16 21:12] imphil commented on #75
@AntonBabushkin please open a new issue for non-related issues to keep the discussion focused and actionable. Could you do that?

[2019-06-17 12:45] AntonBabushkin commented on #75
Hi Philip,
Thank for your comments.
Unfortunately due to my limited knowledge of the *ibex* core internal organization it's hard for me to judge whether those issues are related or not. To me it all sounds like "instruction decoding issues".
Please note that I am always referring to the exact same test case, it was just 1st adopted incorporating workarounds kindly proposed by Pirmin and 2nd *Veril

[2019-06-18 11:04] towoe commented on #2
I moved the `riscv-formal` specifics into https://github.com/towoe/riscv-formal/tree/ibex

[2019-06-18 14:46] vogelpi commented on #75
Hi @AntonBabushkin ,

thanks a lot for reporting these issues in the first place, for providing additional information, and also for generating a Verilator environment! This eases our work a lot!

I was traveling but will now look into your latest reports. Once I get a better understanding, I let you know if it is related to the original issue or not. If it is not related, we better create a new i

[2019-06-18 15:41] AntonBabushkin commented on #75
Hi Pirmin,
Thank you for your willingness to help, it's much appreciated.
Sure, please let me know if some of the reported observations are not correlated and I'll gladly move them into appropriate issues.
Thanks.

Best regards,
Anton

[2019-06-19 14:10] gautschimi opened #80 "Number of performance counters"
the parameter MHPMCounterNum does not seem to influence the number of performance counters. I synthesized the core once with MHPMCounterNum=1 and then with MHPMCounterNum=8 and it results in almost exactly the same area.

by looking at the code I also don't see how this parameter is changing the number of physically present counters/flipflops. I'm pretty sure there are 32 64b registers and 32 64b

[2019-06-19 16:31] vogelpi commented on #75
I had a look at both simulations. The first two observations are definitely related to this issue here.

As you noted, your workaround for unaligned accesses in the LSU is not a good one. Together with @luismarques , I had a look at the disassembly of your binary. There are are still unaligned loads and stores. Maybe you linked in some other code that is not under full control of yours? Looking at

[2019-06-19 16:38] vogelpi commented on #75
As for the illegal instruction exception occurring in the Verilator simulation, I am not 100% sure what the issue is. It is still there if I enable my fix. And the reason it is there is that the software at some point overwrites the instruction memory with something that is not a valid instruction (instruction `0xfce7a623` at address `0x958` writes `0x8` to address `0xC4`). Why it does not happen

[2019-06-19 18:33] AntonBabushkin commented on #75
Hi Pirmin,
Thank a lot for the analysis.
I've tried to implement the fix proposed by you:
![image](https://user-images.githubusercontent.com/25725453/59788865-5d266f00-92d5-11e9-999d-0b6a3d75adca.png)
and as far as I can tell it doesn't change the behavior much. Please see two ncsim log files attached.
[irun_w_fix.log (with fix)](https://github.com/lowRISC/ibex/files/3307365/irun_w_fix.log)
[irun_

[2019-06-19 20:34] vogelpi commented on #80
Thanks @gautschimi for reporting this, I will look into it.

[2019-06-20 09:57] gautschimi commented on #80
Ok what I wrote was not 100% correct. I think the counters 11-32 were never generated.

however, there is still something wrong. the number of registers is the same for MHPMCounterNum=0,1,2,3,4,5,6,7,8

I think apart from the cycle counter and instruction counter no other register is generated. but it might also be my synthesis tool, it reports quite a few errors when comparing csr_addr_i to CSR_M

[2019-06-20 11:42] vogelpi commented on #75
Hi Anton,
thanks for checking. I thought you did not test the fix as it was commented out in your code. Would mind to record a longer VCD with the fix enabled, please? The one you uploaded only includes the first 2us. The first error appears at roughly 4.8us (according to your logs).

I renamed this issue and created the fix. It is in PR #82 and waiting to get reviewed.

[2019-06-20 13:21] vogelpi commented on #80
Hi @gautschimi ,
thanks for reporting back. I checked with Vivado. It optimizes all counters away during synthesis except for mcycle and minstret. I am not 100% sure but I think this happens because of the `X` in the `CSR_MCOUNTER_MASK` etc. We are not using `casex` according to our [Verilog style guide](https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md). I need to think ab

[2019-06-20 13:35] gautschimi commented on #80
cadence rtl compiler

ok I didn't know about your guidelines. I think casex is useful if used with care. but if you don't allow casex you should also not allow if else statements with 'x' inside.

to get rid of it you can just do
[code]

[2019-06-20 14:09] AntonBabushkin commented on #75
Hi Pirmin,
Sorry for a misleading print-screen, the fix was actually enabled during VCD recording. And yes, it contains only first 2us, so please find attached a 12us long version of it (also log file can be found in the zipped folder).
[waves_extract_w_fix.vcd.tar.gz](https://github.com/lowRISC/ibex/files/3310760/waves_extract_w_fix.vcd.tar.gz)
Thanks.

[2019-06-20 17:24] vogelpi commented on #80
I have worked out a solution to get rid of the `X` in the mask and to let the synthesizer optimize away unused counters. It works in Vivado. @gautschimi Could you please also test Cadence RTL compiler?

The fix is here: e8615301b25c5e1c512aaa4eadf7426884cddec6

[2019-06-20 17:31] vogelpi commented on #75
Hi Anton,
thanks for sending me the full VCD. It looks like the core reads uninitialized memory several times, and as far as I can see, mostly around function calls. It is very hard to debug this though. If I understood correctly, the very same binary works on other cores and Ibex works fine when using the rv32 compiler. Would you mind to send me the assembly of the 32-bit binary working correctly

[2019-06-20 17:53] AntonBabushkin commented on #75
Hi Pirmin,
I've just tried locally the PR #82 (by replacing `ibex_load_store_unit.sv` taken from commit e50d51c9581763c6e9ca0353a262fb7ac8ee16e0 and `ibex_prefetch_buffer.sv` taken from commit 3e44b1526505afb12bd69954cfeecfc8e28985f9 files in my test case) but unfortunately I still got exactly same behavior.
The message from *ibex* core is:

Branch decision is X

Please find the VCD file attached.

[2019-06-20 20:36] AntonBabushkin commented on #75
Hi Pirmin,
I've create a setup for your convenience instantiating both *ibex* and *ri5cy* CPUs in the same DUT handler by *Verilator*.
The test case can be found here: [ibex_issue_75_ibex_plus_ri5cy.zip](https://www.dropbox.com/s/4qsqhftf34j7nkg/ibex_issue_75_ibex_plus_ri5cy.zip?dl=0).
Both cores are executing the same binary.
The *ri5cy* works perfectly fine, while *ibex* core unfortunately fails

[2019-06-21 15:16] gautschimi commented on #80
I can confirm that it also works with rtl compiler. thanks a lot!

[2019-06-21 15:20] vogelpi commented on #80
Thanks for reporting back, pal. Btw, you also need the fix in #84 to properly work with the counters.

[2019-06-21 15:21] gautschimi commented on #80
ah there is still one issue:
when MHPMCounterNum < 8
my simulator complains because:
[code]
you should use a combinational process to drive these signals, not assign statements.

[2019-06-21 15:33] vogelpi commented on #80
Thanks, good catch. I have fixed this as well.

[2019-06-21 15:40] gautschimi commented on #80
(y) thanks!

[2019-06-21 15:45] vogelpi commented on #75
Hi Anton,
thanks for reporting back, clarifying and for providing the new setup. I am still investigating.

As a side note: I knew that the fix in PR #82 does not solve the problem completely. But it at least solves the first part of this issue. So it is needed.

Anyway, I let you know when I find out more.
Best,
Pirmin

[2019-06-24 14:52] vogelpi commented on #75
Hi @AntonBabushkin ,
I could finally track down the bug you were facing. There is an issue in the latch-based register file (`ibex_register_file.sv`). I do not yet fully understand the bug. It seems that under certain circumstances, write operations to the register file are not properly handled. In the VCD file you provided, this happens at 4150ns (see first marker from the left in screenshot belo

[2019-06-24 15:45] imphil commented on #63
That's done now.

[2019-06-24 15:45] #63 closed

[2019-06-24 15:52] imphil opened #86 "Document trap precision"
The RISC-V spec gives us some flexibility how precise traps should be. We need to document our current behavior.

I'd expect all traps to be precise, but we should double-check with the code.

[2019-06-24 15:53] imphil opened #87 "Test trap precision"
Add DV to ensure that traps are as precise as we expect them to be. This requires the expectations to be documented first in  #86.

[2019-06-24 15:53] imphil commented on #87
@taoliug is this something the riscv-dv can do already?

[2019-06-24 16:00] imphil opened #88 "Add support for User (U) mode"
Currently, Ibex is M-mode only. For some usage scenarios, support for U mode would be beneficial.

Subtasks:
- Evaluate the implementation effort for this change. As a starting point, we can look at RI5CY (https://github.com/pulp-platform/riscv)
- Check overhead of this extension.
- Decide on configurability: should this feature be always-on, or configurable via a parameter? (Depends much on the a

[2019-06-24 16:58] imphil opened #89 "[tracking] Implement bit manipulation (B) RISC-V ISA extension"
The bit manipulation (bitmanip) extension is currently being specified. Bit manipulation is a common task in many scenarios where Ibex could be used.

The bitmanip extension adds many new instructions to Ibex, not all of them have a straightforward implementation. Please have a look at the implementation plan and the implementation tracking sheet for an overview

* [Draft standard](https://github.

[2019-06-24 17:19] imphil opened #90 "Implement sleep with wfi instruction"
We currently implement the WFI instruction as NOP. This implementation is correct, but we should think about putting the core to sleep instead to save power.

[2019-06-24 17:24] tjaychen commented on #90
Can you comment a bit on how WFI=NOP works?
Does this mean the user is expected to do something like the following?

[code]
In the situation, will ibex continually fetch code? I'm guessing not, we'll just in some tight NOP loop?

[2019-06-24 18:21] AntonBabushkin commented on #75
Hi Pirmin,
Thank you so much for your reply.
Usage of ff-based register file (`ibex_register_file_ff.sv`) solves the problem indeed.

Best regards,
Anton

[2019-06-24 19:34] #80 closed

[2019-06-25 08:09] davideschiavone commented on #90
Hi @imphil , actually the WFI instrunction is not implemented as a NOP.
it puts the core into a SLEEP state (https://github.com/lowRISC/ibex/blob/master/rtl/ibex_controller.sv#L225) where the clock enable is deasserted. Have a look at https://github.com/lowRISC/ibex/blob/master/rtl/ibex_core.sv#L257

Best
Davide

[2019-06-25 10:28] jrrk opened #91 "We need to document working versions of CAD tools"
The Google UVM framework requires either VCS or incisive.
I have found that vcs-mx/N-2017.12-SP1 works but that vcs-2016.06-sp1 does not.

We should record these experiences in some sort of compatibility table.

The failing version crashes out, with a fatal error.

[2019-06-25 12:30] vogelpi commented on #75
Thanks for reporting back @AntonBabushkin . Together with @luismarques and @gautschimi , I could nail down the bug. The latch-based register file itself is fine but the implementation of the clock gate in `prim_clock_gating.sv` is not compliant with the latch-based register file.

For SimVision, you can try to use `cluster_clock_gating.sv` instead (you have it in your simulation directory). This c

[2019-06-25 12:45] vogelpi opened #93 "Clock gate for latch-based register file"
The clock gate currently provided in `dv/uvm/tb/prim_clock_gating.sv` is not compatible with the latch-based register file. Usage of this clock gate leads to wrong behavior in simulation as reported in #75.

For commercial, event-based simulators a clock-gate using a latch for the enable signal can be used. For Verilator, a different workaround is needed.

Also, the requirements on the clock gate

[2019-06-25 12:48] vogelpi commented on #75
The first problem discussed in this issue related to misaligned instruction and data addresses has been resolved in #82 . The second problem related to the clock gate for the latch-based register file is now tracked in #93 .

[2019-06-25 12:48] #75 closed

[2019-06-25 13:08] imphil commented on #90
Thanks @davideschiavone for jumping in here, I got pretty much confused by wfi in debug mode (where it is a nop) and didn't double-check the normal case before opening this issue.

But that now gives me the joy of closing this issue as "done" without having to do any implementation work :smile:

[2019-06-25 13:08] #90 closed

[2019-06-25 13:17] gautschimi commented on #75
I think the flags -delay_mode_zero and -delay_trigger do not help. the register_file really expects a proper clock gate with a latch

[2019-06-25 13:46] gautschimi opened #94 "interrupt & interrupt_disable"
the core wakes up when an interrupt is received, but the mie=0. I think that's a bug.

https://github.com/lowRISC/ibex/blob/master/rtl/ibex_core.sv#L279

should be:
[code]

I'm also not sure about the behaviour of mret. I think if mret is executed twice it will enable the mie which could lead to problems:
https://github.com/lowRISC/ibex/blob/master/rtl/ibex_cs_registers.sv#L418-L426

in ibex_cs_re

[2019-06-25 13:55] davideschiavone commented on #94
Priv spec page 41:

The WFI instruction can also be executed when interrupts are disabled. The operation of WFI must
be unaffected by the global interrupt bits in mstatus (MIE/SIE/UIE) and the delegation registers
[m|s]ideleg [...]

Regarding the MRET, what do you mean can cause problem? This is how MRET is defined in section "5.9 Trap Return" of the priv spec.

[2019-06-25 14:12] gautschimi commented on #94
oh yes you are right regarding the wfi. thanks!

and also mret seems to be according to specs. but it's still a bit weird to me.

I just had a test in which mret was executed twice in a row (not on purpose) and this enabled my interrupts. because the first execution is setting mpie=1 and the second is then setting mie=mpie=1. => interrupts enabled.
anyway not so important

[2019-06-25 14:16] davideschiavone commented on #94
The WFI makes sense otherwise you can end up in a deadlock :)
Regarding the MRET, that's true, it's a bit weird :)

[2019-06-26 09:06] eroom1966 opened #96 "Boot Address"
Hi
Something strange is happening, I have defined the Reset / Boot address to be 0x80000000
but the first address fetched is 0x80000080
How do I define the reset address I wish to be the first fetch address ?

Thx
Lee

[2019-06-26 09:44] gautschimi commented on #96
the reset vector is always at boot_addr + 0x80. the addresses up to 0x80 are used for the interrupt vector table

[2019-06-26 09:44] #94 closed

[2019-06-26 09:45] imphil commented on #96
We'll have in our tree shortly, but for now you can find a suitable linker script and crt in this PR: https://github.com/lowRISC/ibex/pull/78/files

[2019-06-26 10:41] eroom1966 commented on #96
How does this correspond to the RISCV Priveleged spec ?
I see the exceptions are at hard coded addresses, rather than being encoded into an MCAUSE register
https://ibex-core.readthedocs.io/en/latest/exception_interrupts.html

Thx
Lee

[2019-06-26 10:44] imphil commented on #96
The current trap handling is free-form, which was allowed in an older version of the spec. Work is underway to update it to to the current spec in https://github.com/lowRISC/ibex/issues/70.

[2019-06-26 10:50] imphil opened #97 "Implement the mscratch CSR"
The title says it all.

[2019-06-26 12:24] simon5656 opened #98 "when will ibex pass some of the compliance tests"
I see from #96 Boot Address the comment 'Work is underway to update it to to the current spec' etc.

This is good - my question is when do you think the ibex will be able to run the relevant risc-v compliance suites - as they require at least 1.10, 2.1.

We have tried to run ibex in its dv/uvm /tb testbench with the first few compliance tests but have now halted this work due to many issues needin

[2019-06-26 12:46] imphil commented on #98
We don't have a clear timeline for that at this moment. The trap and interrupt subsystem is the last component which we know of not being compliant with the latest spec, and work on this issue is underway. Expect this to arrive within the next couple of weeks.

Please open an issue if you discover spec compliance problems for things which don't already have a issue here on GitHub.

[2019-06-26 12:46] #98 closed

[2019-06-26 13:09] #93 closed

[2019-06-26 13:15] imphil commented on #68
This requirement is now more clearly documented in https://ibex-core.readthedocs.io/en/latest/getting_started.html.

[2019-06-26 13:15] #68 closed

[2019-06-26 13:56] imphil opened #99 "Run RISC-V Compliance tests through Verilator"
Provide a Verilator model of Ibex to serve as target for the RISC-V compliance test suite, and add required tooling and documentation for it. (https://github.com/riscv/riscv-compliance/tree/master/doc#the-target-environment)

Inspiration can be taken from RI5CY (https://github.com/pulp-platform/riscv/tree/master/tb/core).

[2019-06-26 13:56] imphil opened #100 "[tracking] Pass RISC-V compliance test suite"
We want to execute and pass the RISC-V compliance tests on Ibex.

Setup tasks
- Create target to run the compliance tests in Verilator: #99

Known issues:
- [x] Standards-compliant trap/interrupts: #70
- [x] Implement the MSCRATCH CSR: #97

[2019-06-26 14:01] davideschiavone commented on #100
We added MSCRATCH and ported RISCY to 1.10 spec.
You will find the TB to run the compliance tests here: https://github.com/pulp-platform/riscv/tree/master/tb/core

Best
Davide

[2019-06-27 16:58] imphil opened #103 "Diagnose/remove combinatorial loop"
Verilator reports this loop:

[code]

We need to diagnose this loop in more detail, and hopefully remove it. Otherwise add an explanation and a lint waiver.

(My gut feeling is that we need to apply deassert_we later to signals that need it.)

[2019-06-27 19:02] asb opened #105 "Instructions accessing x16-x31 should be considered illegal for RV32E"
The specification doesn't require that all unused instruction encodings generate illegal instruction traps. However, we prefer to do so for Ibex as this increases the chances of catching errors early and provides some forward-compatibility for trap+emulate of future standard or non-standard extensions.

Right now, an illegal instruction exception won't be signalled on an RV32E system for instructi

[2019-06-28 13:42] vogelpi commented on #103
I had a look, the combinational loop warning goes away, if `jump_in_id_o` and the various other signals at the bottom of `ibex_decoder.sv` are changed not to depend on `deassert_we_i`. To me, it makes little sense to have this kind of control logic inside the decoder. Also, looking at the FSMs I think they don't need to depend on this signal anyway. It seems that for some cases the same is achieve

[2019-06-28 17:55] #97 closed

[2019-07-01 09:38] arghimat opened #108 "Interrupt context saving not working"
The problem is not systematic.
The problem is detected by comparing the files generated by the tracer.sv module, for the zero_riscy and the Ibex.
A small modification (around the is_decoding_o signal)of ibex_controller.sv module permits to avoid the problem (but this modification is not safe to 100 %;   The problem must be present in Debug mode : not tested).
list of file:
zero_riscy_VS_ibex_probl

[2019-07-01 09:38] vogelpi opened #109 "Add error response to instruction interface"
Unlike the data interface, the instruction interface does not have an error response to signal errors on the instruction interface to the core and raise an exception. This feature should be added and the core should raise an instruction access fault (Exception ID 1).

[2019-07-01 10:23] vogelpi commented on #108
Hi @arghimat ,
thanks for creating this issue and providing the details.

To me it looks like that the interplay between the write-back and controller FSMs is not working properly, especially for multi-cycle instructions. I am currently in the process of reworking the interrupt framework inside Ibex. For that, I will also have to have a close look at the two FSMs and your case here.

I will get ba

[2019-07-01 13:41] jeanlouismaquet commented on #108
Hello,

Thank you for your comments.
Concerning the module ibex_registers, we use the Flipflops file.

Adding the following line seems to improve the behaviour, but not completely:
          irq_req_ctrl_i && irq_enable_int &&  !debug_req_i && !debug_mode_q: begin
            // Serve an interrupt (not in debug mode)
            ctrl_fsm_ns = IRQ_TAKEN;
            **_is_decoding_o = 1'b1;_**

[2019-07-01 16:07] taoliug opened #112 "ibex compilation issue: is_compressed_i"
I am getting this error while compiling ibex with VCS, PTAL. Looks like the port is renamed.

Error-[XMRE] Cross-module reference resolution error
/usr/local/google/home/taliu/ibex/ibex/rtl/ibex_core.sv, 766
  Error found while trying to resolve cross-module reference.
  token 'is_compressed_i'.  Originating module 'ibex_core'.
  Source info:  .compressed_i (id_stage_i.is_compressed_i)

[2019-07-01 16:42] vogelpi commented on #112
Thanks @taoliug ,
I forgot to rename also the signal in the tracer port list. I will fix it right now.

[2019-07-01 16:57] #112 closed

[2019-07-01 17:12] ivanmgribeiro opened #114 "Data memory interface"
Hi,
I'm trying to use the ibex core with an Avalon memory slave, and I can't find a clean mapping between the ibex memory interface signals and Avalon's signals. I have a couple of queries about the data memory interface:

- From my understanding of it, it is possible to make a request, have it granted, and then make another request before the first one has been responded to. Is it then possible f

[2019-07-01 20:20] ikarageo opened #115 "ReadTheDocs rendering bug with Chrome"
Figure 6 in https://ibex-core.readthedocs.io/en/latest/register_file.html appears minuscule in  Google Chrome 75.0.3770.100 for Windows 10.

[2019-07-02 13:19] towoe commented on #114
Hello Ivan,

I assume you already looked at the [LSU doc](https://ibex-core.readthedocs.io/en/latest/load_store_unit.html)? And that your assumption for the second request might be answered in the second point of the Protocol section. If a request is made and it is then granted, the core is allowed to change the output signals in the next cycle. But the response for the request has still to be mad

[2019-07-02 13:31] towoe commented on #108
Hello,

I changed the input signals on which the tracer relies in PR https://github.com/lowRISC/ibex/pull/77. It does not check for the `is_decoding_o` signal anymore, but just relies on `rvfi_valid`. If you would want to test your trace with the changes from the PR, I would be happy to hear if the tracer is still working for you and/or if this problem is still occurring.

Thanks,
Tobias

[2019-07-02 14:55] jrrk opened #117 "Support for Intel/Altera Quartus Lite/Standard (not Pro)"
for (genvar ..) generate_statement() is not supported in Quartus

it likes

generate
genvar g;
for(g ...) generate_statement()
endgenerate

The suggestion is made to add ifdef QUARTUS around the four places that you do this

[2019-07-02 14:57] jrrk commented on #117
@jonwoodruff issue opened for comment

[2019-07-02 16:52] ivanmgribeiro commented on #117
I've done the proposed changes in this commit:
https://github.com/ivanmgribeiro/ibex/commit/b2e82dd57913ed472d3da2da0d86de8df2d988f0

These allow the core to compile in Quartus 16.1 if the QUARTUS macro is defined in the project settings.

[2019-07-02 17:23] imphil commented on #117
The currently used style (loop generate constructs, Chapter 27.4  of the SV spec) is recommended by our style guide at https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#generate-constructs. The proposed alternative style (generate regions) is not recommended. So if we cannot make Quartus accept this syntax, we need to change the style guide. Ifdefs are really only the last

[2019-07-02 17:41] imphil opened #118 "Writable mtvec"
`mtvec` is currently read-only and hardwired to the boot address. We need it writable.

[2019-07-02 21:59] sjgitty commented on #117
I'm agreeing with @imphil re `ifdef. The proposed coding style in question
should be
supported, so let's pressure the tool vendors to explain why they are not
conformant
and fix as soon as possible.  Worst case is we allow code exceptions and/or
change the
coding style in the short term. If we need to temporarily change the code
to allow the
tools to catch up, we should tag the change with a comme

[2019-07-03 04:18] taoliug opened #119 "ebreak causes PC jump to boot address"
Please check the screenshot for details. Ideally ebreak should trigger an exception and PC should be changed to the value in MTVAL. However, it seems that ibex jump to boot address instead.

![ebreak](https://user-images.githubusercontent.com/34581368/60562890-50127280-9d0e-11e9-82eb-2f83547234b7.png)

ibex trace:
             1956000             879 800001cc 4046d693 srai             x13, x13, 0x

[2019-07-03 07:02] jrrk commented on #117
I agree we should not unnecessarily clutter the code with ifdefs. But you will also appreciate that a large company like Intel will not prioritise the legacy Altera products. I had a good chat with Gary Guo who uses Altera and his conclusion was that the SysVerilog support in Quartus is pathetic. He recommends using Synplicity as a third-party solution, you will appreciate the very existence of th

[2019-07-03 07:15] asb commented on #117
Preprocessing to support tools that fall short of the the desired level of SystemVerilog support is definitely one approach. But we've already tried to limit ourselves to constructs we think are fairly widely supported - I think the next step on this issue is for someone to confirm whether the latest Quartus (I think 19.1) actually still struggles with this syntax, even when all necessary attempts

[2019-07-03 08:09] jeanlouismaquet commented on #108
Hello Tobias,
The Tracer functionality isn't the problem. I use it to debug.
The problem is in the FSMs under ibex_id_stages (ibex_controller).
Sometimes, when an interrupt occurs, the last write in registers is not present.
I send you some pictures of my simulation (modelsim) and  its wlf file (if you have modelsim).
During the conversion wlf2vcd, the FSMs signals dissapear. I can not send you a

[2019-07-03 10:16] ivanmgribeiro commented on #117
I haven't been able to try building with quartus 19.1 yet, but 18.1 still has the same issue.

Having the genvar x; outside of the for loop seems to conform to your coding style as follows:
[code]

Is this a change that could be implemented in the ibex source? If so, then when trying to use quartus to build it should be possible to simply add the generate and endgenerate lines in the local code or

[2019-07-03 10:19] asb commented on #117
Hi Ivan. That's definitely a possibility, but if we can tell people to use the latest Quartus instead then that's probably going to be the preferred option. If you can try 19.1 and exhaust all possible command line options for forcing maximal SystemVerilog support that would be really helpful. Let's determine definitively whether "use a newer Quartus" is a viable solution, and if not then lets loo

[2019-07-03 10:20] imphil commented on #117
Just to make sure I'm not misunderstanding: the code snippet you showed (genvar outside of the loop) does *not* build with Quartus as-is, but you still need to patch it to add generate/endgenerate statements?

[2019-07-03 10:51] ivanmgribeiro commented on #117
Yes, that is correct.
It does also work inside an always_comb block such as
[code]

But I think that's also not allowed in your coding style, and it doesn't fix all the problems - there are still issues in the ibex_ex_block.sv file with the if (!MULT_TYPE) block.

[2019-07-03 10:54] imphil commented on #117
So the next steps are:
- Double-check the most recent Quartus version.
- Double-check with Altera/Intel that this feature is (a) currently not supported, and (b) ask for an implementation.

Once we have exhausted all our options there, we can move on to either changing our style guide, or adding workarounds for Quartus.

[2019-07-03 14:09] tmarkettos commented on #117
Ivan asked me to comment on this.  There are three versions of Quartus:

- Quartus Pro, which allows you to select whether a source file is SystemVerilog 2005 or 2009.  This targets Arria 10 and Stratix 10 devices only.  Latest version is 19.1 Pro.
- Quartus Standard, which only allows 'SystemVerilog'.  Standard targets earlier/cheaper devices (including the low cost Cyclone series).  Latest versi

[2019-07-03 14:13] asb commented on #117
Thanks for the clarification Theo!

Before moving further forwards on this, might either you or @ivanmgribeiro be able to confirm if there any other Quartus issues we should consider at the same time. Is this genvar issue the only current barrier to getting Ibex working on Quartus Standard 18.1?

[2019-07-03 14:19] ivanmgribeiro commented on #117
Quartus Standard 18.1 also won't compile the following unless they are enclosed with generate and endgenerate:
https://github.com/lowRISC/ibex/blob/6d09fb10608a144e5ec4bb1e37c4b16eca601ae0/rtl/ibex_ex_block.sv#L79-L85
https://github.com/lowRISC/ibex/blob/6d09fb10608a144e5ec4bb1e37c4b16eca601ae0/rtl/ibex_ex_block.sv#L115-L151

[2019-07-03 14:21] tmarkettos commented on #117
I'll leave @ivanmgribeiro to mention if there's any other issues, but just to clarify my above comment, I was confused about the different Quartus SV support in the documentation:

- Quartus Pro supports SystemVerilog 2005 and 2009 ([Compiler document section 1.9](/https://www.intel.com/content/dam/www/programmable/us/en/pdfs/literature/ug/ug-qpp-compiler.pdf))
- Quartus Standard supports SystemVe

[2019-07-03 14:28] jrrk commented on #117
how about this:

    `ifdef QUARTUS
    `define GEN generate
    `define ENDGEN endgenerate
    `else
    `define GEN
    `define ENDGEN
    `endif

...........................

    `GEN
    if (1) begin : crash
    fubar inst(.clk, .rst, .in, .out);
    end
    `ENDGEN

[2019-07-03 15:39] vogelpi commented on #70
The changes discussed here were implemented and merged in PR #104 .
Regarding `mtvec`: It can be modified by changing the boot address at runtime.

However, this will change in the future. We will at some point make `mtvec` writable by software. This will allow to change it independently of the boot address. This work is tracked in issue #118

[2019-07-03 15:39] #70 closed

[2019-07-03 15:41] vogelpi commented on #96
The trap handling is now conforming to the RISC-V spec. I am thus closing this issue.

[2019-07-03 15:41] #96 closed

[2019-07-03 15:52] vogelpi commented on #105
I have implemented this functionality. But since it is based on PR #120 which first needs to be reviewed and merged. I did not yet create a PR for this.

One thing worth to mention is that the check previously commented out can generate false alarms as the bits used to encode the register file addresses for some instructions can also be used to encode other arguments and/or immediates for other in

[2019-07-03 15:53] vogelpi commented on #103
The fix for this issue is part of PR #120 .

[2019-07-03 17:41] ivanmgribeiro commented on #117
Another thing which may be of note, although this doesn't seem to affect compilation in any way, is that
https://github.com/lowRISC/ibex/blob/6d09fb10608a144e5ec4bb1e37c4b16eca601ae0/rtl/ibex_register_file_ff.sv#L19
gets brought up as a warning because the word "synthesis" is the first word in the comment, and per [this help page](https://www.intel.com/content/www/us/en/programmable/quartushelp/18

[2019-07-03 20:01] imphil commented on #117
So the story here is:
- Quartus Standard is a unmaintained product (like ISE was when Vivado came out)?
- The academic and professional community can work around that by using Synplify for synthesis.
- The hobbyist community typically cannot really work around it, with the Lite (== free as in beer) version being based on the Standard version.

To really decide if we should go for a style guide cha

[2019-07-03 21:03] tmarkettos commented on #117
Quartus Standard is maintained - new products like Cyclone 10 use it.  Quartus Pro is a new rewrite targeting large FPGAs - I would expect Quartus Standard to remain the software for small/cheap FPGAs.

Synplify is not an option for those who don't have a Synopsys licence for it - for commercial purposes that's likely to be very expensive (I'd guess a 6+ figure sum), and for academic purposes it's

[2019-07-04 09:08] imphil commented on #117
@tmarkettos "Quartus Standard is maintained": So you'd expect the parser to be updated to something more recent than SV2005?

[2019-07-04 09:46] ivanmgribeiro commented on #117
Yes this is OK. Thanks for taking the time to do this.

[2019-07-04 12:08] elchanan18 opened #121 "Addr && be not stable during read req"
I'm seeing data_addr_o and data_be_o change, while data_req_o is high, and data_gnt_i has not been received.
Is it possible I'm misreading the spec?  (or that there are illegal things I might have in the environment which could cause this?)
Thank you.

![ibex_req_gnt_stable](https://user-images.githubusercontent.com/52534675/60665504-49e6d800-9e6d-11e9-8b46-7a1165555930.JPG)

[2019-07-04 12:24] vogelpi commented on #121
Hi @elchanan18 ,
thanks for reporting this issue.

The address changing in Cycle 5 with request high but without getting a grant does indeed not look good. Would you mind to provide some more details? Ideally a VCD file for the whole processor? This would help me to look into it.

Best regards,
Pirmin

[2019-07-04 12:31] elchanan18 commented on #121
Hi Pirmin,
Thanks for the quick response.
Is it possible to attach a VCD file to this thread?  (about 75K)

[2019-07-04 12:33] vogelpi commented on #121
Yes, that should work. You can just attach it here.

[2019-07-04 12:37] elchanan18 commented on #121
I had to rename the file type to .txt.
It would let me drag a .vcd

[addr_not_stable.txt](https://github.com/lowRISC/ibex/files/3359295/addr_not_stable.txt)

[2019-07-04 13:22] vogelpi commented on #121
Thanks for uploading the VCD (to get around the restriction regarding the name and save some space, you can also do a zip).

I had a look on the VCD. The problem is complicated. The core tries to do a non-aligned load. Non-aligned loads are split into two consecutive aligned loads. The first of these two loads fails (the bus returns an error in `data_err_i`). To store the faulting address in the `

[2019-07-04 13:30] vogelpi commented on #108
Hi @jeanlouismaquet , hi @arghimat ,

thanks for sending the additional information. I just wanted to let you know that I did not forget about your problem. There is a problem in the controller and how it prioritizes interrupts, exceptions and normal instructions. In your particular case, the ongoing load is interrupted by the interrupt. The controller jumps into another state and deasserts `is_de

[2019-07-05 06:32] towoe commented on #115
Hello,
I used Chrome (same version) in Windows 10 to check the image. For me there is no problem with Figure 6. So the problem might have another cause and is not directly related to the browser and the OS?

[2019-07-05 10:50] vogelpi commented on #119
Hi @taoliug ,

thanks for reporting the issue. I am not fully sure I understand what you mean.

Looking at the spec, I think EBREAK should cause the processor to:
1. generate a breakpoint exception.
2. write the address of the EBREAK instruction to `mepc` CSR.

I cannot see 2 happening in the waves provided but according to the source code, this should happen.
The breakpoint exception (1) causes t

[2019-07-05 14:10] ikarageo commented on #115
Hi,
Thanks for checking it. After further inspection I concluded that it is caused by a chrome extension. Normally I check things in incognito which disables all extensions, but I accidentally had this extension enabled also in incognito. Inspect element showed me the following for the `div` the image belongs to:
[code]
This shows that the 25px width constraint was injected (by an extension).

[2019-07-05 14:15] imphil commented on #115
Thanks for checking @ikarageo. I guess we can close this then as something we cannot do anything about it.

[2019-07-05 14:15] #115 closed

[2019-07-05 14:57] vogelpi commented on #108
Hi @jeanlouismaquet , hi @arghimat ,

I have reworked the faulty controller FSM to solve the problem you have reported. However, this fix depends on other changes currently under review here #120 . Thus I did not create a PR for these latest changes.

Nevertheless, the changes are available on my development branch here: https://github.com/vogelpi/ibex/tree/vogelpi-dev

Would you mind to checkout

[2019-07-05 14:58] vogelpi commented on #121
Hi @elchanan18

I have reworked the faulty controller FSM to solve the second part of the problem you reported. However, this fix depends on other changes currently under review here #120 . Thus I did not create a PR for these latest changes.

Nevertheless, the changes are available on my development branch here: https://github.com/vogelpi/ibex/tree/vogelpi-dev

Would you mind to checkout this bra

[2019-07-05 15:13] elchanan18 commented on #121
Here's what I'm getting now.

![addr_stable](https://user-images.githubusercontent.com/52534675/60731572-90613300-9f50-11e9-9042-302926a2aff2.JPG)

[2019-07-05 15:16] elchanan18 commented on #121
[addr_stable.zip](https://github.com/lowRISC/ibex/files/3363257/addr_stable.zip)

[2019-07-05 15:42] vogelpi commented on #121
Thanks for getting back, I obviously had made an error before. Fixed that now. You can retry, be careful though, I did a force push to my dev branch.

[2019-07-05 15:56] taoliug commented on #119
If the MTVEC is hard-coded to boot address, how can SW service this exception? I'd expect MTVEC pointing to some software programmable address which has the trap handling routine.

[2019-07-05 16:04] vogelpi commented on #119
As discussed here #96 , the first instruction is at boot_addr + 0x80. The addresses up to 0x80 are reserved for the interrupt vector table. Offset 0x0 is used for the exceptions.

[2019-07-05 16:09] elchanan18 commented on #121
I think I got the new code.

![Screenshot from 2019-07-05 19-06-26](https://user-images.githubusercontent.com/52534675/60734308-349aa800-9f58-11e9-8dff-49a26ab9c0bc.png)
[addr_stable2.zip](https://github.com/lowRISC/ibex/files/3363431/addr_stable2.zip)

[2019-07-05 16:27] taoliug commented on #119
Thanks, sounds good to me. The spec allows read-only implementation of this register.

[2019-07-05 16:27] #119 closed

[2019-07-05 17:08] vogelpi commented on #121
Thanks @elchanan18 !
I analyzed the waves. Behavior of the processor looks good now.

1. It jumps into debug mode at the beginning and then reads a fence instruction with bits [14:12] != 000.
2. This is illegal. The core thus raises an exception and jumps into the debug-mode exception handler (at address 0x1A110808).
3. The first instruction in there is a LOAD, which returns an error from the bus.

[2019-07-06 20:09] elchanan18 commented on #121
Hi.  No, I'm using Formal, and not restricting reads to return the same data.
Are you saying that you made another fix, or that what I'm seeing now is correct?
If the latter, is it OK for addr and be to change w/o gnt ?

[2019-07-06 20:14] imphil commented on #121
yes, please see https://ibex-core.readthedocs.io/en/latest/instruction_fetch.html

"The IF protocol differs from the LSU protocol in that the address can change while the request is valid (instr_req_o is high)."

[2019-07-06 20:31] elchanan18 commented on #121
Right.  For instr it would be OK.  But we're looking at the LSU data interface.

[2019-07-08 09:27] vogelpi commented on #121
Hi @elchanan18,
yep that is still wrong. I did not see it on Friday sorry. But thanks for getting back. I am working on a fix for this now.

[2019-07-08 16:07] vogelpi commented on #121
@elchanan18 ,
I fixed the problem. The problem was that while the LSU aborted the first failing misaligned transaction, some internal control logic did not get cleared. This prevented the next misaligned transaction to be recognized as such.

I again force-pushed to my dev branch in case you want to retry execution.
Best,
Pirmin

[2019-07-08 16:47] elchanan18 commented on #121
Hi,

Now I'm getting an issue with byte enables.

![Screenshot from 2019-07-08 19-45-14](https://user-images.githubusercontent.com/52534675/60827488-fea82e80-a1b8-11e9-90ee-b6820e538a4d.png)
[addr_stable3.zip](https://github.com/lowRISC/ibex/files/3369382/addr_stable3.zip)

[2019-07-08 17:11] vogelpi commented on #121
Thanks @elchanan18 , also this should be fixed now.

[2019-07-08 19:13] elchanan18 commented on #121
This looks better.  I've been running Formal for over an hour, and it hasn't found a counter-example yet.  (the other failures popped up in a few seconds)

[2019-07-08 20:58] elchanan18 commented on #121
Confirmed.  After 2 hours, Formal says it will never happen.

[2019-07-09 08:46] #103 closed

[2019-07-09 09:12] vogelpi commented on #121
Great! Thanks a lot @elchanan18 , your help is much appreciated!

I consider this issue solved, but I'll keep the issue open until the bug fixes are merged into master.

[2019-07-09 14:34] eroom1966 opened #123 "misa register"
Looking at the documentation here
https://ibex-core.readthedocs.io/en/latest/cs_registers.html

I cannot see a description of the MISA register regarding the enabling/disabling of MISA[C]
Assuming I have a core configured as RV32IMC
in lowRISC, is it possible to disable compressed instructions at runtime by setting MISA[C]=0

Thx
Lee

[2019-07-09 14:39] #121 closed

[2019-07-09 15:02] eroom1966 opened #124 "User/Priv spec"
I see that the current code conforms to PRIV 1.11, But I cannot find anywhere which indicates the USER level, I would presume 2.3, but I guess it could be 2.2. In which case where should I look I cannot find it in the docs
Thx
Lee

[2019-07-09 16:13] imphil commented on #124
Ibex targets the latest (ratified) spec version, so that's 20190608-Base-Ratified (v2.2). (I find the versioning of the user spec highly confusing these days, with version numbers for the individual modules.)

[2019-07-09 16:14] imphil commented on #124
TODO: Add this information to the documentation.

[2019-07-09 17:01] vogelpi commented on #105
I am closing this issue. The discussed feature got added with #126 .

[2019-07-09 17:01] #105 closed

[2019-07-10 05:25] asb commented on #123
misa is fixed at design time, so there's no support for enabling/disabling extensions dynamically.

[2019-07-10 05:44] asb commented on #123
I've submitted PR #128 to improve the documentation. Thanks for the report!

[2019-07-10 08:41] #123 closed

[2019-07-10 13:24] jeanlouismaquet opened #130 "Problem when the value of opcode FSM is OPCODE_JALR"
Hello,

With the new file ibex_decoder.sv (5093e0a), when the opcode FSM = OPCODE_JALR, the pc_mux_o FSM stays at PC_BOOT value. Normally, the pc_mux_o FSM must toogle to  PC_JUMP value.
I created a zip file containing:
 ibex_28may19.log  : result from the ibex_tracer module. No problem
 ibex_last_version.log  : result from the ibex_tracer module : problem  line 43 (jalr)
 waves_AES_CBC_old.wlf  :

[2019-07-10 13:42] vogelpi commented on #130
Hi @jeanlouismaquet,

thanks a lot for reporting this issues and for providing a fix! I created a PR #131 to merge it into master.

If you find further issues, I would be happy to help you.
Best,
Pirmin

[2019-07-10 16:45] ivanmgribeiro commented on #2
Hi, I was wondering if there was still ongoing work on implementing the RVFI signals? It seems some of the signals are not behaving as they should - the rvfi_halt signal for example is hardwired to 0.

[2019-07-10 16:55] imphil commented on #2
@ivanmgribeiro all outstanding patches have been merged. If there are issues with the current code, please open a new issue or (even better) a pull request. We currently cannot test if the signals are actually working in RISC-V Formal, as we don't have a license for the Verific backend needed to compile the code. But we're of course happy to fix things!

[2019-07-11 05:26] haykp opened #133 "Add bin/bash in sim file"
Please add #!/bin/bash in sim file, this will allow to run ./sim without makefile

[2019-07-11 05:52] taoliug commented on #133
Thanks for reporting, let me fix this

[2019-07-11 05:54] asb commented on #133
Thanks for the report, and thanks Tao for offering to fix. I have a slight preference for `/usr/bin/env bash`

[2019-07-11 05:54] taoliug opened #134 "FENCE instruction is shown as INVALID in the trace log"
I think right now ibex is handling FENCE as NOP correctly, however, it's shown as INVALID in the trace log. This could be confusing when debug with the trace log

            14678000            7240 80000cfe 0ff0000f INVALID

[2019-07-11 06:13] #133 closed

[2019-07-11 06:35] towoe commented on #2
Hi @ivanmgribeiro yes the `rvfi_halt` and also `rvfi_trap` are not connected yet. I have not implemented this in the first iteration, and as @imphil said we do not have the Verific backend, so developing and testing it further is not possible. If there is a signal which does show an obvious misbehavior we can check this though.

[2019-07-11 06:46] towoe commented on #134
The FENCE opcode is not defined in `ibex_tracer.sv` or `ibex_tracer_defines.sv`. I will add a commit to the PR https://github.com/lowRISC/ibex/pull/77

[2019-07-11 06:49] taoliug opened #136 "Illegal JALR instruction is executed unexpectedly"
Here's the related instruction trace.

97598000           48700 8000f7e0 34391c67 INVALID
97638000           48720 00002dac f2051ae3 bne              x10, x0, -204       x10:00001900

0x34391c67 is decoded as illegal instruction correctly, as it's a JALR instruction with bit[14:12] != 0. However, looks like ibex doesn't jump to the boot address correctly to do the trap handling. Instead, the JALR

[2019-07-11 07:12] asb commented on #2
Although ability to run the riscv-formal flow is a good test, we will ideally have more targeted unit tests for the interface independent of that. I know @imphil is interested in setting up some Cocotb-based verification, so this might be a good area to try it out on.

[2019-07-11 07:14] asb commented on #134
It should show FENCE, the fact it's semantically a NOP in the current design is an implementation detail that shouldn't be exposed in the trace.

[2019-07-11 07:27] haykp opened #137 "iss_sim contains return statement, that should rename to exit"
When running iss_sim, it gives this warning:

./iss_sim: line 84: return: can only `return' from a function or sourced script

And this is failing lines;
    *)
    echo "unknown option $1"
    return

I think return should be replaced with exit

[2019-07-11 07:29] towoe opened #138 "Opcode name fence"
While working on https://github.com/lowRISC/ibex/issues/134 I just saw that we now have
https://github.com/lowRISC/ibex/blob/b203a0f7c70be7c7dbdbb8d6abb97671323e2023/rtl/ibex_defines.sv#L33
as opposed to `OPCODE_MISC_MEM`. I understand that we only have `FENCE` and not `FENCE.I` so this is the only time the opcode is used. Just want to check if we want to keep `OPCODE_FENCE`?

[2019-07-11 07:31] asb commented on #138
Good catch, our general policy is that these enums should match the spec wherever sensible to allow easy cross-referencing and comparison. So OPCODE_MISC_MEM as that major opcode is called in the current spec is more appropriate.

[2019-07-11 07:32] towoe commented on #138
Thanks @asb for the clarification, I will create a PR.

[2019-07-11 07:34] asb commented on #138
Very minor: Unless I'm missing some logic behind it, the ordering in that enum seems pretty arbitrary too. I'd personally prefer it if the order reflected the table 25.1 opcode map in the RISC-V ISA manual. Again, this makes it easier to cross-check the two quickly.

[2019-07-11 07:41] towoe commented on #138
Will reorder the enum, but just to make it clear, it should be sorted by keeping the higher bits stable? So row after row.

[2019-07-11 08:04] asb commented on #138
In the LLVM backend we did LOAD, LOAD_FP, MISC_MEM, ...

I don't feel strongly - anything that's logical.

[2019-07-11 08:16] haykp opened #140 "Simulation fail because of asm_file"
In the sim bash script, it reads asm_test file,
but there is no such file

Can someone help to get that file?

I also tried to use iss_sim to generate the bin file, but still no success((

[2019-07-11 08:40] imphil commented on #140
Unfortunately the DV part of Ibex is currently rather undocumented. What commands did you run? Maybe @taoliug can help you out then, who wrote most of this code.

[2019-07-11 08:41] imphil opened #141 "Document DV flow"
Document how to use the DV contained in this repository. The documentation should go into the `doc` folder.

[2019-07-11 08:42] imphil commented on #140
To make sure others don't stumble across the same issues I've opened https://github.com/lowRISC/ibex/issues/141 to get the DV flow documented.

[2019-07-11 08:48] vogelpi commented on #136
Hi @taoliug ,
thanks for reporting this bug. There are currently problems with multicycle instructions (jumps, branches, mult/div, loads/stores) in combination with exceptions and interrupt requests as reported in #108  and #121 . The source of the problem is the main controller FSM inside `ibex_controller.sv`. I have been working on this and created a PR #132 to solve these issues. While this PR

[2019-07-11 11:21] #138 closed

[2019-07-11 11:26] jeanlouismaquet opened #142 "Problem with LBU instruction"
Hello,

The problem appears during the lbu instruction.
With the new code ( **_ibex_load_store_unit.sv_** ) , the address is not correct.

Files provided:
Archive:  **_problem_with_lbu.zip_**
     bootloader_ibex.objdump            dump of the elf file
     cmd_AES_CBC_zero_riscy.log       results generated by the tracer module , for the zero_riscy
     cmd_AES_CBC_ibex.log                results

[2019-07-11 11:49] towoe commented on #142
Hi Jean-Louis, thanks for opening this issue, could you clarify what you mean by old and new ibex?

[2019-07-11 11:55] imphil opened #143 "Avoid spurious wakeups in wfi sleep"
In the SLEEP state of ibex_controller.sv:

[code]

Should this be irq instead of irq_i, i.e. take the interrupt enable into account to avoid spurious wakeups?

[2019-07-11 12:12] vogelpi commented on #142
Thanks for reporting this bug @jeanlouismaquet .

There is obviously a problem in the read data alignment for byte accesses. I will have a look and work out a fix that also works when the memory only supports word-aligned accesses. I will get back to you.

[2019-07-11 13:26] towoe opened #144 "Enable data byte access for Arty example"
The current Arty example only allows word access to the data memory.
This can be improved by allowing byte access.
See https://github.com/lowRISC/ibex/pull/78#discussion_r298485379 and https://github.com/lowRISC/ibex/pull/78/files#diff-7d58ac393f600bdb2679c4bd1143adb4R66 for the relevant points.

[2019-07-11 14:55] #134 closed

[2019-07-11 14:58] #62 closed

[2019-07-11 15:39] #137 closed

[2019-07-11 15:41] imphil commented on #130
Thanks for reporting this bug @jeanlouismaquet! Fixed in https://github.com/lowRISC/ibex/commit/8b4e33711847e4ea88cd0f205b8f66f8e09f8bac. Please reopen if the problem is not resolved.

[2019-07-11 15:41] #130 closed

[2019-07-11 15:42] taoliug commented on #140
I will take care of the DV flow documentation. Meanwhile, can you try just "make" under dv/uvm directory?
Please make sure you have ${RISCV_TOOLCHAIN} setup properly to point to the directory where RISC-V gcc toolchain and spike live.
https://github.com/lowRISC/ibex/blob/master/dv/uvm/Makefile#L7

[2019-07-11 15:57] vogelpi commented on #142
Hi @jeanlouismaquet ,
I had a look and I cannot produce this behavior with the current version of Ibex. Can you please confirm the commit ID with which you experience this behavior?

[2019-07-11 16:35] #108 closed

[2019-07-11 20:21] taoliug commented on #87
Yes, MSTATUS/MEPC/MTVAL/MCAUSE are checked in the trap handler routine. I think we need to be a bit more specific about MTVAL because the privileged spec allow different implementations for certain exception type.

[2019-07-11 22:04] taoliug opened #147 "New tracer doesn't work as expected"
I am running regression with new tracer with RVFI interface, seems to me the generated trace is not as expected.  Looks like the logic used to generate rvfi_valid_int is one cycle off. The decoded instruction is not captured properly.

![Screenshot from 2019-07-11 15-00-11](https://user-images.githubusercontent.com/34581368/61088279-dd2f8880-a3ec-11e9-9464-f63f728013de.png)

Related code:
https://

[2019-07-12 06:43] towoe commented on #147
@taoliug thanks for reporting that. Obviously this is not correct, but I am not yet sure what the correct solution is. My current test is not showing this, so I will need to elaborate here. Despite that I guess @vogelpi can help as he has changed the IF-ID interface. I had a look at the signal change but did not catch this. My first assumption would be to change `rvfi_valid_int` to `instr_ret`.

[2019-07-12 08:34] vogelpi commented on #147
@taoliug thanks for reporting the bug here. I am sorry @towoe , but I won't be able to fix it as I am not able to test the tracer (it cannot be used with Verilator). But maybe I can explain what changes I did and how they possibly influence RVFI.

I am not 100% sure what the `rvfi_valid_int` is used for. If I understand it correctly, it is used to sample new data for RVFI and thus also the tracer.

[2019-07-12 08:48] vogelpi commented on #136
PR #132 has been merged. This bug should now be fixed.

[2019-07-12 11:37] towoe commented on #147
@vogelpi thanks a lot for the help!

`rvfi_valid_int` is used to for `rvfi_valid` to signal all output data are valid in this cycle with a retired instruction. You are right to assume it should only be asserted for one cycle in a multicycle instruction.

As I understand it, `instr_new_id` marks the "beginning" and `instr_ret` the "end" of an instruction?
The problem I see with `instr_ret` is that

[2019-07-12 13:43] vogelpi commented on #147
You are welcome @towoe .

Yep.

Yes I see. Maybe the best would to regenerate `instr_ret` inside the ID stage based on what is going on in the ID stage, and not wait for the next instruction to arrive. I will do that and prepare a PR for you.

Yep.

[2019-07-12 14:01] towoe commented on #147
Thanks @vogelpi for putting in the work for a PR, I think your idea to regenerate `instr_ret` is the right way to go here.
The tracer might work with `instr_new_id`, but I just saw that with a compressed instruction `rvfi_valid` will not be correctly timed.

[2019-07-12 14:07] vogelpi commented on #147
Okay good. I created the PR #150 and it is waiting to be reviewed.

[2019-07-12 15:10] towoe commented on #147
I looked at the PR and noticed that I will need to work on RVFI so that it will be correct again.
For the tracer part I think it should be okay to use `instr_new_id` at the moment for `rvfi_valid_int`, until the changes to RVFI are implemented.

[2019-07-12 15:20] towoe opened #151 "Rework RVFI to align with decoder"
As reported in https://github.com/lowRISC/ibex/issues/147 the tracer, which is based on the RVFI signals is not working correct. This is because `rvfi_valid` signal depends on the state of the decoder (retired instruction). The current implementation looked for changes in the program counter in order to be only valid if the new program counter is actually used. With https://github.com/lowRISC/ibex

[2019-07-13 03:24] taoliug commented on #147
I tried this together with PR #150.

Here's the new trace from ibex

              231000              17 80000080 0000a801 INVALID
              253000              28 80000090 f4b0a037 lui              x0, 0xf4b0a000
              255000              29 80000094 b5f00013 addi             x0, x0, -1185
              263000              33 80000098 5f7d30b7 lui              x1, 0x5f7d3000       x1

[2019-07-14 23:50] taoliug opened #153 "dpc is not updated properly if debug_req_i is a one cycle pulse"
As you can see from below waveform, debug_req_i is modeled as a pulse interrupt which is only asserted for one cycle. ibex can enter debug mode and start fetching instructions from DmHaltAddr. However, dpc is not updated properly (keep at default value 0). I cannot find in the RISC-V debug spec that whether the halt request should be a level or pulse signal, can you help to clarify?

![screencaptu

[2019-07-15 06:04] towoe commented on #147
Thanks @taoliug for testing this again.
Just for reference, using `assign rvfi_valid_int = instr_new_id;` does not require PR https://github.com/lowRISC/ibex/pull/150.

Regarding the invalid, this is indeed cause by compressed instructions.
RVFI requires the output of the 'original' compressed instruction, but the tracer is not able to decode compressed instructions.

[2019-07-15 06:16] towoe opened #154 "Tracer support for compressed instructions"
The tracer reuses the RVFI signals. `rvfi_insn` holds the current instruction, but for the RISC-V formal verification this needs to be the instruction which is inserted into the core.
For compressed instructions the core will decode those to uncompressed instruction, which are then used internally.

The tracer currently prints `INVALID` for compressed instructions (https://github.com/lowRISC/ibex/

[2019-07-15 06:19] towoe commented on #72
Implemented with PR https://github.com/lowRISC/ibex/pull/78

[2019-07-15 06:19] #72 closed

[2019-07-15 10:21] vogelpi commented on #153
Hi @taoliug ,
thanks for opening this issue. I do not think that having `debug_req_i` asserted for just one clock cycle is realistic. However, I still think there is a bug that needs to be fixed.

The same behavior will occur whenever the `debug_req_i` is deasserted during the cycle the controller wants to enter debug mode. Since it can take a very long time for the core to actually enter debug mo

[2019-07-15 11:57] vogelpi commented on #154
Since we currently have no possibility to actually test the tracer, I suggest to add the additional output signal with the uncompressed instruction. But let's wait on @imphil's opinion.

[2019-07-15 12:00] towoe commented on #154
Thanks for the reply @vogelpi.
I also tend to just use an additional signal as this is also the signal which the core does rely on, so it makes sense to use it for the tracer.

[2019-07-15 12:02] vogelpi commented on #147
Thanks for your feedback @taoliug and @towoe , I think we should add support for compressed instructions in the tracer by feeding also the uncompressed instruction through RVFI. This part is tracked in #154 .

As for #150 , even though it is not strictly needed as pointed out by @towoe , we should merge it. In my opinion this is the only proper way to generate this signal.

[2019-07-15 12:05] towoe commented on #147
I am currently working on https://github.com/lowRISC/ibex/issues/151 which makes use of your PR. So yes, I agree that we should merge it.

[2019-07-15 12:06] imphil commented on #153
On the expected behavior of debug_req_i:

`debug_req_i` is a level signal which corresponds to the `haltreq` register in the debug module. This register is set and reset by explicit writes from the debugger software to the debug module. The core acknowledges receiving the `debug_req_i` signal by entering debug mode and

The actual process is described in section "B.3 Halting" of the [debug spec](h

[2019-07-15 12:07] vogelpi commented on #154
I just discussed with @imphil . We should extend the RVFI with the uncompressed instruction. This is a custom extension to RVFI, but no one is forced to use it. It should be fine.

[2019-07-15 12:08] towoe commented on #154
Ok thanks!

[2019-07-15 12:10] vogelpi commented on #153
Okay, thanks for outlining the procedure and your feedback @imphil . I will implement Option 2 then.

[2019-07-15 12:11] vogelpi commented on #147
Thanks for your feedback @towoe , that's good to know.

[2019-07-15 17:37] #153 closed

[2019-07-16 08:14] #136 closed

[2019-07-16 08:15] vogelpi commented on #142
I could not reproduce the reported behavior with the current version of Ibex. I am thus closing the issue for now.

[2019-07-16 08:15] #142 closed

[2019-07-16 09:29] vogelpi commented on #143
According to the Priv Spec v1.11 p.41, the global interrupt enable in the `mstatus` CSR must not be taken into account. But the individual interrupt enable bits inside the `mie` CSR must be considered.

[2019-07-16 10:40] #154 closed

[2019-07-16 10:40] #151 closed

[2019-07-16 10:43] #147 closed

[2019-07-16 15:47] ivanmgribeiro opened #162 "Load instructions that cause an error still write to registers"
Hi,
There seems to be a bug in Ibex when performing a read from memory which returns an error.

I would expect that when the memory slave sets data_err high, the core would not write the data that was read in into a register, but it appears to still be written to the register regardless.

What i observe is that the data is still written into the register.

I'm using the following instructions:
[co

[2019-07-16 16:06] vogelpi commented on #162
Hi @ivanmgribeiro ,
thanks for reporting this bug. I will prepare a fix for and create a PR.
Best regards,
Pirmin

[2019-07-16 20:12] taoliug opened #163 "7d10b363 is not decoded as illegal instruction"
Based on the RISC-V instruction encoding, 7d10b363 doesn't map to any legal instruction. The trace log shows the instruction as INVALID. However, the id_stage doesn't assert the illegal_insn signal, and the core continues executing the instructions without jump to exception handling routine. Looks like the core can only detect illegal compressed instructions and illegal CSR instructions.

Spike lo

[2019-07-16 20:42] taoliug opened #164 "Debug request causes the same instruction to be executed twice"
In this test, debug_req is asserted while the core is executing instruction at PC 0x8000056a. dpc is saved to the current PC value rather than the next instruction. As a result, the instruction at 0x8000056a is executed again after exiting from debug mode(dret).

ibex log
[code]
![ebreak_issue](https://user-images.githubusercontent.com/34581368/61328147-46d5db00-a7cf-11e9-936b-24b943170987.png)

[2019-07-16 20:51] taoliug commented on #163
This could be a general issue that how the core handles illegal non-compressed instructions. There are certain encoding don't map to any legal instruction. I am seeing a few other failure signatures in the same category.

[2019-07-16 22:17] vogelpi commented on #163
Hi @taoliug ,
thanks for reporting this bug. Looking at the source code I guess only branch instructions (OPCODE = `7'b63`) are affected by this behavior. Is that right?
I think the problem is that for branch instructions, the illegal instruction output signal is accidentally only driven during the first cycle while the branch can take a second cycle. Since during the second cycle (and when the co

[2019-07-16 22:56] taoliug commented on #163
Here's another example 1613ac33, it's close to SLTU, but instr[31:25] !=0

[2019-07-16 22:59] taoliug commented on #164
Looks like dpc value is not shown properly on the waveform, it is 0x8000056a after entering debug mode.

[2019-07-17 08:54] vogelpi commented on #164
Thanks @taoliug for reporting this bug. You are right, it should be the address of the next instruction that is saved when entering debug mode upon a halt request. I will fix this.

[2019-07-17 09:03] vogelpi commented on #163
That's another bug in the decoder. It does not cause illegal instruction exceptions for register-register ALU operations as long as `instr[28]` is set. I will fix this as well.

[2019-07-17 09:19] imphil commented on #162
General note: @ivanmgribeiro you are invited to create Pull Requests with the fix directly if you already have a patch! Let me know if you run into issues while doing that.

[2019-07-17 10:12] vogelpi opened #168 "Check behavior of exceptions and special instructions related to debug mode"
Currently, exceptions and special instructions are handled independent of whether the core is in debug mode or not. This is not correct for a couple of cases. For example, the Debug Spec v0.13.2 states on p.39 that while in debug mode:
- ~~WFI acts as a NOP. Currently the core just goes to sleep anyway.~~
- Exceptions do not update any registers such as `mcause`, `mepc`, `mtval`, `dpc` and `mstatu

[2019-07-17 10:17] #164 closed

[2019-07-17 10:29] imphil commented on #168
Really? https://github.com/lowRISC/ibex/blob/010985a39555bbbee969296e1da4f3bd0b502e63/rtl/ibex_controller.sv#L251-L254

[2019-07-17 10:32] towoe commented on #2
I updated RVFI in PR https://github.com/lowRISC/ibex/pull/155 as a result of changes to the core. As we are still not able to test it, I would assume that there are still differences to the riscv-formal requirements, but the tracer uses the interface now https://github.com/lowRISC/ibex/pull/77.

[2019-07-17 11:42] vogelpi commented on #168
Oh, yes you are right. I only saw that in the `FLUSH` state, the core jumps into `SLEEP` when seeing a WFI.

[2019-07-17 11:43] imphil commented on #168
This behavior is tested by the RISC-V Debug compilance test in openocd, so I'm pretty confident that works.

[2019-07-17 12:08] vogelpi commented on #162
Hi @ivanmgribeiro ,
regarding the differing behavior on what is actually written to the register file depending on the type of load operation: This happens as depending on type and address offset, the LSU issues two load operations and combines the result of the two loads into one value for the register file.

For aligned word loads, byte loads and half-word loads with address offset != `2'b11`, t

[2019-07-17 12:16] #163 closed

[2019-07-18 04:40] taoliug opened #170 "MEPC is not updated with correct value for illegal JALR instruction"
spike log

[code]
0x65d42c67 is detected as illegal instruction by ibex correctly. However, seems like the core still executed the JALR instruction which causes the PC changed to some unexpected value(0x65a) and get saved to MEPC eventually.

ibex log:
[code]
![screencapture-remotedesktop-corp-google-access-session-6fd70a76-592d-4962-9324-fb0b435c9f3d-2019-07-17-21_31_58](https://user-images.githu

[2019-07-18 10:22] vogelpi commented on #170
Thanks for reporting the bug @taoliug . The problem is that the `jump_set_o` signal triggering the PC to be set to the target was set although the instruction is illegal. I have created a fix for it.

[2019-07-18 10:28] #162 closed

[2019-07-18 10:28] imphil opened #173 "Rename ibex_tracer_defines to ibex_tracer_pkg"
ibex_tracer_defines.sv is actually a package and doesn't contain defines (any more). Rename this file to reflect this reality.

[2019-07-18 11:33] imphil commented on #173
The same is true for ibex_defines.sv

[2019-07-18 14:52] #170 closed

[2019-07-18 20:23] taoliug opened #175 "Illegal load instruction causes data written to GPR"
ibex log
[code]
0020ff83 is an illegal load instruction (bit[14:12] = 3'b111), ibex detects it correctly. However, the read data is still written to the register.

![Screenshot from 2019-07-18 13-16-43](https://user-images.githubusercontent.com/34581368/61489177-ed9cb180-a95e-11e9-8a6b-385ba50e4de1.png)

[2019-07-18 20:33] taoliug commented on #175
Actually the core decoded it as reg-reg load instruction, I see there's a bug (#25 ) open to remove it as it's not part of the standard.

https://github.com/lowRISC/ibex/blob/master/rtl/ibex_decoder.sv#L335

[2019-07-19 08:15] imphil commented on #175
Duplicate of #25.

[2019-07-19 08:15] #175 closed

[2019-07-19 10:29] #25 closed

[2019-07-19 10:34] #173 closed

[2019-07-23 06:15] raulbehl opened #181 "Compile issue while running ibex_core_tracer example"
Hi,

I am running into compile issues while trying to run the `ibex_core_tracer` example using `fusesoc`.  I guess the issue is in the way `timescale` value is specified on the command-line.

Updating the timescale option from `timescale=1ns/1ns` to `timescale 1ns/1ns` should fix it.

[2019-07-23 11:47] eroom1966 opened #182 "Does an RV32I (without C) misaligned fetches"
Hi
Reading the document section on Instruction Fetch, I understand the following

Is this also true for an RV32I which does NOT support Compressed instructions ?
ie, I could jump to an address on a 2-byte boundary without taking an exception ?

The reason I ask is that my understanding is that this behavior would be illegal from the perspective of the Priv Spec

Thx
Lee

[2019-07-23 12:14] eroom1966 opened #183 "Exceptions : load/store access fault"
In the documentation:-
ibex can trigger an exception due to the following exception causes:
- Load access fault
- Store access fault

Could you give an example of how either of these exceptions could be raised ?

My understanding is that these exceptions would be generated either from a Virtual Memory Fault, or a PMP Fault, neither of these units are present in ibex

Thx
Lee

[2019-07-23 12:20] vogelpi commented on #182
Hi Lee,

No, for RV32I configurations that do NOT support the C extension, instructions must be aligned to 32 bits. The RISC-V Spec v2.2 points this out in Section 16.1, p.95:

"The C extension allows 16-bit instructions to be freely intermixed with 32-bit instructions, with the latter now able to start on any 16-bit boundary, i.e., IALIGN=16. With the addition of the C extension, no
instructions

[2019-07-23 12:26] vogelpi commented on #183
Hi Lee,

you are right. Ibex currently does not support Virtual Memory or PMP. However, load/store access faults can also be generated by the downstream interconnect or the device being accessed. For example, if the core tries to access an address region that the bus cannot resolve or if the core tries to write to a register inside a peripheral that is read only.

Best regards,
Pirmin

[2019-07-23 13:56] eroom1966 commented on #182
of course, thanks

[2019-07-23 13:56] #182 closed

[2019-07-23 14:01] eroom1966 commented on #183
Hi Pirmin
Thanks, and just for final clarification, I think you are referring to the state of the valid/err signals on the interface ?
Thx
Lee

[2019-07-23 15:52] vogelpi commented on #183
Yes, in Ibex such a condition is signaled with `data_err_i` being high together with `data_rvalid_i`.

[2019-07-24 12:59] #183 closed

[2019-07-24 14:57] towoe commented on #181
Hi, thanks for reporting this. What tool and which version are you using? I did a quick check and I guess at some point both options have been a valid format.

[2019-07-24 15:28] taoliug opened #187 "Tracer compile issue: irq_ack_o"
Looks like this port is removed recently, but still connected to the tracer.

/usr/local/google/home/taliu/ibex_dbg/ibex/rtl/ibex_core.sv, 645
  Identifier 'irq_ack_o' has not been declared yet. If this error is not
  expected, please check if you have set `default_nettype to none.

https://github.com/lowRISC/ibex/blob/master/rtl/ibex_core.sv#L645

[2019-07-24 15:33] vogelpi commented on #187
Hi @taoliug ,
thanks for reporting this issue. Also the port list in `ibex_core_tracing.sv` needs to be fixed.

I will prepare a fix for that.
Best regards,
Pirmin

[2019-07-24 15:38] raulbehl commented on #181
I tried this out with Modelsim:

`Model Technology ModelSim ALTERA vlog 10.1e Compiler 2013.06 Jun 12 2013`

[2019-07-24 16:25] vogelpi commented on #187
I am also adding @towoe as he might have some input on this.

@taoliug , I removed the port from the tracer and switched to the new interrupt interface in several remaining files. You can have a look here: https://github.com/vogelpi/ibex/tree/fix-interrupt-interface

To me, it seems that the `irq_ack_o` signal was only used in RVFI and the tracer for UVM purposes. But I am not sure if you actually

[2019-07-24 16:35] vogelpi commented on #143
This has been fixed with PR #149 .

[2019-07-24 16:35] #143 closed

[2019-07-24 17:21] taoliug commented on #187
Yes, I have a PR locally to fix it. I think it's OK to push the design changes in, and I will submit the DV changes short after.

[2019-07-24 17:44] vogelpi commented on #187
Okay thanks for your feedback @taoliug . This sounds like a plan.

[2019-07-24 17:59] vogelpi commented on #187
Alright, PR #188 is merged. Please let me know when you want to me to review your PR or once it is merged.

[2019-07-24 18:46] taoliug commented on #187
TB update is checked in, closing this bug.

[2019-07-24 18:46] #187 closed

[2019-07-25 11:01] raulbehl commented on #181
I guess Questasim supports the "=" in between the timescale directive and the value.

[2019-07-25 11:14] towoe commented on #181
Unfortunately I can not test this.

And regarding your Modelsim version, in general I would not change something to support an old version of a tool, but if this is something that works then for all versions I think it makes sense.
The documentation on this is rather thin, so I guess it is based more on tests.
And for reference, the original option was adopted from a [fusesoc tutorial](https://fus

[2019-07-25 11:19] raulbehl commented on #181
Can you point me to the recommended version? I have tried it on `Model Technology ModelSim SE vlog 10.3a Compiler 2014.04 Apr 13 2014` which also doesn't support it.

[2019-07-25 11:28] towoe commented on #181
The general recommendation would be to use the latest version.
But we can also use the different format here if it does not break with newer releases.
If you want you can create a pull request for this?

[2019-07-25 14:45] ivanmgribeiro commented on #118
I've created a pull request (https://github.com/lowRISC/ibex/pull/193) to try to implement this.

[2019-07-25 20:27] taoliug opened #195 "Wrong encoding of EXC_CAUSE_ILLEGAL_INSN"
This issue seems to be introduced in this commit
https://github.com/lowRISC/ibex/commit/c2fffe04406287bc7e1be3962999f0f6b44ebe87#diff-ef03dc5b772f9745e0a161472ea79c60R190

EXC_CAUSE_ILLEGAL_INSN should be 2 according to RISC-V privileged mode spec

[2019-07-26 09:24] vogelpi commented on #195
Hi @taoliug
thanks for reporting this! I must have accidentally introduced this bug. Sorry for that. I will fix it immediately.

[2019-07-26 10:38] #195 closed

[2019-07-29 14:56] imphil commented on #30
The MSTATUS_* defines are gone in 5b63ae9.

[2019-07-29 15:00] imphil commented on #181
Fixed in https://github.com/lowRISC/ibex/pull/192

[2019-07-29 15:00] #181 closed

[2019-07-29 15:03] imphil commented on #87
@taoliug does your reply imply that MSTATUS/MEPC/MTVAL/MCAUSE are tested to be precise traps, and that these tests currently succeed?

[2019-07-29 15:05] imphil commented on #99
More on what's needed, based on a mail from Lee:

In order to do this I need to be able to do the following
1. build an RTL simulation model of the ibex
what do you use verilator or something else, can you please point me at instructions

2. load an elf file into the simulation and execute the program
I presume you have to manipulate the elf into a $loadmem format ?
again do you have instructions

[2019-07-29 15:10] taoliug commented on #87
It's part of trap handling sequence of the instruction generator. So far illegal instruction/ebreak/ecall trap has been verified. Need to verify other exceptions like load/store access fault etc.

[2019-07-29 16:01] raulbehl commented on #30
How about those REG_* defines? Would it be worth adding an `ibex_defines.svh` file for such instruction index defines?

[2019-07-30 17:13] udinator opened #197 "Ibex tracer - compressed instructions"
Hi,
Would it be possible to have the Ibex tracer indicate that an instruction is compressed, and if so, log the compressed instruction name? This would bring the log file closer in similarity to Spike log files, and would make debugging regression failures a bit easier to do.
Not sure if this complies with RVFI spec though.
Thanks!
Udi

[2019-07-30 18:17] ivanmgribeiro opened #198 "No trap on misaligned jump"
Ibex doesn't seem to be trapping when a jump or branch instruction tries to jump to a location that isn't 2-byte aligned (LSB is 1).

[2019-07-30 23:54] udinator opened #199 "interrupt detection"
From the below waveform, our interrupt testbench model pulses interrupts for just one cycle. When ibex is in the SLEEP state and a nonmaskable interrupt is pulsed for one cycle (irq_nm_i), ibex immediately wakes up and jumps to FIRST_FETCH state and starts executing code as normal, but doesn't do any handling of the interrupt, even though it is non-maskable [RISC-V Privileged Spec, section 3.3.4].

[2019-07-31 10:49] ivanmgribeiro commented on #198
Sorry, I misunderstood the spec, it appears that implementations that support compressed instructions don't throw Instruction-address-misaligned.

[2019-07-31 12:24] imphil commented on #198
You're trying to jump to a instruction which is only byte-aligned (LSB = 1), so it's illegal for both compressed (16b aligned) and non-compressed (32b aligned) instructions.

Let me re-read the spec here, but it would feel natural to trap ...

[2019-07-31 13:11] imphil commented on #198
I had a look at the spec, and Ibex is working just fine.

- Jumps are always given as multiples of 2 bytes, so you can only jump to 16b-aligned addresses. (Your initial question suggests you're jumping to a byte-aligned address. How did you do that?)
- With compressed instructions supported (which we unconditionally do in ibex), any jump address is a valid address.

[2019-07-31 13:11] #198 closed

[2019-07-31 13:44] imphil commented on #197
Sure, that's possible. We have the `rvfi_insn` signal, which contains the original (compressed) instruction. (The non-standard `rvfi_insn_uncompressed` signal always contains the uncompressed instruction. This one is currently used by ibex_tracer.)

We have two options going forward:
- Either you open a PR which extends `ibex_tracer` to include the compressed instruction.
- Or you let me know how

[2019-07-31 14:03] ivanmgribeiro commented on #198
From what I understand of the spec, the JALR instruction allows you to pass in any immediate, not necessarily a 2-byte aligned one (unlike the JAL and BRANCH instructions). However the JALR then adds this to the register contents to get the target and sets the LSB of the jump target to 0. This means I could try to jump to a location with LSB=1 using the instruction but it should then set the LSB t

[2019-07-31 15:04] imphil commented on #124
@eroom1966 does #200 answer your questions?

[2019-07-31 15:57] eroom1966 commented on #124
sorry, yes it does - thx

[2019-07-31 15:57] #124 closed

[2019-07-31 15:59] imphil commented on #124
No need to be sorry, this information was/is missing from the docs and it's great that you asked for it to be included!

[2019-07-31 16:03] taoliug opened #201 "Verify unaligned load/store instruction"
Random mis-aligned half-word/word load/store instruction
Verify that the core can finish the load/store properly with no exception raised

[2019-07-31 16:04] taoliug opened #202 "Verify memory access fault"
Randomly assert error bit for instruction fetch and load/store.
Expect the core to raise memory access fault exception
Verify the fault load instruction won't modify GPR
Verify the context of the exception is captured correctly in privileged CSRs
- mstatus, mcause, mepc, mtval

[2019-07-31 17:43] udinator commented on #197
Current ibex trace logs are below:
![Screenshot from 2019-07-31 10-37-14](https://user-images.githubusercontent.com/16736281/62234432-867bf580-b37f-11e9-96b6-ecf0d713ba7d.png)
![Screenshot from 2019-07-31 10-38-44](https://user-images.githubusercontent.com/16736281/62234439-8aa81300-b37f-11e9-9b39-0e7283f2f886.png)

I was just referring to denoting the instructions as compressed (such as c.addi, e

[2019-08-01 19:51] udinator opened #204 "Verify interrupt interface"

[2019-08-01 19:51] udinator opened #205 "Verify debug interface"

[2019-08-02 20:45] #141 closed

[2019-08-02 20:54] taoliug commented on #140
Please check the DV flow document and let me know if you have any issue
https://github.com/lowRISC/ibex/tree/master/dv/uvm#overview

[2019-08-02 20:54] #140 closed

[2019-08-03 00:46] imphil commented on #99
OK, so here we go:
- A simulation of Ibex to run the compliance test suite is available in #209.
- Changes to riscv-compliance are in https://github.com/imphil/riscv-compliance/tree/ibex
  - https://github.com/imphil/riscv-compliance/commit/878f25d84cc1ec23a04ed85a07a3732a3ec5d1e7 has the setup for ibex.
  - https://github.com/imphil/riscv-compliance/commit/32640a5e4bafa4a056d568ff95290cd1bd3f5615

[2019-08-05 10:00] imphil opened #211 "UNOPTFLAT in ibex_core.id_stage_i.controller_i.ctrl_fsm_cs"
Investigate where this loop comes from and if we can/should eliminate it.

[2019-08-05 10:01] imphil opened #212 "UNOPTFLAT in ibex_core.cs_registers_i.mie_q"
Investigate where this Verilator warning comes from, and decide if we want to fix it.

[2019-08-05 10:28] vogelpi commented on #198
Just for reference, this topic was discussed some time ago in our Zulip chat here:
https://lowrisc.zulipchat.com/#narrow/stream/198227-ibex/topic/jalr.20clearing.20lsb

[2019-08-05 14:43] imphil opened #213 "prim_clock_gating.sv: Consolidate various in-tree example versions"
We currently have multiple versions of prim_clock_gating.sv in our tree, two pure verilog ones, and one Xilinx-specific one. Figure out where to place this IP so that it can be shared.

[2019-08-05 14:49] #99 closed

[2019-08-05 14:54] imphil commented on #100
We now pass all tests, except for four tests which require a writable mtvec. Requiring this is a bug in the compliance test suite, as a read-only mtvec is explicitly allowed by the standard.

[2019-08-05 14:54] imphil opened #214 "RISC-V Compliance: Use unmodified upstream version"
Currently, Ibex requires a modified version of riscv-compliance (living at https://github.com/imphil/riscv-compliance/tree/ibex), since the upstream version makes some assumptions which don't hold for our design, and which are not mandated by the spec (so we're conformant).

These issues need to be sorted our by the compliance working group. Once that has happened, we should switch the documentati

[2019-08-05 14:55] imphil commented on #100
Follow-up discussion to fix this and other issues with riscv-compliance is happening at #214.

[2019-08-05 16:20] vogelpi commented on #199
Hi @udinator ,
thanks for reporting this issue. The main question here is what to do if interrupts are being high for exactly one cycle only.

In short, I think the current implementation of Ibex is fine as we state in the doc that all interrupt lines are level-sensitive and that it is assumed that the interrupt handler signals completion of the handling routine to the interrupt source, e.g., thro

[2019-08-05 20:16] udinator commented on #199
Hi @vogelpi,
Thanks for your input. I agree with your thoughts on this matter, it makes sense to me as well that it is assumed that these interrupts should be treated as being level sensitive, especially since a PLIC is ultimately responsible for overall interrupt control.
I don't think that adding registers to latch the two irq_ signals is necessary, and I will modify the interrupt stimulus drive

[2019-08-06 01:37] udinator opened #216 "instr_multicycle_done is not asserted, continuous register writes"
While executing the code shown below:
![Screenshot from 2019-08-05 18-14-11](https://user-images.githubusercontent.com/16736281/62504340-e2de7b00-b7ac-11e9-8b26-0cc4090ccec3.png)
We see this incorrect behavior in the core:
![Screenshot from 2019-08-05 18-13-52](https://user-images.githubusercontent.com/16736281/62504356-ee31a680-b7ac-11e9-8d28-748683269f7e.png)

As shown, the `addi` instruction at

[2019-08-06 08:51] eroom1966 opened #217 "enabling Tracer in verilator"
@imphil referring to #99
Great progress, I have managed to reproduce your results, and have all but 4 RV32I tests passing (as expected)

**Q1. Is it possible to enable instruction tracing, register dumping, memory Load/Store from the simulation run ?**

I will attempt to (manually) merge your code changes into my sandbox
Looking at your changes, I see the following

Changes to link.ld, my plan is

[2019-08-06 10:03] imphil opened #218 "Provide software exercising U-Mode"
We need test software which exercises U mode to help with development of it in #88.

[2019-08-06 10:04] imphil opened #219 "Provide software using PMP"
We need software (and possibly a modified simulation setup) to exercise PMPs in our tests. Needed to start development on #8.

[2019-08-06 10:05] imphil commented on #8
@towoe did you already start implementing PMP in the past?

[2019-08-06 10:07] towoe commented on #8
No sorry, haven't worked on that.

[2019-08-06 10:12] imphil opened #220 "Make ibex_tracer Verilator-compatible"
It should be possible to use a coding style for the tracer which works in Verilator, making this helpful tool available there as well.

[2019-08-06 10:43] imphil commented on #217
The full tracer implementation doesn't work with Verilator at the moment, unfortunately (I've opened https://github.com/lowRISC/ibex/issues/220 to get this sorted out hopefully). The easiest solution for now is to apply the following patch.

[code]

On register and memory load/stores: Do you want to get a trace of all register writes and memory accesses, or do you want to dump this information on

[2019-08-06 10:49] vogelpi commented on #216
Hi @udinator ,
thanks for reporting the issue and tracking down the bug! `instr_multicycle_done_q` is only used for multicycle instructions and currently prevents `instr_executing` from being deasserted for normal instructions stalled due to the instruction fetch stage. I will prepare fix for it.
Best,
Pirmin

[2019-08-06 16:04] #216 closed

[2019-08-06 16:06] wallento commented on #8
I did work on it and finally have access to my old work computer. Will check about it tomorrow!

[2019-08-07 16:50] vogelpi commented on #99
Hi @eroom1966,
I wanted to let you know that I just ran the RISC-V Compliance tests with the modifications that make `mtvec` writeable. The tests still fail. The problem is that the test suite does not support any alignment restrictions on the BASE field in `mtvec`. By default, the I-EBREAK test writes 0x170 to `mtvec` which is not suitable when using vectored interrupt handling.

To allow vectore

[2019-08-08 09:50] #118 closed

[2019-08-08 11:44] eroom1966 commented on #99
@vogelpi
Thanks for looking into this
There are lots of things happening at the moment regarding the compliance sute and the formal YAML reference of a device. I will rais this, as it needs to be handled as part of the compliance handling. I think we need a more intelligent linker script so that the target of the handler (value in mtvec) refers to the YAML setting indicating that the alignment res

[2019-08-08 11:51] eroom1966 commented on #99
@imphil
Thanks for your work on this.
I ave implemented your modifications into my copy of the compliance framework (with some small changes)
The changes include defining a local linker script for ibex (rather than using a global linker script) and also making the references to non supported privilege registers, part of MACRO definitions which are conditionally included excluded - I will send you

[2019-08-08 11:53] imphil opened #228 "DV: Test writable mtvec"
With #118 landed mtvec is now writable. We need DV to test this, and to ensure that the documented constraints (256B-aligned, only vectorized) are obeyed when reading the value back.

[2019-08-08 12:01] imphil commented on #99
Yes, FENCE.I is not supported and results in an illegal instruction exception.  FENCE is supported (and effectively a NOP).

https://github.com/lowRISC/ibex/blob/19ffe9ac1db96dcdfb18c5fe0b3b2cf382cc179b/rtl/ibex_decoder.sv#L491-L493

[2019-08-08 12:08] imphil commented on #205
See also #168

[2019-08-08 12:12] imphil commented on #202
Also see #87

[2019-08-08 12:21] eroom1966 commented on #99
@imphil
If you get a chance please take a look at my fork of the compliance tests
https://github.com/eroom1966/riscv-compliance
I have added in the support of ibex
if you could provide some feedback that would be appreciated, I plan to make a pull request later today to the riscv/riscv-compliance repo
Thx
Lee

[2019-08-08 12:50] ivanmgribeiro opened #229 "Unused signal in decoder: data_reg_offset_o"
Hi,
I was looking through the ibex_decoder and found the signal ```data_reg_offset_o```, and I couldn't find anywhere where it is set apart from on the line
https://github.com/lowRISC/ibex/blob/19ffe9ac1db96dcdfb18c5fe0b3b2cf382cc179b/rtl/ibex_decoder.sv#L193
Is there a reason for this signal to exist?

Thanks,
Ivan

[2019-08-08 12:58] eroom1966 commented on #217
@imphil
Hmm, maybe I misunderstood ...
I was hoping that the tracer produced a disassembly output indicating the instruction, arguments and any changed registers.

I am sure in the past we have produced an execution disassembly in the Mentor or Cadence environment - am I mistaken ?

[2019-08-08 13:06] imphil commented on #217
In Mentor and Cadence simulations you can use ibex_tracer, which gives you disassembled instructions. It just doesn't work in Verilator yet (#220).

[2019-08-08 13:09] eroom1966 commented on #217
Ah, ok, I thought adding the patch addressed this - my mistake
I will look at using Mentor/Cadence

[2019-08-08 13:37] imphil commented on #99
Thanks @eroom1966. I had a quick look, and before I go into more detail, I'd suggest a naming change. lowRISC is a company name, and we might have totally different CPU cores in the future. I'd therefore like to avoid using "lowRISC" as target name, how about lowrisc_ibex or only ibex, as in my original proposal?

[2019-08-08 14:49] vogelpi commented on #229
Hi Ivan,
thanks for opening this issue. I am not 100% sure why this signal is there. It is also there in RI5CY but also not used there. I think it is a remnant of a custom instruction set extension from back in the days when PULP was using OpenRISC.

For sure it is not used and I think we should remove it.

Best regards,
Pirmin

[2019-08-08 14:53] eroom1966 commented on #99
@imphil
OK looking at the others that sit under riscv-target, for example
rocket/device/rv32i, and
grift/device/rv32i
grift/device/rv32im
...
then I am guessing we should have
ibex/device/rv32ic
ibex/device/rv32imc
ibex/device/rv32ec
ibex/device/rv32emc

Would you agree ?

[2019-08-08 17:29] udinator commented on #228
@imphil, I tested writes to mtvec, and its behavior is correct, it remains 256B-aligned, and the bottom two bits always remain 2'b01.

[2019-08-08 21:12] imphil commented on #99
Yes, that's what I went with in my patch, and I think that's a good choice.

[2019-08-09 09:33] imphil commented on #228
Thanks @udinator! Did you do a manual test, or is this already part of the DV in this repository? Please feel free to close this issue once it is covered by in-tree DV.

[2019-08-09 15:39] udinator commented on #228
The testing I did to verify `mtvec` is part of my latest merge to the `google/riscv-dv` repository, and the script in question can be found [here](https://github.com/google/riscv-dv/blob/master/scripts/gen_csr_test.py). I will be updating the `riscv-dv` repository in-tree as part of my PRs that are currently outsanding for this repo.

[2019-08-12 10:41] NamelessFTW commented on #229
Hi,
I'm currently away for the next week, and I won't be able to create the PR until I'm back. If this delay is OK with you then I'll implement the changes when I'm back, otherwise feel free to implement them.

[2019-08-12 10:44] ivanmgribeiro commented on #229
Hi,
I'm currently away for the next week and I won't be able to create the PR until I'm back. If you're OK with the delay then I'll implement the changes once I'm back, otherwise feel free implement them.

[2019-08-12 20:46] taoliug commented on #228
@udinator, please update the boot strap setup here
https://github.com/lowRISC/ibex/blob/master/dv/uvm/riscv_dv_extension/ibex_asm_program_gen.sv#L32

Right now all the trap/interrupt handling is hard-coded to boot_addr. It should be replaced to allow programmable MTVEC.

[2019-08-13 09:34] vogelpi commented on #109
This feature got implemented and merged in PR lowrisc/ibex#224. I am thus closing the issue.

[2019-08-13 09:34] #109 closed

[2019-08-13 09:40] vogelpi commented on #18
These signals/interfaces and the controller have been reworked. The assertion has been removed. Ibex is now using an external debug module following the RISC-V Debug Spec version 0.13. I am thus closing this issue.

[2019-08-13 09:40] #18 closed

[2019-08-13 09:56] vogelpi commented on #20
I can't find these assert statements, they seem no longer to be there. We have clarified how the instruction interfaces work some time ago. I am thus closing this issue now.

[2019-08-13 09:56] #20 closed

[2019-08-13 14:58] mmatzev opened #237 "Performance compared to zero-riscy"
I'm using a modified version of the pulpino SoC and replaced zero-riscy by ibex. I use the perfbench test software from the pulpino repository and modified only the CSR access addresses to get it working.
It is stange that ibex is taking more clock cycles for the same code as zero-riscy.  Also the number of branches is significant larger. Is there any explanation for this behavior?
The simulated t

[2019-08-13 15:39] vogelpi commented on #237
Hi @mmatzev ,
thanks for opening the issue. We have reworked the performance counters some time ago and in this process also slightly changed the order of the events and how they are generated. If I remember correctly, we found out that some events were not properly generated like the instructions retired signal.

In general, the changes we have implemented should not have an impact on performance

[2019-08-13 15:52] imphil opened #238 "DV: Test performance counters"
We have recently reworked the performance counters to be compliant to the RISC-V spec. The documentation is here: https://ibex-core.readthedocs.io/en/latest/performance_counters.html

Are the performance counters already covered by existing DV? Otherwise this is the issue to track progress towards that :-)

[2019-08-13 16:09] udinator opened #239 "Mhartid illegal instruction exception"
Hi,
Just a quick question about the mhartid csr in the Ibex core. The RISC-V Privileged Spec says that mhartid should be a read-only CSR, and I noticed that Ibex will throw an illegal instruction exception if any write to mhartid is encountered. However, with the misa csr, which is hardwired to its reset value, Ibex will just ignore any writes to that address if it encounters any, instead of throw

[2019-08-13 17:04] vogelpi commented on #239
Hi @udinator ,
thanks for opening this issue.

Yes, the difference between writing `mhartid` and `misa` is intended.

`mhartid` is a read-only CSR. This can be seen right from looking at bits 11 and 10 of its address (0xF14). 2'b11 means read-only and the spec defines that write accesses to read-only CSRs lead to an illegal instruction exception.

In contrast, the `misa` CSR is theoretically writa

[2019-08-14 14:30] mmatzev commented on #237
Hi,
the number of clock cycles fits to the simulation results. I compared also the code of the zero-riscy version and the ibex version. This is very similar, the only difference is in the CSRR and CSRW commands as the register addresses differ between the cores.

For the IBEX using the bench/fdctfst example from pulpino, I get:
Perf CYCLES:   16686 (CSRR 0xB00)
Perf INSN:     12250 (CSRR 0xB02)
Pe

[2019-08-15 08:19] vogelpi commented on #6
Hi @pearson78 ,
thanks for reporting this issue. I know it's a very long time but we had absolutely no clue why the pipeline flush was there. It was not documented anywhere and we only recently found out what it is needed for.

The reason for the pipeline flush being inserted when the `mstatus` CSR is accessed is to not miss pending interrupts when quickly enabling and disabling them right away. I

[2019-08-15 09:04] vogelpi commented on #237
Hi Matthias,
thanks for getting back. There is definitively something fishy going on. Already the number of loads and stores + the branches and jumps exceed the number of executed instructions on Ibex. Looking at the source code I do not find an explanation for this.

One thing that came into my mind: Do you properly reset the performance counters in Ibex? I just realized that Zero-riscy had a mec

[2019-08-15 12:47] mmatzev commented on #237
Dear,

I think that the counter reset and counter enable is the difference.
In zero-riscy there was the CSR 7A1 to enable and disable all counters. Therefore, they are stopped after the bench operation. In ibex, this register does not exist and, therefore, the counters are still runing during data output.
There is a CSR 0x320 without documentation. Should I use this register to stop the counters?

[2019-08-15 12:59] vogelpi commented on #237
Yes, you have to use the `mcountinhibit` CSR at addres 0x320. What do you mean by "without documentation"? The use of the `mcountinhibit` CSR is explained here:
https://ibex-core.readthedocs.io/en/latest/performance_counters.html#controlling-the-counters-from-software

Do the numbers now match?

[2019-08-15 13:56] mmatzev commented on #237
Sorry, yes it is there. I had a look to https://ibex-core.readthedocs.io/en/latest/cs_registers.html and did not find it there. It would be nice to have a link to the right section.

Now, I implemented the start and stop and reset of the counters. This results in very similar values to the zero-riscy core. The difference is in the range of 10 cycles, only.

Thanks for your support, Matthias

[2019-08-15 14:14] vogelpi commented on #237
You are welcome Matthias, it is good to know that the results are comparable.

[2019-08-15 14:14] #237 closed

[2019-08-16 12:28] #6 closed

[2019-08-16 12:29] #239 closed

[2019-08-20 13:53] vogelpi commented on #229
This got fixed in PR lowrisc/ibex#248. I am thus closing this issue.

[2019-08-20 13:53] #229 closed

[2019-08-22 01:16] #228 closed

[2019-08-22 09:07] imphil opened #258 "Signal “core idle” to users outside of the core"
We need to add a top-level signal indicating that the core is in WFI and completely idle.

It's a good indication for the power manager to know that the core is completely quiescent, and it is safe to switch off power without leaving a hanging transaction on the bus. The outside hardware world needs some kind of indication that upon WFI ibex is truly idle, and not for example secretly doing prefet

[2019-08-22 15:27] imphil commented on #100
We are now using the unmodified upstream test suite and have writable mtvec. But we still fail on these five tests:

[code]

More investigation is needed to see what's actually going on with these tests.

[2019-08-22 15:29] imphil commented on #100
@eroom1966 did you already look into some of these issues?

[2019-08-22 22:27] #214 closed

[2019-08-23 22:54] sriyerg opened #261 "[ibex tracer] enhancement request - runtime knob to disable tracer"
At chip level DV, we "stub" the ibex cpu by forcing its clk_i to 0 and taking control of the TL interface by overdriving it with our TL transactor. The advantage of doing that is choosing to 'stub' the cpu becomes a runtime config knob / setting as opposed to being a build time, which reduces overhead in terms of requiring additional parallel builds.

In chip level dv tests where the ibex core is

[2019-08-27 13:05] arjanbink opened #265 "Combinational paths between RVALID_I/ERR_I and REQ_O"
Description: Combinational paths exist from data_rvalid_i and data_err_i to data_req_o and from instr_rvalid_i to instr_req_o. Such paths can potentially limit the achievable performance in systems that do not pipeline these signals as they would introduce a path from a slave to the master (i.e. Ibex) and then back to the slave. For details see the attached pdf.

Git tag: 242147239551be9fb8523fbc6

[2019-08-27 13:30] imphil commented on #265
Thanks for the detailed report @arjanbink! I have seen this loop before but apparently I didn't file a bug for it, thanks for doing that!

We also don't see this loop in Verilator lint at the moment because we don't connect the bus to ibex, that's something we should look into as well. (But probably not as part of this issue.)

[2019-08-27 13:35] arjanbink commented on #265
It is not a loop inside Ibex (but it could become a loop on system level)

[2019-08-27 14:55] vogelpi commented on #265
Thanks for your detailed report @arjanbink , the timing diagram is really helpful!

I think we should change this. It basically means that the LSU needs to push out the second request before receiving the first `RAVLID_I`. In the shown example, the first `RVALID_I` is received together with the second `GNT_I`. Handling this case seems not to be too difficult to me. But I think we should also suppo

[2019-08-27 15:35] arjanbink commented on #265
I also noted that the second transfer in a misaligned load/store is suppressed in case the first transfer receives an error. In itself that is fine of course, but I don't think it is mandated by any specification, so I would think this part could be simplified by getting rid of the 'second transfer suppression in case of an error' (the performance impact would be a don't care as this should be an

[2019-08-27 16:00] davideschiavone commented on #265
@vogelpi , if the core does not wait the first valid before sending the second request, it means that we have potentially out of order memory transactions.
Imagine a load to an APB space that may take 3/4 cycles followed by a single cycle load to the scratch pad for instance.
So the second grant should not be received before the first valid (so the second request should wait the valid).

I agree w

[2019-08-28 07:04] arjanbink commented on #265
@vogelpi

Agreed with that. The way I see it there is an address/write data channel with a REQ and GNT and a transfer is accepted each rising edge in which both REQ and GNT are high (and the order of REQ and GNT should be a don't care, but REQs should not be retracted). And then there is a read data/response channel in which an RVALID (and read data in case of a read) should happen earliest the cy

[2019-08-28 09:05] vogelpi commented on #265
Thanks @davideschiavone for sharing your thoughts and @arjanbink for getting back. I think we all agree that it is not the responsibility of RI5CY/Ibex (especially since they are relatively simple cores) to handle out-of-order responses. It is perfectly fine to mandate that responses are returned from downstream in the same order as the requests were granted. It is the responsibility of the module

[2019-08-28 11:09] arjanbink commented on #265
Fully agreed

[2019-08-28 12:59] davideschiavone commented on #265
Dear @vogelpi and @arjanbink .

I think we all agree that the out-of-order should be moved to the bus and all your examples and solution make sense to me.
I don't see any theoretical problem to move the complexity of preventing more requests before the first one is not finished (RVALID=1) to the interconnect as @arjanbink  was proposing.

In terms of practical reasons instead, this would require e

[2019-08-28 15:30] arjanbink commented on #265
Hi @davideschiavone ,

Agreed that the biggest effort would be verification.

For existing systems however you could still achieve the current behavior with a the changed Ibex/RI5CY by combinationally gating REQ_O with RVALID_I just outside the core (or inside the core based on some parameter to offer backward compatibility). Also existing other masters in your system would therefore not necessari

[2019-08-28 15:57] udinator opened #269 "Verify WFI does not cause instruction fetches"
Need to add functionality to TB to verify that upon encountering a WFI instruction, ibex does not perform any instruction fetches before any stimulus is driven by the testbench.

[2019-08-28 20:29] tjaychen commented on #269
udi,
can i also ask that we check the core finishes all pending transactions
before asserting an idle indication to the outside world?

On Wed, Aug 28, 2019 at 11:57 AM udinator <notifications@github.com> wrote:

[2019-08-28 20:40] imphil commented on #269
@tjaychen We don't signal "idle" to the outside world yet, that's #258

[2019-08-29 00:01] udinator opened #270 "DRET treated as normal instruction in M-mode"
![Screenshot from 2019-08-28 16-50-42](https://user-images.githubusercontent.com/16736281/63900092-46c32080-c9b4-11e9-8d3a-15851f1eefc7.png)
While executing this code in M-mode and with no external debug/irq stimulus applied, the log shows ibex executing a dret and then jumping to `PC=0x00000000`, and the instruction at this address raises an illegal instruction exception, causing a jump to our ve

[2019-08-29 08:33] davideschiavone commented on #270
That may be the case for RISCY too, is it @bluewww ?

[2019-08-29 08:35] davideschiavone commented on #265
Hello @arjanbink , yes the wrapper may solve this problem as you said.

However, isn't there any solution to implement outside to solve your issue?
Maybe playing with the grant and valid. Can I see the scenario you would like to optimize by removing the dependency?

Probably an idea of the protocol with the corresponding mapping to grant and valid may help.

Thanks a lot
Davide

[2019-08-29 08:50] arjanbink commented on #265
Hi @davideschiavone ,

The scenario I try to achieve is as shown in figure 1 of the pdf file at the top of this issue report. We would like to enable an external adapter to AHB that does not cause pipelining on address phase info nor data phase signals and which does not introduce combinational paths from HREADYOUT to HTRANS (or any other address phase signal). Also note that on AHB it is not lega

[2019-08-29 08:54] vogelpi commented on #270
Thanks for reporting this issue @udinator . I will need to fix the controller to generate the illegal instruction exception when encountering DRET without being in debug mode.

[2019-08-29 08:56] vogelpi commented on #168
We have now a separate issue lowrisc/ibex#270 for DRET causing an illegal instruction exception if the core is not in debug mode (p.41).

[2019-08-29 10:38] bluewww commented on #270
@davideschiavone indeed ri5cy also doesnt raise an exception in m-mode.

[2019-08-29 13:35] vogelpi commented on #168
The DRET behavior has been solved.

[2019-08-29 14:48] imphil opened #274 "Assertion needs to be disabled while reset is asserted"
There are a few assertions in ibex_load_store_unit which are not disabled while reset is asserted. This could cause some false firing if some signals are x when reset is asserted.

e.g. ibex_load_store_unit.sv:457

[code]

[2019-08-29 14:50] imphil commented on #270
@udinator can you confirm that this is fixed now? (And are there tests for it?) (Reopening to get DV confirmation.)

[2019-08-29 16:17] udinator commented on #270
Confirming that the fix submitted by @vogelpi fixed this issue. DRET instructions are now properly treated as illegal instructions and cause an immediate jump to the vectored trap handler.
@imphil: I do have tests for this in my testbench, and will have a PR out in the near future.

[2019-08-29 16:17] #270 closed

[2019-08-29 16:21] imphil commented on #270
Thanks a lot!

[2019-08-29 16:24] udinator commented on #270
No problem!

[2019-08-30 08:32] vogelpi commented on #8
PMP support has been added by @tomroberts-lowrisc as part of lowrisc/ibex#252. I am thus closing the issue.

[2019-08-30 08:32] #8 closed

[2019-08-30 08:39] vogelpi opened #275 "Accessing debug CSRs while not in debug mode"
The RISC-V Debug Spec v.0.13.2 (p.41) mandates that the core debug CSRs `dcsr`, `dpc`, `dscratch0` and `dscratch1` must not be accessible if not in debug mode. Currently, Ibex always allows accesses to these. This should be changed.

See also pulp-platform/riscv#136.

[2019-08-30 08:42] davideschiavone commented on #275
Same for RISCY, we have the same issue @bluewww

[2019-08-30 08:44] davideschiavone commented on #275
https://github.com/pulp-platform/riscv/issues/136

[2019-08-30 13:08] asb commented on #265
Hi Arjan - we'd appreciate your review in #276 which works towards resolving this issue.

[2019-09-02 08:44] arjanbink commented on #265
Hi, thanks for the proposed fix; I am studying the updated RTL now and will provide feedback asap

[2019-09-02 10:17] imphil opened #278 "Implement time CSR"
We have `mtime` implemented.  When implementing U mode (#88) we also need to implement `time`.

To simplify the implementation we can implement it via software trap handler, and document how such a trap handler should look like.

[2019-09-03 11:07] raulbehl commented on #274
I see almost every assertion not using the disable statement. I think it would make sense to update all of those to avoid any false failure (specially in formal runs!)

[2019-09-03 11:11] raulbehl commented on #220
This is work in progress (I actually have the branch ready just need some style-nit fixes before raising a PR). I have used #262 as my starting point for this. Should I wait until #262 is merged and then open a pull-request?

[2019-09-03 11:14] #275 closed

[2019-09-03 11:53] imphil commented on #220
Feel free to open a PR right away. This allows us to start with the review right away, and you can then rebase before merging.

[2019-09-03 13:19] #29 closed

[2019-09-05 07:48] asb commented on #265
Hi Arjan - please take a look at #282 as well.

[2019-09-05 10:06] GregAC commented on #258
A question here is how once sleeping does the core wake-up occur?  The linked issue in the pulp repo is saying they want the signal to go low once something happens that wakes the core up.  However to do this you need a combinational path from the irq pins to the sleep signal, which I don't think is a great idea timing wise.  Perhaps a separate wakeup_needed which is just a big OR or the various s

[2019-09-05 10:16] GregAC opened #283 "Main clock gate potential timing issues"
The top-level ibex clock gate (core_clock_gate_i) directly factors the debug_req_i and various irq signals into it directly.  This could cause timing issues in various implementations.  The enable into such a clock gate often needs to be an early signal especially as the gate itself will sit a few levels up the clock tree rather than at the same level as a gate for a set of flops.

One method to d

[2019-09-05 10:20] GregAC commented on #283
This is also related to how we handle power-down in WFI (issue #258)

[2019-09-05 10:34] imphil commented on #258
Sleep is only due to WFI, so any interrupt (including the "debug interrupt") will wake up the core.

For the scope of this bug, probably passing clock_en to the outside world should be sufficient. But I agree we could go beyond that, let's just make sure we don't scope-creep too much here.

https://github.com/lowRISC/ibex/blob/36db1041605c4e0c62e5e0612f35331647674ed8/rtl/ibex_core.sv#L275-L285

I'

[2019-09-05 21:28] udinator opened #285 "Dcsr.xdebugver reset value"
Hi all,
I noticed that in the CSR register module, `dcsr.xdebugver` is set to `XDEBUGVER_NO` upon reset, but after reset is over and an explicit write to `dcsr` occurs, the `xdebugver` field will then be permanently set to the value of `XDEBUGVER_STD` for the duration of the simulation.  This seems to contradict with the behavior of the `dcsr.prv` field, which is set to `PRV_LVL_M` at reset, as we

[2019-09-06 02:51] tjaychen commented on #258
Yeah the intent was to power it down.  It could also be clock gating, but
worst case is full power down.

Regarding the wake up path, some of the past cores I've worked with had two
clock domains to the core. One was always running and one could be gated
off based on an idle signal (either internally or externally)  The former
would be used to clock in the wake up/irq signals to wake up the rest o

[2019-09-06 03:01] tjaychen commented on #258
O one thing I should have clarified for power down.

If we do power down just the core and not the rest of the system, we will
most likely isolate the output to maintain the proper state (ie in sleep),
either on the output of the core or the input to some other module,
depending on how the power domains are partitioned.

If we power down the core with the entire system, it is then the power
manage

[2019-09-06 07:44] #258 closed

[2019-09-06 08:32] arjanbink commented on #265
Hi,

I will look into it today.

Best regards,
Arjan

From: Alex Bradbury <notifications@github.com>
Sent: torsdag 5. september 2019 09:49
To: lowRISC/ibex <ibex@noreply.github.com>
Cc: Arjan Bink <Arjan.Bink@silabs.com>; Mention <mention@noreply.github.com>
Subject: Re: [lowRISC/ibex] Combinational paths between RVALID_I/ERR_I and REQ_O (#265)

CAUTION: This email originated from outside of the o

[2019-09-06 10:55] arjanbink commented on #265
Hi,

I donwloaded the new code, synthesized it and can confirm that the reported combinational paths are now gone. I looked at the RTL changes as well and I didn't notice anything weird, but to be honest I am not familiar enough with the prefetch buffer to really comment on it.

Thanks for taking care of this issue so quickly!

[2019-09-06 12:57] vogelpi commented on #285
HI @udinator ,

thanks for creating the issue. I do not see any reason why `dcsr.XDEBUGVER` should not be set to `XDEBUGVER_STD` right at reset. I will create a PR to correct this.
Best Pirmin

[2019-09-06 14:32] #285 closed

[2019-09-06 14:43] #197 closed

[2019-09-06 16:52] udinator commented on #285
Thanks for the fix @vogelpi!

[2019-09-06 17:42] raulbehl opened #287 "Compile issues while running ibex-tracer example"
Hi,

Ibex top is broken due to the changes in the following commits:

bec84ca2b1
Missing a `,` after the port connection: https://github.com/lowRISC/ibex/blob/60de915d6b85b61a4981263c7a7fa8fa922d3f4d/rtl/ibex_core_tracing.sv#L151

and

16177fe8db
`NUM_REQS` is not defined:
https://github.com/lowRISC/ibex/blob/60de915d6b85b61a4981263c7a7fa8fa922d3f4d/rtl/ibex_fetch_fifo.sv#L222

I am surprised to s

[2019-09-06 18:32] raulbehl opened #288 "Ibex tracing example needs update following the changes in prefetch buffer"
The recent changes to I-side logic and prefetch buffer has changed how ibex asserts `instr_req_o`. Due to this the current example in the TB doesn't produce the intended results. The delays in the TB would need to be adjusted as per the new logic.

FYI: Here are the contents of the `trace_core_00000000.log`
[code]
The trace ends abruptly at `420ns` (since now the timing between `instr_req_o`, `ins

[2019-09-06 18:35] raulbehl commented on #287
Just realised that the azure pipelines don't test the tracing related files. This explains how these were missed by CI. Such issues would be seen once #280 is merged!

[2019-09-07 00:27] udinator commented on #288
I am encountering the same issue as well due to the I-side logic changes in #282, my trace log when running `riscv_rand_instr_test` looks like this, abruptly cutting off after around 400 clock cycles:
![Screenshot from 2019-09-06 17-23-19](https://user-images.githubusercontent.com/16736281/64467175-0c036b80-d0cb-11e9-85a5-35be40f9e900.png)
Has the documentation been updated to explain how the new

[2019-09-07 00:44] udinator opened #290 "Incorrect irq_fast ID assignment"
According to the documentation, Ibex should assign all of the fast interrupts `irq_fast_i[14:0]` an ID from 16 to 30, so that `irq_fast_i[0]` has an ID of 16, `irq_fast_i[1]` has an ID of 17, and so on.  In the [Ibex CSR register file](https://github.com/lowRISC/ibex/blob/master/rtl/ibex_cs_registers.sv#L572), the entire 15 bit array is output to the [Ibex controller module](https://github.com/low

[2019-09-07 00:44] udinator commented on #290
adding @tjaychen for visibility

[2019-09-07 09:36] vogelpi commented on #290
Hi @udinator ,
thanks for reporting this issue. You are right. The generation of `mfip_id` in the controller is wrong. For example, it should be
   ```if      (csr_mfip_i[14]) mfip_id = {1'b1, 4'd14}; // ID 30```
instead of
   ```if      (csr_mfip_i[14]) mfip_id = 5'd14;```

I will fix it accordingly and create a PR.

[2019-09-07 13:18] imphil commented on #288
The RVFI interface shouldn't change, this needs to be fixed in the RTL.

[2019-09-09 08:18] raulbehl commented on #287
As both the issues have been merged to master, It should be safe to close this now? @vogelpi?

[2019-09-09 08:24] vogelpi commented on #287
Hi @raulbehl ,
thanks for reporting this issue.
Yes, the second part has just been fixed in lowRISC/ibex#292. I think this can be closed now.
Best,
Pirmin

[2019-09-09 08:24] #287 closed

[2019-09-09 12:05] #290 closed

[2019-09-10 07:53] arghimat commented on #205
Is the software debugging currently working for ibex? Is there a Debug Module (DM), Debug Module Interface (DMI) and Debug Transport Module (DTM) as specified by the RISCV specification already available or planned in this project? I would like to use OpenOCD with ibex but I am not sure if this project will provide the required debug infrastructure or this is not in the scope.

[2019-09-10 08:27] vogelpi commented on #265
Thanks for your feedback @arjanbink . Both PRs are merged, I am now closing the issue.

[2019-09-10 08:27] #265 closed

[2019-09-10 08:55] vogelpi opened #296 "Instruction address changes before a request/grant handshake"
The instruction interface of Ibex allows to change the address while asserting request and waiting for a grant. This behavior is inherited from RI5CY. If I remember correctly, the primary reason for having this in RI5CY is that in multi-core configurations (PULP) with a shared instruction cache, it allows to reduce contention on the cache and leads to notable performance gains. This can also be be

[2019-09-10 09:48] arjanbink commented on #296
Thank you for adding me to this ticket. I would be strongly in favor of removing this unexpected behavior and make sure that the address is not changed during non-granted requests:

- It unifies the behavior on instruction and data side
- It eases the design of AHB and AXI adapters
- It increases the performance of AHB and AXI adapters
- There is no benefit of using the existing implementation in

[2019-09-10 10:09] imphil opened #297 "riscv-compliance test system: Fix arbitration error in bus"
@GregAC mentioned that this code

https://github.com/lowRISC/ibex/blob/ac22439374a0bafd6fc2f9d38aefc02e44fa2abb/dv/riscv_compliance/rtl/bus.sv#L57-L64

doesn't work as expected in Verilator and gives out grants to two hosts at the same time.

@GregAC can you
- Double-check what the standard and other tools say should be the right behavior?
- If this happens to be a bug in Verilator, file a bug rep

[2019-09-10 10:12] imphil commented on #296
Just to add a couple of pointers and anecdotal evidence to that:
- Documentation of the current behavior: https://ibex-core.readthedocs.io/en/latest/instruction_fetch.html#protocol
- Older riscy bug about the same topic: https://github.com/pulp-platform/riscv/issues/50 (that's what caused the documentation note to be added)
- There was more discussion on that with Ashish when doing formal verifica

[2019-09-10 12:27] imphil commented on #205
You can use the debug module from PULP https://github.com/pulp-platform/riscv-dbg/ with Ibex.

[2019-09-10 21:48] udinator opened #300 "Non-maskable interrupt handling"
Hi all,
In testing Ibex's interrupt interface, I ran into the following situation:
![Screenshot from 2019-09-10 14-39-58](https://user-images.githubusercontent.com/16736281/64652505-e3d08100-d3d8-11e9-8886-8a355f31a7f7.png)
I drive `irq_nm_i`, signaling a non-maskable interrupt to Ibex. Since Ibex treats interrupts as level sensitive, and relies on handler routines to deassert the interrupt lines,

[2019-09-10 23:16] udinator opened #301 "Core_sleep_o issue"
Hi,
I was running a `wfi` test, expecting the new `core_sleep_o` signal (#284) to be asserted after the `wfi` started being executed, but instead it looks like this signal remains at `1'b0` for the entire test, and switches to `1'bX` at some points  as well, as shown in the waveform below:
![Screenshot from 2019-09-10 16-14-01](https://user-images.githubusercontent.com/16736281/64656924-0917bc00-d

[2019-09-11 09:09] vogelpi commented on #300
Thanks Udi for reporting this bug. There was a wrong default assignment for `nmi_mode_d`. The NMI mode register was thus constantly cleared (unless the core was in the IRQ_TAKEN) state. I have created a PR to fix it.

[2019-09-11 09:23] GregAC commented on #301
The current implementation of the sleep signal is very simple, it just exposes the inverted clock_en to the outside world.  Hence issues in one will match issues in the other.  I suspect we'll want something more sophisticated eventually (current version may not give good timing for one thing).

As verilator doesn't do X I can't reproduce the issue other than confirm sleep works as I'd expect on a

[2019-09-11 09:45] #300 closed

[2019-09-11 10:59] imphil opened #304 "C/C++ Lint: Document its use and enforce it"
#303 added a clang-format configuration to this repository to lint C/C++ code. We should
- Document our expectations on how developers run it, and possibly provide helper scripts for that.
- Run clang-format in CI on the patch.

[2019-09-11 11:51] GregAC opened #305 "Potential timing issues around pc_set"
The pc_set signal factors in both exceptions that have just occurred and branch conditions and directly feeds into the top-level instr_addr_o output (and associated signals).  This is a long path making the instruction memory interface outputs late.

The paper 'Slow and Steady Wins the Race? A Comparison of Ultra-Low-Power RISC-V Cores for Internet-of-Things Applications' (https://www.researchgate

[2019-09-11 12:06] vogelpi commented on #305
I think we should also seriously consider your previous idea of adding a separate adder in the IF stage for computing the branch/jump target. Or would this reduce another path into `instr_addr_o` but not the most critical one `pc_set`?

[2019-09-11 12:08] GregAC commented on #305
I think it will help this path, but you've still have an reg file addr -> reg file out -> alu -> branch_target -> iside stuff -> instr_addr_o path.  The dedicated ALU should help knock a few stages of logic off but nothing dramatic.

[2019-09-11 12:11] GregAC commented on #305
Actually the branch condition logic remains the same and I realise I'm confusing two long paths here.  We have seperately:

branch condition/exception found -> pc_set -> ...

branch target calc -> iside -> instr_addr_o

Though pc_set also factors into instr_addr_o as it chooses the branch target as the fetch address rather than what we would next prefetch.

[2019-09-11 12:12] vogelpi commented on #305
Yep I see. Another question: what about issuing the instruction fetch independently of the branch decision and then deal with it once the IF stage gets back the response?

For example, if the branch is not taken, we just do not write the returned instruction into the fetch FIFO.

[2019-09-11 12:35] GregAC commented on #305
Following our offline discussion, @vogelpi pointed out the branch condition -> pc_set -> ... path doesn't exist (maybe it used to in some version of zero-riscy?) because we calculate branch condition in one cycle then the following cycle calculate target and set PC.  However the one beginning with the exception found does.

So it is suggested we break the exception found version of the path.  This

[2019-09-11 12:53] imphil opened #306 "Documentation: PMP documentation table rendering is broken"
This table isn't being rendered correctly:

![image](https://user-images.githubusercontent.com/1467123/64698775-69b50080-d49b-11e9-9205-6050e8fcd5a3.png)

[2019-09-11 12:55] imphil opened #307 "Document debug CSRs"
Document dscratch0, dscratch1 and dpc CSRs in the CSR documentation, and link them from the debug documentation page.

[2019-09-11 17:49] tjaychen commented on #305
@GregAC @vogelpi
I'm not sure if i'm looking at this right, but it looks like in the controller there is also a rd_data -> instr_addr_o path via the jump instruction decoding.  I've not seen this show up anywhere in the top 10 paths, so maybe it's not an issue?

Anyways I think you guys will know best.

[2019-09-11 18:20] tjaychen commented on #301
@udinator
let me know if you want me to help take a look at anything.

[2019-09-11 18:22] tjaychen opened #308 "[tlul] reduce sync fifo usage in blocks that do not require them"
the current fabric path to memory does not really need outstanding capacity in the fifos, especially if memory accesses always complete in a single cycle.

we should update the sockets to reflect this.

@eunchan, i'll assign this to both of us, and whoever manages to get to it first can just do it :)
I imagine we both have a few things piled up anyways...

[2019-09-11 18:34] tjaychen commented on #308
oops sorry, accidentally created this in the wrong repo.

On Wed, Sep 11, 2019 at 11:24 AM Philipp Wagner <notifications@github.com>
wrote:

[2019-09-11 23:32] mithro opened #309 "Create page tracking tape out information (and maybe comparison?)"
It would be awesome if you had a "information from tape outs" type page in the documentation somewhere. I would like to see it have the following information;

 - [ ] What was taped out
 - [ ] Who it was taped out with (IE Foundry, Node, PDK, Process, etc)
 - [ ] What type of tape out it was, test chip, production run, etc....
 - [ ] What tools were used
 - [ ] What was the resulting gate count
 -

[2019-09-12 07:47] #288 closed

[2019-09-13 08:44] vogelpi commented on #301
Hi @udinator ,
thanks for creating the issue. As Greg pointed out we can't see the X in Verilator and cannot really tell what the issue is. If you can forward us the waves generated at your end, we can study them and hopefully find a solution. We would need the waves of the entire processor (`ibex_core.sv`). You can directly upload them here inside a .zip-file.

Best,
Pirmin

[2019-09-13 11:17] vit82 opened #310 "Basic memory transaction latency"
During basic memory transaction Load-Store Unit expects signals data_gnt_i and data_rvalid_i to become active one after another (see Figure 3 at https://ibex-core.readthedocs.io/en/latest/load_store_unit.html). This introduces one additional cycle of access latency.

For better system bus performance it's interesting to allow both data_gnt_i and data_rvalid_i become active simultaneously. I tried

[2019-09-13 14:49] udinator commented on #301
Hi vogelpi and GregAC, I will first update our testbench to ensure there are no X signals being driven/seen anywhere, and if that does not appear to solve the issue, I'll dig deeper into this and try to root cause it before updating this thread. Best, Udi

[2019-09-16 11:42] tomroberts-lowrisc opened #317 "Remove dependency on DPI calls from Verilator SimCtrl"
Verilator SimCtrl currently will not link correctly unless an external function "simutil_verilator_memload" is defined, and a SystemVerilog module containing at least one DPI call is included in the file list.

Suggestion - split all the memory loading functionality into a separate class/file which can be left out if not needed.

[2019-09-16 12:36] #297 closed

[2019-09-16 18:28] udinator opened #320 "Incorrect `mepc` value after irq is taken"
Hi all,
During a test, this segment of code is running on the core:
![Screenshot from 2019-09-16 11-19-14](https://user-images.githubusercontent.com/16736281/64982799-e406cb80-d873-11e9-8d8e-19d60156213b.png)
At `PC=0x80000276` (a `nop` instruction), our testbench asserts a software interrupt, as shown from the waves below:
![Screenshot from 2019-09-16 11-23-43](https://user-images.githubuserconte

[2019-09-16 20:53] udinator opened #322 "Compressed tracer load/store issue"
Hi @raulbehl,
I'm seeing some weird behavior with the tracer (from #262) involving long runs of compressed `lw` or `sw` instructions, below is the disassembled instruction sequence that is getting executed:
![Screenshot from 2019-09-16 13-19-46](https://user-images.githubusercontent.com/16736281/64990442-afe7d680-d884-11e9-96a3-1c03d15861ca.png)
And, below is what Ibex tracer is printing out for t

[2019-09-17 07:35] tomroberts-lowrisc commented on #320
Looks like the prefetch buffer changes are causing this - I'll look into it.

[2019-09-17 08:56] raulbehl commented on #322
Hi @udinator,
Thank you for reporting this. The behaviour for compressed load/stores is same as uncompressed load/stores and the issue should be seen for there as well?  I'll push a fix for this soon.

[2019-09-17 14:21] imphil commented on #322
I'm on it (it's just a swap of the register and the immediate). I'll integrate it into some changes I'm doing on the tracer now.

[2019-09-18 15:39] vogelpi commented on #305
I had a look at this issue and created a timing report (when using Ibex inside PULPissimo). It seems that the main problem is in the detection of illegal CSR operations. This also results in an illegal instruction exception but unlike the ones detected inside the decoder, this path goes through the ALU (computes the CSR address).

[ibex_pulpissimo.txt](https://github.com/lowRISC/ibex/files/3627278

[2019-09-19 10:16] GregAC commented on #305
Thanks for your insights @vogelpi nice simple fix in the end!

@tjaychen We would expect a path from the instruction data -> instr_addr_o path due to jumps.  You need to pull the immediate out of the jump instruction to compute the jump address.

[2019-09-19 15:32] udinator commented on #301
Updating this issue to confirm that after modifying the testbench to drive all external stimulus wires to `0` after reset, `core_sleep_o` appears to be working as intended, going high several cycles after a `wfi` starts executing.
Closing this issue for now.

[2019-09-19 15:32] #301 closed

[2019-09-19 21:33] tjaychen commented on #305
@GregAC
that makes sense.  I just wasn't sure if this was showing up as a critical path for you guys as well.  We are going to break the FPGA timing path on our end, but probably keep the asic path as is.

[2019-09-19 23:50] udinator opened #340 "Instruction fetch error execution"
Hi all,
![Screenshot from 2019-09-19 16-18-58](https://user-images.githubusercontent.com/16736281/65288479-d06d9600-dafb-11e9-8060-11e8c25877e0.png)
![Screenshot from 2019-09-19 16-23-24](https://user-images.githubusercontent.com/16736281/65288484-d2cff000-dafb-11e9-8ed2-266b8f6eac41.png)
Above is a snippet of disassembled code I was running on Ibex, and the associated section in the core tracer.

[2019-09-20 07:18] tomroberts-lowrisc commented on #340
Thanks @udinator - I'll look into it

[2019-09-20 10:53] MarekPikula opened #341 "Local CI tests"
What do you think about making a local CI test solution based on Docker container? Currently that's how I'm testing my changes before commiting. I have simple Dockerfile doing pretty much all the initialisation part from `azure-pipelines.yml` and then I'm executing next commands by hand.

Would anyone be interested in PR with this? I could polish the Dockerfile and write simple script executing al

[2019-09-20 12:33] asb commented on #341
Thanks for the suggestion Marek. I think independently of `Dockerfile`s, moving more of test logic that is currently in `azure-pipelines.yml` to a separate script is worthwhile.

For an in-tree Dockerfile we'd ideally have a story on making sure it doesn't become stale. I'm not sure how many people the Dockerfile would help, vs having clear instructions on dependencies and letting people handle th

[2019-09-20 13:00] MarekPikula commented on #341
Well, my solution is basically fully based on Pipelines script, so anyone making changes to Pipelines would also make changes to Dockerfile.

My solution is entirely self-contained, so in order to run tests you just run a Docker image with whatever tool you're using with volume pointing to current directory and everything is done automatically as in Pipelines. We could even build an image for Dock

[2019-09-23 09:31] imphil commented on #341
@MarekPikula Please open a PR if you have something to look at; I'm currently traveling and will go back to look at Ibex CI topics in a week from now after ORConf.

[2019-09-24 18:09] udinator opened #348 "RVFI Interface - load/store memory faults"
Hi all,
Quick question regarding the RVFI, in particular [this section](https://github.com/SymbioticEDA/riscv-formal/blob/master/docs/rvfi.md#memory-access) regarding its set of memory access signals. The description for this whole set of signals specify that they should indicate only valid data, when applicable, but when I monitor these signals in Ibex after injecting a load or store error into t

[2019-09-25 08:48] GregAC commented on #348
I think we'd be better off driving to X?  For Verilator this may end up driving to 0 or 1 but I don't think that's an issue.  If the data itself is irrelevant (because the mask doesn't say it's valid) then it doesn't matter what it is.  Using X means we're more likely to uncover times we're accidentally using invalid data.

I'd say the same principle should apply in general (so in particular rd_wd

[2019-09-25 09:14] MarekPikula commented on #341
Sure, I'll polish it today and will post PR.

[2019-09-25 09:27] MarekPikula commented on #341
Where should I put all the related files? Maybe separate folder `docker` in main tree?

[2019-09-25 09:32] tomroberts-lowrisc commented on #348
From the interface, and therefore from the trace stream, there's no specific indication of a load/store abort. I guess the means of determining it is that the next instruction traced will be the exception handler, and thus the tracer knows to cancel the previous load/store.

To my mind, the most useful thing to do is therefore trace the load/store normally (as we do now). Tracing an address of 0 j

[2019-09-25 13:45] GregAC commented on #310
Thanks for the suggestion @vit82.  I suspect practically building a system that gives you immediate data response will be tricky for timing reasons.  Currently the data address output comes straight from the ALU and data coming back from memory goes straight in the register write port.  This gives us two timing paths along the lines of

Reg file read (base address) -> ALU (add) -> data address

da

[2019-09-25 23:17] udinator commented on #348
I agree with @GregAC that having some method like driving to 'X will make it very clear through the RVFI that an erroneous memory transaction is detected, but also agree with @tomroberts-lowrisc that it might also be useful to leave the address and data untouched, to allow the user to see what memory transaction caused the error. Is there the possibility of adding a signal `rvfi_lsu_err` or someth

[2019-09-26 07:14] asb commented on #348
It might be worth starting a discussion about this on the riscv-formal repo to get feedback from the RVFI spec maintainers.

[2019-09-27 16:11] udinator commented on #348
@asb - Good idea, I've opened an issue on the riscv-formal repo [here](https://github.com/SymbioticEDA/riscv-formal/issues/32).

[2019-10-01 07:23] #296 closed

[2019-10-01 07:23] #320 closed

[2019-10-01 07:23] #340 closed

[2019-10-02 09:35] MarekPikula commented on #117
@imphil @tmarkettos From what I have seen Quartus Standard is maintained in terms of minor library updates and bugfixes and not really synthesizer updates ([here](https://www.intel.com/content/dam/www/programmable/us/en/pdfs/literature/rn/rn-qts-std-dev-support.pdf) are release notes for the most recent version). I wouldn't expect Intel to improve on SV support on this Quartus variant any time soo

[2019-10-02 13:41] MarekPikula opened #365 "mstatus.mie reset when hitting breakpoint"
I'm currently evaluating PULPissimo platform with Ibex core and I encountered some strange behaviour with interrupts. It seems that after hitting breakpoint `mie` in `mstatus` register is reset to 0.

Here is my setup:

- PULPissimo with Ibex core and [pulp-platform/riscv-dbg](https://github.com/pulp-platform/riscv-dbg) as debug core,
- ZedBoard (Xilinx Zynq, `master` version of all cores) and Ter

[2019-10-02 14:46] #305 closed

[2019-10-03 08:56] vogelpi commented on #365
Thanks @MarekPikula for opening this issue. I will look into it later today.

[2019-10-03 09:41] #88 closed

[2019-10-03 09:41] #306 closed

[2019-10-03 14:30] asb opened #370 "ebreak handling still assumes an M-mode only core"
#343 added support for U-mode. One thing we missed was that the ebreak handling in ibex_controller.sv assumes the core is M-mode only. That is, it unconditionally checks dcsr.ebreakm when determining whether ebreak should enter debug mode, when it should check ebreakm/ebreaku depending on the current privilege level.

cc @tomroberts-lowrisc @vogelpi

[2019-10-03 14:36] vogelpi commented on #365
Hi @MarekPikula ,

I had a look into your issue. `mstatus.MIE` is actually not modified when entering debug mode and thus also does not need to be recovered when leaving debug mode.

It is not clear to me, why in your case MIE is set to 0 anyway. In theory, this could be caused both by hardware or software. The hardware sets MIE to 0 either when
- executing an exception. In this case, it also modi

[2019-10-04 00:48] udinator commented on #322
Hi @imphil - Regarding the recent updates to the ibex tracer, I'm seeing that for the `c.addi16sp` instruction, the `rd` and `rs1` register values are not being shown, so the log entry for this instruction looks like below:
![Screenshot from 2019-10-03 16-21-34](https://user-images.githubusercontent.com/16736281/66173622-e86a0d00-e605-11e9-9c6c-4853fa257ac2.png)

[2019-10-04 09:36] imphil opened #372 "Tracer: Debug miscompilation in decode_load_insn()"
In https://github.com/lowRISC/ibex/blob/2acb497d22a5da877a9c4350ef5693d0c767cc61/rtl/ibex_tracer.sv#L584-L613 we switched from case to if statements to get around potentially wrong behavior in Verilator. Note that the `return` in the default statement hides that the default statement is always taken; the output without the return looks even more confusing.

Upstream bug report at https://www.verip

[2019-10-04 23:59] udinator opened #374 "DMEM fault during misaligned memory access"
Hi all,
When running this set of instructions:
![Screenshot from 2019-10-04 16-43-38](https://user-images.githubusercontent.com/16736281/66245995-26c70100-e6c6-11e9-8347-b284c658e62c.png)
The following waves were generated:
![Screenshot from 2019-10-04 16-47-11](https://user-images.githubusercontent.com/16736281/66246078-a1901c00-e6c6-11e9-839a-a188fce292f5.png)
The `sw` instructions at `PC=0x8000

[2019-10-05 17:22] #322 closed

[2019-10-06 11:56] #372 closed

[2019-10-06 12:00] imphil opened #376 "Bump minimum Verilator version"
We currently don't document a specific version of Verilator. We use 4.016 in our CI at the moment, but the simulation should work with older versions at well. Instead of now documenting a arbitrary number, let's wait until we have a good reason for a bump.

Currently we have the following requirements:
- at least 4.020: Remove workaround as discussed in #372

Extend this issue over time, and then

[2019-10-07 08:18] tomroberts-lowrisc commented on #374
When the changes were made to remove the timing loop on data_valid, I tried to keep the error behaviour the same as before. The core takes the error exception as soon as the first transaction completes, but the LSU carries on with the second transaction in the background.
That's causing the issue here, and I can see other issues that might be caused by the LSU operating in the background.
I'll pre

[2019-10-07 17:36] MarekPikula commented on #365
[Here](https://github.com/pulp-platform/riscv-dbg/blob/master/debug_rom/debug_rom.S) is the `debug_rom.S` for reference.

It doesn't modify `mstatus` for sure.

Today I rechecked with `master` on ZedBoard, because I noticed version I tested had some small modifications, but still it produces the same result.

Unfortunately I don't have a license for QuestaSim, which would allow to make the whole P

[2019-10-08 09:38] vogelpi commented on #365
Thanks @MarekPikula for getting back and providing more details. I was looking at the same sources. I guess we have to get into Quartus SignalTap and Vivado ILA then.

We basically need:
- the instruction in the decoder
- the state of the controller
- the signals making the controller jump into FLUSH state
- the signals making the controller do what it does in the FLUSH state
- mstatus.MIE, mstatu

[2019-10-08 11:28] towoe commented on #60
Link to #342

[2019-10-08 11:39] raulbehl commented on #261
This should be fixed with #360
With this implementation in place - the file would only be created if the core retires valid instructions.

@imphil - Should be okay to mark this as complete? Or you reckon some further updates might be necessary?
@sriyerg - Hope the above implementation meets your criteria. Basically, gating the clock to ibex would ensure that there is no trace generated hence no tr

[2019-10-08 11:44] imphil commented on #261
@raulbehl thanks for reminding me. Yes, this should be fixed. Please re-open if there are additional issues @sriyerg .

[2019-10-08 11:44] #261 closed

[2019-10-08 13:12] towoe opened #381 "Add riscv complince reference to doc"
I did not find a reference in the online user manual to the `README.md` of the `riscv-compliance`.
@imphil can you confirm this?

[2019-10-08 13:17] imphil commented on #381
No, it's not mentioned in the real docs, but it should be.

One idea would be to move/extend https://ibex-core.readthedocs.io/en/latest/verification.html into a "Testing and Verification" chapter, e.g.

Testing and Verification
- SystemVerilog UVM verification
- Using the RISC-V Compliance Test suite

and possibly further topics in the future, e.g. Tom's Verilator-based verification work at #298.

[2019-10-08 13:58] asb opened #382 "Add support for hardware breakpoints"
It would be useful for Ibex to support hardware breakpoints (or triggers, as the RISC-V debug spec calls them). This would be done through at least the `tselect` and `tdataN` CSRs.

[2019-10-09 09:07] #374 closed

[2019-10-09 16:54] MarekPikula commented on #365
Today I made some investigation. I assembled SignalTap to your request and added some additional signals like different PCs. It seems that correctly `MIE` is moved to `MPIE` on debug request.

`MPIE` is being reset on `illegal_insn` fetched from `0x1A110300`, which happens to be `whereto` in DM ([here](https://github.com/pulp-platform/riscv-dbg/blob/a3773671b728ce496277bc0b2732ccaaa773f289/doc/deb

[2019-10-09 18:10] vogelpi commented on #365
Thanks @MarekPikula for getting back and providing more insight. Really interesting! I am wondering, what does the illegal instruction handler do?

[2019-10-10 13:56] MarekPikula commented on #365
Ok, more or less I've got it figured out. For the out-of-range `0x1A114360` jump address it was just my error due to some changes in _riscv-dbg_ to make it work with Quartus. Either way it didn't really matter if it was `0x4360` or `0x0360`, because either way DM takes only 12 lower bits from address for internal decoding.

So `whereto` was pointing to `0x1A110360`, which happens to be _Program Bu

[2019-10-10 13:59] asb commented on #365
Thanks for the investigation Marek. I think openocd will generate `fence.i` in a number of cases, which is probably good motivation to at least handle fence.i as a nop.

[2019-10-10 14:06] MarekPikula commented on #365
From what I understand _Zifencei_ wouldn't be that hard to implement – it would be just flushing instruction prefetch buffer and pipeline, am I correct?

[2019-10-10 14:08] asb commented on #365
That would be better. I wasn't thinking about the need to handle the prefetch buffer, should have given it more thought.

[2019-10-10 14:11] GregAC commented on #365
Indeed we'd want the prefetch buffer flush. Plain FENCE is currently implemented as a nop (which I think is correct, but haven't given the matter much thought).

Should be fairly simple, already got other things that need to flush the buffer so not much to do.

[2019-10-10 14:13] GregAC commented on #365
I'd be happy to add an implementation, I'll open an issue to track the work

[2019-10-10 14:14] MarekPikula commented on #365
Here's an interesting point about fencing: riscv/riscv-openocd#315.

[2019-10-10 14:16] GregAC opened #391 "Add support for FENCE.I instruction"
As raised in https://github.com/lowRISC/ibex/issues/365 FENCE.I can be emitted by debuggers leading to an illegal instruction exception on Ibex as it doesn't support it.

Support should be fairly trivial (flush prefetch buffer and pipeline then continue)

[2019-10-10 15:08] vit82 commented on #310
I bear in mind a case when memories are accessed on the clock falling edge while the CPU Load-Store Unit works on the positive edge.
However due to the fact  Load-Store Unit data/address outputs are coming from combinatorial logic (I've just noticed), it doesn't seem possible to execute memory access within 1 clock cycle. Here some pipe-lining is needed, e.g. Load-Store Unit data/address outputs n

[2019-10-10 16:15] MarekPikula commented on #365
Can you look at the issue I submitted on OpenOCD (riscv/riscv-openocd#415)? Supposedly:

[2019-10-10 16:56] MarekPikula commented on #365
@imphil it indeed works when `hartid=0`. Until now I used Ibex with `hartid=0x20`, as it is supposedly advised not to use `hartid`s below 32 for current _riscv-dbg_. Now I started testing if it's really the case and indeed after connecting with OpenOCD I've got:

I'm guessing something is goofed in OpenOCD, possibly connected with riscv/riscv-openocd#359.

Either way, for now I'm making `fence.i`

[2019-10-10 17:13] MarekPikula commented on #365
I just realised how much easier it would be if I had this message in the first place :man_facepalming:

[2019-10-11 08:36] GregAC commented on #365
Ok to to summarize:

1. Something breaks when you use hartid=0x20?
2. OpenOCD does indeed test if fence.i is supported but if it isn't you get an error?

So we do want fence.i support and should also look into why 1. is hapenning?

[2019-10-11 13:07] MarekPikula commented on #365
1. Nothing breaks if hartid=0x20 in Ibex. The only thing that is unreliable is OpenOCD, which doesn't report `fence.i` fail, although the core itself reports command error.
2. If it isn't supported I've got an error and debugging stack is pretty much unusable. I've been testing it under Eclipse and it was not possible to debug anything, as OpenOCD didn't want to cooperate after this error.

[2019-10-11 16:06] GregAC opened #393 "ebreak instruction broken"
The ebreak instruction is broken when executing in debug mode or when dcsr.ebreakm is set. The prevents the pulp riscv dbg module from working correctly as it extensively uses this instruction.

The root cause is the ID stage gets flushed as the controller transitions into DBG_TAKEN_ID but should probably remain valid and flush as part of the DBG_TAKEN_ID handling. Transitions into DBG_TAKEN_IF ma

[2019-10-11 16:08] GregAC commented on #365
I have discovered the ebreak instruction is also broken when using debug mode, given the PULP RISCV debug module uses this in various places I suspect this totally breaks any debug setup that uses it. I've opened an issue to track this here: https://github.com/lowRISC/ibex/issues/393 will hopefully have a PR with a fix Monday.

FENCE.I implementation may not be required, potentially still somethin

[2019-10-11 16:08] vit82 opened #394 "Is register CSR_MIE implemented ?"
When accessing CSR_MIE register with the assembly code (rv32emc architecture)
  li t0, (0x00000001)<<11
  csrrs zero, mtvec, t0
the following simulation error message is received:
" Illegal instruction (core 0) at PC 0x00000090: 0x3042a073"
In contrast the line csrrs zero, mtvec, t0 works well.
Simulation shows the signal ibex_core.id_stage_i.illegal_csr_insn_i being high when error message occurs

[2019-10-11 16:09] GregAC commented on #393
Ah yes I had noticed that too, should be easy enough.

[2019-10-11 16:20] vit82 commented on #394
Alright, it seems in the newer RTL version commit (master/566e73c) SCR_MIE register was added.

[2019-10-11 16:20] #394 closed

[2019-10-11 17:25] msfschaffner opened #396 "[ibex_tracer] Ibex tracer improvements"
This is an issue to collect points that could be improved or "beautified" in the instruction tracer. Please feel free to modify/add to this list.

1) Improve printout alignment of the trace (see example below).
2) Correctly handle invalid instructions (see example below).
3) Add more information about exceptions.

Example snippet where an all-zero instruction is interpreted as `c.addi4spn` instead

[2019-10-15 11:40] MarekPikula commented on #393
I just tested `master` Ibex and indeed debugging doesn't work anymore.

[2019-10-16 08:10] #370 closed

[2019-10-16 08:10] #393 closed

[2019-10-17 09:22] MarekPikula commented on #117
I totally agree with keeping current coding style, as I consider required changes rather ugly.

What do you think about making a branch `quartus` with required changes for `generate` blocks after merging #336? We could add info in readme for all those wanting to test Ibex with Quartus.

I can provide patches and support in terms of updating and testing, so that the branch doesn't stale.

[2019-10-17 09:34] MarekPikula commented on #117
For reference I pushed required changes in [quartus_generate](https://github.com/MarekPikula/ibex/tree/quartus_generate) branch.

[2019-10-17 11:04] imphil commented on #396
- Neither the RI5CY/old tracer, nor the one in Ariane work in Verilator. This requirement drove the rewrite of this tracer.
- We wanted to use the RVFI signals and don't invent our own tracing signals.
- The format is identical to objdump (even in smallest details).

Side note: Please open one issue per problem/enhancement request. That's the only way to keep issues actionable.

Now to your indivi

[2019-10-17 12:48] #396 closed

[2019-10-21 09:05] towoe commented on #396
I was also not happy with the output, thanks @imphil for pointing out the width setting. I used `$ tabs 16` to get an aligned output.

[2019-10-21 10:25] towoe commented on #100
Had a quick look at the failures.
`I-EBREAK-01.stdout` shows `105: Illegal instruction (hart 0) at PC 0x00000108: 0x10529073`
which is the same for `I-ECALL-01.stdout`:
`10529073                csrw    stvec,t0`
Seems right as the CSR stvec (0x105) is not defined.

`I-FENCE.I` is tracked in #391

`I-MISALIGN_JMP-01.stdout`: `101: Illegal instruction (hart 0) at PC 0x0000016e: 0x00010413`
the disas

[2019-10-21 12:04] imphil commented on #100
Yes, but the test shouldn't rely on a CSR which isn't required. Looks like these tests will need to be rewritten in some way.

The two MISALIGN tests look strange indeed, and I didn't spend much time looking into what's exactly going on there. Could be an Ibex thing (though we have reasonably good DV on misaligned instructions these days), or something in the test.

[2019-10-21 18:30] udinator opened #414 "[tracer] C.JALR does not display write to x1"
Hi all,
![Screenshot from 2019-10-21 11-27-57](https://user-images.githubusercontent.com/16736281/67232342-056c5180-f3f6-11e9-8789-9d6f85472320.png)
As shown from this trace, even though `c.jalr` instruction will write `PC+2` to `x1`, this write is not reflected in the tracer log.
Best,
Udi

[2019-10-23 17:30] #414 closed

[2019-10-23 20:16] KwangSon opened #419 "ibex_core lint fail."
Hi,

I'm trying to build ibex_core_tracing, got some error.
I tried to find similar issue or goggled, but hard to find solution.

OS : debian 4.9.0-9-amd64
fusesoc : 1.9.3
verilator : 4.020
command : fusesoc --cores-root . run --target=lint lowrisc:ibex:ibex_core_tracing

[code]
could you give some tips?
thanks.

[2019-10-23 21:47] imphil commented on #419
Thanks for your bug report.

You've found a Python 2-only error in edalize, a part of fusesoc. There's nothing that we can do on the Ibex side. The good news is that this error is already fixed in https://github.com/olofk/edalize/commit/dcf5607e6924d28815276148948b6e2a63824d8f, just not part of release yet.

You have two options right now:
- Use Python 3. That's very much recommended. (Use pip2 un

[2019-10-24 00:13] KwangSon commented on #419
Yes it solved. thanks!

[2019-10-24 00:13] #419 closed

[2019-10-24 10:07] vogelpi opened #420 "ALU: Remove dead code"
Inside `ibex_pkg.sv` and `ibex_alu.sv`, there are a couple of unused ALU operations defined (ALU_GT, ALU_GTU, ALU_LE, ALU_LEU). These cannot be triggered as the decoder does not support them.

These operations are remnants of the original OpenRISC design. RISC-V does not have the corresponding instructions and instead implements the ops by reversing operands to (BLT, BLTU, BGE, BGEU, see p.23 of t

[2019-10-24 10:54] vogelpi opened #421 "LSU: Remove/correct obsolete assertion"
Inside `ibex_load_store_unit.sv`, we have an assertion checking that in the RVALID state, a grant can only be received while also getting the rvalid. This assertion has become obsolete in the process of adding PMP support. Currently, the RVALID state is only entered when a grant is no longer expected.

This assertion should be removed or corrected.

[2019-10-24 13:23] imphil opened #422 "[CI] Add register testbench to CI"
Once #298 lands we should add it to CI (with Verilator).

[2019-10-24 13:51] MarekPikula opened #423 "Add slow multiplier test to CI"
As mentioned in #412, now that we have possibility to choose between slow and fast multiplier in top level it would be nice to have a CI test for this configuration as well.

My question is if the entire test flow should be duplicated (so linter and compliance checks), or just some single step?

[2019-10-24 14:19] imphil commented on #423
Both options have their merits, but the linter is already a good start.  Maybe let's start with the linter?

You can copy the lint step

https://github.com/lowRISC/ibex/blob/294849bb18e27c0487b7317f53ca878217712ffd/azure-pipelines.yml#L88-L95

and modify the fusesoc call to read
[code]

[2019-10-24 16:44] MarekPikula commented on #423
It seems that fusesoc cannot use vlogparams via command line, only vlogdefine. I can see `RVFI` and `SYNTHESIS`, but no `MultiplierImplementation` in valid arguments.

[2019-10-24 17:26] imphil commented on #423
It's just that I forgot that we also need to tell the target to make the parameter available, something along those lines (also for the one without tracing):

[code]

[2019-10-25 08:02] MarekPikula commented on #423
Sorry, I'm not too familiar with either FuseSoC nor Verilator.

Now I have the following error:
[code]

[2019-10-25 08:15] MarekPikula commented on #423
Seems that Verilator doesn't really like strings. I'm just looking at some code in scr1 project and I've noticed [this](https://github.com/syntacore/scr1/blob/master/src/tb/scr1_memory_tb_axi.sv#L77...L81).

[2019-10-25 10:43] imphil commented on #423
This looks like a Verilator bug, which typically gets fixed quickly once we report it. If you get around, please report it with a testcase, or otherwise I'll look into it next week.

[2019-10-25 10:51] MarekPikula commented on #423
Probably the best would be if you reported it since as I said I'm not too familiar with Verilator. Thanks in advance.

[2019-10-25 12:33] towoe commented on #100
The test actually checks for a routine `stvec_handler` to be defined and only writes to stvec in this case. The problem was that mtvec had an entry which was not 256-byte aligned. This resulted in a instruction fetch to an address behind the check for the `stvec_handler` and before the write to stvec.

[2019-10-25 12:59] #420 closed

[2019-10-25 14:13] towoe opened #428 "RISC-V compliance mtvec alignment"
Follow-up for PR #427 and in connection to #100

The current RISC-V compliance test places a [trap handler](https://github.com/lowRISC/riscv-compliance/blob/master/riscv-test-suite/rv32i/src/I-EBREAK-01.S#L74) at non 256-byte aligned position and uses this as a target for [mtvec](https://github.com/lowRISC/riscv-compliance/blob/master/riscv-test-suite/rv32i/src/I-EBREAK-01.S#L47).

Ibex requires t

[2019-10-25 14:26] vogelpi commented on #428
Thanks @towoe for creating this issue :+1:

[2019-10-25 14:44] towoe commented on #428
Ah thanks! The reference/title did not show that this discussion was already happening.
Best place for the issue would then be riscv-compliance to have the best visibility.

[2019-10-26 10:39] pbing opened #429 "Parameter of type 'string' is not supported by Cadence Genus"
The new parameter `MultiplierImplementation` is not synthesizable with Cadence Genus.

[code]

Maybe '0 / 1' instead of '"slow" / "fast"' could be considered instead?

[2019-10-26 13:32] imphil commented on #429
Can you please give it a try without the "string" type annotation? I.e. just "parameter MultiplierImplementation"?

[2019-10-26 13:51] #421 closed

[2019-10-26 14:03] pbing commented on #429
This work around could be synthezised.

—
Bernd

[2019-10-28 15:10] pcotret commented on #429
I was playing with @GregAC [example](https://github.com/lowRISC/ibex/tree/master/examples/fpga/artya7-100) for the Arty board.

Got the same problem with Vivado 2018.2 on two files:
- ibex_core.sv
- ibex_ex_block.sv

Synthesis is OK without the **string** type annotation.

[2019-10-28 16:51] imphil commented on #429
Would you mind opening a PR removing the string annotation?

[2019-10-28 16:56] pcotret commented on #429
Sure, will do it a bit later.

[2019-10-28 20:39] udinator opened #432 "ALU: Dead enum values"
Hi all,
As an extension to #420, there appear to be some more enum values that are never used in the core, namely `ALU_SLET` and `ALU_SLET`.
I think these could be deleted as well since they appear to be dead code?
Best,
Udi

[2019-10-29 19:59] vit82 opened #434 "how to write interrupt handler"
Question:
I'm trying to write an interrupt handler. As far as I understand the handler should end with mret command. This command requires ra(x1) register to keep the return address.
At the same time subroutines in the main program code contain ret command which also uses ra register.
So if I explicitly affect ra in the interrupt handler, the interrupted subroutine will return to the wrong address

[2019-10-29 23:14] curliph opened #436 "Makefile:133: recipe for target 'post_compare' failed!"
configuration:
isa: rv32imc
iss: riscv-ovpsim
run: make TEST=riscv_arithmetic_basic_test
compiler and simulation procedures seem no any problem, except log output of ovpsim_sim:
file: riscv_arithmetic_basic_test.0.log :  empty

file: riscv_arithmetic_baisc_test.1~9.log:
Error (CM_NF) '../riscv-dv/target/rv32imc/riscvOVPsim.ic' not found
Fatal (FP_NVAR) No variant was specified. Suggest --variant <

[2019-10-30 03:05] curliph commented on #436
**Error (CM_NF) '../riscv-dv/target/rv32imc/riscvOVPsim.ic' not found**
"../riscv-dv/...."  maybe this relative path is not settled.
I try again with a absoultly path, like "/home/user/projects/riscv-dv/target..."
I retry to run : **make TEST=riscv_arithmetic_basic_test ITERATIONS=2**
It works, but got "0 PASSED, 2 FAILED" ...
-----------------------------------------------------------------------

[2019-10-30 09:55] GregAC commented on #434
From the RISCV Privileged spec (Trap Return Instructions section 3.2.2 on the version I have to hand):

'xRET sets the pc to the value stored in the xepc register.'

So the mret doesn't use ra it uses mepc for the address it jumps to.

[2019-10-30 17:00] GregAC opened #438 "Modify/Extend Simple System to be a more generic base"
This PR https://github.com/lowRISC/ibex/pull/311 introduces Simple System. It allows you to build programs and easily run them on a basic Ibex system.

It shares many commonalities with the riscv-compliance system and the FPGA example. It should be possible to refactor these things so they are all working off the same base.

In addition it would be useful to add debugging support into Simple Syste

[2019-10-30 19:04] vit82 commented on #434
Thanks! Just proved your answer by simulation.
Next, I see that IBEX core has a stack of depth 1 to support nested interrupts (e.g. PC is stored in ibex_core.cs_registers_i.mstack_epc_q[31:0]).

Didn't you consider to provide a Vlog parameter to define the stack depth?

[2019-10-31 02:37] curliph commented on #436
I made a link of google-riscv-dv to riscv-dv， there is no any problems now.

[2019-10-31 02:37] #436 closed

[2019-10-31 11:01] vogelpi commented on #432
Thanks for reporting this @udinator . This may also be interesting for @davideschiavone.

[2019-10-31 15:36] vogelpi commented on #310
This question seems to have been answered. I am thus closing this issue now. If you don't think so @vit82 , please comment to re-open the issue again.

[2019-10-31 15:36] #310 closed

[2019-10-31 15:54] vogelpi commented on #114
Thanks @towoe for answering this question.

In the meantime, the data interface has been slightly reworked starting with lowRISC/ibex#276 to avoid a dependency of `req_o` on `gnt_i/rvalid_i`. The core can now also output the second transfer without having received the response of the first one. In general, the core expects responses to arrive in the same order as the requests were granted.

I am n