[2020-05-25 21:40] imphil opened #895 "Update documentation to run cache TB"
The documentation at https://ibex-core.readthedocs.io/en/latest/verification.html#id1 lists command line options which don't exist in dvsim any more. Needs to be updated.

@rswarbrick

[2020-05-26 07:39] rswarbrick commented on #895
Yep. I've also got some outstanding patches on the OT side, which will change the recommended commands slightly too. Let's fix this once everything has settled down.

[2020-05-26 08:29] #850 closed

[2020-05-26 08:47] tomroberts-lowrisc commented on #864
Should now be fixed

[2020-05-26 08:47] #864 closed

[2020-05-26 11:05] Fifiy opened #897 "Adding new functionalities to RISCV"
I'm a newbie and I have to work with Ibex as an exemple, first of all, I want to know how can we add new calculation functionalities ? Do we need to interact on the ALU directly ?

[2020-05-26 11:30] rswarbrick commented on #897
Hi @Fifiy. I don't think that a GitHub issue is the best place for this discussion. Can I suggest that you [join Zulip](https://lowrisc.zulipchat.com/register/) and get in touch there?

[2020-05-26 14:39] imphil opened #899 "Add RISC-V Trace Specification-compliant interface"
The [RISC-V Trace Specification](https://github.com/riscv/riscv-trace-spec/blob/master/riscv-trace-spec.pdf) provides a standardized way to extend a RISC-V CPU Core with runtime instruction tracing functionality, as provided by ARM CoreSight or Nexus 5001.

The specification also includes a standardized interface between the core and the rest of the tracing infrastructure. This interface is intend

[2020-05-26 15:31] imphil opened #900 "Testing for RISC-V trace interface"
#899 is tracking progress towards adding a RISC-V Trace Specification-compliant interface to Ibex. It would be good to have some kind of test for this feature as well to check that the signals match what we expect to trace.

Probably end-to-end tests against a golden model are sufficient for a start, i.e. feeding a program binary, running it, and comparing the traced data against a golden referenc

[2020-05-26 15:32] imphil commented on #900
(The same infrastructure could also be used to test the RVFI signals.)

[2020-05-26 15:46] rswarbrick commented on #897
Hi again! Great to hear from you on Zulip. I'm going to close this issue now: please feel free to ask us more there, or file any bug reports here.

[2020-05-26 15:46] #897 closed

[2020-05-27 01:01] udinator opened #902 "Incorrect pmp NA4/NAPOT address matching"
#875 seems to have introduced an issue with `NA4/NAPOT` address matching modes - the scenario is as follows.

In my test, `csr_pmp_addr[3]` is `0x8000_3f54` with its corresponding configuration bits `csr_pmp_cfg[3]` set to `{0, PMP_MODE_NA4, 0, 1, 1}`, and the core requests an instruction fetch from `pmp_req_addr_i[0] = 0x8000_3f54`. Note that since we are using NA4 mode, `region_start_addr[3] = 0

[2020-05-27 08:34] tomroberts-lowrisc commented on #902
Thanks @udinator - I was trying to be (too) clever and avoid the extra equality matching by using address masking. I think this still works for NA4 if the mask is set up correctly. I'll push a proposed fix as a PR and hopefully you can run some testing on it to confirm.

[2020-05-27 10:08] imphil opened #904 "Failing UVM sanity with commit "[rtl] Add speculative branch signal""
Commit 12b39476c0c6bb16dc0d43057730f263836dac95 (`[rtl] Add speculative branch signal`) broke the UVM sanity tests.

Running `./vendor/lowrisc_ip/dvsim/dvsim.py dv/uvm/icache/dv/ibex_icache_sim_cfg.hjson -t vcs --waves` I get:

## List of Failures

**TEST:** ibex_icache_sanity, **SEED:** 3278749286<br>
**LOG:** $scratch_path/0.ibex_icache_sanity/out/run.log<br>
[code]

**TEST:** ibex_icache_passth

[2020-05-27 10:31] #904 closed

[2020-05-28 19:19] imphil opened #908 "PMP: Try to implement support for 64 regions"
An upcoming RISC-V ISA spec is likely to support 64 PMP entries (currently, the maximum is at 16). We should give the implementation a try to see how area and performance increase.

https://github.com/riscv/riscv-isa-manual/pull/525

[2020-05-28 19:23] imphil opened #909 "PMP: Configurable default PMP configuration"
With the default action in M mode being ALLOW, PMPs can be used only to disable access to regions, not to enable regions step-by-step.

To iteratively enable execution, this extension would set a default policy for M mode, e.g. enable execution only out of ROM after a reset.

The goal of this issue is to fully specify and try to implement this idea. If we figure out it makes sense to do something

[2020-05-28 19:33] imphil opened #910 "PMP: Allow the reduction of permissions in locked entries"
This is a potential extension to RISC-V standardized PMPs.

Let's see if we can implement a reduction of permissions (e.g. from RWXL to RL) even for locked PMP entries. Doing that should allow people to re-use previous locked PMP entries in limited ways.

If we come to the conclusion that an implementation is feasible and a good idea, we should get in touch with the RISC-V standardization groups t

[2020-05-29 03:45] udinator opened #912 "Back to back exceptions"
Hi all,
I found an interesting issue when running a PMP test, the waves are shown below:
![Screenshot from 2020-05-28 20-29-01](https://user-images.githubusercontent.com/16736281/83218111-2e8a5880-a122-11ea-8110-808a8ff98168.png)

The situation is as follows.
The instruction at `PC=0x8000921c` raises a PMP exception trying to store data to address `0x80014d04`, which is correctly propagated throug

[2020-05-29 09:23] GregAC commented on #912
I'll take a look at this

[2020-05-29 10:10] GregAC commented on #912
This is an issue introduced by the 3rd pipeline stage. Whilst for the same instruction an instruction fault clearly take priority over a store fault (as you cannot execute the instruction to produce a store fault if there's an instruction fault) when you have an instruction in the writeback stage any load/store fault it sees takes priority over the instruction fault seen in the instruction followi

[2020-06-01 07:59] #574 closed

[2020-06-01 15:52] GregAC commented on #912
Whilst investigating this found we have another bug where if there was an outstanding load or store in writeback that had yet to get a response (so we don't know if it will cause an exception) but an instruction in ID/EX sees something that would cause an exception (e.g. a PMP failure for the instruction or an invalid instruction) we'd immediately trigger the exception for ID/EX.

Instead we need

[2020-06-02 12:05] tomroberts-lowrisc opened #920 "Document current status and config options"
Ideally we should have something in the main readme to indicate:
* Configurations we are supporting
* Verification status on those configurations
* A high-level overview of the area/perf tradeoffs of the different configurations

[2020-06-02 12:42] #902 closed

[2020-06-02 12:45] #912 closed

[2020-06-06 10:54] rswarbrick opened #930 "Missing dependency on python3-bitstring"
The riscv-dv code uses it and I don't think we have it in python-requirements.

[2020-06-07 10:55] flaviens opened #931 "Missing dependencies on lowrisc:prim:assert"
Hi all,

Apparently, there are some dependencies missing to lowrisc:prim:assert in core configuration files, notably in lowrisc:prim:ram_1p and lowrisc:prim:ram_2p.
This may have remained undetected, since the reference to these cores are always done by lowrisc:prim:all.

All my apologies if I did a mistake or if this is a duplicate.

[2020-06-07 11:01] rswarbrick commented on #931
I agree that something looks awry, but I'm not quite sure about the diagnosis. Taking the 1-port RAMs to start with, `lowrisc:prim:ram_1p` defines a thin wrapper (in `prim_ram_1p.sv`) around `prim_generic_ram_1p`, which comes from `lowrisc:prim_generic:ram_1p`. It turns out that `prim_generic_ram_1p.sv` *does* include `prim_assert.svh` and `prim_generic_ram_1p.core` doesn't list the assertion (tsk

[2020-06-08 15:45] #930 closed

[2020-06-09 16:29] imphil commented on #89
It is and we use that in OpenTitan at least for the `Impl` parameter to our primitives. We also pass that parameter to the tool through a command line (a define in that case, https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/top_earlgrey_verilator.core#L65). I initially thought it would be rather fragile, but seems to work well so far with all tools we've tried.

[2020-06-09 16:34] GregAC commented on #89
Using a enum with a define to choose it sounds reasonable to me. We already need to use a define to choose which string to pass for VCS anyway (as it doesn't support passing string parameters on the command line) so the infrastructure around using ibex_config.py to do this already exists.

[2020-06-09 16:45] imphil commented on #89
To clarify: if you only want a parameter, you shouldn't need a define. The example I linked to from OpenTitan uses a define for entirely different reasons.

[2020-06-09 16:54] GregAC commented on #89
I suspect VCS will require a define to pass the enum setting through from the command line but I may be surprised. In any case that can be isolated to the UVM DV environment (as it is now with the pass string via define method).

[2020-06-10 05:36] ganoam commented on #89
Perfect, thanks guys. I'll do it with the enum then.

[2020-06-10 12:53] oholimoli opened #941 "build fpga example fails"
When I try to bulild the fpga example with the suggested command:

[code]

I get the following output:

[code]

I installed the python-requirements.txt in a venv. Which additional steps are needed to build the example?

Where can I find some instructions on how to use the Ibex core in a Vivado project? A tcl script that generates a ready to use project would be very helpful. Or a list with all the

[2020-06-15 08:38] tomroberts-lowrisc opened #954 "UVM DV: Unsynchronized DUT probe signals"
In PR #953 I corrected some paths that were causing spurious triggering of internal TB events. Even with that fix, the spurious triggers remain due to glitchy sampling of those signals.

I hacked around it by replacing all instances of `wait (signal);` with `while (!signal) @(posedge clk);` but I guess the correct fix is a clocking block.

[2020-06-15 16:47] oholimoli commented on #941
I was able to generate the hardware and led.vmem.

In order to simulate the led example I had to add the path to the file manually in `prim_ram_1p.sv` by changing

`parameter      MemInitFile     = ""`

to

`parameter      MemInitFile     = <path to led.vmem>`

Why is the `SRAM_INIT_FILE` parmeter not used in this example?

[2020-06-15 16:59] imphil opened #956 "Replace SRAM_INIT_FILE with MemInitFile"
Replace SRAM_INIT_FILE with MemInitFile in our examples in Ibex. Seems like I missed a couple uses when updating our primitives.

[2020-06-15 17:00] imphil commented on #941
SRAM_INIT_FILE doesn't exist any more, MemInitFile is the right way of passing a memory file. I filed https://github.com/lowRISC/ibex/issues/956 to get that sorted.

[2020-06-15 17:18] udinator commented on #954
Thanks @tomroberts-lowrisc for filing this issue!
You're absolutely right, it's better in general to synchronize interface signal sampling with clocking blocks. I'll work on this when I have some time and get a PR open to add clocking blocks in the Ibex testbench.

[2020-06-15 21:06] bp-ouhaha opened #957 "internal gated clock running during reset"
from a low-power point-of-view, having the main clock running before fetch_enable_i is set high to kick-start it, is not a great idea ;)

I've traced it up to ibex_controller.sv, where in RESET state, the ctrl_busy is still on default 1'b1. Could we maybe make it 1'b0 in reset state?

To make it work, I also add to activate the internal clock when fetch_enable_i is high, otherwise if fetch_enable_

[2020-06-17 01:36] kabylkas opened #963 "Question: trace comparison of external stimulus"
Hi :wave:

I have a difficulty understanding how is the trace comparison happens when external interrupts are present.

From the figure that I got in Ibex manual, it seems like ISS is completely decoupled from the RTL during the execution. By looking at this, my guess is that ISS will not be aware of the change in execution flow when interrupt triggers and the traces will diverge. Does this mean t

[2020-06-17 07:57] dawidzim opened #964 "Is parameter ICacheECC need to be passed by FuseSoC?"
Hey!
I have question about `ICacheECC `, is this parameter need to be passed by FuseSoC? I've problem with this, because when I generate files for Riviera and Xcelium by command `./vendor/lowrisc_ip/dvsim/dvsim.py dv/uvm/icache/dv/ibex_icache_sim_cfg.hjson -t [riviera/xcelium]` FuseSoC create: ` -pvalue+tb.ICacheECC=1` in file list.

[2020-06-17 08:50] rswarbrick commented on #964
The parameter is so that block-level testing of the ICache can choose whether to turn ECC on or not. At the moment, it's "hard-coded" at that point, but we'll eventually hook it up to Ibex's configuration machinery.

What's breaking here? Is it that the parameter value is getting included in a file that's supposed to be a list of SystemVerilog files? (If so, that sounds like it might be a problem

[2020-06-17 09:20] dawidzim commented on #964
When I run command: `./vendor/lowrisc_ip/dvsim/dvsim.py dv/uvm/icache/dv/ibex_icache_sim_cfg.hjson -t [riviera/xcelium]` FuseSoC generate files like for VCS, then in compilation we use `-f path/to/file.scr` and in this `file.scr` is `-pvalue+tb.ICacheECC=1`.
So in Riviera compilation command going like this:
`vlog (...) -f path/to/file.scr` and we get error about unknown switch
In Riviera to pass

[2020-06-17 09:36] imphil commented on #964
dvsim currently uses fusesoc/edalize to generate a VCS-specific file list (*.f) file, which happens to have parameters, defines, include paths, and files in it in VCS syntax. Dvsim then passes this file into its own flow, which supports multiple tools.

This can work, but isn't guaranteed to work, as you found out: neither is the .f file produced by edalize a stable artifact of edalize, nor is the

[2020-06-17 10:21] imphil opened #966 "Docs: Mention B extension in overview page"
We don't mention the B extension on https://ibex-core.readthedocs.io/en/latest/introduction.html yet, we should do so.

@ganoam

[2020-06-17 12:14] ganoam commented on #966
Thanks @imphil. I have added the B-extension to the ISA extension table in my latest PR #965 .

[2020-06-17 18:44] sriyerg commented on #964
Please move the build / run time options from the fusesoc core file (`ibex_icache_sim.core`) to the dvsim config file (`ibex_icache_sim_cfg.hjson`) instead. We rely on fusesoc to only provide us a dependency resolved filelist devoid of any options.

With dvsim, you can set elaboration time opts with tool-specific syntax through variable substitution within a 'build mode' a.k.a. a unique compile se

[2020-06-17 21:46] bp-ouhaha commented on #30
If I'm correct, I only find REG_* in the ibex_decoder.sv

We could just define this (permanent assign):
  // Source/Destination register instruction index
  logic [4:0] instr_rs1;
  assign instr_rs1 = instr[19:15];
  logic [4:0] instr_rs2;
  assign instr_rs2 = instr[24:20];
  logic [4:0] instr_rs3;
  assign instr_rs3 = instr[31:27];
  logic [4:0] instr_rd;
  assign instr_rd = instr[11:07];

and th

[2020-06-17 21:51] imphil commented on #30
Sure, I'm looking forward to it!

[2020-06-17 21:56] bp-ouhaha commented on #30
maybe better to do it in 1 line with "wire" instead of "logic" ?

[2020-06-18 00:08] udinator commented on #963
Hi @kabylkas , thanks for the question!

You're correct in that the ISS will not be aware of any interrupt/debug triggers, and this will cause divergences in the trace logs.
To handle this, in tests like this, we disable instruction-by-instruction checking between the logs and just check the final values that end up stored in the register file, as this state should still remain the same in both se

[2020-06-18 07:27] dawidzim commented on #964
Thanks! It works for me. Only one change, instead of:
[code]
we need to use:
[code]
Should I open pull request with this changes?

[2020-06-18 08:29] rswarbrick commented on #964
I'll do this today. Thanks for figuring out the right incantation with Riviera. I'll ping you on the PR.

[2020-06-18 08:44] GregAC commented on #957
We were wondering if `fetch_enable_i` was a useful signal to have altogether. It's a legacy from the PULP project roots of Ibex that may no longer have use. Our thoughts being that `fetch_enable_i` only has relevance immediately after reset and if you don't want the core to start fetching immediately after reset then just hold the core in reset for longer until you do want it to start fetching.

T

[2020-06-18 08:46] tomroberts-lowrisc commented on #957
I think we probably need to retain it for now since I think we are keeping Ibex compatible with PULP - @vogelpi will know.

[2020-06-18 14:38] #30 closed

[2020-06-18 15:44] vogelpi commented on #957
We just discussed the `fetch_enable_i` here in the lab. Most of our own but also other cores known in the group feature some mechanism to gate program execution after reset. This has for example proven useful when testing it on the chip tester (or to change the boot address after a reset but before the core starts running). The `fetch_enable_i` in Ibex is maybe not the cleanest solution, but it is

[2020-06-18 16:16] nagendragd opened #971 "Error running fusesoc on simple_system example"
I am new to this setup and got tools installed per the documentation (verilator, fusesoc, lowrisc-gcc)

When I run the fusesoc command specified to run the simple_system example, I get the error shown below:

Command that I am running: fusesoc --cores-root=. run --target=sim --setup --build lowrisc:ibex:ibex_simple_system --RV32M=1 --RV32E=0

Command returns:
...
INFO: Preparing lowrisc:ibex:ibex_

[2020-06-18 16:19] imphil commented on #971
You need to install a patched version of fusesoc as the instructions say by running `pip3 install --user -r python-requirements.txt`. FuseSoC 1.11 was released two days ago, but still doesn't contain the necessary patches.

[2020-06-18 16:30] nagendragd commented on #971
Thank you - I just did that and I believe that step completed ok:
Installing collected packages: cssselect, cachetools, lxml, cssutils, premailer, bitstring, Pallets-Sphinx-Themes, sphinxcontrib-log-cabinet, sphinx-issues, smartypants, pdfrw, rst2pdf, edalize, fusesoc
  Running setup.py install for edalize ... done
  Running setup.py install for fusesoc ... done
Successfully installed Pallets-Sphi

[2020-06-18 16:33] imphil commented on #971
Can you do a `which fusesoc` and a `fusesoc --version` to double-check your fusesoc installation?

[2020-06-18 16:35] nagendragd commented on #971
Do the below look right?

ndg0068@alveo-cse:~/rv_design/ibex$ which fusesoc
/usr/local/bin/fusesoc
ndg0068@alveo-cse:~/rv_design/ibex$ fusesoc --version
1.11.1.dev1+g6f90890

[2020-06-18 16:37] imphil commented on #971
Looks like you have two fusesoc installations: one installed globally without the `--user` flag (that's the one in /usr/local/bin), and one that you just installed with the `--user` flag (that should be in ~/.local/bin).

Remove the globally installed one with `pip3 uninstall`, and then re-install to ensure you only have one version left.

If you go for the `--user` flag, make sure that ~/.local/b

[2020-06-18 16:44] nagendragd commented on #971
Ok thank you so much! That worked!!

[2020-06-18 17:50] nagendragd commented on #971
Looks like I didn't fix it. I deleted all installations and installed a system-wide install under /usr/local/bin/ and it reports version 1.11.0. However, when I run fusesoc, it is the same error. Even after running the requirements.txt, the same error repeats.
ndg0068@alveo-cse:~/rv_design/ibex$ which fusesoc
/usr/local/bin/fusesoc
ndg0068@alveo-cse:~/rv_design/ibex$ fusesoc --version
1.11.0
ndg00

[2020-06-18 17:53] imphil commented on #971
You're still on the wrong fusesoc version. How did you install the system wide version?

[2020-06-18 17:57] nagendragd commented on #971
This time, for system-wide installation, I ran:

sudo pip3 install --upgrade fusesoc

[2020-06-18 18:38] nagendragd opened #972 "gelf.h not found while building simple_system simulator"
I am running fusesoc to build the simple_system simulator:
fusesoc --cores-root=. run --target=sim --setup --build lowrisc:ibex:ibex_simple_system --RV32M=1 --RV32E=0

I get this error about missing gelf.h.

g++  -I.  -MMD -I/usr/local/share/verilator/include -I/usr/local/share/verilator/include/vltstd -DVM_COVERAGE=0 -DVM_SC=0 -DVM_TRACE=1 -faligned-new -Wno-bool-operation -Wno-sign-compare -Wno-

[2020-06-18 18:40] nagendragd commented on #972
Well I resolved this by installing libelf-dev.

[2020-06-18 18:40] #972 closed

[2020-06-18 18:42] bp-ouhaha commented on #957
indeed that was the suggestion (last part added in ibex_core.sv):
  assign clock_en     = core_busy_q | debug_req_i | irq_pending | irq_nm_i | fetch_enable_i;

in ibex_controller.sv (added else case):
        if (fetch_enable_i) begin
          ctrl_fsm_ns = BOOT_SET;
        end else begin
          ctrl_busy_o = 1'b0;
        end

[2020-06-19 06:39] vogelpi commented on #957
Good point! Of course the clock should be gated in WFI.

In this, one could add a second register in `ibex_core.sv` running on the ungated `clk_i` to flop the `fetch_enable_i` and then AND the output of this `clock_en`:
[code]

[2020-06-19 07:20] bp-ouhaha commented on #957
that would be +/- equivalent to moving `ctrl_fsm_cs` from the gated to the ungated clock.

[2020-06-19 07:38] vogelpi commented on #957
Ah sorry, I meant to also remove `fetch_enable_i` from the controller.

I think it would be cleaner not to spread the ungated clock into more sub-modules (required to run `ctrl_fsm_cs` on the ungated clock) and at the same time remove the `fetch_enable_i` from the controller.

[2020-06-19 07:47] bp-ouhaha commented on #957
ok.

now I understand. Only make your suggested change in ibex_core.sv. That would work. The core would start a cycle later, not a big deal.

[2020-06-19 07:58] bp-ouhaha commented on #957
I'm testing it right now. single-cycle `fetch_enable_i` gets missed by ibex_controller.sv. I will reconnect ibex_controller/fetch_enable_i to fetch_enable_q.

also I found `core_busy_q` in ibex_core.sv is still clocked on the ungated-clock.

[2020-06-19 08:06] vogelpi commented on #957
You have to do three things:
1. Remove `fetch_enable_i` from the controller.
2. Set `ctrl_busy = 1'b0` inside the RESET state in the controller.
3. Add the `fetch_enable_q` flop as discussed above.

Btw: It is correct that `core_busy_q` is on the ungated glock.

[2020-06-19 08:42] bp-ouhaha commented on #957
@vogelpi
I've done it. point 2 is not required (and make it fail actually to startup, ctrl_busy_o must be 1 to startup).
So 1 and 3 together work perfectly.

[2020-06-19 11:15] rswarbrick commented on #741
We should probably also document our build requirements somewhere, to avoid problems like #972.

[2020-06-19 16:06] GregAC opened #976 "Investigate special case direct forwarding from loads"
When using the writeback stage any instruction directly following a load that uses the results of that load must stall at least one cycle (or more if the load takes more than one cycle to get its data) so the required data can be written to the register file. We do not directly forward the load data into the dependent instruction for timing reasons (read data coming in would have to be fed directl

[2020-06-19 16:15] GregAC commented on #976
One issue with my suggested direct forwarding is the instruction request out will be dependent upon the memory data in (so we'd have an data_rdata_i -> instr_req_o feedthrough).

We could break this path by only apply this optimisation to correctly predicted branches or not-taken branches (so the direct forwarding would confirm branch prediction was correct or that we have no need to branch so won

[2020-06-20 02:00] kabylkas commented on #963
Thank you!

[2020-06-20 02:00] #963 closed

[2020-06-22 08:25] #964 closed

[2020-06-22 11:25] #957 closed

[2020-06-22 17:50] nagendragd opened #979 "No timing reports generated"
I am running syn_yosys.sh to reproduce the outlined flow. But looks like no timing reports were generated yet. However, I didn't see any obvious problems being reported up until the script looked for timing files.

The flow fails after running sta.

It fails inside: ./translate_timing_rpts.sh and the Python call-stack shows:
input in flex scanner failed
Traceback (most recent call last):
  File ".

[2020-06-22 19:29] udinator commented on #954
#978 has been merged, which synchronizes all Ibex interfaces with clocking blocks.
@tomroberts-lowrisc do you think you could rerun the failing seeds with the top-of-tree? From what you mentioned, there might be a possibility that adding clocking blocks is only a partial solution to the failures you encountered.

[2020-06-22 20:36] nagendragd commented on #979
Well.. I looked into this issue further and it turns out that the yosys synth is not successfully generating the netlist. And specifically, it reports:

5. Executing Verilog-2005 frontend.
ERROR: Parser error in line syn_out/ibex_22_06_2020_15_23_56/generated/ibex_controller.v:830: syntax error, unexpected '[', expecting ';' or '('

At this indicated line number (830) of ibex_controller.v is the f

[2020-06-22 21:42] nagendragd commented on #979
I am closing this issue and opening a new specific one about s2v.

[2020-06-22 21:42] #979 closed

[2020-06-22 21:45] nagendragd opened #981 "sv2v is not converting some systemVerilog files"
It appears that sv2v is unable to compile a few system Verilog sources to Verilog. When I ran sv2v (from within sys_yosys.sh script) with the verbose option, it reports:
sv2v: invalid for loop decl: // Trace: ../rtl/ibex_alu.sv:326:14
CallStack (from HasCallStack):
  error, called at src/Convert/ForDecl.hs:55:5 in main:Convert.ForDecl
sv2v: invalid for loop decl: // Trace: ../rtl/ibex_cs_registers

[2020-06-22 21:55] imphil commented on #981
Thanks for your bug report. Please report this to sv2v upstream, there's probably nothing we can do here at Ibex.

[2020-06-22 22:11] nagendragd commented on #981
I am thinking it is something to do with my ibex setup if the same
documented flow has worked correctly for you all, no?

Thanks
Nagendra

On Mon, Jun 22, 2020 at 4:56 PM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-22 23:09] tjaychen commented on #764
@GregAC
@cdgori
@sjgitty
@moidx

sorry this is a bit late, but if the PMA does go forward, could we consider additional attributes? For example if it's memory, scrambled or no scramble? This may ease downstream logic from building similar filters that check for the same thing.

In the case I'm thinking of, I wouldn't actually need the PMA to do anything internally, but just output an indication on

[2020-06-23 02:49] nagendragd commented on #981
As you suggested, I filed an issue on sv2v and got it fixed. Thanks again!

[2020-06-23 02:49] #981 closed

[2020-06-23 07:29] rswarbrick commented on #981
For anyone looking into this, the sv2v fix is at https://github.com/zachjs/sv2v/issues/98.

[2020-06-23 08:59] GregAC commented on #764
We could add some attribute output from the PMA (which could carry information such as whether the memory should be scrambled) though it will require modifications to the top-level IO to carry these bits as part of the memory requests. If it's something that's only useful for flash it may be better for the check to sit there rather than in Ibex. However if there's use for attributes being exported

[2020-06-23 12:03] tomroberts-lowrisc commented on #954
Hi @udinator - I reran at my end. All tests passing except debug_branch_jump and debug_single_step, which I think are due to unrelated issues.

[2020-06-23 12:04] #954 closed

[2020-06-23 12:45] tomroberts-lowrisc opened #983 "Debug single step test failure"
The debug single step test (small config, seed 1) is currently failing with the following message:
`DPC value [0x8000333e] is not the next instruction after ret_pc [0x8000b23a]`
As far as I can tell, the test is checking that DPC increments by 2 or 4 for every step taken. In this case, the instruction stepped over is a jump, and so the next PC does not equal the previous value - 2/4. The test is n

[2020-06-23 15:57] udinator commented on #983
Hi @tomroberts-lowrisc , thanks for opening this issue. You are correct, the single step test is failing because of a new jump instruction right before the main program that got added in as a result of the modifications to program structure to support PMP.
I'm working on expanding this test to support branch and jump instructions, as that will help increase overall coverage.

[2020-06-23 16:11] imphil opened #985 "[DV] Remove all copies of OpenTitan files except when vendored in"
We are vendoring in Ibex into OT, and we need to avoid files being duplicated, or core files in Ibex overriding ones in OT.

General rules:
- If code from OT is needed, it *must be* vendored in.
- If code is not vendored in, it *may not* use the same `name` in the core file, and ideally also not the same file names.

One example we know of right now is the mem_model at https://github.com/lowRISC/i

[2020-06-23 17:02] tjaychen commented on #764
yeah we can definitely put it in the flash.  It's just that the check will be yet another "check address against range" to assign an attribute, so I was wondering if it made sense to put that functionality elsewhere if it already exists.

What do you think?

[2020-06-23 17:06] imphil commented on #764
We do have `user` bits in the OT interconnect to carry additional information, similar to the `user` bits in AXI. (We don't use them yet, however.)

[2020-06-23 18:11] cdgori commented on #885
Just adding a quick comment to this, issue #2572 on opentitan (I think) got folded into this area and we opted for the "intermediate-level" fix for the update of the LSFR/PRNG for the dummy op stream.

At some point if we evaluate the efficacy/utility of these dummy op streams, this comment is just to remind me/us that we did that and that in theory a req/ack interface to a CSRNG would be possible

[2020-06-23 18:45] tjaychen commented on #764
yeah that's kind of where i was going with this.  If we have PMA to do some kind of attribute assignment already, it makes sense to piggyback on that and use it for the rest of the system.  I am not super convinced myself yet, but just a thought.  I wanted to see what you guys and others think.

[2020-06-24 16:28] sjgitty commented on #764
ftr that's the type of functionality we had in mind by adding those `user`
bits to TLUL

On Tue, Jun 23, 2020 at 11:46 AM tjaychen <notifications@github.com> wrote:

[2020-06-24 17:05] cdgori commented on #764
@tjaychen seems reasonable to me to do this detection here from a location/reuse-of-logic standpoint.

But, basic question: What happens if this PMA-sourced attribute is glitched or miscalculated?  I can't picture all of the downstream consuming logic at the moment, but I assume that the result is that read data would not be unscrambled and therefore the contents would be garbage for the consumer.

[2020-06-24 18:04] tjaychen commented on #764
@cdgori
yes the worst case I had in mind is exactly what you said.  It would potentially enable the direct analysis of the scrambled contents by an attacker. I also agree that a multi-bit attribute would be best.

Some of the other complications that I hadn't mentioned is that the scrambling regions MAY need to be set by OTP; at a minimum they will need to be software lockable.  If we do need OTP

[2020-06-26 17:02] gautschimi opened #991 "debug_req + wfi"
I'm not sure it is an issue. my testcase is the following:
1. ibex computes something and then needs to wait for an interrupt
2. ibex executes wfi to sleep
3. debugger access the core (wakes it up and reads some gpr)
4. debugger resumes (dret)
5. ibex continues with the instruction **after** the wfi (even though no interrupt has arrived yet)

It is probably the right behaviour but messes my test u

[2020-06-30 21:45] udinator commented on #983
update: currently blocked on #987 - my updates to fix `debug_single_step_test` relies on the infrastructure introduced in this PR.

[2020-07-02 13:09] imphil opened #998 "Update ASIC numbers in introduction documentation"
https://ibex-core--997.org.readthedocs.build/en/997/introduction.html#asic-synthesis has some ASIC numbers which are mostly outdated and don't match the ones we have in the README in the repository. Make these number consistent, or remove them.

[2020-07-02 14:03] #966 closed

[2020-07-02 22:25] imphil commented on #579
A couple more things on the Verible front to be fixed, but none of them are blockers:

- https://github.com/google/verible/issues/343
- https://github.com/google/verible/issues/341
- https://github.com/google/verible/issues/344

https://github.com/olofk/edalize/pull/178 is the enablement on the edalize front, and #999 are the remaining fixes on Ibex.

[2020-07-03 10:51] GregAC commented on #991
Closing this now, if there's any further comments feel free to make them or open a new issue.

[2020-07-03 10:51] #991 closed

[2020-07-03 11:37] rswarbrick commented on #985
I did a super-simple search for stuff duplicated between the two with these commands:

[code]

Obviously, this gives false positives (stuff like the azure pipeline), but it's a reasonable place to start. Grab the paths to these files, discarding Makefiles and readmes, in Ibex with:

[code]

The resulting list ([ibex-paths.txt](https://github.com/lowRISC/ibex/files/4869366/ibex-paths.txt)) has 39 e

[2020-07-03 12:24] #579 closed

[2020-07-03 13:30] imphil commented on #985
The list looks good!

[2020-07-03 14:00] imphil opened #1006 "Yosys syn flow: Use fusesoc"
The Yosys flow in `syn` currently ingests source files from the rtl directory and other places, feeds them through sv2v, and then passes them through yosys.

Since https://github.com/lowRISC/ibex/pull/994 we have a nicer way of calling sv2v through fusesoc; and a yosys-without-sv2v flow might not be too far away either.

Depending on how things evolve, we have two options to use fusesoc for the sy

[2020-07-03 15:06] #941 closed

[2020-07-03 15:06] #956 closed

[2020-07-03 15:15] rswarbrick commented on #931
Fixed upstream with https://github.com/lowRISC/opentitan/pull/2700 (which will need vendoring back in to Ibex when it's merged).

[2020-07-03 15:18] #736 closed

[2020-07-03 15:28] #798 closed

[2020-07-03 16:07] vogelpi commented on #89
The final PR from @ganoam has gone in last week (#965) and the implementation can successfully be verified using RISCV-DV. Thanks for the awesome work Noam!

I have now created a PR to clarify the situation around the draft status here: #1011

Other than that, I think we are done here and I suggest to close the issue WDYT @imphil ?

[2020-07-03 16:09] vogelpi commented on #703
Spike/OVPSim support for bitmanip can be enabled and we documented how to do this. RISCV-DV has support for bitmanip support.

I think we are done here, WDYT @imphil ?

[2020-07-03 16:11] vogelpi commented on #776
There has been no activity in this issue for almost two months now. I am thus closing it. Feel free to re-open it if the problem still persists.

[2020-07-03 16:11] #776 closed

[2020-07-03 16:30] #703 closed

[2020-07-03 16:35] imphil commented on #735
No option seems to be needed any more, allowing string parameters without type is default now.

[2020-07-03 16:35] #735 closed

[2020-07-03 22:27] imphil commented on #687
The first set of code changes to get our code in line with what verible format produces is at https://github.com/lowRISC/ibex/pull/1014. The goal is to have that PR cover all the "easy" cases, getting us step-by-step closer to a full equivalence.

[2020-07-04 06:38] asb commented on #687
Thanks for your work in pursuing this, filing upstream issues, and tracking progress.

IMHO #351 should be higher priority - it seems to be a case of producing incorrectly formatted code, which is a much bigger barrier to enforcing verible formatting use than producing output that doesn't match our personal tastes. But once incorrect formatting bugs are addressed I agree with the thrust of your ar

[2020-07-06 09:31] #931 closed

[2020-07-06 14:44] #89 closed

[2020-07-07 09:50] shetalani opened #1018 "Illegal Instruction Exception not Raised - Shift Instructions"
**RISC-V Specification:**

- _"Chapter 2.4 of Unprivileged ISA"_

**Issue Description:**

An illegal instruction updates the register file and the associated csrs and executes normally without raising an illegal instruction exception.

**Example:**

The instruction 32'h02005913 is decoded at time point t##0 with no illegal instruction being flagged, as illegal_insn_did is de-asserted.

![Issue_0](

[2020-07-07 10:07] imphil commented on #1018
Thanks @shetalani for your bug report.

Just to confirm we're speaking about the same issue. The instruction you're seeing would be decoded as:

[code]

And the issue being that the immediate should only be 5 bit wide, and 32 isn't a valid immediate ("the shift amount is encoded in the lower 5 bits of the I-immediate field." as the spec says)

[2020-07-07 11:10] shetalani commented on #1018
Yes, on the other hand, the spec states that the upper 7 bits should be zero for such an instruction to be decoded as SRLI.

[2020-07-07 14:27] rswarbrick opened #1019 "We should list the (non-Python) requirements to build/run Ibex examples"
The simplest thing would be to hoist the list of Ubuntu packages currently installed by `azure-pipelines.yml`. Maybe better would be a file with dependencies for the various things you might want to do (verilate simple_system? synthesize with yosys?), which could be picked up by documentation and the Azure pipeline.

[2020-07-07 14:35] #1019 closed

[2020-07-07 14:52] mehmood-007 opened #1022 "How to use malloc() for IBEX simple_system"
Hi,

Is there any possibility to allocate memory malloc() with the IBEX simple_system environment using the newlib RISCV gnu toolchain? As that function make a system call and simple_system use a bare-metal environment. Is there anything we need to define in the linker script for heap allocation. Furthermore, if anyone suggests a good alternative for using file system based system calls like fread

[2020-07-07 15:04] imphil commented on #1022
Thanks @mehmood-007 for your question.

Ibex and the simple system are meant to demonstrate the Ibex, that is, the CPU core hardware. Your question is rather independent of Ibex, and more about software for RISC-V in general. Unfortunately, this issue tracker is the wrong place to ask such questions (and we're the wrong group of people to ask).

Regarding benchmarks: Generally, all benchmarks whic

[2020-07-07 16:33] mehmood-007 commented on #1022
Thanks @imphil, I will use CoreMark and Embench for our research.

[2020-07-07 16:33] #1022 closed

[2020-07-09 10:46] imphil opened #1027 "lint: Configure one of our linters to check for a 100 character line length limit"
The title says it all ... AscentLint complains about it, but seemingly no of our other linters in Ibex cares. I'd expect there to be a verible lint option we just need to turn on.

[2020-07-09 23:54] udinator opened #1029 "Single stepping over `lw` doesn't cause a jump back to Debug Mode"
Hi all,
I'm seeing something interesting occur when I run `riscv_debug_single_step_test` on Ibex in the `experimental-maxperf-pmp-bmfull` configuration.
![Screenshot from 2020-07-09 16-22-06](https://user-images.githubusercontent.com/16736281/87100959-8bd5f700-c202-11ea-88fc-088a7c4c57a0.png)
In the waveform, Ibex has just finished single stepping over the instruction at `pc_id=0x8000_b25e`, and h

[2020-07-10 06:52] islengxw opened #1030 "g++: error: unrecognized command line option ‘-faligned-new’"
Hi
I am try to run simple system hello test.
when i use below command to build the simulation
"fusesoc --cores-root=. run --target=sim --setup --build lowrisc:ibex:ibex_simple_system --RV32M=1 --RV32E=0"
But i got the error message, my g++ version is 4.8.
Any suggestion will be welcome.

Thank you

[code]

[2020-07-10 09:24] rswarbrick commented on #1030
The problem here is that Verilator is emitting the `-faligned-new` flag and your GCC is too old. I don't think that Verilator lists a required GCC version, but Verilator 4.028 is very recent and GCC 4.8 is ancient (released in 2013!). I think you just need to install a more recent GCC.

Note that, even if you're on an old system, you can often install newer GCC versions to somewhere nonstandard (/

[2020-07-10 09:28] imphil commented on #1030
GCC 4.8 should work fine with Verilator, as long as you disable C++11 when configuring Verilator at build time.

If I remember correctly, Verilator only adds `-faligned-new` to its flags if it was deemed safe so at configure time. So please double-check the way you compile/install Verilator, and file a bug at https://github.com/verilator/verilator to get more help otherwise. There's unfortunately

[2020-07-10 09:28] #1030 closed

[2020-07-14 07:52] GregAC commented on #1029
I am looking into this today

[2020-07-14 23:13] msfschaffner opened #1033 "`Symbiyosis` default tool in `ibex_icache_fpv.core`"
I am getting a bunch of the following warnings after the newest vendor-in of Ibex in OpenTitan:

`WARNING: Unknown item symbiyosys in section Tools`

The cause seems to be the tool assignment in:
https://github.com/lowRISC/ibex/blob/6b9165fa66b49534226acfcb739f2c252be4853c/formal/icache/ibex_icache_fpv.core#L62-L73

Does that rely on a custom / unreleased version of Edalize?

If so, can we upstrea

[2020-07-15 08:38] vogelpi commented on #522
This work has been concluded. I am thus closing the issue.

[2020-07-15 08:38] #522 closed

[2020-07-15 08:40] vogelpi commented on #647
There has been no activity here for more than 4 months now. I am thus closing the issue. Feel free to reopen it.

[2020-07-15 08:40] #647 closed

[2020-07-15 08:44] vogelpi commented on #501
There are no longer multiple copies of this file. It is now vendored in from OpenTitan. I am closing the issue.

[2020-07-15 08:46] vogelpi commented on #625
I am closing this issue. The conclusion here is to not investigate further.

[2020-07-15 08:46] #625 closed

[2020-07-15 08:50] vogelpi commented on #376
We are checking for supported tool versions including Verilator since 3a078865c87ab82931a5dfa7cbc61c64a9ef8d1a. I am thus closing the issue.

[2020-07-15 08:50] #376 closed

[2020-07-15 19:49] imphil commented on #501
https://github.com/lowRISC/ibex/blob/master/syn/rtl/prim_clock_gating.v still exists.

[2020-07-15 20:28] vogelpi commented on #501
Sorry @imphil for closing the issue to early. I made a typo when searching for the file (.sv instead of .v)...

[2020-07-15 20:41] rswarbrick commented on #1033
Yes, it's in a currently unreleased version of Edalize. The PR is here: https://github.com/olofk/edalize/pull/173 (and apparently needs rebasing: I'll do that tomorrow).

I'd hope to get it merged soonish (@imphil: does that sound plausible to you?). If this is a big problem, we could pull the patches into the "ot" branch of Edalize, but I would rather just get it into upstream first (rather than

[2020-07-16 14:17] imphil commented on #1006
Related to #501 for the clock gating primitive.

[2020-07-16 14:34] vogelpi commented on #1018
Hi @shetalani ,
I have created a PR to solve the issue [here](#1036).

[2020-07-16 14:35] vogelpi commented on #1018
The actual problem was that the decoder did not check bits 26 and 25 for slli, srli and srai instructions.

[2020-07-17 13:11] imphil commented on #1027
See the OT configuration at https://github.com/lowRISC/opentitan/blob/master/hw/lint/tools/veriblelint/rules.vbl. We'll probably get this config for free once we vendor the latest changes in from OT.

[2020-07-17 13:53] GregAC opened #1038 "Sporadic failures in `riscv_illegal_instr_test`"
@vogelpi and I have both seen some failures in the `riscv_illegal_instr_test`. I did look into some and I believe they're happening because when running with Spike as a simulator the 'F' extension and potential others are turned on. So illegal instruction for Ibex get executed on Spike and a trace mis-match results.

We should look into the failures in more detail and if my diagnosis is correct en

[2020-07-17 15:05] #1018 closed

[2020-07-17 15:28] imphil commented on #1018
@shetalani can you re-run the tool to check if the issue is now fully resolved? The latest `master` version of Ibex should have the required fix.

[2020-07-17 16:28] vogelpi commented on #1038
Thanks Greg for opening this issue. I have tracked down the bug. You can use the following command to reproduce the issue:
[code]
This should give the following regression log:
[code]

Looking at the the Spike log we can see that an illegal instruction exception is thrown by Spike when executing the following instruction:
[code]

The reason is that the referenced CSR at address 0x7C0 is a custom o

[2020-07-20 03:39] udinator commented on #1038
Hi @vogelpi , @GregAC , thanks for opening this issue!
Pirmin is correct that the failures are due to Ibex supporting custom CSRs that riscv-dv is not aware of; I'm working on implementing support for this on the riscv-dv end.

[2020-07-20 08:23] vogelpi commented on #1038
Hey @udinator thanks for looking into this on the riscv-dv end. I did a draft PR to include the description of the custom CSRs. I guess you will be able to re-use this.

[2020-07-20 15:06] machkar opened #1041 "ASIC-proven, base clock frequency and technology details"
Hello All,

This is not really an issue but could not find this information anywhere.
Has any version of this project been silicon-proven, if so at what technology (nm) and is there a possible operable ASIC clock frequency range.

Thanks a lot.

[2020-07-20 15:20] GregAC commented on #1041
I'm afraid we don't have guidance on achievable frequency to hand. The OpenTitan project does have some limited information from a nightly implementation flow: https://reports.opentitan.org/hw/top_earlgrey/syn/2020.07.16_12.16.19/results.html. It includes an Ibex core amongst other pieces of IP. Ibex is on the running on MAIN_CLK which is reported to have a period of 8ns without any timing issues.

[2020-07-21 07:54] rswarbrick commented on #985
I spoke too soon when I claimed that (1.) should be "easy enough" above. It turns out that the correctly vendored files depend on a top_pkg core file which we (wrongly) have a duplicate of in the icache test directory. PR #1042 tidies this up, breaking the tight coupling with OpenTitan by defining an Ibex flavour of the core.

[2020-07-22 13:19] sorear opened #1044 "PMP TOR writes and behavior"
1. There appears to be a functional difference between [spike](https://github.com/riscv/riscv-isa-sim/blob/67b7edd0270d5d074136eb45474477d15aeee725/riscv/processor.cc#L809) and [ibex](https://github.com/lowRISC/ibex/blob/d7c13aa9045838e7b9751e87b6b4630e7893db39/rtl/ibex_cs_registers.sv#L828) in the interaction between L and A=TOR; riscv/riscv-isa-manual#545 endorsed the spike interpretation.

2. S

[2020-07-22 13:35] tomroberts-lowrisc commented on #1044
1. Do we differ from spike here? Locking of the address registers is implemented [here](https://github.com/lowRISC/ibex/blob/d7c13aa9045838e7b9751e87b6b4630e7893db39/rtl/ibex_cs_registers.sv#L827). I think we verified the Ibex implementation against spike - @udinator will be able to confirm

2. The start address of the TOR range comes from `region_start_address` which will be the previous PMP regi

[2020-07-22 13:44] GregAC commented on #1044
On 1. I think we'll disallow writes to `pmp_addr[i]` if entry `i+1` has A=TOR regardless of the lock bit on entry `i+1` where the spec update (which matches current Spike behavior) indicates we should allow those unless entry `i+1` has both A=TOR and the lock bit set?

[2020-07-22 13:45] tomroberts-lowrisc commented on #1044
Yep - just re-read it myself - will fix to match the new spec for 1.

[2020-07-22 14:11] rswarbrick commented on #1044
Does this just show that we haven't tried these tests against a recent Spike, or is it a proper test hole?

[2020-07-22 18:59] GregAC commented on #1044
We should also check what the OVPsim behavior is here. Given our behavior was spec compliant until https://github.com/riscv/riscv-isa-manual/pull/545 went in 7 hours ago OVPsim may also have similar behavior and not match Spike.

[2020-07-22 19:02] udinator commented on #1044
@tomroberts-lowrisc - yes, we verified the Ibex implementation against both Spike and OVPsim, not taking into account this recent spec change.
@rswarbrick to your point - yes, it means that we haven't tried these tests against recent versions of Spike and OVPsim, so I'll need to update both and verify the Ibex implementation in this new context.
It might be worth adding an explicit test for this f

[2020-07-23 10:50] rswarbrick commented on #985
The second check-box on the list above should be addressed by #1047.

[2020-07-23 17:12] imphil opened #1048 "Fix comment or code in decoder regarding FENCE behavior"
I just stumbled across this comment in the decoder:

https://github.com/lowRISC/ibex/blob/94d505716870ddf240d0896021871176d6336579/rtl/ibex_decoder.sv#L538-L540

@tomroberts-lowrisc Can you have a look at that behavior and (probably) update the comment to what we have today?

[2020-07-23 23:43] udinator commented on #1038
Update: #1049 and #1050 fix the illegal_instr_test failures that are due to accesses to `cpuctrl` and `secureseed`.

There still remains one class of failures in this test which is caused by riscv-dv generating valid B-extension instructions as illegal instructions as it doesn't know any better - this will be likely much more involved to fix.

[2020-07-24 16:45] GregAC opened #1051 "[uvm] 'custom_csr' has not been declared yet"
I just tried running the DV on latest master and received the following error:

[code]

It comes from the latest vendoring in of riscv-dv with the new custom_csr stuff. Does something need configuring in the Ibex repository as well for this to work?

[2020-07-24 17:05] udinator commented on #1051
Yes, this relies on #1050 to compile and run properly.

[2020-07-24 19:23] GregAC commented on #1051
Great thanks for the quick resolution!

[2020-07-25 02:06] sorear commented on #1044
@udinator the Spike behavior has been [the same since it went in in 2018] though?

[2020-07-27 08:18] #1051 closed

[2020-07-28 09:27] GregAC opened #1053 "Does NMI need to be precise?"
Currently our NMI is much like other interrupts. In that you will get an architectural state that corresponds to what is was immediately before the instruction `mepc` points to executes. This means you can easily resume execution outside of the interrupt by jumping back to to `mepc` provided you restore the register state to what is was before you did anything in the interrupt handler. This is a p

[2020-07-29 00:40] udinator commented on #1044
@sorear: good point - after investigating more deeply this indeed seems to be a small test hole, the existing suite of PMP tests exercises repeated writes to the `pmpcfg` CSRs (which work as intended), just not to the `pmpaddr` CSRs.

@GregAC @tomroberts-lowrisc I've been able to reproduce this issue with some updates to the current PMP test suite, and I've opened #1054 to fix the RTL issue.

[2020-08-06 14:13] hirooih commented on #503
https://github.com/pulp-platform/pulpino/issues/110#issuecomment-326100024
Add '-dpicpppath /usr/bin/gcc' to vsim option.

I hope this helps.

[2020-08-10 14:39] tomroberts-lowrisc commented on #998
This was fixed by #1065

[2020-08-10 14:39] #998 closed

[2020-08-10 16:16] udinator commented on #1038
Update: the issue has been fixed with a recent vendor PRA from riscv-dv, so I will close this issue as the illegal instruction tests are all passing successfully now.

[2020-08-10 16:16] #1038 closed

[2020-08-10 16:18] vogelpi commented on #1038
Thanks @udinator for solving this issue :+1:

[2020-08-11 12:18] vogelpi opened #1068 "[rtl] Check single stepping on a load/store causing exception with writeback stage enabled"
When discussing #1034 we figured that we should probably check the behavior when single stepping on a load/store with the writeback stage enabled. It seems that the following is happening:

1. Load/store in ID, we output the request (assume it's granted in the same cycle). `stall_mem` and also `stall` is not set (because `lsu_req_done_i` is high). The controller sees `enter_debug_mode` and goes to

[2020-08-11 13:12] #1029 closed

[2020-08-12 10:37] tomroberts-lowrisc opened #1070 "Add more HW breakpoints"
Support for additional HW breakpoints would make software debug easier / more flexible

[2020-08-12 15:41] aliess opened #1071 "Cannot find assembly test"
When I am trying to run UVM tests, using the below command to generate `riscv_jump_stress_test` for example:

`make SIMULATOR=questa TEST=riscv_jump_stress_test ISS=spike ISA=rv32imc`

will result in the below error log:

[code]

The assembly file in indeed not generated and not found in the `out` directory, and I can't seem to find any error python is throwing in order to debug the issue.

This d

[2020-08-12 15:59] rswarbrick commented on #1071
This is a little tricky to debug because the Makefile doesn't spit out commands as it goes (not my preferred style!). Can you run an example again with something like this?
[code]
That should show exactly which command is failing.

Also, could you look in your build directory? I end up with `out/seed-1/instr_gen/asm_tests/riscv_jump_stress_test_0.S`: I assume that file is missing? If so, it looks

[2020-08-12 16:00] rswarbrick commented on #1071
As a note: We use VCS, rather than Questa, at lowRISC. It looks like there should be support for Questa, but it's possible that something has broken with that without us noticing. If so, thanks for the bug report(!) but we might have to do a bit of back-and-forth to work out what's not working.

[2020-08-12 16:18] aliess commented on #1071
using the command you provided:

`make --trace SIMULATOR=questa TEST=riscv_jump_stress_test ISS=spike ISA=rv32imc SEED=1 ITERATIONS=1`

produces the below log:
[code]

Since this log didn't seem to provide more info on the error, I also checked the directory `out/seed-1/instr_gen` and it looks empty.

also tried using the find command to search for any assembly files in the directory and there doe

[2020-08-12 16:26] rswarbrick commented on #1071
Hmm, that's frustrating. Well, there aren't any magic environment variables set in the Makefile, so you should be able to run the `run.py` command above on its own. If you do so, you can add a `-v` flag that turns on "verbose mode". This should give you the Questa command that's actually running, as well as any log output that it generates.

Squinting at the log above, I think you can run:
[code]

[2020-08-13 06:17] udinator commented on #1071
Hi @aliess - to add on to what @rswarbrick is suggesting, if the instruction generation still doesn't seem to be working after trying to run the `run.py` command by itself to generate/compile the assembly file, can you please file a duplicate of this issue in https://github.com/google/riscv-dv?
One of our contributors is very familiar with Questa and might be able to provide some more advice (we p

[2020-08-18 09:22] aliess commented on #1071
I cloned https://github.com/google/riscv-dv and I have the same issue there so I opened an issue there.

[2020-08-18 09:23] rswarbrick commented on #1071
Great, thanks!

[2020-08-18 13:38] towoe commented on #1006
@imphil do you mean by that a sufficient SystemVerilog support by yosys?

[2020-08-19 08:05] imphil commented on #1006
Yes. Antmicro is using Ibex as test bed for Yosys improvements, and all necessary patches are available in https://github.com/antmicro/ibex-yosys-build. These patches are now making slowly their way upstream.

[2020-08-20 10:33] imphil commented on #60
@daveshah1 @clairexen for visibility.

Yosys and Ibex are extremely close to the finish line, thanks for all your work so far! Let us know if there's something we can help with. We'll certainly ensure we have full CI on Ibex with Yosys to ensure nothing breaks again once all remaining patches are merged into Yosys.

[2020-08-20 10:33] imphil commented on #1006
See https://github.com/lowRISC/ibex/issues/60 for details of the remaining issues we know about.

[2020-08-20 13:39] islengxw opened #1078 "[formality] Error: Syntax error found in the definition of argument macro `ASSERT`."
Hi,
In the formality, we check the RTL and NETLIST function.
Formality (R)  Version O-2018.06-SP5
Any suggestion will be appreciated?
Thanks~

Error: Syntax error found in the definition of argument macro `ASSERT`. (File: /database/projects/rtl/prim_assert.sv Line: 90)  (FMR_VLOG-527)
Error: Syntax error found in the definition of argument macro `ASSERT_NEVER`. (File: /database/projects/rtl/prim_a

[2020-08-20 13:42] rswarbrick commented on #1078
It doesn't look like you're using the current head of master (I can tell because `prim_assert.sv` changed quite a bit recently, and these line numbers don't match). Could you try to reproduce with the current version? I don't think this will fix things for you, but it will be much easier to debug at our end.

[2020-08-20 14:01] islengxw commented on #1078
Hi rswarbrick,
I see~ Thank you very much.

[2020-08-20 14:36] imphil opened #1079 "Run sanity regression in CI"
Blockers:
- [x] riscv-dv Python 3.5-compat: https://github.com/google/riscv-dv/pull/684. Merged in https://github.com/lowRISC/ibex/pull/1081
- [x] Determine final command to run. https://github.com/lowRISC/ibex/issues/698
- [x] Fail CI if a test fails: https://github.com/lowRISC/ibex/issues/1083

[2020-08-20 15:14] zdogs opened #1080 "[RTL] Illegal Instructions occur when dummy instructions are enabled and RV32M = 0"
Bug conditions:
- parameter bit               RV32M                    = 1'b0,
- parameter bit               SecureIbex              = 1'b1,
- Bit 2 of cpuctrl register (dummy_instr_en)  is set

Description:
When a dummy instruction is executed, an illegal opcode is set when the dummy instruction opcode corresponds to a MUL or DIV.

I would recommend to remove MUL and DIV from dummy opcodes.

![il

[2020-08-20 15:24] tomroberts-lowrisc commented on #1080
Thanks for filing the issue. I'll look into fixing it, or updating the documentation to disallow the combination of RV32M==0 and SecureIbex==1.

[2020-08-20 18:49] imphil commented on #1079
I now have the regression running in CI, but I get the following errors/time outs:

[code]

(I stripped out all the INFO messages.)

@udinator are those failures expected?

[2020-08-20 18:51] imphil commented on #698
On CI, I get a runtime of ~42 minutes, which is rather on the long side.

@udinator do you have ideas to cut this time down?

[2020-08-20 18:53] imphil opened #1083 "UVM DV: Return non-zero exit code if a test fails"
Running the regressions like

[code]

returns a 0 exit code even if a test fails.

@udinator what do you use to determine test success/failure? Can we modify the tooling to get a non-zero exit code in this case?

[2020-08-20 18:57] udinator commented on #1079
Is switching to OVPsim possible for CI runs?

RE failures in riscv_debug_instr_test and riscv_interrupt_instr_test - I haven't encountered timeouts like this yet. I'll look into them, thanks for pointing it out!

[2020-08-20 19:01] udinator commented on #1083
Currently we return 0 all the time - we use the post comparison to determine "true" success/failure.
Sure, I can look into modifying the scripts to return a non-zero code on failures.

[2020-08-20 19:11] udinator commented on #698
Yep, one idea would be to not run a full sanity regression, but just run a few select tests from the testlist that exercise some major features of the design.
For example, we could have the CI command be
[code]

This would run three specific tests to just make sure that the normal execution pipeline works correctly, as well as basic interrupt and debug handling capabilities are still up and runnin

[2020-08-20 19:42] imphil commented on #1083
A post comparision script to determine success/failure would also do the trick -- if you have something like that around I can plug it into CI as well.

[2020-08-20 20:11] imphil commented on #1079
Yes. I'd prefer Spike since it is an open source tool, but if we have a good reason to prefer ovpsim we can use that as well.

[2020-08-20 21:06] udinator commented on #1083
The post comparison script I mentioned should already have been plugged into the CI I think, it is the script that provides the final report of how many tests passed or failed.
The return code is actually returned by `sim.py`, so I think any modifications will have to be there.

[2020-08-20 21:21] udinator commented on #1079
I use OVPsim mainly because if I enable timer interrupts (`mie.mtie`) in Spike, Spike will start an internal watchdog timer based off of `mtimecmp` and `mtime` which will trigger timer interrupts - this creates some issues as these CSRs aren't implemented in Ibex.
I'm still investigating whether there is a way to disable this watchdog in Spike.

If you want to use Spike for CI, all you'll have to

[2020-08-21 02:35] islengxw commented on #1078
Hi @rswarbrick , I used the assertion file which is the same as the head of master, the error still there. The point is we didn't encounter this error in the RTL simulation, but in the formaliity step, this error happened when we load the rtl filelist.
In my understanding, we don't need assertion application in the formality step, but in the many rtl files, such as ibex_id_stage.sv will call the `

[2020-08-21 06:53] rswarbrick commented on #1078
It looks like Formality (a tool that I don't believe we've used) doesn't support full SVA syntax. Specifically, it looks like it's choking on named assertions. Fortunately, we can fix this quite easily. If you look at `prim_assert.sv`, you'll see that we include different definitions for macros like `ASSERT, depending on which tool is in use.

Since Formality seems to be a tool for equivalence che

[2020-08-21 09:13] imphil opened #1085 "Parallelize UVM tests without LSF (in CI)"
RISC-V DV gives us the option to specify a job submission command to parallelize simulation jobs. We do not have a full LSF setup, and I don't really want to build one for CI.

I see two options:
- Find a small tool which we can use as job submission command, similar to `bsub -Is` (which is what the RISCV-DV documentation suggests).
- Parallelize on the `dv/uvm/core_ibex/Makefile` level
- Manually

[2020-08-21 09:15] imphil opened #1086 "Run icache DV in CI"
Follow the docs at https://ibex-core.readthedocs.io/en/latest/verification.html#instruction-cache to run icache DV in CI.

@rswarbrick any specific command we should be using for a runtime of roughly 10 minutes or less?

[2020-08-21 13:23] #1086 closed, assigned to nobody

[2020-08-21 15:00] ganoam opened #1092 "Possible Problem with Coremark on Simple System: Access to Uninitialized Memory"
Hi all,

I may have run into a problem when simulating coremark on the simple system example.

I have been trying to run the simulation with synopsys VCS (since I am using the same framework to benchmark another core, whose tracer is not supported by verilator), and have found that the simulation fails throwing illegal instruction exceptions after some time. I have compared the traces and found th

[2020-08-24 09:56] GregAC commented on #1092
Thanks for the report @ganoam. It is odd the Xs cause a deviation in execution behaviour rather than a straight assertion fail but I don't think that's a reason to distrust the verilator run/vcs run with 0 pad. Coremark is a self checking benchmark (it calculates some CRC of benchmark outputs which are check against known good benchmarks) so if it was broken the self check would fail.

I'll take a

[2020-08-24 12:23] zdogs opened #1094 "[rtl] PC mismatch alarm caused by an instruction bus error"
Hi,

The PC mismatch alarm fires on an instruction bus error.

conditions:
- parameter bit               SecureIbex               = 1'b1
-  A bus error is generated by the system, instr_err_i = 1'b1

![pc_mismartch_instr_err](https://user-images.githubusercontent.com/51697819/91044171-25236600-e615-11ea-84ee-148647e40596.PNG)

[2020-08-24 12:41] zdogs opened #1095 "[rtl] PC mismatch alarm caused by dummy instruction insertion"
Hi,

The PC mismatch alarm fires when a dummy instruction is inserted.

conditions:

- parameter bit SecureIbex = 1'b1,
- Bit 2 of cpuctrl register (dummy_instr_en) is set

![pc_mismartch_instr_err](https://user-images.githubusercontent.com/51697819/91045760-a976e880-e617-11ea-9a9f-226ad9590340.PNG)

May I suggest following change in ibex_if_stage.sv :

    // Check that the address equals the pre

[2020-08-24 12:44] zdogs commented on #1095
Sorry, here are the right waveforms:
![pc_mismartch_dummy](https://user-images.githubusercontent.com/51697819/91046131-3457e300-e618-11ea-91b5-d6ec7bb292fc.PNG)

[2020-08-27 09:55] GregAC commented on #1094
Thanks for the report, I should note that the `SecureIbex` features are still under development and aren't yet fully tested so there's likely to be a few issues.

[2020-08-27 09:57] GregAC commented on #1095
Thanks for the report. If you have a fix feel free to submit a PR.

[2020-08-27 10:09] GregAC opened #1097 "[rtl] Use IF skid buffer to reduce mis-predict penalty for branch prediction"
When a branch is predicted taken Ibex may have already prefetched the instruction that follows the branch but will throw it away to follow the branch prediction. If the branch was mis-predicted it then needs to refetch the instruction following the branch causing a stall cycle.

The skid buffer in the IF could be used to hold any prefetched instruction that follows a branch and remove the mis-pred

[2020-09-07 09:09] dawidzim opened #1101 "Failing randomization in ibex_icache_stress_all"
Hey!
I have problem with randomization in test `ibex_icache_stress_all` in file `ibex_icache_core_base_seq.sv`:
[code]
problem is with this constraint, I think better way to do this will be change line:
`stale_seed && enable -> invalidate == 1'b1;` to `!(no_invalidate && !must_invalidate) && stale_seed && enable -> invalidate == 1'b1;`
In this way we are sure that this constrain won't be overconst

[2020-09-07 09:12] rswarbrick commented on #1101
Are you saying that you have a situation where `no_invalidate` and `stale_seed` are both true at the same time? That's not supposed to happen (and I should probably have added an assertion to check it doesn't). Can you check that's the case?

If it is the case, we'll need to do a bit of digging to see what's gone wrong. I assume you're using Riviera, and I don't have access to a Riviera licence, s

[2020-09-07 09:55] dawidzim commented on #1101
Yeah, sure, I sent logs on your e-mail.

[2020-09-07 10:54] rswarbrick commented on #1101
Thanks for that. Could you have a look at the attached PR? I think this should fix things, but it would be nice to see it worked at your end before merging.

[2020-09-07 11:25] dawidzim commented on #1101
[code]
Works! Thanks for help :)

[2020-09-07 12:54] #1101 closed

[2020-09-08 03:09] ckdur opened #1103 "Enable a way to configure the Cache characteristics from the Ibex Core Top"
Simply I noticed this in the Ibex. The cache is fixed always to:

[code]

The cache is only instanced in the following line.
https://github.com/lowRISC/ibex/blob/master/rtl/ibex_if_stage.sv#L185
The parameters are not controlled definitely in any external way possible. It would be neat to control the size of the cache from the parameters. Is this the way intended?

[2020-09-08 08:47] rswarbrick commented on #1103
You're right that this isn't currently wired out to the top-level. I think this is mostly because we haven't needed to do so yet. Do you have an application where it would help? If so, can you describe what you'd like to control?

[2020-09-08 08:59] GregAC commented on #1103
I think this is partially to minimise the number of parameters fed out to top-level. Those that are there generally get fed into multiple different places. For the ICache however I think all of those parameters are purely internal to the ICache so you can modify them without effecting any other bits of Ibex (@tomroberts-lowrisc can confirm).

So if you're interested in different cache configuratio

[2020-09-08 09:22] ckdur commented on #1103
What I am doing is to instance the Ibex core in the Chipyard multi-core generator. This is for testing OpenTitan in Berkeley's hardware. They have an actual ICacheParams where some of the variables can be directly used from the configurations.

I will create a Fork then, and add the parameters directly by simply modifying the code then.

Thank you very much. Will close the issue.

[2020-09-08 10:19] tomroberts-lowrisc commented on #1103
A lot of the parameters in the I$ are fairly specific - but it seems reasonable to expose the cache size at the top level. I'll re-open this issue to track that enhancement.

[2020-09-08 10:51] zeeshanrafique23 opened #1104 "compressed Instructions on LSBs"
In```ibex_compressed_decoder``` there is an input ```instr_i``` that is used to detect either the instruction is compressed or not, but WHY ibex always detects the compressed instruction at LSB (```instr_i[1:0])```), although compressed can be at ```instr_i[17:16])```.
[code]
How to detect compressed if it is Instr 2.

[2020-09-08 10:55] rswarbrick commented on #1104
The instruction that's being decoded is always at the bottom of the value (so the "am I compressed?" bits are bits 0 and 1). If there is a compressed instruction, the following instruction might appear in the upper half of the value, but it is ignored until the next decode, where it will have been shifted down.

Indeed, the top bits can be completely bogus when the bottom half is a compressed inst

[2020-09-08 11:00] tomroberts-lowrisc commented on #1104
Another way of putting it is - the fetch_fifo abstracts that complexity away from the decoder by always shifting the instruction opcode down to bits [15:0]

[2020-09-08 11:24] zeeshanrafique23 commented on #1104
@tomroberts-lowrisc is this the way which is used in ```Ibex_fetch_fifo.sv```? Can you please refer me to the line number of this module.

[2020-09-08 12:02] tomroberts-lowrisc commented on #1104
@zeeshanrafique23 Yep it's at line 84
https://github.com/lowRISC/ibex/blob/c31d066130bdce11dfbacf7afab7641dbd9157f5/rtl/ibex_fetch_fifo.sv#L84
The fetch fifo looks at bit[1] of the address to know when to swap things around.

[2020-09-08 12:11] zeeshanrafique23 commented on #1104
Thanks, Tom and  Brick.

[2020-09-08 12:11] #1104 closed

[2020-09-08 16:47] tomroberts-lowrisc opened #1105 "Update fetch_enable signal"
We have a requirement from OpenTitan to be able to block the CPU from executing at certain points. I propose we update the existing fetch_enable signal to do that, since it's current behavior is a bit confusing and probably not that useful.

[2020-09-10 11:49] apollojason opened #1106 "The step operation is error when the SW bp is set in a J instruction."
Hi Guys：
      I use the Ibex core running a simple test C code.
       I set a SW bp before a “jump” instruction,  when the cpu fetched the SW bp instruction, the cpu is halted.
       But after that, i use the “step" cmd in telnet,  the PC in CPU is wrong, it's not the correct PC which the JUMP instruction expected , the dpc has been changed.
      When I use the HW bp， the dpc has‘t been change

[2020-09-10 12:03] apollojason commented on #1106
@GregAC Could u help me checking this issue？ Thanks

[2020-09-10 12:53] GregAC commented on #1106
I think this is an issue with Ibex's `EBREAK` handling, it's setting the `depc` for the instruction following the `EBREAK` not the `EBREAK` itself.

From what I can tell from the waveform you've supplied, Ibex is first fetching the instruction immediately following the `jal 0x30000090`, which is the instruction at `0x300006c2` (fetches are aligned so it fetches at `0x300006c0`). The instruction at

[2020-09-10 13:17] tomroberts-lowrisc commented on #1106
I would guess that `enter_debug_mode` is set when the core goes to `FLUSH` as a result of the `EBREAK`. That causes the core to go to `DBG_TAKEN_IF` rather than `DBG_TAKEN_ID` hence it captures the wrong PC.

What debug module are you using? and did you definitely clear the HW breakpoint before setting the SW breakpoint?

[2020-09-11 01:15] apollojason commented on #1106
@tomroberts-lowrisc
 Thanks for your response.

tomroberts-lowrisc:  I would guess that enter_debug_mode is set when the core goes to FLUSH as a result of the EBREAK. That causes the core to go to DBG_TAKEN_IF rather than DBG_TAKEN_ID hence it captures the wrong PC.

apolloJason:  yes, please see the following figure. The SW bp has changed the jal instruction to c.ebreak. So the CPU enter debug_mo

[2020-09-11 01:21] apollojason commented on #1106
@tomroberts-lowrisc
 I set the SW pc in 0x300006c2 ，the J instruction.
 That's a while(1){}; test in the C function.

[2020-09-12 02:21] apollojason commented on #1106
@GregAC @tomroberts-lowrisc
Hi :
    the cv32e40p has the same bug. They has fixed the bug for storeing the next instruction PC.
    Could you double check again?

[2020-09-12 08:51] GregAC commented on #1106
From the latest wave you've given Ibex is going into `DBG_TAKEN_IF` as `enter_debug_mode` is asserted.

An `EBREAK` doesn't assert `enter_debug_mode` so there's something else going on here as well as the `EBREAK` instruction. Either the debug module has requested to enter debug mode, single stepping is active or there's a hardware breakpoint too.

As I said above a full .vcd would be helpful in d

[2020-09-14 08:31] tomroberts-lowrisc commented on #1106
Single stepping is active, which causes the entry to debug mode. I'm not really sure what the core is supposed to do here (single stepping over an `EBREAK` instruction), it's probably doing the correct thing and stepping to the "next" instruction.

The debugger should replace the `EBREAK` with the real instruction before it releases the core to step. I attempted to reproduce this locally but I don

[2020-09-14 08:57] GregAC commented on #1106
Ah had missed the `debug_single_step_o` signal the bottom there.

From the debug spec's description of single stepping:

`EBREAK` causes an breakpoint exception (if `dcsr.ebreak[m|s|u]` isn't set). So `EBREAK` isn't failing to complete due to an exception, it completes which causes the exception. So I'd argue when single-stepping over an `EBREAK` you should get a `dpc` of the next instruction to e

[2020-09-14 09:13] tomroberts-lowrisc commented on #1106
Yeah I think that makes sense.
Looking at the issue raised by @apollojason on cv32e40p, they have changed it such that the `EBREAK` is prioritized here on debug entry rather than the step (thus capturing the ID stage PC rather than the IF stage). We should probably do the same - though only in the `ebreakm/u` case as you noted.

[2020-09-14 13:21] tomroberts-lowrisc commented on #1106
Hi @apollojason can you try again with the linked fix - if it fixes the problem, we can close this issue

[2020-09-14 14:35] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:35] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:35] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:36] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:37] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:38] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:39] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-14 14:39] apollojason commented on #1106
thank you for explaining it so fully.
 I got sick recently, so i didn't give u a response. Tomorrow, i can get the new version code,try again.
thanks!

[2020-09-19 06:50] zeeshanrafique23 opened #1111 "Read Write CSRs"
Does Ibex support **only READ** or **only WRITE** CSR operation in one cycle? If, yes then why?

[2020-09-19 07:34] #1111 closed

[2020-09-22 17:04] udinator opened #1113 "[dv] ISS support"
Hi all, just wanted to get some feedback before moving ahead to enable the Icache in the Ibex DV environment.

The heart of the matter is that using an Ibex configuration with the Icache enabled means that we have to use a custom branch of Spike (and therefore cannot support OVPsim).
This is because we have to use the custom `cpuctrl` CSR to enable the icache at simulation time - for our purposes

[2020-09-22 17:08] rswarbrick commented on #1113
I suggest we do whatever is most convenient for us and ping the OVPSim maintainers to tell them what we've done. If they want to teach their commercial product to work for us, great. If not, no problem.

[2020-09-22 17:09] rswarbrick commented on #1113
That said, doesn't RISC-V allocate a bank of implementation-defined CSRs? If we're just writing to one of those, I'm a bit surprised that the ISS cares: I'd have expected it to just drop the write.

[2020-09-22 17:17] udinator commented on #1113
@rswarbrick thanks for the comments!

I agree.

Yes, RISC-V does allocate a large space for implementation-defined CSRs; I think accesses to this space are treated as illegal by the ISS because it doesn't actually know about any definitions within this space by default, but the way Spike defines CSRs is very extendable and easy for users (like us) to define implementation-specific CSRs within this

[2020-09-22 20:27] zeeshanrafique23 opened #1114 "Where is your interrupt handler code?"
I want to see your exception handler code. Actually I want to know how to write it in assemlby or in C.
I know what to do in the expextion handler (save register, update PC, ...etc). But what to do when you have an exception like misalligned access or illegal csr. So, curious to know.

[2020-09-23 03:50] apollojason commented on #1106
@tomroberts-lowrisc @GregAC
Hi :
     I have try again with the latest version ibex CPU RTL. It is working correctly.
    thank u very much!

[2020-09-23 05:45] #1106 closed

[2020-09-23 06:38] rswarbrick commented on #1114
The Ibex repository doesn't actually have much software: it just contains the processor itself. However, we do have some software that runs on Ibex in the OpenTitan repository.

@lenary: Could you give zeeshanrafique23 a pointer to where he can find a reasonably full-featured exception handler in OT? (I assume we have one!)

[2020-09-23 06:40] rswarbrick commented on #1113
Thanks for explaining how we extend CSRs in Spike: that sounds very neat.

[2020-09-23 08:25] lenary commented on #1114
@zeeshanrafique23 we haven't fleshed out the handlers for that kind of code in OpenTitan yet, but I can give you some tips.

The code for the handlers themselves is in https://github.com/lowrisc/opentitan/blob/master/sw/device/lib/handler.c - and the required declarations are in https://github.com/lowrisc/opentitan/blob/master/sw/device/lib/handler.h - the most important bit is `__attribute__((int

[2020-09-23 08:48] imphil commented on #1113
I agree, relying on a modified version of Spike is fine. We just should think about how to make this version available to users.

1. Create a lowRISC fork repo with the necessary patches?
2. Vendor in spike? (can also be combined with (1))
3. Just have a patch in the tree? (seems fragile)

I'd go for (1). It's not beautiful, but consistent with what we've doing elsewhere and reasonably easy to man

[2020-09-23 08:51] imphil commented on #1114
There's actually an example for using the timer interrupt in the simple system code, you can find it here at https://github.com/lowRISC/ibex/blob/master/examples/sw/simple_system/common/simple_system_common.c#L192.

[2020-09-23 08:51] tomroberts-lowrisc commented on #1113
Agreed - thanks for raising this @udinator

As for how to make the version available, (2) sounds workable, but I wouldn't be against (1) - we also do that with some other things, and seems more of a route to "upstreaming".

[2020-09-23 08:54] GregAC commented on #1113
Bear in mind we may need a modified spike for ePMP support (which is available here: https://github.com/joxie/riscv-isa-sim).

I think I'd favour 1) as it avoid cluttering up the repo and the current flow for anyone wanting to run the DV environment means they need to acquire spike from somewhere first anyway. So saying it must be from the lowRISC repository isn't a big change to what we have. 2)

[2020-09-23 09:39] GregAC commented on #1113
Thinking about this some more the real question is do we intended to always require a modified version of spike or are we seeing this as a temporary measure until we can get the necessary changes upstreamed (e.g. for the core specific CSR accesses I think there's an argument for a mode in spike that just ignores the writes and always returns 0 for the reads or introducing a config file that allows

[2020-09-23 09:49] rswarbrick commented on #1113
Let's aim for this being a temporary thing (so (1)). Spike already has `dlopen`-based extension support for adding new instructions. If we need it, I'm pretty certain that they'd take a change that let an extension add more CSRs too.

[2020-09-23 13:27] tomroberts-lowrisc opened #1116 "[simple-system] Linker script updates"
There are quite a few sections unspecified at the moment (mostly debug related). Adding them would allow linking with the `--orphan-handling=error` option to check for accidentally missed ones (that we care about).

We could also specify `__global_pointer$` for possible optimization.

[2020-09-23 13:28] #1092 closed

[2020-09-23 13:36] lenary commented on #1116
I know @silvestrst has been wanting to do more of this kind of work (linker script and assembly-level programming) - if this isn't urgent, this seems a useful place he can contribute to Ibex?

[2020-09-23 15:55] zeeshanrafique23 commented on #1114
Well, thank you all. Let me review the links you provided. I will definitely continue this thread if got stuck somewhere.
Closing the issue for right now.

[2020-09-23 15:55] #1114 closed

[2020-09-23 17:50] udinator commented on #1113
Thanks all for the ideas!

@imphil thanks for getting an Ibex-specific Spike branch ready. I'll add the existing Spike patch there and work on preparing the second one to merge as well.

[2020-09-24 16:06] GregAC opened #1117 "[rtl] Double fault handling"
Consider the case where an exception occurs on the first instruction of an exception handler (e.g. due to a bus fault or PMP access fault), what should happen?

I suspect Ibex currently enters some kind of infinite loop or deadlocks.

We need to define and document a sensible behaviour here.

I would suggest some kind of double fault detection that causes the core to halt and assert a top-level si

[2020-09-24 16:12] rswarbrick commented on #1117
Cores I've worked with in the past just infinite loop. Arguably a reasonable behaviour ("don't set up your software like that!")

[2020-09-25 17:58] lenary commented on #1117
@rswarbrick I want to make sure we don't do anything too silly, but thinking about it, in a double-fault scenario, the watchdog probably would take over, because the core is infinitely looping. That said, a signal probably is a nicer interface than just being entirely unresponsive until the end of time, and having to rely on a watchdog.

[2020-09-27 08:39] zeeshanrafique23 opened #1118 "What is the use of module "ibex_dummy_instr.sv"?"
Ibex is using `ibex_dummy_instr.sv` in the fetch module but after sending a lot of time on it I didn't get the reason to use this module, please someone explain this.

[2020-09-28 08:10] tomroberts-lowrisc commented on #1118
See the documentation [here](https://ibex-core.readthedocs.io/en/latest/security.html#dummy-instruction-insertion).
Note that the security features are all in a prototype state at the moment.

[2020-09-28 14:09] zeeshanrafique23 commented on #1118
oh ok thanks @tomroberts-lowrisc , Sorry I missed that point during the reading doc.

[2020-09-29 15:24] GregAC opened #1122 "[dv] Functional coverage for Ibex microarchitecture"
For a while now I've been looking at what we'd like to do for functional coverage for microarchitectural events. I've now come up with a prototype of how we might gather that coverage within the Ibex UVM DV environment.  I've put that prototype on a branch on my Ibex fork and you can see the relevant commit here: https://github.com/GregAC/ibex/commit/cc18a04c66a7ab1d7a8de49c651f63db8724cdad

I hav

[2020-09-29 16:16] oholimoli opened #1123 "RISC-V vector extension"
Are there any plans to (partially) integrate the RISC-V vector extension into Ibex?

[2020-09-29 20:00] GregAC commented on #1123
No plans at present. It should be noted Ibex is a smaller core intended more for applications seeking low area and power usage as opposed to a larger higher-performance core so the vector extension isn't a clear match for Ibex's design point.

Though it could be useful if Ibex is in a heterogeneous system for example, which has a set of cores with different power/performance trade offs. Keeping th

[2020-10-01 09:56] #1123 closed

[2020-10-01 18:04] udinator commented on #1122
Hi @GregAC, I took a quick look at the linked commit, and I think so far this approach could prove to be very promising.

I agree with the overall structure of the functional coverage prototype so far, and definitely appreciate that it is centering around instruction categories with respect to microarchitectural events in the pipeline.

RE your comments about the more sophisticated coverpoints (mu

[2020-10-01 18:25] GregAC commented on #1122
Yes definitely, signals indicating events related to those will be added to `uarch_fcov_if` (this may be where we want some multi-cycle tracking, interrupt whilst instruction has been stalled for a few cycles vs interrupt cycle after instruction unstalls for instance). I just didn't want to start adding such things to the prototype in case we decided to go for a different structure.

[2020-10-02 17:49] sriyerg commented on #1122
@GregAC, the solution you've put forth is definitely correct, but...

The alternate approach would be to instantiate all the covergroups inside a module. This could be an independent module that the designer maintains (DV engineer binds it to the DUT in the testbench). The module will only have inputs, which are connected to the internals of the design in the testbench. This eliminates the need fo

[2020-10-04 01:31] sriyerg commented on #1122
@GregAC, here's the sample functional-coverage-in-an-interface prototype:
https://github.com/lowRISC/opentitan/pull/3681

LMKWYT.

[2020-10-05 08:28] rswarbrick commented on #1122
I've just looked through the commit in detail and I like this approach (Greg's). I don't really see much strength in the argument for shielding designers from UVM components. Honestly, they can probably cargo-cult from this example and all will be fine! If, for some bizarre reason, a designer is allergic to UVM components then we could always get someone competent to knock together the boilerplate

[2020-10-05 14:59] GregAC commented on #1122
Thanks for the prototype @sriyerg

I do like the way the interface in that prototype gets bound into the design, overall seems neater with less repetition required compared to my prototype though do agree with @rswarbrick that there's no need to worry about shielding designers from the UVM/Testbench side of things to the maximum possible extend. You don't want to require someone to be well practic

[2020-10-05 19:23] sriyerg commented on #1122
Actually there are a few more benefits of implementing covergroups in an interface. I have added a [slide](https://docs.google.com/presentation/d/1rUFpWzktORuBZNyG6eSG68kWxEWmxMkMaWdSCadhbQI) now to illustrate them.

[2020-10-06 12:50] vogelpi commented on #1122
Thanks @GregAC and @sriyerg for working out the prototypes. From a designer perspective, I prefer the more streamlined integration proposed by @sriyerg but at the same time I believe that having to learn a little UVM to formulate new coverpoints doesn't hurt. If there are some examples around, this should be doable. Combining the two prototypes using interfaces seems the best solution to me.

One

[2020-10-07 13:01] simon5656 commented on #1122
This is an interesting thread - can somebody point me at the functional specification - as I either cant find it or I dont have access. thanks.

[2020-10-07 15:20] GregAC commented on #1122
Which specification are you referring to? There's the Ibex documentation (https://ibex-core.readthedocs.io/en/latest/) though this does need updating with details of the third pipeline stage (which introduces some interesting behaviour we want to ensure is covered in verification which partially motivates this functional coverage work).

We don't have details of what we'll be covering as part of t

[2020-10-08 02:13] sriyerg commented on #1122
Dang, I really thought "designers not having to learn DV / UVM" was a better selling point for pushing this approach. Please see [slide](https://docs.google.com/presentation/d/1rUFpWzktORuBZNyG6eSG68kWxEWmxMkMaWdSCadhbQI/edit#slide=id.g9e2db54d7b_6_0) explaining several other benefits of implementing functional coverage inside an interface.

Interface handles are passed to the UVM env like an obje

[2020-10-09 10:38] GregAC commented on #1122
I'm coming round to @sriyerg's method my main question is what's the most elegant way to deal with signals coming from different modules within Ibex.

For Ibex functional coverage we'll want to probe signals within different modules and bring these together. An individual coverpoint may only ever use signals from a particular module (though I'd prefer this wasn't a hard constraint) and cross cover

[2020-10-09 16:31] GregAC commented on #1122
I've prototyped something that has a per-module interface where each interface gets bound into its relevant module as with @sriyerg's prototype. However the covergroup doesn't live in the interface. Instead each of the interfaces place a handle to themselves via a static virtual instance variable in a class.

Then in one module I bind in all the interfaces and instantiate the covergroup. It then u

[2020-10-12 11:55] GregAC commented on #1122
My second prototype is here: https://github.com/GregAC/ibex/tree/ibex_fcov_v2 which I've described above

The technique it uses may not be great for all OpenTitan IP but could work well for Ibex specifically and indeed wouldn't be incompatible with using @sriyerg's prototype for everything that isn't Ibex.

The main thing it gives you is making wiring up simpler and less error prone as it uses '.*

[2020-10-12 19:18] sriyerg commented on #1122
Looks fine to me, if you expect there will be lots of signals picked up from various sub-modules combined into the same covergroup. You will need to provide a yet another interface for controls to enable / disable the covergroups.

[2020-10-13 15:33] shetalani opened #1129 "Illegal Instruction Exception not Raised"
**RISC-V Specification:**

**Issue Description:**

An illegal instruction updates the register file and the associated csrs and executes normally without raising an illegal instruction exception.

**Example:**

The instruction 32'h2820d013 is decoded and executed with no illegal instruction exception being flagged, as machine csrs: mepc, mstatus and mcause aren't updated.

![illegalInstr](https://

[2020-10-13 16:01] tomroberts-lowrisc commented on #1129
Thanks for raising this @shetalani
I have a proposed fix in #1130 - can you give that a go and let us know if it fixes the problem?

[2020-10-13 16:15] shetalani commented on #1129
@tomroberts-lowrisc It is fixed, my pleasure!

[2020-10-13 16:26] shetalani commented on #1018
The issue is fixed, cheers!

[2020-10-14 08:49] #1129 closed

[2020-10-14 09:29] imphil opened #1131 "Create a Spike extension module for Ibex-specific CSRs"
We currently require a patched version of Spike to run Ibex verification. It would be nice if we could, instead of patching Spike, provide an extension library which can be loaded into an unmodified Spike build at runtime.

See also https://github.com/lowRISC/riscv-isa-sim/pull/2#issuecomment-699823323

[2020-10-14 09:54] shetalani opened #1132 "Illegal Instruction Retires"
####  RISC-V Specification

have 64-bit precision on all RV32 and RV64 systems.

####  Issue Description
An illegal instruction increments the minstret counter as if it was a legal one.

#### Steps to Reproduce

As shown below, the minstret counter is incremented for the illegal instruction csrrw x8, 0x010, x3, knowing that IR bit of mcountinhibit is set to '0 and thus allowing for the minstret to

[2020-10-14 10:52] shetalani commented on #1132
Same happens for ecall and ebreak instructions, as well as load/ store access faults. For your reference, please check [https://github.com/openhwgroup/cv32e40p/issues/533](url).

[2020-10-14 12:02] sajjadahmed677 opened #1133 "Software Interrupts For Machine Mode"
I am looking for interrupt handling and CSR implementation in my design as i have only machine mode(for reference i am looking into ibex core) so, my question is what type of software interrupts we handle when CORE only has machine mode.

[2020-10-14 12:16] shetalani opened #1134 "Access rights - Illegal Write to Read Only Field - DCSR's cause"
####  RISC-V Specification

####  Issue Description

A read only field of `dcsr` is written.

#### Steps to Reproduce

As shown below, while in debug mode, the instruction `csrrwi x17, dcsr, 0x4` updates the value of the `cause` field of `dcsr`, which has a read only access right.

![dcsr_cause_write](https://user-images.githubusercontent.com/54367010/95985860-6ff77800-0e25-11eb-916e-ab3b01f116b6.

[2020-10-14 14:46] #1080 closed

[2020-10-14 14:46] #1094 closed

[2020-10-14 15:19] tomroberts-lowrisc commented on #1133
Hi @sajjadahmed677 - I think just the single machine-mode software interrupt, controlled by the `mip.MSIP` and `mie.MSIE` bits as Ibex has.

You might want to look at the CLINT specification for an example of how the software interrupts might be generated - there is an example implementation here: https://github.com/pulp-platform/clint

[2020-10-14 16:35] #1134 closed

[2020-10-15 07:04] sajjadahmed677 commented on #1133
thank you @tomroberts-lowrisc i will look into it, and then come back to you if i have any query. actually my design is bare-metal i am using cross compilation for simple programs that's why i am confused with software interrupts. one more thing i have PLIC in my design so if you have material for PLIC that how it generates or handles software interrupts please suggest me.

[2020-10-15 20:56] mehmood-007 opened #1137 "VCD file from ibex environment"
Is there any possibility that we can generate VCD trace file from the current IBEX test environment instead of FST file? We have to extract the switching power of the embench-IoT programs using prime-time and it's quite difficult to change the whole ibex testbench environment.

Currently, I have tried to change the verilator class name to VerilatorVcdC , but still getting the following errors whil

[2020-10-15 21:03] sajjadahmed677 opened #1138 "purpose of ibex_csr file and user mode csrs"
i am looking into the CSR implementation done in ibex core. just seen the ibex-csr file which is for csr primitives. will anyone please elaborate this file and its purpose when there is complete csr file present.
also i haven't seen the user mode csrs though ibex supports user mode also as per my knowledge. so, how it handles the user mode when the user mode csrs are not present in csr list.

[2020-10-15 23:20] mehmood-007 commented on #1137
I have disabled the FST CFLAGS from ibex_simple_system and now it is able to generate the vcd file.

Thank you in advance.

![image](https://user-images.githubusercontent.com/16057068/96195701-b1834280-0f4d-11eb-9d52-81cfdfd61f13.png)

[2020-10-15 23:20] #1137 closed

[2020-10-16 08:20] zjuwlh opened #1139 "riscv_debug_branch_jump_test case fail"
Hi,

when I run the riscv_debug_branch_jump_test case , the case will fail because access the unintialzed address, can anyone also find the same issue? Or can anyone help check this issue? my command is the following:
**make ISA=rv32imc ITERATIONS=1 IBEX_CONFIG=small TEST=riscv_debug_branch_jump_test SEED=29354**
can someone also help run on your side to check if there is the same issue on your si

[2020-10-16 08:22] zjuwlh commented on #1139
by the way, I use the OVPSIM as a ISA.

[2020-10-16 08:39] tomroberts-lowrisc commented on #1138
Hi @sajjadahmed677 the `ibex_csr.sv` file is just a convenient way of adding security hardening features to individual csrs in a consistent way. It is instantiated in the `ibex_cs_registers.sv` file.

Which user mode csrs are you referring to?

[2020-10-16 12:50] tomroberts-lowrisc commented on #1139
Confirmed I also see the same issue. I think there is a known problem with this test at the moment - @udinator might know?

[2020-10-16 13:02] tomroberts-lowrisc commented on #983
I think this is now fixed - no longer seeing failures here so closing the issue

[2020-10-16 13:02] #983 closed

[2020-10-16 15:37] sajjadahmed677 commented on #1138
thank you @tomroberts-lowrisc
i am asking about the user mode csrs like mstatus has a secure variant ustatus for user mode and other csrs uie, utvec etc so where are these csrs. or how ibex manage user mode without them.

[2020-10-16 15:37] udinator commented on #1139
Yes, there is a known issue with the test at the moment.

[2020-10-16 15:49] tomroberts-lowrisc commented on #1138
Hi @sajjadahmed677 - those CSRs are only required with the N extension (U-mode traps/interrupts) which Ibex does not support

[2020-10-17 07:21] sajjadahmed677 commented on #1138
Thank you @tomroberts-lowrisc

[2020-10-17 07:22] #1138 closed

[2020-10-19 02:39] zjuwlh commented on #1139
Thanks for your confirm, do you have any plan when will improve the test?

[2020-10-19 11:20] #1070 closed

[2020-10-20 09:01] tomroberts-lowrisc commented on #1139
I have a fix for the issue [here](https://github.com/google/riscv-dv/pull/734)

[2020-10-20 14:38] tomroberts-lowrisc commented on #1133
Hi @sajjadahmed677
I don't believe the PLIC has any support for software interrupts.

[2020-10-21 03:07] zjuwlh commented on #1139
Thanks.

[2020-10-23 09:39] #1118 closed

[2020-10-23 09:44] imphil commented on #1113
The ibex branch in  https://github.com/lowRISC/riscv-isa-sim now has all necessary patches, and on lowRISC and private CI machines, an appropriate Spike version can be obtained with `module load spike-ibex/20201023-git-255bf1cacc599b1413438c269100f3ecd0eb3352`.

[2020-10-23 09:44] #1113 closed

[2020-10-23 09:48] imphil opened #1143 "Run more Ibex configurations in private CI"
Currently we run the following command in private CI: `make -C dv/uvm/core_ibex ITERATIONS=1 TEST=riscv_rand_instr_test,riscv_multiple_interrupt_test,riscv_debug_basic_test ISS=spike`.

This, AFAIK, runs the default configuration. We should at least run a version which is close to what we're using in OpenTitan, and what we aim to be using in OpenTitan.

Which configurations would that be, and what

[2020-10-23 09:49] imphil commented on #1083
@udinator any progress on this? It would be great if CI would not only run tests, but also fail if tests fail :smile:

[2020-10-23 09:53] #1044 closed

[2020-10-23 09:53] imphil commented on #1044
Fixed in #1054

[2020-10-23 09:53] imphil commented on #920
This information is now part of the README.

[2020-10-23 09:53] #920 closed

[2020-10-23 09:54] imphil commented on #909
Instead of doing something custom, we've decided to go with the ePMP spec. @GregAC, do you agree that this issue isn't relevant any more in that case?

[2020-10-23 09:55] GregAC commented on #1143
The default config is actually 'experimental-maxperf-pmp-bmfull', i.e. the OpenTitan one. Passing an 'IBEX_CONFIG' parameter to make will allow you to choose a different configuration.

Though I would caution this mostly works but can sometimes break. The issue lies in the bitmanip instructions as the test framework doesn't understand that when the bitmanip config is disabled it shouldn't generate

[2020-10-23 09:56] imphil commented on #1041
The Ibex README has since updated with some timing and area data. Please note that you'll still need to run own trials in your synthesis flow to get trustworthy numbers for a particular setup.

[2020-10-23 09:56] #1041 closed

[2020-10-23 09:56] GregAC commented on #1143
Oh and maybe add one of the PMP tests to the "experimental-maxperf-pmp-bmfull" run

[2020-10-23 09:57] imphil commented on #895
https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html#instruction-cache has this information now.

[2020-10-23 09:57] #895 closed

[2020-10-23 09:59] GregAC commented on #909
Yup ePMP gives us what we need here.

[2020-10-23 09:59] #909 closed

[2020-10-23 10:02] #608 closed

[2020-10-23 10:04] imphil commented on #2
@towoe I know you have been playing around with RISC-V Formal before and from what I remember it should work? The interface is certainly stable and well-tested these days, anything else missing?

[2020-10-23 19:29] udinator commented on #1083
Hi @imphil, sorry for the delay on my end!

I have a patch ready to do this, I'll get a PR out and request a review.

[2020-10-23 20:40] udinator commented on #1143
I agree with Greg, I think it's a good idea to add one PMP test and one bitmanip test to the private CI run of the `experimental-maxperf-pmp-bmfull` config.

Yeah, this is an issue with how we generate illegal instructions in riscv-dv. I've started working on a patch for this, but it's low-ish priority on my end as of right now - I can prioritize this if you feel it's necessary sooner rather than

[2020-10-26 15:23] sajjadahmed677 opened #1148 "mstatus register width"
guide me about the reason behind setting the width of mstatus csr to the width of "status_t struct" rather than having 32bit width. as described in privilege spec.

[2020-10-26 15:34] sajjadahmed677 commented on #1133
Thank you @tomroberts-lowrisc  for your support.

[2020-10-26 15:34] #1133 closed

[2020-10-26 15:46] imphil commented on #1148
The mstatus register is 32 bit wide from a software point of view, as described at https://ibex-core.readthedocs.io/en/latest/03_reference/cs_registers.html?highlight=mstatus#machine-status-mstatus and matches what is specified in the RISC-V Privileged Specification. Everything else is just an implementation-detail, where we skip bits which are not relevant to our implementation.

[2020-10-26 15:46] vogelpi commented on #1148
Hi @sajjadahmed677 ,
the difference in width of the implemented register and the description in the privileged spec (Section 3.1.6) comes from the fact that not all bits of this register have to be implemented to be spec compliant.

For example, there are several WPRI fields in `mstatus` where WPRI means reserved writes preserve values, reads ignore values. As explained in Section 2.3 of the privi

[2020-10-26 20:58] sajjadahmed677 commented on #1148
Alright got i the point. Thank you @vogelpi and @imphil for such detailed description.

[2020-10-26 20:58] #1148 closed

[2020-10-26 21:53] udinator commented on #1139
This issue should now be resolved - the updates to the instruction generator have been vendored into Ibex repository.

[2020-10-26 21:53] #1139 closed

[2020-10-27 14:10] imphil commented on #1143
I've now enabled the same configurations we have in public CI also in private CI:

- small
- experimental-maxperf-pmp
- experimental-maxperf-pmp-bmfull
- experimental-maxperf-pmp-bmfull-icache
- experimental-branch-predictor

For all these tests, we run the sanity regression set, e.g. `make -C dv/uvm/core_ibex ITERATIONS=1 TEST=riscv_rand_instr_test,riscv_multiple_interrupt_test,riscv_debug_basic_

[2020-10-27 14:13] imphil commented on #1143
@udinator @GregAC So the plan would be to always run the set of riscv_rand_instr_test,riscv_multiple_interrupt_test,riscv_debug_basic_test, and additionally run some tests for the PMP and icache configurations? Which tests should that be?

If we can make it work with a single version of Spike, that's preferred. If not, we can run the tests with different builds of Spike, that shouldn't be a blocke

[2020-10-27 15:42] imphil opened #1154 "[dv] Regression failure for riscv_multiple_interrupt_test with config experimental-branch-predictor"
* Seed: 3116
* `make -C dv/uvm/core_ibex ITERATIONS=1 TEST=riscv_rand_instr_test,riscv_multiple_interrupt_test,riscv_debug_basic_test ISS=spike IBEX_CONFIG=experimental-branch-predictor`
* CI run: https://dev.azure.com/lowrisc/lowrisc-private/_build/results?buildId=24876&view=logs&j=89b1484e-e59b-56b8-bef8-ec534b74be7c&t=69a04726-f3d2-5f59-d3f4-a33300a2ed9f
* Full build log in CI: https://artprodu

[2020-10-27 18:37] udinator commented on #1143
@imphil yup, I think that is the plan. For PMP, we can run the `riscv_pmp_full_random_test`, and to specifically try and stress the icache, we can run the `riscv_rand_jump_test`.
A single version of spike will work for all of these tests, so there's no need to try and configure different versions for different tests.

[2020-10-27 18:41] imphil commented on #1143
@udinator great, I'll add these tests to CI tomorrow and let you know how it goes.

[2020-10-27 18:42] udinator commented on #1143
sgtm!

[2020-10-27 18:43] udinator commented on #1154
Sure, I will take a look into this failure today.

[2020-10-27 18:59] lukamac commented on #644
Hi!
I've tried running `svlint` with all rules (about 25 of them) enabled on all SystemVerilog files and these are the unique rules they fail:
- [case_default](https://github.com/dalance/svlint/blob/master/RULES.md#case_default)
- [enum_with_type](https://github.com/dalance/svlint/blob/master/RULES.md#enum_with_type)
- [function_with_automatic](https://github.com/dalance/svlint/blob/master/RULES.m

[2020-10-27 19:47] imphil commented on #644
@lukamac we do have a svlint configuration in OpenTitan at https://github.com/lowRISC/opentitan/blob/master/.svlint.toml, which should use the same coding style as this repository. Can you try this configuration to see how it works?

[2020-10-27 20:07] lukamac commented on #644
This is what I get with the OpenTitan's .svlint.toml configuration:
- case_default
- enum_with_type
- function_with_automatic
- generate_keyword_forbidden
- level_sensitive_always
- loop_variable_declaration
- wire_reg
Altogether, there are 16 errors.

[2020-10-27 20:12] imphil commented on #644
Would you mind posting the whole list of errors/warnings? There might be some things which are worth fixing.

[2020-10-27 20:18] lukamac commented on #644
Wasn't sure how to post it so I've put all the failures in [fail.txt](https://github.com/lowRISC/ibex/files/5447902/fail.txt).
Hope that is OK :smiley:

[2020-10-27 20:27] lukamac commented on #644
I've put the output into [fail.txt](https://github.com/lowRISC/ibex/files/5447959/fail.txt).
Hope it's OK :smiley:

[2020-10-27 20:53] imphil commented on #644
Of course it is, thanks a lot! The warnings are actually valid, and should be fixed. (Well, except for the ones in the vendor directory, those need to be fixed in OpenTitan.) If you feel like it, I'd appreciate a pull request for those changes. Otherwise, I'll have a look in the coming days.

And maybe we can also add the svlint config to the ibex repository?

[2020-10-27 20:56] lukamac commented on #644
I'll fix them tomorrow and make a PR :smile:

[2020-10-27 22:28] udinator commented on #1154
@imphil, I'm unable to recreate a failure here locally with SEED=3116, and I don't have access to view the CI log files it seems.

The `riscv_multiple_interrupt_test` with the `experimental-branch-predictor` config did take close to 3.5 minutes on my local machine though, perhaps increasing the timeout period for RTL simulation might help? This can be done by going to the `run_sim_commands` functi

[2020-10-28 22:33] udinator commented on #1154
As far as I can tell from the output logs nothing out of the ordinary happened during simulation, the test just seemed to have timed out since it was running for over 300 seconds.
As a result I think #1155 should prevent this sort of error from popping up in the future.

[2020-10-29 14:50] imphil commented on #1154
Thanks a lot for checking @udinator. Let's close this issue then and hope it doesn't reappear! :smile:

[2020-10-29 14:50] #1154 closed

[2020-10-29 17:56] #1083 closed

[2020-10-29 19:22] #1079 closed

[2020-10-30 03:02] hodjat91 opened #1158 "Unexpected behavior when OUTPUT=sim"
Hello @rswarbrick ,

Bellow command leads to a repetitive (redundant) operation because of having "sim" as the output directory (this will be fixed by simply changing the directory name to something else, say SIM). The unexpected behavior is that I think since 'sim' is the main target in the Makefile of `dv/uvm/core_ibex`, it repeats the whole process (program generation/compilation/execution) und

[2020-10-30 09:42] imphil opened #1159 "[DV] Failing regression at riscv_debug_basic_test.0 for experimental-maxperf-pmp-bmfull"
* Config: experimental-maxperf-pmp-bmfull
* Test: riscv_debug_basic_test
* Seed: 11904
* Message: No dret detected, or incorrect privilege mode switch in                                     timeout period of 100000 cycles

See https://dev.azure.com/lowrisc/lowrisc-private/_build/results?buildId=25194&view=results for full logs (you can find the artifacts under the "Related" heading on that page wh

[2020-10-30 11:25] rswarbrick commented on #1158
Thanks for the bug report, and the analysis. Even with your comments, it took me a while to understand what on earth was going on! Anyway, this should be fixed by the linked PR. If you really want an output directory called `sim` in the meantime, you could try passing `OUT=sim/` (with the trailing slash). I haven't checked, but I suspect it will work!

[2020-10-30 11:53] towoe commented on #2
From the Ibex side the support is basically there.
I wanted to see if it is possible to improve the build flow (sv2v/Yosys) to reuse the FuseSoC approach, but did not succeed the last time I tried. The easiest option would be to have the yosys-without-sv2v flow you mentioned in #1006
And the support is not yet in riscv-formal, still need to make the PR, but wanted to improve on build flow before.

[2020-10-30 13:48] imphil commented on #2
There seems to be no interest or time from the yosys maintainers to review and merge the remaining patches to get Ibex compiling in Yosys (see https://github.com/lowRISC/ibex/issues/60). This means we'll need to rely on a patched version of Yosys for the timing being. I'm planning to add it to CI soon-ish, and it would make sense to base other work on top of it as well. So if you can get riscv-for

[2020-10-30 13:50] #1158 closed

[2020-11-02 06:09] zjuwlh opened #1165 "riscv_mmu_stress_test test fail"
Hi ,

when IBEX_CONFIG=small, SEED=27754,  ISS=OVPSIM, riscv_mmu_stress_test test failed.
it is failed because there are some mismatches between rtl sim csv log and ovpsim csv log, could you please help double check if it is a RTL issue or test case issue?

Thanks,
Lihua

[2020-11-02 06:30] zjuwlh opened #1166 "riscv_dret_test fail"
Hi

When IBEX_CONFIG=small, SEED=462, ISS=ovpsim, riscv_dret_test fail, could you please help check if it is a really RTL issue?

Thanks,
Lihua

[2020-11-02 08:43] zjuwlh opened #1167 "riscv_debug_single_step_test fail"
Hi ,
when SEED=27754, IBEX_CONFIG=small, ISS=ovpsim, riscv_debug_single_step_test fail because dpc record the branch target address when core executes a branch instruction, but the test bench think the dpc of the core should record the address of the branch instruction address +4, I think the RTL is right, please help double check it.

Thanks,
Lihua

[2020-11-02 08:57] zjuwlh opened #1168 "riscv_irq_in_debug_mode_test fail"
Hi

When IBEX_CONFIG=small, SEED=27754, riscv_irq_in_debug_mode_test fail because of test bench doesn't capture the "dret" instruction, could you please help check if it is really a RTL issue? since from waveform, I see some 'dret' flag asserted

Thanks,
Lihua

[2020-11-02 09:26] GregAC commented on #1168
Hi @zjuwlh thank you for the bug reports.

It would be helpful if you could include a log file from the test in each case along with the tools you're using. Whilst the seed can help reproduce we may see different test behaviour between different tools and tool versions so it's not a guaranteed way to reproduce. By seeing the log files we can better understand the issue and be more confident we're

[2020-11-02 10:18] rahulraveendran15-coder opened #1169 "Running single test case using Xcelium"
Hi,
I just want to run a single test case using Xcelium simulator, I can see that the support has been added for xcelium.
Could you please guide me or help me in running a testcase with xcelium and the proper command to run it.

I am new to the platform even I dont know the command single test case with VCS.

[2020-11-02 10:41] rswarbrick commented on #1169
Hi there!

You'll find a description of the UVM-based testbench for Ibex in the [reference section](https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html) of our documentation (which is not a great place for this - I'll file an issue to move it!). I'd suggest you have a read through that for an overview of how everything works. To run some tests with Xcelium, the basic command

[2020-11-02 10:43] rswarbrick opened #1170 "[docs] We don't have an easily discoverable page for "how do I run some Ibex tests?""
See https://github.com/lowRISC/ibex/issues/1169 for a perfectly reasonable "Huh?! How do I do this thing?". At the very least, we need a link to the detailed verification docs in the user guide section. Ideally, we should probably add some links in the top-level README.md too.

[2020-11-02 12:40] llhe110 opened #1172 "ibex"

[2020-11-02 12:41] #1172 closed

[2020-11-02 13:05] rahulraveendran15-coder commented on #1169
Hi,
Thank you for the support,
I have two more concerns:

# Run a single test
1. make TEST=riscv_machine_mode_rand_test ITERATIONS=1

# Compile and run RTL simulation
2. make TEST=xxx compile,rtl_sim

Question 1: What is the difference between both these commands if I am running a single test will it be a RTL simulation?
Basically I am not getting the difference between both.

Question 2. What is

[2020-11-02 13:38] rswarbrick commented on #1169
For question 1, the example in the documentation that gives your second command is supposed to show how to use the phony targets in the Makefile to decide what to do (build the testbench, generate instructions, simulate stuff, etc.). If you don't pass a target at all, the Makefile defaults to building and running the tests (which is probably what you want). That example is actually bogus (we have

[2020-11-02 15:38] rahulraveendran15-coder commented on #1169
Hi,

Thank you very much for the detailed explanation.
in the last point you have mentioned that "building it and then running on an instruction set simulator (ISS) and the RTL, checking that the two behave the same[*]" What is this "two behaves the same" corresponds to?

Also in my view the I though that the "C" test cases are compiled to assembly and then loaded the corresponding binary to memor

[2020-11-02 15:42] rswarbrick commented on #1169
I'm not sure you have read [the documentation](https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html) that I linked to? In particular, make sure you understand the text around the diagram called "End-to-end RTL/ISS co-simulation flow". That should hopefully clear things up for you.

[2020-11-02 16:09] rahulraveendran15-coder commented on #1169
Yes, now I am geeting a  more clear picture but I think apart from the two points you mentioned in the first solution I think we need "https://github.com/google/riscv-dv" clone also to generate random instructions am I right.
So

1.  riscv-dv
2. ISS (Spike)
3. GCC-TOOL chain
These 3 are needed along with ibex

[2020-11-02 16:29] #1071 closed

[2020-11-02 16:29] imphil commented on #1071
Assuming this is/will be addressed in riscv-dv.

[2020-11-02 16:31] imphil commented on #769
Xcelium support should be there now, I'm not sure how well it works, though. @Fzl1029 did you make any progress on that, or can you try again?

[2020-11-02 16:33] #505 closed

[2020-11-02 16:33] imphil commented on #341
We do have a docker environment for a while now, closing.

[2020-11-02 16:33] #341 closed

[2020-11-02 16:34] imphil commented on #423
That's resolved now, and we run all supported configurations of Ibex in CI.

[2020-11-02 16:34] #423 closed

[2020-11-02 16:40] Fzl1029 commented on #769
Hi, we have changed to use vcs after. If now ibex verification supports Xcelium again, I think we can give a try and let you know how well it works, thanks.

[2020-11-02 17:06] imphil commented on #769
Great! I've seen some recent bug reports about running the verification suite with XCelium, it would be especially interesting to see where VCS and Xcelium differ. If you find anything, could you please open a new issue to track it?

Let's close this one for now and look at new issues if they come up :-)

[2020-11-02 17:06] #769 closed

[2020-11-02 17:18] lukamac commented on #908
Hi! I'll look into this problem! 😄

[2020-11-02 17:37] GregAC commented on #1167
This one I can reproduce, failure is

[code]
Notably this doesn't occur when running against spike with the 'experimental-maxperf-pmp-bmfull-icache' config. I suspect it's something to do with the writeback stage not being present messing up the PC calculation. I will look into it further.

[2020-11-02 17:57] GregAC commented on #1168
I was unable to reproduce this (everything passes for me). There was an odd issue with ovpsim timing out in some tests but it appeared to be caught in some kind of infinite loop at the end of the program which didn't actually cause an issue for the post sim comparison (the instructions before the loop at the end being the important part).

[2020-11-02 18:02] GregAC commented on #1166
I couldn't reproduce this one

[2020-11-02 18:14] GregAC commented on #1165
The 'small' config doesn't contain a pmp unit so the mmu stress test won't do anything meaningful. What I'm slightly surprised about it is you get mostly passed tests and a couple of failures, I'd expect all failed for instance as it's testing for a PMP that doesn't exist. @udinator any comments?

[2020-11-02 18:17] GregAC commented on #1168
@zjuwlh for those issues I couldn't reproduce (this one and https://github.com/lowRISC/ibex/issues/1166) could you ensure you're running with the latest version of the Ibex repository along with supplying the other info I mentioned above?

[2020-11-03 02:49] zjuwlh commented on #1168
OK, I will try the latest version.

[2020-11-03 10:43] zjuwlh commented on #1165
is there a doc that indicates what kinds of tests for each core config?

[2020-11-03 10:44] zjuwlh commented on #1168
this test is pass in the latest database version, please close this issue, thanks.

[2020-11-03 10:44] zjuwlh commented on #1166
this test is pass in the latest database version, please close this issue, thanks.

[2020-11-03 12:10] rahulraveendran15-coder opened #1173 "ISS Simulation and GNU Tool chain setup ambiguities"
HI,
There are some ambiguities in the user manual of ibex verification environment setup
(1) A RISC-V instruction set simulator, such as Spike or OVPsim the links are not broken here
(2) I have gone through the Spike installation link "https://github.com/lowRISC/riscv-isa-sim/tree/ibex", but in this  its not mentioned anything like " Note that Spike must be configured with --enable-commitlog and -

[2020-11-03 13:34] PaulOKCrevinn opened #1174 "[DV] SV disable fork label - Xcelium simulator differences"
While running and debugging Ibex regression we came across some differences in how Cadence Xcelium simulates disable of fork labels.
We've locally fixed this issue in 6 different testbench files and we can submit the change requests ourselves,
I wanted to raise an issue on this as it is something that needs to be monitored in the future.
I am not sure if the testbench code is linted, but is it pos

[2020-11-03 14:25] towoe commented on #60
The PRs mentioned in this issued are not sufficient as far as I can see to support Ibex without any changes ([the commits applied in one branch](https://github.com/towoe/yosys-sv/commits/ibex-patches)).
If we do not want to change our code support for
 - Int types for parameters and localparam
 - Packed multi-dim arrays

are still missing.
For [ibex-yosys-build](https://github.com/antmicro/ibex-yo

[2020-11-03 14:29] towoe commented on #2
I would prefer to use a patched Yosys version. Removing the sv2v conversion reduces the complexity when interacting with riscv-formal. I will do a WIP PR which depends then on a correct patched Yosys version which I did not yet find as mentioned in #60.

[2020-11-03 14:37] GregAC commented on #1165
I'm afraid not, though enabling/disabling tests based on the current config is something I am planning.

Turns out I'm mistaken about the riscv_mmu_stress_test too, it's not actuallly a PMP test (those all have 'pmp' in the name). It exists because RISCV-DV exists to target many processors some of which may have page table support with an MMU. Ibex doesn't so that test is effectively just trying o

[2020-11-03 14:46] GregAC commented on #1173
The OVPsim link works for me, however the Spike one is broken as it points to the bitmanip branch, thanks for letting us know I'll get it fixed.

These are options to pass to the configure script e.g.

[code]

This isn't hugely clear from the documentation so I'll add an clarification.

It looks like the branch has been retired and bitmanip support is merged into the master branch so normal spike

[2020-11-03 14:57] #1168 closed

[2020-11-03 14:57] rahulraveendran15-coder commented on #1173
Hi,
THank you for the answers

I need a bit more clarification

(1) I'd suggest using our fork of spike for now to avoid this issue. >> I didnt get this, because you told that the functionality is merged with master branch. SO can I checkout the master branch?
I have done some thing like this
git clone https://github.com/lowRISC/riscv-isa-sim/tree/master
then done a
git checkout ibex

Is this the

[2020-11-03 14:57] #1166 closed

[2020-11-03 15:05] GregAC commented on #1173
git clone https://github.com/lowRISC/riscv-isa-sim/tree/master
then done a
git checkout ibex

Yes that gets you our fork of spike

Yes that's what I meant

[2020-11-03 15:20] rahulraveendran15-coder commented on #1173
THank you very much for the confirmation.

So I think in the ibex branch of Spike both the functionalities
 (1)Bit manipulation extension and
(2) Instruction cache has been enabled.
Both these functionalities are in the ibex branch am I right?

If I am right the point in the user manual "To support this draft extension implemented in Ibex, the riscv-bitmanip branch of Spike needs to be used. If it

[2020-11-05 09:01] zjuwlh opened #1175 "assert code style to support formality tool"
Hi,
when we run formality , the tool will report errors about the assertion related logic in RTL design, how to fix this issue without commenting these assertions in design?

Thanks,
Lihua

[2020-11-05 09:30] GregAC commented on #1175
We'd expect no errors with the assertions. I'd need to see the errors in order to propose a fix. I don't think we're doing anything particular odd with the syntax so I'm a little surprised formality doesn't like them. It may be our assertion macros are doing things in a certain way it doesn't like and just need a bit of tweaking.

[2020-11-05 09:32] GregAC commented on #1173
Correct, I will update the documentation to make this more clear. As you say the current wording is a little confusing.

[2020-11-05 22:28] udinator commented on #1169
Hi @rahulraveendran15-coder - the riscv-dv instruction generator is a part of the overall Ibex simulation flow, but you do not need to install this yourself as it is already included in this repository when running simulations.

As @rswarbrick has explained, you will only need to manually install the Spike ISS found at https://github.com/lowRISC/riscv-isa-sim/tree/ibex as well as a RISC-V toolchai

[2020-11-05 22:29] udinator commented on #1165
Hi @GregAC @zjuwlh I also am surprised that this test is failing with the 'small' config since all this test does is to inject some random memory access streams into the generated assembly program.
I'll take a look into this.

[2020-11-06 00:43] udinator commented on #1165
Update: seems like this issue is likely due to the ISS not liking the requested memory address being out-of-bounds relative to the data/stack setup done by riscv-dv.
I suspect a fix will be somewhat involved so it likely will not be ready right away.

@zjuwlh in the meantime here is a temporary workaround for the issue.
If you open up `dv/uvm/core_ibex/riscv_dv_extension/testlist.yaml`, you can fi

[2020-11-06 03:24] zjuwlh commented on #1175
the formality tool will report errors such as the following:

**Syntax error found in the definition of argument macro `ASSERT_PULSE` in prim_assert.sv**

[2020-11-06 06:41] rahulraveendran15-coder commented on #1169
Hi @udinator
Thank you very much for explaining.
1. Can I use OVPsim simulator instead of spike because spike is causing me some issues?

2. Why do the  tool chain requires bit manip extension? I  am planning to use rv32imc instruction set architecture in my project. So why do I need really need bit manip prebuilt in  tool chain?
3. Is it because some of the test cases in ibex will fail if i dont

[2020-11-06 07:29] zjuwlh commented on #1165
ok, thanks all.

[2020-11-06 08:54] GregAC commented on #1175
I'll need the full set of errors to fix anything, the `ASSERT_PULSE` macro has no issue with other tools so I cannot tell without more information on the errors what Formality's problem with that macro is.

[2020-11-06 09:24] GregAC commented on #1169
We needed a custom fork of spike to support writes to a custom CSR that enables and disables the ICache. On my machine it  I can run the latest Ibex master DV against OVPSim so it looks like OVPSim is happy with this custom CSR usage and can be used @udinator may know more.

Bitmanip is not required, you will however need to remove any bitmanip tests (see https://github.com/lowRISC/ibex/blob/maste

[2020-11-06 09:25] #1167 closed

[2020-11-06 09:29] zjuwlh commented on #1078
recently  I also have such errors when using formality, using `include "prim_assert_dummy_macros.svh" doesn't fix this issue,
do you still have this issue now? @islengxw

[2020-11-06 09:58] zjuwlh commented on #1175
it seem that formality can't support assign value to signal , such as high light in the following line.

define ASSERT(__name, __prop, **__clk = `ASSERT_DEFAULT_CLK, __rst = `ASSERT_DEFAULT_RST**)

and can pass if defining as the following in dummy macro.

define ASSERT(__name, __prop, __clk = , __rst =)

[2020-11-06 15:37] michael-platzer opened #1178 "PMP NAPOT masks are incorrect when the region address spans the entire granule"
The address masking logic in [`ibex_pmp.sv`](https://github.com/lowRISC/ibex/blob/master/rtl/ibex_pmp.sv) always considers the lowest bit of the granule of the PMP address configuration register (i.e. `csr_pmp_addr_i[r][PMPGranularity+2]`) not to be part of the range address in NAPOT mode. This is correct when `PMPGranularity == 0`, since then NA4 mode must be selected if the range address uses al

[2020-11-06 17:46] tomroberts-lowrisc opened #1181 "PMP CSR enhancement / bug"
Looking PMP granularity as part of #1178 I noticed we always keep the PMP address CSRs as 32bits despite the granularity. At best this is inefficient as we're missing out on area savings, at worst it's a bug since we use the raw address in the matching logic (which doesn't match the modified version the user sees on a CSR read).

[2020-11-06 17:47] #1178 closed

[2020-11-09 14:49] #1181 closed

[2020-11-10 01:17] udinator commented on #1169
@GregAC the issue you brought up is addressed by #1184.

[2020-11-10 09:42] imphil commented on #1174
Thanks a lot for this bug report @PaulOKCrevinn. I've merged the code change from your colleague in #1180, so this should be resolved for now.

We unfortunately do not have access to Cadence tools (even less the ability to run them in CI), so I don't really know how we can ensure that Xcelium continues to work. I don't think any of our linters are able to detect this problem currently, but I've fi

[2020-11-10 09:42] #1174 closed

[2020-11-10 11:42] subhajit26 opened #1185 "RV32EMC variant"
We are doing thesis on customization of Ibex core. We have implemented RV32IMC instructions successfully but going ahead we need to modify instruction set to RV32 EMC (16 registers), so can you please tell whether Ibex will support RV32EMC instructions.

[2020-11-10 11:44] tomroberts-lowrisc commented on #1185
Hi @subhajit26
Yes Ibex should support configuration, but it is not currently tested by any of our DV setups.

[2020-11-10 11:58] subhajit26 commented on #1185
1. Can you confirm whether this DV setup corresponds to the DV folder inside ibex repo or DV instruction generator inside vendor directory.
2. As I have already said that going ahead we will be using RV32EMC so can you please give me some advice on how to setup the Ibex configuration for RV32EMC . Basically I want to know where do we need to make modifications regarding Ibex core.

[2020-11-10 12:22] tomroberts-lowrisc commented on #1185
1. Both I think - we never enable that configuration, and I don't believe the instruction generator supports it
2. I'm not sure if this is what you are asking, but the core is configured by setting parameters. So wherever you instantiate the core: set RV32E to 1 and RV32M to `ibex_pkg::RV32MFast`, `ibex_pkg::RV32MSingleCycle` or `ibex_pkg::RV32MSlow` depending on which multiplier you want. The C e

[2020-11-10 21:21] subhajit26 commented on #1185
As you have said that by instantiating the core we can change the variant may be RV32E or RV32I , so going ahead when I perform synthesis will the synthesis tool be able to recognize the difference in variants because both the variants have different register count. or will it give same result since I am sure how the configuration is done.

[2020-11-10 22:10] sriyerg commented on #1174
It is strange to attach a label to `fork`.

+@udinator - we should really get Ibex working with DVSim so that it can be run with any simulator.

[2020-11-10 22:13] imphil commented on #1174
@sriyerg Ibex DV can already be executed with simulators other than VCS, dvsim support isn't a blocker there. It's just that we don't regularly use anything other than VCS.

[2020-11-10 22:15] sriyerg commented on #1174
To clarify:

[code]

[2020-11-10 23:38] CathalMCrevinn commented on #1174
Using `disable thread1;` as you're describing here will get you some messy differences between VCS and Xcelium.
For example:
[code]

[2020-11-11 08:09] rahulraveendran15-coder opened #1186 "C directed test are not running"
Hi,
I just want to run a sample hello world program with ibex core. But the DV instruction generator is throwing error during compilation.
The run command I tried is as below from DV  directory:
`run --c_tests ../riscv-ovpsim/examples/hello/hello_world.c --simulator xlm`

My hello world program is as of below:
[code]

Error I got is something like undefined reference to puts, it is shown below:

[

[2020-11-11 08:56] sriyerg commented on #1174
I would expect VCS and Xcelium (and all other simulators for that matter) to behave identically in this example, otherwise VCS would be violating the SV 1800-2017 spec! Section 9.6.2 clearly explains `disable thread1` should kill the execution of the code block, but not the children spawned by the thread (at any time, all the way from its epoch). This is useful if you don't want to be killing off

[2020-11-11 09:07] rahulraveendran15-coder opened #1187 "Can we run the simple system of hello using xcelium simulator"
Hi,
Is it possible to run the simple system using xcelium simulator?  I can see the support for vcs, verialtor and rivera. But nothing related to xcelium. Is it possble if not possible which all files do I need to update for adding support to xcelium?

`https://github.com/lowRISC/ibex/tree/master/examples/simple_system`

[2020-11-11 10:05] GregAC commented on #1187
There's not any xcelium support currently but it shouldn't be too hard to get it working. First step would be to add xcelium to the tools in simple system fusesoc core file: https://github.com/lowRISC/ibex/blob/master/examples/simple_system/ibex_simple_system.core

I'd suggest taking a look at the fusesoc documentation to see how it all works: https://fusesoc.readthedocs.io/en/rtd/fusesoc.html

[2020-11-11 10:07] GregAC commented on #1186
As far as I know we don't use C directed tests in the Ibex DV environment. You may be better off opening an issue in the RISC-V DV repository for support on this feature.

However I would note your use of `printf`. We do not provide a C standard library for any Ibex environment in the repository so if you want to use `printf` and other features of the C standard library you will need to provide yo

[2020-11-11 10:13] GregAC commented on #1175
In that case you'll need to modify the assert macros to drop the use of the `__clk` and `__rst` arguments. I don't think we use them at all in Ibex so this shouldn't be hard to do, just create replacement files that provide the same assertion macros without `__clk` and `__rst` arguments replacing them with `ASSERT_DEFAULT_CLK` and `ASSERT_DEFAULT_RST` where they are used in the macros.

[2020-11-11 10:18] rahulraveendran15-coder commented on #1186
I have some reference algorithms in c to run on ibex core and measure its performance.
So before that I was planning to run a sample hello wolrd on ibex core and check it with whole DV flow.
If I am wrong could you please suggest which approach should I make for my work?

(1) As you said  >>  We do not provide a C standard library for any Ibex environment in the repository so if you want to use pr

[2020-11-11 10:34] GregAC commented on #1186
I'd recommend using simple system to trial C code on the Ibex core: https://github.com/lowRISC/ibex/tree/master/examples/simple_system

The DV environment is for verification, not performance analysis so isn't suitable for that task (e.g. it will have randomised delays on memory accesses).

You need to avoid using anything from the C standard library, simple system provides a very minimal set of f

[2020-11-11 13:30] imphil commented on #1187
You can try the default config with

[code]

That should work if Xcelium is fine with the default configuration. If not, look at the error message and go from there.

[2020-11-11 13:55] tomroberts-lowrisc commented on #1185
I'm not sure I understand the question, but if you synthesize both configurations you should see a fairly big area difference (the E extension removes half of the register file).

[2020-11-11 15:21] rahulraveendran15-coder opened #1188 "How to understand the command and usage of fusesoc in simple system"
Hi,
I just want to know how the usage of the fusesoc command for building the simulation.

`fusesoc --cores-root=. run --target=sim --setup --build lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MFast
`
(1) Is there any documentation on how to use this and when to use even I am not seeing any script to refer
(2) Also in this command its given as RV32E=0, but as I can see in the RT

[2020-11-11 15:31] tomroberts-lowrisc commented on #1188
1) The documentation for fusesoc is here: https://fusesoc.readthedocs.io/en/rtd/index.html
2) When you pass options like `--RV32E=1` to fusesoc, it will pass those parameter overrides on to the tool in whatever format that tool requires (for example this results in `-pvalue+ibex_simple_system.RV32E=1` being added to the run script when vcs is invoked)

[2020-11-11 18:24] PaulOKCrevinn commented on #1174
Section 9.6.2 of the LRM deals with disable of tasks via labels.
Section 9.6.3 of the LRM deals with disable of forks.
I think that the compatibility issues arise between the simulators when code is written that mix these two disable types.
We've seen this happen previously with other testbenches being ported from VCS to Xcelium, so we knew what to look for.

It's safest in my opinion to avoid dis

[2020-11-12 04:32] udinator commented on #1159
This issue should have been addressed by #1183, so I'll close this issue.

[2020-11-12 04:32] #1159 closed

[2020-11-12 07:24] zjuwlh opened #1189 "cpu can't wake up after executing wfi to go into sleep mode"
Hi ,

When running riscv_debug_instr_test, fo r some seed(SEED=16926 ITERATIONS=25), cpu will execute wfi and go into sleep during non-debug mode, in this case, if the return value of decode_instr is always 0, debug_req isn't asserted in DV test bench, the cpu will always is in sleep mode and can't wake up. does anyone also find this issue? and how to fix in test bench

[2020-11-12 15:46] tomroberts-lowrisc commented on #1189
Probably one for @udinator

[2020-11-13 06:52] islengxw commented on #1078
Hi zjuwlh,
We modified the rtl code use '`ifndef SYNTHESIS  ...`endif ' to exclude the assertion.
using `include "prim_assert_dummy_macros.svh" doesn't fix this issue. @zjuwlh

[2020-11-13 08:52] rahulraveendran15-coder commented on #1186
I moved the file into /home/rraveendran/thesis_ibex/ibex/examples/sw/simple_system/common and changed the format into ".h" also moved the necessary header files to the same path and added the ee_printf.h inside hello_test.c, now it is showing some undefined references error as below: But I can see that these are defined in the same file.
[code]

[2020-11-13 09:26] GregAC commented on #1186
We're moving out of the scope of support we can offer via this channel (it's for issues directly related to Ibex and the associated things provided in the repository, this is more of a general C programming question at this point) but I can give you some hints.

If you look at the error the reference to `parse_float` should give you pause for thought. Ibex doesn't have float support. Soft-float su

[2020-11-13 11:38] GregAC commented on #1173
Document fixes mentioned have been done in https://github.com/lowRISC/ibex/pull/1190 and otherwise I think we've resolved everything else in this issue.

[2020-11-13 11:38] #1173 closed

[2020-11-13 11:49] GregAC opened #1191 "[docs] Clean up line breaks"
The source files for the documentation have a mix of styles for when lines should be broken, the verification page is a notable example: https://raw.githubusercontent.com/lowRISC/ibex/master/doc/03_reference/verification.rst which contains wrapping lines at different lengths as well as the one line for one sentence style.

Line breaking style should be checked and made consistent across all docume

[2020-11-16 15:24] YanekJ opened #1193 "syn_yosys.sh failure at 'translate_timing_csv.py' phase"
Hi,
Not sure if this is related to an environment, python setup or anything else but I'm getting below error towards the end of syn_yosys.sh script execution (yosys completed, sta completed - conversion of timing results failed):

[code]

[2020-11-16 15:47] rswarbrick commented on #1193
@GregAC: I think this script was yours? Can you help Yanek work out what went wrong?

[2020-11-16 15:48] GregAC commented on #1193
The synthesis flow is unfortunately a bit fragile. We've not yet got it running in CI and it's not always used so can break without us noticing sometimes.

I can't directly tell what is wrong here. The thing to check is what `translate_timing_rpts.sh` is up to (https://github.com/lowRISC/ibex/blob/master/syn/translate_timing_rpts.sh).

It first runs `build_translated_names.py` this will load the t

[2020-11-16 16:04] YanekJ commented on #1193
I checked and 'generated' directory has translate_names.ys file but with below contents (I think 'select' commands are missing):

tcl ./tcl/yosys_post_synth.tcl
cd ibex_core

reports/timings directory has:

in2out.csv.rpt
in2out.rpt
in2reg.csv.rpt
in2reg.rpt
overall.csv.rpt
overall.rpt
reg2out.csv.rpt
reg2out.rpt
reg2reg.csv.rpt
reg2reg.rpt

[2020-11-16 16:21] GregAC commented on #1193
Is there anything in the report files? The empty `translate_names.ys` would indicate `build_translated_names.py` has failed to pick up any signal names from the timing reports.

I've just the synthesis locally on my machine and it's working ok there.

What library are you using? One possibility is OpenSTA failed to load it or couldn't pull any timing information from it so failed to produce any re

[2020-11-16 16:35] YanekJ commented on #1193
Report files are populated alright, few top lines from example

$ cat ibex_16_11_2020_16_16_55/reports/timing/in2out.csv.rpt
irq_fast_i[7],instr_addr_o[27],1.2074
irq_fast_i[7],instr_addr_o[30],1.2155
irq_fast_i[7],instr_addr_o[29],1.2159
irq_fast_i[7],instr_addr_o[25],1.2174
irq_fast_i[7],instr_addr_o[28],1.2198
irq_fast_i[7],instr_addr_o[26],1.2236

[2020-11-16 16:40] YanekJ commented on #1193
I think it has to be some shell/python interfacing issue. Even if I execute below (after sourcing env script, and commenting-out other lines from translate_timing_rpts.sh script):

./python/build_translated_names.py ibex_core ./$LR_SYNTH_OUT_DIR/generated ./$LR_SYNTH_OUT_DIR/reports/timing/in2reg.csv.rpt

I'm getting this truncated translate_names.ys and no ys_translated_names file

$ cat syn_out/

[2020-11-16 17:17] YanekJ commented on #1193
I suspect the regex in flow_utils.py can't match any cell names generated by sta tool. My sta version is 2.2.0.

[2020-11-16 17:20] GregAC commented on #1193
I think you'll need to debug the `build_translated_names.py` file. It's just going through the CSVs and pulling out signal names some aspect of that is failing. I'd start by adding some print statements to `extract_path_info` in `syn/python/flow_utils.py` which opens the CSV and pulls out the path info.

[2020-11-16 17:22] GregAC commented on #1193
Ah that may be it, I'm using 2.0.18 guess this has changed recently.

[2020-11-16 17:27] YanekJ commented on #1193
Maybe the regex "generated_cell_re" is too strict. Shouldn't we get the full word from the first csv column and then remove square brackets from signal arrays? Maybe you have better idea,

[2020-11-16 17:40] GregAC commented on #1193
There's an issue with the reports themselves with OpenSTA. I just tried a run with 2.2.0 and got this in reg2reg.csv.rpt:

[code]

Previously this contained the cell names this script was attempting to translate.

So a full fix needs some adjustment to the STA flow also.

[2020-11-16 17:47] GregAC opened #1194 "[syn] Add more robust error detection/reporting to synthesis flow"
The synthesis flow uses a variety of python, shell and TCL scripts that expect certain things to be correct. When it breaks the errors it produces don't obviously put to the problem (as illustrated by https://github.com/lowRISC/ibex/issues/1193)

More thought should be put into detecting issues at the point they occur in the flow so sensible error reporting can occur.

[2020-11-16 17:48] YanekJ commented on #1193
Agreed, the contents of overall.csv.rpt are suspicious too:

Q,D,0.0000
Q,D,0.0000
Q,D,0.0000
Q,D,0.0000
Q,D,0.0000
Q,D,0.0000

[2020-11-18 08:19] rahulraveendran15-coder commented on #1187
@imphil  when I tried the command I got the below warnings
WARNING: util/check_tool_requirements.py has unknown file type ''
WARNING: tool_requirements.py has unknown file type ''
Do I need to add xcelium in this file?
 Also  I am not seeing any build is happening when trying with xcelium. Do I need to add anything in the ibex_simple_system.core file inside examples directory also anything like` -

[2020-11-18 09:22] imphil commented on #1187
The warnings are fine, you can ignore them.

If you don't get any other error, the simulation was most likely built properly and you can now run it. Have a look at the Makefile in the sim-xcelium directory (or pass `--run` after `--build` to fusesoc to run XCelium directly for you).

But there's no way to tell for me for sure: please *always* include full logs of your run (you can attach files to

[2020-11-18 09:29] rahulraveendran15-coder commented on #1187
Thank you very much I am seeing no VPI_MODULES inside the make file.
Pleas
[generated_makefile.log](https://github.com/lowRISC/ibex/files/5559058/generated_makefile.log)

e find the attachemnt log.
Also do I need to add --SRAMInitFile=<path to .vmem file> when using xcelium(like in vcs)?

[2020-11-18 09:32] imphil commented on #1187
so what happens if you run "make run-gui"?

[2020-11-18 09:37] rahulraveendran15-coder commented on #1187
It is throwing some elabopration errors i nthe rtl/simple_system and also showing the warning Parameter cannot be overwritten through command line
[xrun.log](https://github.com/lowRISC/ibex/files/5559108/xrun.log)
Log is attached.
[run-gui.log](https://github.com/lowRISC/ibex/files/5559104/run-gui.log)

[2020-11-18 09:39] #1187 closed

[2020-11-18 09:43] imphil commented on #1187
The error you got is
[code]

The code in question isn't there any more. Please update to the latest master version of Ibex.

[2020-11-18 09:49] rahulraveendran15-coder commented on #1187
Even updation also some elaboration error persists from src/simulator_ctrl.sv.
Also the defparams are not overriding from command line as I can see as warning in log.
[xrun.log](https://github.com/lowRISC/ibex/files/5559173/xrun.log)

[2020-11-18 09:53] imphil commented on #1187
Looks like Xcelium is (rightfully so) more strict about some constructs than other simulators. Can you give it a try and fix the errors you see in the Xcelium log do a pull request? Compared to the work you're probably planning with Ibex, these should be easy fixes.

[2020-11-18 10:06] rahulraveendran15-coder commented on #1187
Okay will check it out, but the problem is that the src folder and related files are created automatically when using fusesoc command so where should I need to fix it directly in the generated file or else I don't know from where and how it is generated.
If I am hardcoding the fix inside src directly then I need to run make run from inside sim-xcelium otherwise the fusesoc command will not work I

[2020-11-18 10:10] imphil commented on #1187
You always need to make the fixes in the source tree that you checked out, not in the `src` directory that FuseSoC created. After you made your changes, you can either re-run fusesoc (recommended), or pass `--no-export` to FuseSoC once to prevent FuseSoC from copying files.

1. There are three stages in building, setup, build, and run. The simulation is only run if you actually pass `--run`, or ma

[2020-11-18 10:11] imphil opened #1196 "Fix Xcelium warnings and errors with simple system"
[code]

[2020-11-18 10:12] imphil commented on #1187
I also filed https://github.com/lowRISC/ibex/issues/1196 to keep track of the warnings we see in Xcelium. Please close this issue once you're done with your pull request.

[2020-11-18 10:42] rahulraveendran15-coder commented on #1187
Okay I am checking on the issue and will update.
Regarding (1) >> is the --run only for xcelium since I am not seeing for VERILATOR and VCS(there for building and setup its one command and for running simulator its different)
(3) in Verilator is it possible to run all these building, setup and simulation in single step like in xcelium(Right now it is using separate commands for building and simula

[2020-11-18 17:30] rahulraveendran15-coder commented on #1196
@imphil
I have solved the multiple driver issue and also when using xcelium when overriding parameter from command line it has to use the full hierarchical path like for example "ibex_simple_system.SRAMInitFile" inside ibex_simple_system.core file(The other parameters I havent changed now because the default value is matching in sv file).
I have modified it for testing and tried running the below

[2020-11-20 09:14] rahulraveendran15-coder commented on #1196
@imphil
I have solved the errors due to LRM violation that were causing with xcelium. Do I need to push the changes?

Also I have some doubts regarding the command usage:
Right now I am using the  below command to run simple_system and it is running fine:
`fusesoc --cores-root=. run --target=sim --tool=xcelium --setup --build --run lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MF

[2020-11-20 13:53] imphil commented on #1196
Yes, please do a pull request. You can find more information on how to do that in the GitHub documentation (e.g. at https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request#changing-the-branch-range-and-destination-repository), and by Googling for "GitHub pull requests".

[2020-11-21 09:45] rahulraveendran15-coder opened #1197 "Command usage of simple system"
I have some doubts regarding the command usage of simple_system:

(1):
Right now I am using the below command to run simple_system and it is running fine:
`fusesoc --cores-root=. run --target=sim --tool=xcelium --setup --build --run lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MFast --ibex_simple_system.SRAMInitFile=\\\"/home/rraveendran/thesis_ibex/ibex/examples/sw/simple_syste

[2020-11-22 18:48] rahulraveendran15-coder commented on #1186
@GregAC
I am able to see ```
CFLAGS ?= -march=$(ARCH) -mabi=ilp32 -static -mcmodel=medany -Wall -g -Os\
	-fvisibility=hidden -nostdlib -nostartfiles -ffreestanding $(PROGRAM_CFLAGS)
[code]

[2020-11-23 08:10] rswarbrick commented on #1197
Hi Rahul,

Yes, FuseSoc's `--run` flag tells it to run stuff (your simulation, in this case). This gets passed through to a tool called [Edalize](https://github.com/olofk/edalize) which actually knows how to run each EDA tool. The Edalize backend for xcelium defines a `run-gui` target, but I don't think that's plumbed into FuseSoc. Of course, once you've built your simulation, you can always invok

[2020-11-23 08:12] rswarbrick commented on #1186
Hi Rahul,

As Greg said, this is getting a bit beyond what makes sense to discuss here. I think that maybe you need to do some reading about the difference between a [hosted and a freestanding C implementation](https://en.cppreference.com/w/cpp/freestanding). As a low-level embedded target, Ibex is freestanding.

[2020-11-23 09:11] rahulraveendran15-coder commented on #1197
Hi rswarbrick,
Thank you for the explanation.
In the last point I understood it is linux convention, but both [-t] or -t along with our run command need to give same result right?

[2020-11-23 10:04] rswarbrick commented on #1197
It's the same convention as every other command. If the help text says `my_prog [--some-arg]`, it means that you can either specify `--some-arg` or not. I've never seen literal square brackets expected as command line parameters, I don't think.

[2020-11-23 14:40] Fresher14 commented on #1196
@imphil  I get exactly same results.
Replacing 'always_ff' with with a simple 'always' was enough to pass hello_test in my environment.
On top of this, I had to retrieve 2 files generated by FuseSoc:
prim_clock_gating.sv
prim_ram_2p.sv
+ force a define RVFI
+ source dv/uvm/core_ibex/common/prim/prim_pkg.sv

[2020-11-23 14:59] Fresher14 commented on #1187
![ibex_xcelium](https://user-images.githubusercontent.com/23728860/99977242-ab7e4e00-2da4-11eb-9f2d-d7f71b804df7.PNG)

It took some time but at last it works with Xcelium (hello_test).

[2020-11-23 15:39] rahulraveendran15-coder commented on #1196
@Fresher14
[code]

What you mean by this could you please explain? Because I didnt do any changes on these files.

[2020-11-23 15:50] rahulraveendran15-coder commented on #1187
@Fresher14
If possible could you please  share the command you used with fusesoc to build and run the gui?
I just want to compare with my approach
I used the below command with Xcelium to run :+1:
fusesoc --cores-root=. run --target=sim --tool=xcelium --setup --build --run lowrisc:ibex:ibex_simple_system --RV32E=0 --RV32M=ibex_pkg::RV32MFast --ibex_simple_system.SRAMInitFile=\\\"/home/rraveendran/

[2020-11-23 16:25] Fresher14 commented on #1187
Then environment I have access to is highly controlled, with very low flexibility. Therefore I cannot use fusesoc/verilator. Here is my script, that calls xrun directly (sw is pre-compiled in ../examples/sw/simple_system/hello_test).

[readme_run_simple_system.txt](https://github.com/lowRISC/ibex/files/5584291/readme_run_simple_system.txt)

[2020-11-23 16:26] Fresher14 commented on #1196
See topic #1187

[2020-11-30 10:42] CathalMCrevinn opened #1204 ""no_wfi" is usually being set to 1, even for tests with "+no_wfi=0""
In ``dv/uvm/core_ibex/riscv_dv_extension/testlist.yaml``, riscv_debug_wfi_test has ``+no_wfi=0`` as a gen_opt.
Example run:  ``"make TEST=riscv_debug_wfi_test SIMULATOR=xlm ITERATIONS=5 SEED=23293"``
For this example run, in ``instr_gen/sim_riscv_debug_wfi_test_0.log``, the configuration for the first iteration has no_wfi set to 0, but the configurations for the remaining four iterations have it s

[2020-11-30 21:57] udinator commented on #1204
Thanks for raising this issue!
This may be due to some unintended side effect of the latest commits in the vendored in generator, I will take a look.

[2020-12-01 10:08] Sarafim opened #1206 "Single Step does not work, if BRANCHPREDICTOR=1."
Hi,
could you please check whether single step works, if BRANCHPREDICTOR=1.
It seems like depc_en is set to early, and that is why depc_q doesn't change its value.

I am asking, because on my side it works only if  BRANCHPREDICTOR=0.

[2020-12-01 10:32] GregAC commented on #1206
It's certainly possible it's broken currently. The config with branch prediction enabled has seen the least testing out of all of the configs.

Do you observe single stepping failing always or only in certain scenarios?

[2020-12-01 10:37] Sarafim commented on #1206
I can't say that I have tried lot of scenarios, but I see it always

[2020-12-01 10:58] GregAC commented on #1206
When you say 'does not work' could you describe in more detail what you're actually seeing? Preferably with a waveform included.

[2020-12-01 11:59] Sarafim commented on #1206
I mean that the depc_q does not change its value after the step
Correct behavior:
![image](https://user-images.githubusercontent.com/17382041/100737678-22d36380-33dd-11eb-809c-dda74a33f092.png)
Wrong behavior:
![image](https://user-images.githubusercontent.com/17382041/100737868-6cbc4980-33dd-11eb-9903-588a37309565.png)

[2020-12-02 05:11] kidonglee opened #1209 "Ibex Simple System build error"
Hi,

I got error messages while building 'Simple System' as below.
Please help.

Thanks in advance.

[code]

[2020-12-02 08:26] rswarbrick commented on #1209
I think you're probably using an oldish GCC. The "maybe uninitialised" warning used to trigger really easily and was often tickled by code generated by Verilator. As a quick hack to get things working, I think you can pass `-Wno-error=maybe-uninitialized` to GCC to avoid triggering an error. You can either do this by adding a command line flag to FuseSoc (but I can't remember it off-hand) or addin

[2020-12-02 09:29] kidonglee commented on #1209
Dear rswarbrick,

Thank you for the advice.
I added the flag '-Wno-error=maybe-uninitialized' to the file 'ibex_simple_system.core'.
However I still have the same error messages.
I attach the log below. Please check if the flag added is correct or not.

And the version of GCC is as follows,
[code]
**[log]**
[code]

[2020-12-02 10:04] rswarbrick commented on #1209
Does the build fail? These are warnings emitted by the compiler, which `-Werror` turned into errors, causing the build to fail. Passing `-Wno-error=maybe-uninitialized` turns off this promotion so that the build should succeed.

Thanks for giving your GCC version. Looks like 7.5 was only released last November (wow, they're getting through major versions quickly!), so maybe we want to support it.

[2020-12-02 12:12] imphil commented on #1132
@tomroberts-lowrisc is this issue fixed by https://github.com/lowRISC/ibex/pull/1141, or are there outstanding issues?

[2020-12-02 12:38] tomroberts-lowrisc commented on #1132
AFAIK
@shetalani are you able to rerun and confirm this is now fixed?

[2020-12-02 16:06] shetalani commented on #1132
Hi @tomroberts-lowrisc, not really. It's not for the illegal cases of executing dret outside debug mode, or mret in U mode.

[2020-12-02 16:10] tomroberts-lowrisc commented on #1132
Ok - thanks for confirming @shetalani
I'll have a look at adding the missing things you mentioned

[2020-12-02 16:18] GregAC commented on #1132
From a quick look I think the issue is using the `illegal_insn_dec` signal as an indication of an illegal instruction, instead we want the `illegal_insn_d` signal from inside the controller (this may allows us to drop some other terms from the current `instr_perf_count_id_o` expression.

Indeed I think the `illegal_insn_o` signal in ibex_id_stage.sv is a little broken. It's only for RVFI (so no fu

[2020-12-02 23:07] kidonglee commented on #1209
Dear rswarbrick,

I solved my problem.
I add the flags '-Wno-maybe-uninitialized' instead of ''-Wno-error=maybe-uninitialized.

Thanks for your help.

[2020-12-02 23:07] #1209 closed

[2020-12-05 07:14] mayank-kabra2001 commented on #1191
Sir , do we need to change in readme file ??

[2020-12-05 07:22] mayank-kabra2001 commented on #64
Sir , i want to work on this . Do we need to add more intructions corresponding to rv64I or just extend the memory and no of instructions remains the same ??

[2020-12-07 10:09] GregAC commented on #1191
The general idea is either you have one sentence per line or wrap to 80 characters.

For README's you can argue for the 80 character wrapper to make them easy to read outside of github's markdown rendering. However for the top-level README at least the style is more one sentence per line, plus it's more of a project introduce README rather than a how you do things README so less likely someone wil

[2020-12-07 10:14] GregAC commented on #64
It would require adding any RV64I instructions that RV32I doesn't have to produce a fully compliant RV64I implementation

Note that this has the potential to be a highly disruptive change and we may not wish to support it. If you are interested in working on this I'd suggest sharing your thoughts as to how it would be done early so we can discuss the best path forward and whether we wish to do it

[2020-12-07 22:02] sajjadahmed677 opened #1211 "Purpose of Request Outstanding Queue?"
I am looking into prefetch_buffer for understanding the fetch operation of ibex. Here i see a "request outstanding queue" but didn't get the clear image of it. why we need such queue? what if we don't use that?

[2020-12-08 08:39] rswarbrick commented on #1211
This is a queue of requests that have been made on the (pipelined) instruction bus. If we make lots of requests, we need to know to wait for the answers (so that we know what responses from the bus mean). Also, we have to queue up the results so that we can handle the case where we've fetched ahead of the processor (the whole point of the prefetch buffer) and the responses come back before the pro

[2020-12-09 11:09] olofk commented on #753
I can think of two ways to accomplish this but I'm not sure they will fit your purposes.

1. Add a core which sets all these parameters and have other cores depend on it
2. Invoke a generator from the top-level core that sets these from something, e.g. from parameters in the core file or from an external file

[2020-12-11 11:19] mayank-kabra2001 commented on #64
ohk , so i have not gone through the whole code of ibex , but what i build was normal 5 stage processor with some instructions , so what was there is that we have 32 bit registers , and memory was 32 bit and ISA was according to mips ,  so to extend that we have to create new ISA and registers and memory to 64 bit . Suppose for example we have opcode of 6 bits in 32 bit processor , now we will hav

[2020-12-11 11:28] rswarbrick commented on #64
I don't think that turning Ibex into a 5-stage pipeline is a very good idea: that would be a completely different processor and Ibex probably isn't the right starting point if you want to make that. Maybe you could explain what you're trying to achieve, and then we can discuss whether working on this issue is the right way to get there.

Also, it would probably be better to have that discussion in

[2020-12-15 14:20] Fresher14 opened #1213 "'Assert' line 836 of file ibex_controller.sv not understood by some version of Xcelium"
Current code:
`ASSERT(AlwaysInstrClearOnMispredict, nt_branch_mispredict_o -> instr_valid_clear_o)

Suggested code (a 'pipe'='|' added):
`ASSERT(AlwaysInstrClearOnMispredict, nt_branch_mispredict_o |-> instr_valid_clear_o)

Current code fails with Xcellium 19.03-s001 for example. But works with a more recent version (20.10...)

[2020-12-15 14:27] tomroberts-lowrisc commented on #1213
Thanks for the report @Fresher14 - can you create a PR to fix this?

[2020-12-15 14:30] rswarbrick commented on #1213
There's a difference between the two expressions (although the two are equivalent here). The code at the moment uses `->`, which is a binary logical operator, and can be used to construct SV expressions. You're suggesting replacing it with `|->`, the overlapped implication operator. This can only be used in SystemVerilog assertions.

Are you saying that Xcelium 19.03 doesn't support the `->` opera

[2020-12-15 15:52] Fresher14 commented on #1213
I confirm that this code fails with Xcellium 19.03-s001 but not with 20.10_i696.
I take your word on assertions. I'm too light on this topic.

[2020-12-15 16:50] rswarbrick commented on #1213
Oh, sorry, I wasn't trying to suggest you rewrote it as `B|!A`. Do we claim to support this version of Xcelium? (@imphil / @tomroberts-lowrisc ?). If so, we should switch to overlapping implication, as you suggest.

[2020-12-15 16:52] tomroberts-lowrisc commented on #1213
I think we should just switch to the overlapping implication anyway as that's probably what was intended

[2020-12-15 21:23] diakovd opened #1214 "Ask a question related to Ibex"
## My Environment

**EDA tool and version:**

Quartus, modelsim, Segger Emdeded studio

**Operating system:**

**Version of the Ibex source code:**

Hi ,
I have some question and finde some bug when using Ibex:

1.What for   0x80 in code: PC_BOOT: fetch_addr_n = { boot_addr_i[31:8], 8'h80 }; ?
I set 0x80 to 0x00 in boot address  as this cause error at initialization  copying constan variable from

[2020-12-16 06:53] Fresher14 commented on #1213
Overlapping implication is the right choice then. I will change on my side.
No clue on how to push this modification here in GitHub. I assume one of you will do it.

[2020-12-16 08:30] rswarbrick commented on #1213
We use the usual GitHub flow with pull requests. There's reasonably comprehensive documentation written by GitHub here: https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests. You'll also find (rather terse) some notes about commit messages in [`CONTRIBUTING.md`](https://github.com/lowRISC/ibex/blob/master/CONTRIBUTING.md) at the top of the repository.

[2020-12-16 11:34] tomroberts-lowrisc commented on #1214
I will try to answer these questions below:
1. We define the reset vector to be the trap base + 0x80 (effectively the top of the vector table). I suppose `boot_addr_i` is a slightly misleading name since it is specifying the trap base address.
2. This was discussed in [this](https://github.com/lowRISC/ibex/issues/117) issue. The conclusion: we won't change the rtl to work around old / unsupported

[2020-12-16 12:20] Fresher14 commented on #1213
It looks like I do not have the access rights:

ERROR: Permission to lowRISC/ibex.git denied to Fresher14.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights and the repository exists.

[2020-12-16 12:21] rswarbrick commented on #1213
Yep, you need to fork the repository and create a pull request, as described in the document I linked to above.

[2020-12-16 14:42] Fresher14 commented on #1213
'Fork' was lacking indeed. Now modification is pending approval: no more in my hands.

[2020-12-17 11:25] #1213 closed

[2020-12-17 13:15] sammy17 opened #1217 "riscv_machine_mode_rand_test fails with spike giving a large instruction count"
## My Environment

**EDA tool and version:**
VCS Q-2020

**Operating system:**
Linux 3.10.0-1127.19.1.el7.x86_64

**Version of the Ibex source code:**
Using the master branch HEAD=aa7582b8d420888541c2e8688447c17918a71aeb

## **Issue observed:**
I am trying to run the verification flow of ibex core with riscv-dv by following the instructions at https://github.com/lowRISC/ibex/blob/master/doc/03_ref

[2020-12-17 13:57] imphil commented on #1217
It looks like your version of Spike isn't correct somehow. Can you show us a log what you did to compile spike? Which git commit hash of the Spike repository are you using?

[2020-12-17 14:43] sammy17 commented on #1217
Spike (lowRISC branch) git commit hash:
43003ea3ed9d2c1a1c060416da91ccf5b044c55c

Log file containing configure and build commands/outputs:
[log.txt](https://github.com/lowRISC/ibex/files/5710111/log.txt)

Let me know if you need any other info.

[2020-12-17 15:04] imphil commented on #1217
You're building from the `master` branch of riscv-isa-sim, you need to build from the `ibex` branch (commit 255bf1cacc599b1413438c269100f3ecd0eb3352). Do a `git checkout ibex` in the riscv-isa-sim directory, and rebuild spike.

[2020-12-17 16:23] sammy17 commented on #1217
My bad, it worked after compiling with the ibex branch correclty. Thanks for the help!

[2020-12-17 16:23] #1217 closed

[2021-01-07 10:05] towoe commented on #605
https://github.com/riscv/riscv-compliance/issues/90#issuecomment-747524231

Looks like it evolved, will check it out.

[2021-01-07 13:34] guqian110 opened #1219 "build simple system error"
## My Environment

Hi all,

I have compiled verilator from the source and installed fusesoc. when I was building the simple system under the root of ibex directory,

[code]

it gives warning information as following,

[code]

It seems there are too many warnings to stall the build process, how could I fix it ? Please help me,  thanks in advance.

**EDA tool and version:**

verilator version: Veril

[2021-01-07 14:12] imphil commented on #1219
It seems like these are warnings that Verilator 4.107 added. You can remove the `-Wall` option at https://github.com/lowRISC/ibex/blob/master/examples/simple_system/ibex_simple_system.core#L168 to get around it for now.

We'd also appreciate a pull request to fix those warnings. For the parameters, it just only be a matter of removing them if they are truly unused.

[2021-01-07 14:21] imphil opened #1220 "List of tests for each config"
We have multiple Ibex configurations currently, listed at https://github.com/lowRISC/ibex/blob/master/ibex_configs.yaml, which enable a different set of functionality.

To run full DV regressions (in CI), I need a list of tests which are expected to pass for each configuration. For example, the small configuration doesn't have PMP and shouldn't run the PMP tests.

Currently, we run `make -C dv/uvm

[2021-01-07 14:25] imphil commented on #605
Nice! https://riscof.readthedocs.io actually looks promising.

[2021-01-07 14:26] imphil commented on #1214
@diakovd I think your questions should be answered. If you have follow-up questions, please re-open this issue. Otherwise open a new one. Thanks for your interest in Ibex!

[2021-01-07 14:26] #1214 closed

[2021-01-07 14:27] imphil commented on #1211
@sajjadahmed677  I think your questions should be answered. If you have follow-up questions, please re-open this issue. Otherwise open a new one. Thanks for your interest in Ibex!

[2021-01-07 14:27] #1211 closed

[2021-01-07 14:29] #1186 closed

[2021-01-07 14:37] imphil opened #1221 "Run full DV regression regularly"
We currently run a very limited smoke regression on every master commit/PR, but don't run the full DV regression suite. This suite takes significantly longer to run, so we need to run it in regular intervals, e.g. once a day or a week, depending on the runtime and availability of compute resources and licenses. (I had an initial look and we probably need to run it on the weekend, we're busy 24 hou

[2021-01-07 14:37] imphil commented on #1221
@udinator FYI, I'll take care of the setup, I only need your input for the dependencies.

[2021-01-07 16:24] imphil opened #1223 "Spike timeouts in riscv_pmp_full_random_test with experimental-maxperf-pmp-bmfull-icache config"
I see spike timeouts in DV runs of the test `riscv_pmp_full_random_test` test. Below is one example, but I see them in multiple runs (not all of them):

[code]

From the spike log: The last "normal" instruction is the illegal instruction (is that intentional?). After that spike loops until the timeout through three instructions: j, addi, and sw.

[code]

Logs:
* stdout log: [log.txt](https://githu

[2021-01-07 16:28] udinator commented on #1223
Hmm, that is a bit strange...not sure why a floating point instruction is being created here.
I'll take a look at this.

[2021-01-07 16:42] imphil opened #1224 ""Decimal constant too large" in core_ibex_tb_top.sv"
I just saw this line, it's part of all regression runs.

[code]

The offending line is
[code]

with BOOT_ADDR being (effectively) 0x80000000.

@udinator Can you have a look (not urgent, it's only a warning)? Probably an explicit cast is needed?

[2021-01-07 23:39] udinator commented on #1223
@imphil, would you mind pasting the entire Spike failure log in a txt file?

[2021-01-08 00:16] udinator commented on #1220
I think I agree with the second option here, I don't think that adding the static test list to each config is the right way of doing this.
Potentially a simple implementation method would look like this:
[code]
One question I do have - this (or a similar approach) would probably require that the `sim.py` script have access to the list of parameter values from `ibex_configs.yaml.
@GregAC is this po

[2021-01-08 02:16] guqian110 commented on #1219
Thank you for helping, I solved it by replacing `-Wall` with `-Wno-lint` , I'll try to work on these warnings later.

[2021-01-08 10:53] imphil commented on #1223
@udinator The entire log file is around 60 MB and I cannot attach it to this issue due to its size. You can find it (together with all other log files) in the build artifacts linked in the initial comment at `out/seed-23315/instr_gen/spike_sim/riscv_pmp_full_random_test.11.log` in the archive. Can you access the build artifact link? Otherwise I can copy it over to a Google drive or so.

I'm not qu

[2021-01-08 20:02] udinator commented on #1223
Ahh yes I am able to access the build artifacts.
I've confirmed my suspicions as to what is causing the Spike timeouts, I'll work on fixing this.
Note that even though Spike will timeout, the RTL simulation should still be passing (unless CI blows up as soon as it sees an ISS simulation error, which might be the case since the stdout log doesn't show anything happening past the ISS stage).

[2021-01-09 14:37] towoe opened #1227 "Remove Verilator warnings"
Following the reports in #1219 I had a look at Verilator and with https://github.com/verilator/verilator/commit/47eeef485d1781f104211d96ffb7498f55ae1b2b warnings are now created for unused parameters.

It also will create a warning for latches.

Remove those occurrences.

[2021-01-09 14:39] towoe commented on #1219
Just for reference, I think it is also possible to use the Verilator option `-Wno-fatal` to not exits with an error if warnings occur.
Together with `-Wall` the warnings are still reported but the build continues.

[2021-01-09 14:52] towoe opened #1228 "[tracking] Activate pseudo zext.[b|h] decoding"
The tracer currently does not decode the pseudo instruction.
Use it once it is supported by more tools. Actually not quite which, but it was recently mentioned in https://github.com/llvm/llvm-project/commit/249d7de1190f50178181d2477aa661cd252e294c

[2021-01-10 19:50] sajjadahmed677 commented on #212
I am also having same issue. is there any other way to resolve it??

[2021-01-11 08:22] rswarbrick commented on #212
Hmm, this can be fixed by telling Verilator that the `en_latch` signal in the clock gating module is a clock gate, by using the "clock_enable" hint. Since we vendor this code, I'll push up a PR to OpenTitan with the fix, and vendor it back into Ibex when it's landed.

[2021-01-11 08:41] rswarbrick commented on #212
OpenTitan PR at https://github.com/lowRISC/opentitan/pull/4792

[2021-01-11 09:46] GregAC commented on #1220
`sim.py` could read `ibex_configs.yaml` directly easily enough. The other option would be to pass config details into `sim.py` using `ibex_config.py`. `ibex_config.py` is designed to read the config YAML and produce appropriate arguments for different tools so we'd add a new option for it to generate appropriate `sim.py` arguments.

I'd tend towards the first option, `ibex_config.py` could be impo

[2021-01-11 10:13] rahulraveendran15-coder opened #1230 "Ibex Simple system python requirements concerns"
Hi,
IN the link "https://github.com/lowRISC/ibex/tree/master/examples/simple_system" it written in order to get the python requirements need to run the command

`pip3 install -U python3-requirements.txt
`

I have the following below concerns:

1. The file name mentioned here is wrong, in root repository only python-requirements.txt is present.
2. If we run the above command with correct file name

[2021-01-11 10:16] imphil commented on #1230
It should be `pip3 install -U -r python-requirements.txt`. Would you mind filing a pull request to fix that?

[2021-01-11 10:19] rahulraveendran15-coder commented on #1230
How can I do pull request?
Also what is the use of -U along with pip3 I am not getting its use

[2021-01-11 10:23] imphil commented on #1230
-U is a shorthand for --upgrade, it ensures that all packages are at their latest version. You can find more information about that in the pip3 documentation, and with "pip3 --help".

You can find information on how to contribute to this repository ("do a pull request") in various tutorials on the internet, including the one from OpenTitan at https://docs.opentitan.org/doc/ug/github_notes/.

[2021-01-11 11:17] vogelpi commented on #212
Thanks @rswarbrick for fixing this :+1:

[2021-01-11 12:02] #1230 closed

[2021-01-11 16:04] towoe opened #1233 "Add RISC-V Compliance v0.2 check"
RISC-V defines a [Compliance Framework](https://riscv.org/technical/specifications/) which is available in v0.2 as [RISCOF](https://gitlab.com/incoresemi/riscof).
It is still marked as beta but is now at a point where it can be utilised.
It allows for a more flexible way to check for compliance.

I hacked together a first test which runs some checks successfully. This is based on the current dv/ri

[2021-01-11 16:05] towoe commented on #605
Closing in favor of issue #1233

[2021-01-11 16:05] #605 closed

[2021-01-11 16:06] towoe commented on #1227
Fixed with #1229

[2021-01-11 16:06] #1227 closed

[2021-01-11 16:09] towoe commented on #1219
Thanks for reporting this @guqian110. Fixed with #1229, I tested it now with Verilator 4.109 devel rev v4.108-6-g4f1867a4

[2021-01-11 16:09] #1219 closed

[2021-01-11 16:24] imphil commented on #1233
Absolutely.

[2021-01-11 17:58] GregAC opened #1235 "[dv] Implement ePMP CSR behaviour in cs_registers testbench"
https://github.com/lowRISC/ibex/pull/1232 introduces a new CSR and new behaviour for existing PMP CSRs. The cs_registers testbench should be updated to stimulate this.

[2021-01-12 02:40] guqian110 commented on #1219
Great job!

[2021-01-12 05:28] ishita71 opened #1236 "riscv_arithmetic_basic_test fails for all the iterations"
Hi,

[compile.log](https://github.com/lowRISC/ibex/files/5799927/compile.log)
[sim.log](https://github.com/lowRISC/ibex/files/5799928/sim.log)

## Observed Behavior
I am trying to run riscv_aritmetic_basic_test in core_ibex  in the master branch but after running, all the test gets fails and shows the following message.
![image](https://user-images.githubusercontent.com/72207286/104272112-6d5afc00

[2021-01-12 07:16] towoe commented on #1236
Hi @ishita71, in your sim.log file I see the following message:
[code]
So it might be a tool / installation issue.
Could you please verify that VCS is working properly in your setup?

[2021-01-12 11:49] ishita71 commented on #1236
Thanks for helping out !

After fixing VERDI_HOME issue , testcase still gets failed.

![image](https://user-images.githubusercontent.com/72207286/104310564-ecb7f200-54f9-11eb-8ad5-b40facac2d6e.png)

I have attached sim.log ,compile.log and regr.log file

[sim.log](https://github.com/lowRISC/ibex/files/5801810/sim.log)
[compile.log](https://github.com/lowRISC/ibex/files/5801816/compile.log)
[regr.

[2021-01-12 11:57] towoe commented on #1236
Hi Ishita,
looks like a problem with spike.
'regr.log' file shows that Ibex produced a trace, but I think spike might not.
Please check 'spike : out/seed-31085/instr_gen/spike_sim/riscv_arithmetic_basic_test.0.csv'.
And in the screenshot the error is reported as a timeout when calling spike. So my guess would be that there is a problem with that. You might want to check the log output created ther

[2021-01-13 09:57] zeeshanrafique23 opened #1237 "Floating Point Unit (FPU) integration with ibex"
I am planning to integrate a parameterized floating-point unit that is designed by PULP-Plateform [fpnew](https://github.com/pulp-platform/fpnew) with ibex, so can anyone tell me it will be a good part-time project to get hands-on on RISC-V F, D, and Q extension.
And is this core is good to support FPU for the above extension?

[2021-01-13 16:51] sajjadahmed677 opened #1238 "Interrupt Service Routine"
I need guidance regarding ISR. we have multiple devices in an SoC, and only a single wire indicates the core about external interrupts. so how do we get to know that which device interrupted the core and how we will deal that. for example i wanted to read a value from a GPIO so, what will be the flow of reading the value from GPIO in terms of ISR.

[2021-01-14 11:28] GregAC commented on #1237
I'm not hugely familiar with F, D and Q extensions but getting hands on with an FPU and integrating it with a RISC-V cores sounds like a decent way to build some knowledge of them.

Ibex is a simple core so you shouldn't have much trouble adding new instructions, though it's also 32-bit. So you may encounter extra issues with implementing D and Q as it won't easily fit with existing data paths.

[2021-01-14 11:36] GregAC commented on #1238
Ibex does have the 'fast' IRQs, these will jump to different points relative to `mtvec` (see the documentation here: https://ibex-core.readthedocs.io/en/latest/03_reference/exception_interrupts.html) allowing you to quickly determine interrupt source.

Otherwise you want some kind of interrupt controller which exposes a memory mapped register you can read which will tell you what cause the interru

[2021-01-14 13:30] zeeshanrafique23 commented on #1237
Yes, you are right actually there are certain things that need to be changed accordingly while implementing FPU, I think if there will be a separate datapath for D, and Q extensions so that would not make any hurdles any more and those paths must be muxed based on instructions catered inside the core.

Thanks for your input, I will make this issue open to have a few more point of views.

[2021-01-14 19:34] sajjadahmed677 commented on #1238
Got it. Thank you @GregAC

[2021-01-14 19:34] #1238 closed

[2021-01-19 10:24] #1193 closed

[2021-01-21 13:02] rahulraveendran15-coder opened #1244 "Not able to run hello model with rv32emc"
Hi,
I am trying to run hello software program with RV32EMC instruction set. On compilation of the files it is showing me the following error. How can I run hello_world  with RV32EMC architecture? It is showing error from crt0.S file

![image](https://user-images.githubusercontent.com/60182727/105354518-f542b380-5bf0-11eb-8d09-e0a1181a2882.png)

[2021-01-21 15:03] GregAC commented on #1244
The 'E' extension cuts down the number of registers to 16. crt0.S contains instructions which use registers above `x15` so won't work with the `E` extension.

We don't have any example software designed for use with the `E` extension and I'm uncertain how good the compiler support for it is. You'd need to write some and experiment for yourself.

[2021-01-24 16:42] Imperas opened #1248 "Issue in ibex docs regarding OVPsim and spec version setting"
I note in the doc: https://github.com/lowRISC/ibex/blob/master/doc/03_reference/verification.rst you say:

This is not giving the correct picture - yes you can use OVPsim with the latest version and you get the current spec version as 'master' [for today that is bitmanip 0.94-draft] but as you correctly indicate that is pretty useless for verification where you are trying to verify another version

[2021-01-25 07:46] subhajit26 opened #1249 "Inline assembly syntax for adding custom instructions to Ibex."
Hi,
        Can I get an idea of what inline assembly syntax to be followed for adding custom instructions to Ibex ? Is it the one that is mentioned in OpenTitan document (Extended ASM) ?

[2021-01-25 08:05] rswarbrick commented on #1248
Thanks for the report. I'll happily fix this, but want to make sure that I describe things correctly. Glancing quickly through https://github.com/riscv-ovpsim/imperas-riscv-tests/tree/main/riscv-ovpsim, it looks like support for specific spec versions is only available in the commercial version. Is that correct?

[2021-01-25 08:11] rswarbrick commented on #1249
Hi there. If want to add a custom instruction to Ibex, there are several things you'll need to do:

1. Write some snippets of assembly to try it out. The RISC-V assembler in Binutils has a rather cryptic [.insn](https://sourceware.org/binutils/docs/as/RISC_002dV_002dDirectives.html) directive that you can use to write them (or you could even start by assembling the code in your head and just writi

[2021-01-25 08:27] rswarbrick commented on #452
@GregAC: This presumably ties in to the functional coverage work you've been doing. I think we can probably just close this issue, since we've started the work now. What do you think?

[2021-01-25 09:00] subhajit26 commented on #1249
Hi,
1. We are going to be using  Imperas as ISS for our thesis work. So please leave any suggestion as I can see Imperas as one of the ISS for Ibex.
2. Is it possible to add new instruction to the ibex as you mentioned in point 1 without adding it to the C code and compiling it? If it is possible , can you give some suggestion.
3. For last 2 days I have been exploring how to add the custom instruc

[2021-01-25 09:15] subhajit26 commented on #1249
Hi,
    I am bit confused about the point 2 of your suggestion. By "adding support to RTL" do you mean to say that the decode stage should be able to decode the opcode and recognize the instruction or it is something else that I am missing. Please leave your suggestion.

[2021-01-25 09:23] Imperas commented on #1248
Glad you will update things. The situation is:
The free GitHub riscvOVPsim supports the ratified specs and those close to
ratification. If the simulator supports an ISA extension, then its version
is controllable.
The free OVPworld.org riscvOVPsimPlus, requires registration to download,
and supports more ISA extensions and includes those under development like
Zfinx, P-DSP when they are available

[2021-01-25 09:49] GregAC commented on #452
Yup I think so, still plenty to do here but the foundation is in.

[2021-01-25 09:49] #452 closed

[2021-01-25 09:57] rswarbrick commented on #1249
Re using Imperas (presumably the proprietary version of OVPSim), there's some discussion in issue #1248.

Your other questions suggest that you probably need to do a bit of reading about how processors work and how e.g. C code gets compiled then how assembly code is assembled, decoded and executed. This isn't really an Ibex-specific thing, and I don't think GitHub issues are the best place to disc

[2021-01-25 10:25] #212 closed

[2021-01-25 12:29] rswarbrick commented on #840
This was done by #1201.

[2021-01-25 12:29] #840 closed

[2021-01-25 12:32] rswarbrick commented on #502
This is duplicated as #1006. Since that issue has rather more description, let's close this one and track with that.

[2021-01-25 12:32] #502 closed

[2021-01-25 12:34] rswarbrick commented on #1033
The upstream patch was merged into mainline in August, so everything should quiet again now.

@msfschaffner: Do you need to remove a waiver from somewhere in OpenTitan?

[2021-01-25 12:35] rswarbrick commented on #1122
@GregAC: Does this issue need to remain open, or is it moot now that the initial functional coverage PR has been merged?

[2021-01-25 12:40] rswarbrick commented on #1169
@rahulraveendran15-coder: I'm closing this issue now because, as far as I can tell, all your questions have been answered. Please re-open if you think there's something we've missed.

[2021-01-25 12:40] #1169 closed

[2021-01-25 12:44] rswarbrick commented on #1185
I'm closing this issue because I believe the question has been answered. Please re-open or file a new issue if we've missed something.

[2021-01-25 12:44] #1185 closed

[2021-01-25 12:45] rswarbrick commented on #1188
I'm closing this issue because I believe Tom answered the question above. Please re-open or open a new issue if we've missed something.

[2021-01-25 12:45] #1188 closed

[2021-01-25 12:50] rswarbrick commented on #1236
Hi Ishita. Have you managed to look at this further? Since these tests pass locally, I suspect it's a tool version issue.

[2021-01-25 12:52] rswarbrick commented on #1244
I'm closing this issue as I believe the question has been answered. Please re-open or file a new issue if there's something we've missed.

[2021-01-25 12:52] #1244 closed

[2021-01-25 13:11] rswarbrick commented on #1175
I'm closing this issue because we don't explicitly support the tool, and the problem comes from the fact that it seems formality doesn't correctly implement a SystemVerilog pre-processor.

[2021-01-25 13:11] #1175 closed

[2021-01-25 14:20] rahulraveendran15-coder opened #1253 "Yosys synthesis error"
Hi,
While running synthesis with Yosys, it is throwing error from the file "ibex_cs_registers.v"

10. Executing Verilog-2005 frontend: syn_out/ibex_25_01_2021_15_08_46/generated/ibex_cs_registers.v
syn_out/ibex_25_01_2021_15_08_46/generated/ibex_cs_registers.v:538: ERROR: Non-constant function call in constant expression.
Is there any way to fix this

[2021-01-25 14:54] ThibaultRicher opened #1254 "Uvm package not found"
It seems like I don't have the uvm-pkg in my directory and when I compile your core_ibex_tb_top.sv

## My Environment

I used Ibex to simulate it functionnaly make a synthesis of it and after doing the place&route in order o use it in an ASIC's project

**EDA tool and version:**

QuastaSim-64 vlog10.7a_1 Compiler 2018.05

**Operating system:**

RedHat7.9

**Version of the Ibex source code:**

The

[2021-01-25 15:07] rswarbrick commented on #1254
Please can you give the exact command that you ran? This sounds a lot like you're not running fusesoc, but it's hard to tell what's going on without more details.

[2021-01-25 16:15] rswarbrick commented on #1253
As usual, can you give the exact command that you're running? I know that @GregAC has been doing some Yosys-based synthesis recently, so I'd expect this to work.

[2021-01-25 16:30] GregAC commented on #1253
There is a small issue with synthesis on current master which I fix here: https://github.com/lowRISC/ibex/pull/1255 however I don't think this is the same problem.

With the fix from that PR I can successfully run synthesis on my machine. What versions of sv2v and yosys are you running? yosys v0.9 should work and I am currently using sv2v version: `v0.0.5-18-ga170536`

[2021-01-25 17:41] #1248 closed

[2021-01-26 08:42] rahulraveendran15-coder commented on #1253
@GregAC
I am using Yosys version Yosys 0.9+3858 (git sha1 410ea422, clang 3.4.2 -fPIC -Os).
How can I check sv2v version? I suspect the error is from sv2v

[2021-01-26 08:46] rahulraveendran15-coder commented on #1253
@GregAC
I am using yosys 0.9 and sv2v v0.0.6-9-gb28a3ca?
Can this be the cause?

[2021-01-26 09:35] GregAC commented on #1253
It seems likely it's an sv2v issue (or potentially a yosys issue, sv2v emitting correct verilog that yosys isn't accepting). I would suggest trying another version of sv2v, e.g. the 0.0.5 tag https://github.com/zachjs/sv2v/releases/tag/v0.0.5

[2021-01-26 10:05] ThibaultRicher commented on #1254
[core_ibex_tb_top.compilation.csh.docx](https://github.com/lowRISC/ibex/files/5872622/core_ibex_tb_top.compilation.csh.docx)
This is it sorry for the response time, I had to get my csh out of my Redhat computer.

[2021-01-26 10:27] rswarbrick commented on #1254
If you're writing your own flow like this, I'm afraid you're kind of on your own.

Squinting at your document, it looks like you're trying to run something a bit like the UVM flow in `dv/uvm/core_ibex`. That code is supposed to support Questa: I suggest you use that instead of rolling your own.

I'm going to close this issue, because it sounds like the problem is that you're having trouble finding

[2021-01-26 10:27] #1254 closed

[2021-01-26 11:47] rahulraveendran15-coder commented on #1253
@GregAC
I cloed the specific tag v0.0.5 version of sv2v from git hub. But still the same error is coming.
The commands I used for sv2v  make is as below:

[code]

Any hint on this, after this the version of sv2v is showing as `sv2v v0.0.5`, will it be a yosys issue? But we both are using same version of yosys right? In the below image you can see 10 th one is throwing error.

![image](https://user

[2021-01-26 11:56] rahulraveendran15-coder commented on #1253
My Yosys full version is,

`Yosys 0.9+3858 (git sha1 410ea422, clang 3.4.2 -fPIC -Os)`

[2021-01-26 13:47] rswarbrick commented on #1253
Looks like this is caused by the Yosys version. I've just reproduced what you're seeing and will have a proper look at what's going on later today.

[2021-01-26 13:52] rahulraveendran15-coder commented on #1253
@rswarbrick
Thanks for the update. Basically what I understood is that Yosys added a new syntheisable construct in their latest update which is causing the issue.

[2021-01-26 16:34] rswarbrick commented on #1253
Bisecting Yosys builds points at commit 2085d9a55 (committed on 1st Jan 2021) being the first version that fails. I'll try to understand what's going on and then follow up on the Yosys bug tracker.

[2021-01-27 08:22] rswarbrick commented on #1253
Right, looks like the Yosys guys are working on a fix. I don't think there's anything else to do here (the next Yosys release will probably work again).

[2021-01-27 08:22] #1253 closed

[2021-01-27 11:58] rswarbrick opened #1260 "[dv] Add tests for alert interface"
Ibex now exposes pins to report alerts (`alert_minor_o` and `alert_major_o`) if something goes wrong. We should probably have tests that exercise them and check the alerts are reported properly.

[2021-01-27 14:30] #1224 closed

[2021-01-27 14:36] rswarbrick commented on #1197
I'm closing this report, since I think the question has been answered.

[2021-01-27 14:36] #1197 closed

[2021-01-27 14:37] rswarbrick commented on #1194
@GregAC: What concrete steps do you think need taking before we can close this issue? At the moment, it'll probably remain open forever, which is not massively helpful.

[2021-01-27 14:39] rswarbrick commented on #1165
@udinator: Has this now been fixed?

[2021-01-27 14:41] GregAC commented on #1122
We can close this

[2021-01-27 14:41] #1122 closed

[2021-01-27 14:42] rswarbrick commented on #1117
I think we probably need to figure out what we're doing here. As @lenary said, at the moment we presumably just loop on the address until killed by the watchdog. Seems like a perfectly reasonable behaviour to me.

@imphil, @GregAC, @tomroberts-lowrisc: Do we need to think about this further, or can we just consider this closed (possibly with a bit of explicit documentation)?

[2021-01-27 14:43] GregAC commented on #1122
Functional Coverage PR can be found here: https://github.com/lowRISC/ibex/pull/1239

There are still coverpoints to add but it gives the framework used to gather coverage.

[2021-01-27 14:44] rswarbrick commented on #1105
@tomroberts-lowrisc: Do we still have this requirement? (Since I think we never allow the CPU to recover after it's been squashed, presumably another way to do this on the OT side would be to gate the fetch signal in rv_core_ibex).

[2021-01-27 14:46] rswarbrick commented on #1078
Since we don't explicitly support the formality tool, and this seems to be a bug in its preprocessor(!), I'm closing this now.

[2021-01-27 14:46] #1078 closed

[2021-01-27 14:47] rswarbrick commented on #1053
@GregAC: I know you had some discussion on the RISC-V mailing list about this. Was there ever any resolution at the "spec level" and/or did we decide what we were doing for Ibex?

[2021-01-27 14:50] rswarbrick commented on #886
Presumably another way to do this (also behind a parameter) would be to keep the existing path, but add a runtime monitor that raised some sort of alert if `data_rvalid_i` was true but there was no load waiting in the writeback stage. At least for OpenTitan, I think we're probably fine to lock up on bus glitches.

[2021-01-27 14:52] rswarbrick commented on #867
So we can make some progress with this, would it make sense to document the existing feedthrough paths? (And maybe even run something in CI to check we don't gain any).

@GregAC, @tomroberts-lowrisc: What do you think?

[2021-01-27 14:53] rswarbrick commented on #843
@udinator: I'm not completely sure I understand this report, but should it actually be filed against riscv-dv?

[2021-01-27 14:58] tomroberts-lowrisc commented on #1105
Still need to do something here - the fetch_enable_i signal currently does nothing once the core is actually running so would need to change its behaviour and document it

[2021-01-27 15:00] rswarbrick commented on #1170
This is a duplicate of #741.

[2021-01-27 15:00] #1170 closed

[2021-01-27 15:01] rswarbrick commented on #867
The "maybe even run something in CI" part is tracked in #651.

[2021-01-27 15:03] rswarbrick commented on #438
I'm not sure whether we'll ever be able to close this issue as it stands. Would it be possible to make a list of things that we think we should be adding to (not-so-)simple_system?

[2021-01-27 15:08] rswarbrick commented on #428
@towoe, @vogelpi: As far as I understand the linked issues and discussion, this is a problem with riscv-compliance requiring something stronger than what is required in the spec. (Is that right?)

I think we're not planning to change our mtvec alignment requirement, so should we just close this (and track any waivers needed as part of #100)?

[2021-01-27 15:10] rswarbrick commented on #309
@tomroberts-lowrisc: You added some area numbers to our documentation recently, right? Unless there are people taping out Ibexen without telling us, I think the proposed table would be pretty short. Is there anything left in this suggestion that would be worth doing?

[2021-01-27 15:12] rswarbrick commented on #91
There's some work afoot to add this to the `tool_requirements.py` code, on the OpenTitan side. Once that work has been vendored in (see also #985), we should be able to do this pretty trivially.

[2021-01-27 15:13] rswarbrick commented on #1105
Understood. What I meant is that we *could* choose just to squash outgoing fetches in `rv_core_ibex`. But, thinking about it, that probably isn't enough when there's also an icache.